
.dw-user-bar
  padding: 15px;
  margin: 20px 0;
  background: #b3cce6;

  nav.dw-sub-nav
    padding: 0; // no idea why React-Bootstrap adds .dw-sub-nav twice, on the 'nav' too

  .dw-sub-nav
    float: right;
    a
      line-height: 12px;

.user-info
  float: left;
  display: table-row;
  .user-info-col
    display: table-cell;
    vertical-align: top;
    padding-right: 15px;

  h1, h2
    font-size: 26px;
    margin: 0;
    padding: 0;

  h2
    font-size: 18px;
    margin: 12px 0 8px;
    .dw-is-what
      font-family: sans-serif;
      font-size: 80%;

.dw-user-nav
  display: table-cell;
  vertical-align: top;
  width: 200px;
  li
    float: none;

.dw-user-content
  display: table-cell;
  vertical-align: top;
  padding-left: 20px;

.dw-invites-table
  margin-top: 20px;
  td, th
    &:not(:last-child)
      padding-right: 20px;


.esMedAvtr // medium sized avatar
  position: relative;
  $maxWidth = 200px;
  max-width: $maxWidth;
  min-height: 180px; // if no photo uploaded
  &:hover
    .esMedAvtr_uplBtn
        visibility: visible;
  img
    border-radius: 10px;
    max-width: $maxWidth;
    max-height: 250px;

.esMedAvtr_uplBtn  // upload button
  position: absolute;
  visibility: hidden;
  bottom: 10px;
  // Place in the middle:
  left: 50%;
  transform: translateX(-50%);


.esMedAvtr-missing  // no avatar uploaded, it's misssing
  border: 1px solid gray;
  .esMedAvtr_uplBtn
    visibility: visible;
