
.dw-user-bar
  padding: 4px 4px 0;
  margin: 20px 0;
  background: #b3cce6;

  nav.dw-sub-nav
    padding: 0; // no idea why React-Bootstrap adds .dw-sub-nav twice, on the 'nav' too

  .dw-sub-nav
    float: right;
    a
      line-height: 12px;

.user-info
  float: left;
  margin: 5px 5px 15px 30px;
  h1, h2
    font-size: 26px;
    margin: 0;
    padding: 0;

  h2
    font-size: 18px;
    margin: 5px 0 8px;
    .dw-is-guest
      font-family: sans-serif;
      font-size: 80%;

.dw-user-nav
  display: table-cell;
  vertical-align: top;
  width: 200px;

.dw-user-content
  display: table-cell;
  vertical-align: top;
  padding-left: 20px;

.dw-invites-table
  margin-top: 20px;
  td, th
    &:not(:last-child)
      padding-right: 20px;
