@(inviterName: String, siteHostname: String, secretKey: String)

@siteUrl = @{ debiki.Globals.originOf(siteHostname) }

@acceptInviteUrl = @{
  val origin = debiki.Globals.originOf(siteHostname)
  s"$origin${controllers.routes.InviteController.acceptInvite(secretKey)}"
}

<p>Hi,</p>

<p>@inviterName invites you to join <a href="@siteUrl">@siteHostname</a>.</p>

<p>Click the link below, if you are interested:</p>

<a href="@acceptInviteUrl">@acceptInviteUrl</a>

<p>An account will then be created for you and you will be logged in, automatically.</p>

<p>Kind regards</p>


