@(inviterName: String, siteHostname: String, probablyUsername: String, secretKey: String, globals: debiki.Globals)

@siteUrl = @{ globals.originOf(siteHostname) }

@acceptInviteUrl = @{
  val origin = globals.originOf(siteHostname)
  s"$origin${controllers.routes.InviteController.acceptInvite(secretKey)}"
}

<p>Hi,</p>

<p>@inviterName invites you to join@* [5FJBAW2_] *@ <a href="@siteUrl">@siteHostname</a>.</p>@* I18N *@

<p>Click the link below, if you are interested:</p>

<p><a href="@acceptInviteUrl">@acceptInviteUrl</a></p>

<p>An account will then be created for you and you will be logged in, automatically.
Your username will be <b>@probablyUsername</b> (if available, and you can change it later).
We will also send you a choose-password email.
</p>

<p>Kind regards</p>


