@(siteHostname: String, emailId: String)

@setPasswordUrl = @{
  val origin = debiki.Globals.originOf(siteHostname)
  s"$origin${routes.ResetPasswordController.showChooseNewPasswordPage(emailId)}"
}

Welcome to @siteHostname! And thanks for accepting the invitation.

We have created an account for you. Please login with your email address, always that
address, otherwise we won't know it's you. And you need a password; click the link below
to choose a password:

<a href="@setPasswordUrl">@setPasswordUrl</a>

Kind regards.

