@(siteHostname: String, emailId: String)

@setPasswordUrl = @{
  val origin = debiki.Globals.originOf(siteHostname)
  s"$origin${controllers.routes.ResetPasswordController.showChooseNewPasswordPage(emailId)}"
}

<p>Welcome to @siteHostname! And thanks for accepting the invitation.</p>

<p>We have created an account for you. Please login with your email address, always that
address, otherwise we won't know it's you. And you need a password; click the link below
to choose a password:</p>

<p><a href="@setPasswordUrl">@setPasswordUrl</a></p>

<p>Kind regards</p>

