@(siteHostname: String, emailId: String, username: String, globals: debiki.Globals)

@setPasswordUrl = @{
  val origin = globals.originOf(siteHostname)
  s"$origin${controllers.routes.ResetPasswordController.showChooseNewPasswordPage(emailId)}"
}

<p>Welcome to @siteHostname! And thanks for accepting the invitation.@* [5FJB2AZY_]  I18N *@</p>

<p>We have created an account for you, with username <b>@username</b>.
Please login with that username or your email address.
And you need a password; click the link below to choose a password:</p>

<p><a href="@setPasswordUrl">@setPasswordUrl</a></p>

<p>Kind regards</p>

