@(siteAddress: String, username: String, safeVerificationUrl: String, expirationTimeInHours: Int, globals: debiki.Globals)

@origin = @{
  globals.originOf(siteAddress)
}

@* For links you don't want people to click, unless they know what they're doing. *@
@grayBoringLink(host: String) = {
  <a href="@{globals.scheme + "://" + host}" style="text-decoration: none !important; color: #555 !important;">@host</a>
}

<div>
<p>Hello,</p>

<p>@* About including @username, see: [20KCQ5Y] *@
To finish the creation of your account with username @username at @grayBoringLink(siteAddress), please click
<a href="@Html(safeVerificationUrl)">this link</a>.
It expires in @{expirationTimeInHours - 1} hours.
</p>

<p>
Kind regards,<br>
Effective Discussions
</p>
</div>

