@(siteAddress: String, username: String, verificationUrl: String, expirationTimeInHours: Int)

@origin = @{
  debiki.Globals.originOf(siteAddress)
}

@* For links you don't want people to click, unless they know what they're doing. *@
@grayBoringLink(host: String) = {
  <a href="@{debiki.Globals.scheme + "://" + host}" style="text-decoration: none !important; color: #555 !important;">@host</a>
}

<div>
<p>Hello,</p>

<p>
To finish the creation of your account with username @username at @grayBoringLink(siteAddress), please click
<a href="@verificationUrl">this link</a>. It expires in @{expirationTimeInHours - 1} hours.
</p>

<p>
Kind regards,<br>
Effective Discussions
</p>
</div>

