/**
 * Copyright (C) 2013 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

// Without this, sometimes durin React.render(), the sidebar contents is visible
// at a weird location, resulting in weird page dimensions when calculating minimap size.
#dw-any-sidebar
  position: absolute;
  top: 0;
  right 0;
  bottom 0;
  left 0;

html.dw-hz .dw-sidebar-z-index
  z-index: 1015;
  position: absolute;

#dw-comment-counts
  float: right;
  clear: right;
  padding: 6px 5px 6px 12px;
  background: white;
  font-style: italic;
  text-align: right;

html:not(.dw-hz):not(.mouse) #dw-comment-counts
  clear: none;

#dw-minimap-holder
  position: fixed;
  width: 70%;
  top: 0;
  left: 0;
  height: 0;
  z-index: 1001 // not above dialogs, but above resize-columns handle (1000)

  .dw-upper-right-corner
    position: absolute;
    top: 0;
    right: 0;

    #dw-minimap-placeholder
      float: right;
      width: 0px;

    #dw-minimap
      float: right;
      background: hsl(0, 0%, 93%)
      box-shadow: 0px 2px 4px hsl(0, 0%, 33%);

#dw-toggle-sidebar-and-comment-counts
  float: right;
  clear: right;
  right: 0;

#dw-toggle-sidebar
  float: right;
  clear: right;
  background: #ddd;
  border: none;
  font-size: 130%;
  padding: 8px 7px;
  z-index: 10;


.dw-hz #dw-sidebar
  box-shadow: -2px 0 5px hsl(0, 0%, 20%);
  background: white;
  padding: 0 0 0 11px;

  .dw-comments
    background: white;


#dw-sidebar
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  @media (max-width: 710px)
    width: 33%;
  @media (max-width: 510px)
    width: 35%;
  z-index: 1001; // not above dialogs, but above resize-columns handle (1000)
  padding: 0 0 0 11px;
  @media (max-width: 510px)
    padding-left 7px;
  bgcolor = #eee;
  background: bgcolor;

  &.dw-sidebar-fixed
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

  .btn
    float: left
    margin: 10px 5px 0 0;
    @media (max-width: 510px)
      margin-top: 5px;
    border: none;
    border-radius: 0;
    background: hsl(0, 0%, 85%);
    color: #222;

    &.active
      background: hsl(0, 0%, 74%);
      color: #000;

  #dw-toggle-sidebar
    margin-bottom: 15px; // prevents the Unread/Recent/Starred buttons from floating-left below
    @media (max-width: 510px)
      margin-bottom: 0;
    top: 0;
    right: 0;

  .dw-comments
    clear: both;
    background: bgcolor;
    padding: 13px 8px 0 0;

    // Click-drag scrolls, but if it sometimes instead selects text (because few comments,
    // nothing to scroll) then that's rather confusing.
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media (max-height: 500px)
      padding-top: 7px;

    h3
      font-weight: bold;
      font-family: open sans, sans-serif;
      font-size: 13px;
      margin: 0 0 7px 4px;

    p
      margin-top: 8px;

    .dw-p
      cursor: pointer;
      margin: 2px;
      2px solid #eee;
      &.dw-current-post
        border: 4px solid hsl(210, 100%, 67%);
        margin: 0;

    .dw-p .dw-mark-click
      margin-left: -3px;

    .dw-p-bd
      max-height: 130px;
      overflow: hidden;
      padding: 2px 1px 3px 3px;

    .dw-p:hover
      outline: 2px solid hsl(210, 45%, 74%);

      .dw-p-hd
        background-color: hsl(210, 39%, 84%);

      .dw-p-bd
        background-color: hsl(210, 100%, 96%);


    .comment-enter,
    .comment-leave
      transition-duration: .7s;
      transition-timing-function: ease;
      transition-property: opacity, max-height;

    .comment-enter
      opacity: 0;
      max-height: 0px;

    .comment-enter.comment-enter-active
      opacity: 1;
      max-height: 100px;

    .comment-leave
      opacity: 1;
      max-height: 100px;

    .comment-leave.comment-leave-active
      opacity: 0.1;
      max-height: 0px;


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
