/**
 * Copyright (c) 2012-2015 Kaj Magnus Lindberg
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.esAdminSectionIntro
  margin: 2em 0 1.5em;
  p
    font-style: italic;

.esA_Ss
  clearfix();

.s_A_Ss_S .checkbox
  margin-bottom: 8px;

.esAdmin_settings,  // rename to esA_Ss_Ss (settings tab, and the actual settings)
.esAdmin_customize
  padding-bottom: 40px;
  .form-group
    margin-top: 8px;
    margin-bottom: 0;
  .control-label
    padding-top: 17px; // 7 -> 17 because of padding-top below [930KPU12]

.esAdmin_settings_nav
  background: #eee;
  padding-right: 0;
  margin-bottom: 20px; // so the .esA_SaveBar won't be immediately below
  li:not(.active) a
    color: hsl(0, 0%, 16%);
  li.active a
    font-weight: bold;

.esAdmin_settings_setting-unsaved
  background: hsl($uiHue, 100%, 96%);  // don't use yellow, some think that means error/warning
  input
    border: 1px solid hsl($uiHue, 27%, 67%);
  .help-block
    color: hsl($uiHue, 20%, 38%);

.esAdmin_settings_setting
  padding-top: 10px;  // so there'll be some yellow background also above unsaved fileds [930KPU12]
  &.disabled
    label
      opacity: 0.6;
  .btn:last-child
    margin-bottom: 10px;

.esAdmin_settings_setting_btn
  position: relative;
  left: 4px;
  margin-bottom: 8px;
.esAdmin_savebar

.esA_SaveBar
  // Remove position:fixed for now, [5GK3FW0] because if fixed at the bottom, people sometimes
  // won't find it until after a while. Later: make it fixed, if would otherwise be off-screen
  // (below the lower window edge).
  /*
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 25px 10px hsl(0, 0%, 34%);
  */
  background: hsl(0, 0%, 95%);
  padding: 11px;
  border: 1px solid hsl(0, 0%, 92%);
  border-left: none;
  border-right: none;

  // Center the buttons:
  text-align: center;
  .container
    display: inline-block;
    .btn
      margin-right: 10px;

.esA_SaveBar_SaveAllB
  background: hsl($uiHue, 100%, 53%);
  border-color: hsl($uiHue, 100%, 53%);
  font-weight: bold;

.esA_SaveBar_SaveAllB,
.esA_SaveBar_UndoAllB
  height: 38px; // makes them a bit larger

.esA_Ss_S_Hostname
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 5%);
  padding: 7px 15px 5px 3px;
  margin-left: 2px;

.esA_Ss_S-Hostnames
  pre
    word-break: normal;
    white-space: pre-line;

.dw-main-nav
  margin: 30px auto 12px;
  a
    font-weight: bold;
    color: hsl(0, 0%, 29%);

.dw-sub-nav
  background: $subNavBackgroundColor;
  padding: 0;
  a
    color: $subNavColor;
    &:hover
      background: $subNavHoverBackgroundColor;

.dw-sub-nav .active a
  &:focus
    color: hsl($uiHue, 56%, 35%);
    background: white;

.esAdminArea
  .dw-sub-nav
    margin-top: 14px;

.dw-admin-panel
  margin-top: 10px;

.dw-users-to-review
  .btn
    margin: 0 5px
    :first-child
      margin-left: 0


.nav-pills > li
  border-radius: 4px;
  :first-child
    margin-left: 0

.main-tabs
  margin-top: 40px

.tab-content
  margin-top: 25px

.tab-content > .tab-pane
  padding-top: 20px

// Don't lett Debiki's other styles affect Bootstrap's tooltip text
.tooltip
  white-space: normal !important
  font-size: 13px !important
  font-weight: normal !important
  font-style: normal !important

.nav-tabs > li
  margin-left: 0 // or space between Twitter Bootstrap tabs

// not really in use, will probably delete
.inline-action
  color: red !important

// For embedded comments sites, it's rather confusing with buttons intended
// for forums and blogs and websites, so hide them.
.hide-for-embedded-comments
  display: none


// Invites
//--------------------------------------------

.s_AA_Us_Inv_SendB
  margin-top: 6px;


// Settins and Special Content tabs
//--------------------------------------------

.special-content
  margin-top: 33px;
  label
    text-align: right

.setting-label
  text-align: right
  margin-top: 10px

.special-content-_stylesheet
  min-height: 300px; // for now


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
