

.esReviewTask
  margin: 2em 0 3em;
  &:first-child
    margin-top: 1.5em;

.esReviewTask_whys,
.esReviewTask_whys li
  display: inline;
  margin: 0;

.esReviewTask-manyWhys
  .esReviewTask_what
    display: block;
  .esReviewTask_whys
    display: block;
  .esReviewTask_whys li
    display: list-item;
    margin: 0 0 2px 3em;

.esReviewTask_it
  margin: 1em 0;
  padding: 4px 5px 3px 6px;
  border: 1px solid hsl(0, 0%, 77%);
  background-color: hsl(0, 0%, 98%);

.esReviewTask_btns
  margin-top: 0.5em;

