

.esReviewTask
  margin: 2em 0 3em;
  &:first-child
    margin-top: 1.5em;

.esReviewTask_whys,
.esReviewTask_whys li
  display: inline;
  margin: 0;

.esReviewTask-manyWhys
  .esReviewTask_what
    display: block;
  .esReviewTask_whys
    display: block;
  .esReviewTask_whys li
    display: list-item;
    margin: 0 0 2px 3em;

.esReviewTask_it
  margin: 1em 0;
  padding: 14px;
  box-shadow: 1px 4px 12px 1px hsl(0, 0%, 50%) inset;
  background: hsl(0, 0%, 99%);

.esReviewTask_btns
  margin-top: 0.5em;

