

.s_A_Rvw .form-group
  margin-top: 25px;

.esReviewTask
  margin: 2em 0 3em;
  &:first-child
    margin-top: 1.5em;
  .esP_By
    margin-right: 0;

.esReviewTask_whys,
.esReviewTask_whys li
  display: inline;
  margin: 0;

.esReviewTask-manyWhys
  .esReviewTask_what
    display: block;
  .esReviewTask_whys
    display: block;
  .esReviewTask_whys li
    display: list-item;
    margin: 0 0 2px 3em;

.esReviewTask_it  // rename to esRT_PostToReview?
  margin: 1em 0;
  padding: 14px;
  box-shadow: 1px 4px 12px 1px hsl(0, 0%, 50%) inset;
  background: hsl(0, 0%, 99%);

.esRT_TitleToReview
  font-size: 30px;
  margin: 5px 0 16px;
  padding-top: 0;
  color: hsl(0, 0%, 36%);

.s_RT_WrittenBy,
.s_RT_LastAprEditBy,
.s_RT_FlaggedBy,
.s_RT_Flags_Flag
  margin-top: 0.4em;
  margin-bottom: 0.4em;
.s_RT_Flags_Flag-Old
  opacity: 0.7;

.s_RT_Flags_Flag .esP_By
  margin-right: 0.45em;

.esReviewTask_btns
  margin-top: 0.5em;

.s_A_Rvw_Tsk_ViewB
  text-decoration: underline;
  margin-right: 10px;

.s_A_Rvw_Tsk_UndoB
  margin-left: 14px;

.s_A_Rvw_Tsk_UndoneInf
  font-style: italic;
  margin-left: 10px;
