/*!
 * Copyright (c) 2010-2013 Kaj Magnus Lindberg
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */



// CLEAN_UP  can REMOVE some classes from here.  Were used in the past
// with OpenID 1.0.

#dw-lgi [class*="icon-"]
  margin-right: 5px
  margin-left: -3px

#dw-lgi .icon-facebook
  margin-right: 0px

#dw-lgi .btn
  background-color: hsl(0, 0%, 97%)

#dw-lgi .dw-fi-cancel
  float: right
  margin-top: 2em

#dw-lgi-or-login-using
  font-size: 16px;
  text-align: center
  max-width: 300px
  margin: 23px auto 16px;

// If the intro text, which is a bit lighter, is above, it looks better if "Continue with ..."
// also is a bit lighter. So, then, change from the default (pretty black) to the below.
// (But if there's no intro text, then it's nice if "Continue with ..." is stronger (blacker).)
.c_AuD_Cu + #dw-lgi-or-login-using
  color: hsl(0 0% 17%);  // a tiny bit darker than the [login_intro_color]

#dw-lgi-other-sites
  text-align: center

.dw-a-login
  margin-left: 10px

.dw-a-login,
.dw-a-logout
  cursor: pointer

// Hide password field when creating user in via OAuth or OpenID.
.dw-fs .form-group.password
  display: none




// vim: fdm=marker et ts=2 sw=2 tw=100 fo=tcqwn list
