
.esCreateUserDlg
  max-width: 430px;

  .modal-body
    padding: 12px 40px 26px 26px;

.esCreateUser
  button
    margin-top: 1.5em;
    margin-right: 0.7em;
    font-weight: bold;

  .form-group
    margin: 12px 0 4px;

  .input-group
    width: 100%;  // else email and full name fields rather narrow

  .help-block
    margin-bottom: 0;

.s_TermsD_CB label
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  color: hsl($uiHue, 80%, 35%);
.s_TermsD_CB-Accepts label
  color: hsl($uiHue, 100%, 20%);

.s_TermsD_CB input
  float: none !important;
  margin-right: 9px;
  position: relative;
  top: 1px;
  cursor: pointer;

.s_TermsD_B
  float: right;
  margin: 0 5px 7px 0;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: bold;

