$watchbarHue = $uiHue; // or 0 (red) looks ok too;

#esWatchbarColumn
  background: hsl(0, 0%, 13%);

.esWatchbar
  height: 100%;
  padding: 10px 17px 10px 10px
  overflow-y: auto;

  .esWatchbar_topic_link
    display: inline-block;
    width: 100%; // or nothing happens when clicks right part of hover-highlighted <li>
    padding: 3px 0 1px 3px;

  h3,
  .esWatchbar_topic_title
    color: hsl(0, 0%, 57%);

    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;

  h3
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 2rem 0 0.2rem;
    cursor: default;

  .esWatchbar_li
    list-style: none;
    margin: 0 0 2px;
    cursor: pointer;
    &.esWatchbar_topic-none
      cursor: default;
    &:not(.esWatchbar_topic-none):hover
      background: hsl($watchbarHue, 70%, 22%);
      .esWatchbar_topic_title
        color: hsl(0, 0%, 80%);

    &.esWatchbar_topic-current
      background: hsl($uiHue, 70%, 33%);
      .esWatchbar_topic_title
        color: white;

    &.esWatchbar_topic-unread
      .esWatchbar_topic_title
        color: hsl(0, 0%, 87%);
        font-weight: bold;
        text-shadow: 0.7px 0 0 hsl(0, 0%, 87%);
        letter-spacing: 0.4px;

.esCloseWatchbarBtn
  float: right;
  position: relative;
  right: -14px;
  color: #aaa;
  background: none;
  border: none;
  border-radius: 0;
  &:hover
    background: hsl($watchbarHue, 60%, 18%);
    color: hsl(0, 0%, 70%);

