/*!
 * Copyright (C) 2010-2013 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */



// Make inline threads compact.
.dw-i-t > .dw-p > .dw-p-bd,
.dw-i-t > .dw-p > .dw-p-diff
  padding-top: 1px

.dw-i-t > .dw-p > * /*.dw-p-bd or -diff*/ > .dw-p-bd-blk
  padding: 0
  margin: 0

.dw-i-t > .dw-p > * /*.dw-p-bd or -diff*/ > .dw-p-bd-blk ~ .dw-p-bd-blk
  margin-top: 0.6em



// Inline mark icons
//---------------------------

.dw-i-m-start.ui-icon
  display: inline-block // otherwise display:block, and a new paragraph
  position: relative
  margin-left: 5px // move away from the word to the left,
  //                   hmm, this assumes a left-to-right language. LTR RTL

// Remove white space around the inline marks.
.dw-i-m-start.ui-icon-arrow-1-e
  width: 6px
  top: 3px
  left: -3px
  background-position: -37px -37px

.dw-i-m-start.ui-icon-arrow-1-s
  width: 8px
  height: 13px // don't push next line away; smallest font-size 13px?
  top: -1px
  background-position: -70px -36px

//.dw-i-m-start.ui-icon-arrow-1-s



// Inline threads
//---------------------------

// Avoid a flash of incorrectly placed inline threads: don't show them
// until they've been moved into the .dw-bd-blk > .dw-i-ts.
.dw-res > .dw-i-t
  display: none

.dw-hz > .dw-p > .dw-p-bd > .dw-i-ts
  float: left
  margin-left: 120px // arrows from inline-marks to -threads drawn here

// Stack inline posts vertically.
.dw-p-bd .dw-i-t
  float: left
  clear: left

// For vertical layout, place inline threads below the .dw-p-bd-blk, indented.
// (With horizontal layout, they're placed to the right of the post.)
.dw-t:not(.dw-hz) > .dw-p > .dw-p-bd > .dw-i-ts
  float: left
  clear: left

.dw-t:not(.dw-hz) > .dw-p > .dw-p-bd > .dw-i-ts > .dw-i-t
  margin-left: 70px // indents, and leaves space for SVG/fake arrows

// Make inline comments less conspicuous.
.dw-i-t
  color: #444
  font-size: 95%

.dw-i-t > .dw-a
  margin-bottom: 0px // don't push next inline thread away

// Adjust inline-replies to the root post.
.dw-hz > .dw-p > .dw-p-bd > .dw-p-bd-blk + .dw-i-t
  margin-left: 4em // move away from the root post text


// Highlighting
//---------------------------

.dw-i-m-start.dw-highlight
  outline: solid medium #f0a005
  background-color: yellow



// vim: fdm=marker et ts=2 sw=2 tw=100 fo=tcqwn list
