
<div ng-if="recentPosts == null">Loading...</div>
<nav ng-if="recentPosts != null" id="details">
<table class="table">
<thead>
  <tr>
    <th>Activity</th>
    <th>Author</th>
    <th>Date</th>
    <th>Text</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat='post in recentPosts'>

    <td class='action-what'>
      <div>
        <a class='action-description' href='{{post.url}}'>{{post.description}}</a>

        <a class='inline-action old-flags-link' ng-hide='post.hideOldFlagsLink'>
          {{post.numHandledFlags}} old flags
        </a>
        <!-- Info to construct this HTML is currently not saved in DW1_POSTS:
        <div class='inline-flags' ng-hide='post.hideFlagsLink'>
          <a class='inline-action flags-link'>
            Flagged: {{post.prettyFlags}}
          </a>
          <span class='first-flagger'>
            First flagged by <a href="{{post.firstFlaggerUrl}}">{{post.firstFlaggerName}}</a><br>
            from IP <a href="{{post.firstFlaggerIpUrl}}">{{post.firstFlaggerIp}}</a>
          </span>
        </div> -->

        <a class='inline-action approve-action' ng-click='approve(post)' ng-hide='post.approveBtnText.isEmpty'>{{post.approveBtnText}}</a>
        <a class='inline-action reject-action' ng-click='reject(post)' ng-hide='post.hideRejectBtn'>Reject</a>

        <a class='inline-action delete-action' ng-click='delete(post)' ng-hide='post.hideDeleteBtn'>Delete</a>

        <a class='inline-action suggestions-link' ng-hide='post.hideViewSuggsLink'>{{post.numPendingEditSuggestions}} improvement suggestions</a>

        <span class='inline-message'>{{post.inlineMessage}}</span>
      </div>
      <span class='action-path'>{{post.pageName}}</span>
      <div class="flags" ng-if="post.pendingFlags">
        <div class="flags-header">{{ post.numPendingFlags }} new flags:</div>
        <ol>
          <li ng-repeat="flag in post.pendingFlags">
            Type: {{ flag.flagType }}, reason: {{ flagReason }}, by:
            <a href="/-/users/#/id/{{ flag.flaggerId }}">{{ flag.flaggerDisplayName }}</a>
          </li>
        </ol>
        <div class="flag-actions">
          <button class="btn btn-default">Hide post</button>
          <button class="btn btn-default">Delete post</button>
          <button class="btn btn-default">Clear flags</button>
        </div>
      </div>
    </td>


    <td><a href='/-/users/#/id/{{post.userId}}'>{{post.userDisplayName}}</a></td>
    <td>{{post.createdAt}}</td>

    <!-- ng-if="!smallScreen" TODO when AngularJS 1.2 released -->
    <td class='post-text' ng-bind-html="textOrDiffFor(post)"></td>

  </tr>
  <!-- Place the text on a separate row, if narrow screen.
    TODO when AngularJS 1.2 released, use ng-repeat-start/end
  <tr class='post-text'
      ng-if="smallScreen"
      ng-bind-html="textOrDiff(action)">
   </tr>
   -->
</tbody>
</table>
</nav>