
<div ng-if="recentPosts == null">Loading...</div>
<nav ng-if="recentPosts != null" id="details">
<table class="table">
<thead>
  <tr>
    <th>Activity</th>
    <th>Author</th>
    <th>Date</th>
    <th>Text</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat='post in recentPosts'>

    <td class='action-what'>
      <div>
        <a class='action-description' href='{{post.url}}'>{{post.description}}</a>

        <a class='inline-action old-flags-link' ng-hide='post.hideOldFlagsLink'>
          {{post.numHandledFlags}} old flags
        </a>

        <a class='inline-action suggestions-link' ng-hide='post.hideViewSuggsLink'>{{post.numPendingEditSuggestions}} improvement suggestions</a>
      </div>

      <span class='action-path'>{{post.pageName}}</span>

      <div class="approval-actions" ng-if="post.pendingFlags.length == 0">
        <button class="btn btn-default" ng-click='approve(post)' ng-hide='!post.approveBtnText'>{{post.approveBtnText}}</button>
        <button class="btn btn-default" ng-click='rejectAndSendPm(post)' ng-hide='post.hideRejectAndDeleteBtns'>Hide + send PM</button>
        <button class="btn btn-default" ng-click='delete(post)' ng-hide='post.hideRejectAndDeleteBtns'>Delete</button>
      </div>

      <div class="flags" ng-if="post.pendingFlags">
        <div class="flags-header">{{ post.numPendingFlags }} new flags:</div>
        <ol>
          <li ng-repeat="flag in post.pendingFlags">
            Type: {{ flag.flagType }}, reason: {{ flagReason }}, by:
            <a href="/-/users/#/id/{{ flag.flaggerId }}">{{ flag.flaggerDisplayName }}</a>
          </li>
        </ol>
        <div class="flag-actions">
          <button class="btn btn-default" ng-click="hideFlaggedSendPm(post)">Hide post + send PM</button>
          <button class="btn btn-default" ng-click="delete(post)">Delete post</button>
          <button class="btn btn-default" ng-click="clearFlags(post)">Clear flags</button>
        </div>
      </div>

      <span class='inline-message'>{{post.inlineMessage}}</span>
    </td>


    <td><a href='/-/users/#/id/{{post.userId}}'>{{post.userDisplayName}}</a></td>
    <td>{{post.createdAt}}</td>

    <!-- ng-if="!smallScreen" TODO when AngularJS 1.2 released -->
    <td class='post-text' ng-bind-html="textOrDiffFor(post)"></td>

  </tr>
</tbody>
</table>
</nav>