

// ProxyDialog
.c_PrxyD
  .esDropModal_content
    padding: 30px 20px 20px 20px;
  .esDropModal_header
    margin: 7px 0 7px 11px;  // less margin-top – already 30px padding-top, see above

.c_PrxyD-Drpd
  // The dropdown items have their own padding, so, could use less padding-left,
  // but this looks better?
  .esDropModal_content
    padding: 15px 15px 18px;

// Dialog buttons
.c_DlgBtns
  float: right;
  button
    margin-left: 0.7ex;
