# Use absolute 'path = http://github/debiki/repo' for everything. Not relative
# 'path = ../something' paths, because such paths break, if one clones the main
# Talkyard repo only (but doesn't clone all Talkyard submodules locally too).
#
[submodule "images/web/ty-media"]
	path = images/web/ty-media
	url = https://github.com/debiki/talkyard-media.git
[submodule "modules/ty-cla"]
	path = modules/ty-cla
	url = https://github.com/debiki/ty-cla.git
[submodule "modules/google-diff-match-patch"]
	path = modules/google-diff-match-patch
	url = https://github.com/google/diff-match-patch.git
[submodule "modules/ed-prod-one-test"]
	path = modules/ed-prod-one-test
	url = https://github.com/debiki/talkyard-prod-one.git
[submodule "modules/ed-versions"]
	path = modules/ed-versions
	url = https://github.com/debiki/talkyard-versions.git
[submodule "images/web/modules/lua-nginx-module"]
	path = images/web/modules/lua-nginx-module
	url = https://github.com/openresty/lua-nginx-module.git
[submodule "images/web/modules/luajit"]
	path = images/web/modules/luajit
	# This LuaJIT GitHub repo is a mirror of: http://luajit.org/git/luajit-2.0.git
	# We use the mirror instead of the main repo, because someone had problems accessing the
	# main repo (corporate or country firewall?) but the GitHub mirror worked fine.
	# I (KajMagnus) asked if the mirror here is maintained by Mike Pall:
	# https://www.freelists.org/post/luajit/Sequrity-question-Is-httpsgithubcomLuaJIT-maintained-by-Mike-Pall
	# and someone there replied:
	#  > the fast and short answer is yes. however he is busy with other things,
	#  > so he just appears from time to time to handle issues and pull requests [...]
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "images/web/modules/ngx_devel_kit"]
	path = images/web/modules/ngx_devel_kit
	url = https://github.com/simpl/ngx_devel_kit.git
[submodule "images/web/lua-packages/lua-resty-http"]
	path = images/web/lua-packages/lua-resty-http
	url = https://github.com/ledgetech/lua-resty-http.git
[submodule "images/web/lua-packages/lua-resty-redis"]
	path = images/web/lua-packages/lua-resty-redis
	url = https://github.com/openresty/lua-resty-redis.git
[submodule "images/web/lua-packages/lua-resty-lrucache"]
	path = images/web/lua-packages/lua-resty-lrucache
	url = https://github.com/openresty/lua-resty-lrucache.git
[submodule "modules/sanitize-html"]
	path = modules/sanitize-html
	url = https://github.com/debiki/sanitize-html.git
[submodule "modules/gatsby-plugin-ed-comments"]
	path = modules/gatsby-plugin-ed-comments
	url = https://github.com/debiki/gatsby-plugin-ed-comments.git
[submodule "modules/gatsby-starter-blog"]
	path = modules/gatsby-starter-blog
	url = https://github.com/debiki/gatsby-starter-blog.git
[submodule "modules/gatsby-starter-blog-ed-comments-0.4.4"]
	path = modules/gatsby-starter-blog-ed-comments-0.4.4
	url = https://github.com/debiki/gatsby-starter-blog.git
[submodule "images/fakemail/mailslurper"]
	path = images/fakemail/mailslurper
	url = https://github.com/mailslurper/mailslurper.git
[submodule "modules/talkyard-prod-swarm"]
	path = modules/talkyard-prod-swarm
	url = https://github.com/debiki/talkyard-prod-swarm.git
[submodule "vendors/jars"]
	path = vendors/jars
	url = https://github.com/kajmagnus/ty-vendors.git
