scratch.txt
scratch.json
scratch/
#dist
#target
tmp
.history
.idea/
.idea_modules/
RUNNING_PID
downloads/

# This is just a shortcut softlink.
/a/

# One's local dev-test config.
images/app/conf/my.conf

# TypeScript: grunt-ts cache, and HTML files compiled to .ts by grunt-ts.
#.tscache/
#client/forum/html/*.ts

# Ensime (Scala langage server)
.ensime
.ensime_cache/
ensime-langserver.log

# Eclipse
.cache
.classpath
.project
.settings/

# Ignore core dump file.
/core

# The npm-gulp Docker container creates some cache dirs in its home dir:
docker/gulp-home/
!docker/gulp-home/.gitkeep

# Docker volume contents:
docker/data/
# Container columes:
volumes/

# When running Chrome browser tests, ChromeDriver generates this file and it
# seems it's location is hardcoded,
#   see: http://code.google.com/p/selenium/issues/detail?id=3475
/chromedriver.log

# Failed e2e tests, not kept in target/ so won't get removed when doing 'clean'.
tests/e2e-failures.txt
