@* (api: debiki.TemplateApi)  *@

<html>
<head>
  <script>
    Modernizr.load('/-/res/font-awesome/css/font-awesome.css');
  </script>
</head>
<body>

<div data-replace="#debiki-page">

  <!-- Make the title appear before the <ol> -->
  <div id='debiki-page'></div>

  @*
  @for(page <- api.newestPagesInFolder("/$yyyy/$mm/$dd/") {
    <li>
      <a href='@{page.path}'>
        <h1>@{page.title}</h1>
      </a>
      <div>@{page.body}</div>
      <p>
        <a href='@{page.path}'>Kommentera</a>
      </p>
    </li>
  }
  *@

</div>

</body>
</html>

