@(tpi: debiki.TemplateProgrammingInterface)

@*
<html>
<head>
  <script>
    Modernizr.load('/-/res/font-awesome/css/font-awesome.css');
  </script>
</head>
<body>
*@


@recentBlogPosts = @{
  // Show help text on how to write blog articles,
  // if there are not yet any articles.
  val blogPosts = tpi.listNewestChildPages()
  if (blogPosts.nonEmpty)
    blogPosts
  else Seq(debiki.TinyTemplateProgrammingInterface.Page(
    id = "",
    path = "",
    title = "Example Blog Post",
    creationDati = new java.util.Date(),
    pubDati = Some(new java.util.Date()),
    safeBodyHtml = """
    <div>
      <p>This is an example blog post. It will be removed once you have written
        your first blog post. To do that:</p>
      <ol>
        <li>Click <b>Write new blog post</b>, in the upper left corner of this page.</li>
        <li>A new page opens. Edit it (that is, write a blog post) and save it.</li>
      </ol>
    </div>
    """))
}

@wrapper(tpi) {
  @* Don't include: @tpi.pageTitleAndBodyNoComments
  If included, people (my father) confuse editing the blog main page title and body
  with writing a blog article. Instead, show nothing but the list of blog articles.
  — I could add a page config values: show-title, show-body, which default
  to false, for a blog main page?
  Page meta data is needed though, for the admin dashbar to work: *@

  @tpi.pageMeta

  <ol class='page-list'>
  @for(page <- recentBlogPosts) {
    <li>
      <a href='@{page.path}'>
        <h1>@{page.title}</h1>
      </a>
      <div>@Html(page.safeBodyHtml)</div>
      <p>
        <a href='@{page.path}'>Kommentera</a>
      </p>
    </li>
  }
  </ol>

}

