@(tpi: debiki.TemplateProgrammingInterface)

@*
<html>
<head>
  <script>
    Modernizr.load('/-/res/font-awesome/css/font-awesome.css');
  </script>
</head>
<body>
*@


@wrapper(tpi) {
  @* Don't include: @tpi.pageTitleAndBodyNoComments
  If included, people (my father) confuse editing the blog main page title and body
  with writing a blog article. Instead, show nothing but the list of blog articles.
  — I could add a page config values: show-title, show-body, which default
  to false, for a blog main page?
  Page meta data is needed though, for the admin dashbar to work: *@

  @tpi.pageMeta

  <ol class='page-list'>
  @for(page <- tpi.listNewestChildPages()) {
    <li>
      <a href='@{page.path}'>
        <h1>@{page.title}</h1>
      </a>
      <div>@Html(page.safeBodyHtml)</div>
      <p>
        <a href='@{page.path}'>Kommentera</a>
      </p>
    </li>
  }
  </ol>

}

