@(tpi: debiki.TemplateProgrammingInterface)

@import com.debiki.v0.Prelude.{toIso8601T, toIso8601Day}


@datiTag(dati: java.util.Date) = {
  <abbr title="@{toIso8601T(dati)}">@{toIso8601Day(dati)}</abbr>}


@wrapper(tpi) {
  <!-- default20121009/forum.scala.html -->

  @parentForumsList(tpi)

  <div class="forum-title">
    @tpi.page {
      @tpi.title
      @* @tpi.body — not implemented *@
    }
  </div>

  <form method="POST">
    <input type="submit" value="New Topic" class="btn dw-a-new-forum-topic"></input>
  </form>

  <ol class="topic-table topic-list dw-forum-topic-list">
    @for(topic <- tpi.listRecentForumTopics(limit = 40)) {
      <li>
        <div class="accordion-heading" >
          <div>
            <a class="topic-title" href="@{topic.path}">@{topic.title}</a>
          </div>
          <div class="topic-details">
            <span class="topic-author">
              By <a>@{topic.authorDisplayName}</a> –
            </span>
            @*
            <span class="topic-pub-dati">
              @{topic.pubDati.map(datiTag _) getOrElse "not published"} –
            </span> *@
            <span class="topic-stats">
              @{topic.numRepliesApproved} replies –
              @*
              @{topic.numRepliesRejected} replies rejected,
              @{topic.numRepliesPendingReview} pending review,
              @{topic.numRepliesFlagged} flagged,
              @{topic.numRepliesDeleted} deleted,
              @{topic.numContributors} contributors,
              *@
            </span>
            @if(topic.lastReplyDati.isDefined) {
              <span class="topic-mod-dati">
                updated @{datiTag(topic.lastReplyDati.get)}
              </span>
            }
          </div>
        </div>
        <div class="accordion-toggle xcollapse topic-excerpt"
             data-parent="#dw-forum-topic-list">
          <em>Excerpt:</em> @{topic.excerpt}
        </div>
      </li>
    }
  </ol>

}

