@(tpi: debiki.TemplateProgrammingInterface)

@import com.debiki.v0.Prelude.{toIso8601T, toIso8601Day}


@datiTag(dati: java.util.Date) = {
  <abbr title="@{toIso8601T(dati)}">@{toIso8601Day(dati)}</abbr>}


@wrapper(tpi) {
  <!-- default20121009/forum.scala.html -->

  @parentForumsList(tpi)

  <div class="forum-title">
    @tpi.page {
      @tpi.title
      @* @tpi.body — not implemented *@
    }
  </div>

  <a class='btn dw-a-new-forum-topic'>New Topic</a>

  <table class="table topic-table">
    @*
    <thead>
      <tr>
        <th>Activity</th>
        <th>Author</th>
        <th>Date</th>
        <th>Text</th>
      </tr>
    </thead> *@
    <tbody>
      @for(topic <- tpi.listRecentForumTopics(limit = 40)) {
      <tr>
        <td>
          <div>
            <a class="topic-title" href="@{topic.path}">@{topic.title}</a>
          </div>
          <div class="topic-details">
            <span class="topic-author">
              By <a>@{topic.authorDisplayName}</a> –
            </span>
            @*
            <span class="topic-pub-dati">
              @{topic.pubDati.map(datiTag _) getOrElse "not published"} –
            </span> *@
            <span class="topic-stats">
              @{topic.numRepliesApproved} replies –
              @*
              @{topic.numRepliesRejected} replies rejected,
              @{topic.numRepliesPendingReview} pending review,
              @{topic.numRepliesFlagged} flagged,
              @{topic.numRepliesDeleted} deleted,
              @{topic.numContributors} contributors,
              *@
            </span>
            @if(topic.lastReplyDati.isDefined) {
              <span class="topic-mod-dati">
                updated @{datiTag(topic.lastReplyDati.get)}
              </span>
            }
          </div>
        </td>
        @*
        <td class="topic-excerpt">
          @{topic.excerpt}
        </td> *@
      </tr>
      }
    </tbody>
  </table>

@* Alternative implementation, using list items:
  <ol class="table topic-list">
    @for(topic <- tpi.listRecentForumTopics(limit = 40)) {
    <li>
      <h3 class="topic-title">
        <a href="@{topic.path}">@{topic.title}</a>
      </h3>
      <div class="topic-details">
        <span class="topic-author">
          By <a>@{topic.authorDisplayName}</a>,
        </span>
        <span class="topic-pub-dati">
          @{topic.pubDati.map(datiTag _) getOrElse "not published"},
        </span>
        @if(topic.lastReplyDati.isDefined) {
          <span class="topic-mod-dati">
            updated @{datiTag(topic.lastReplyDati.get)},
          </span>
        }
        <span class="topic-stats">
          @{topic.numRepliesApproved} replies.
          <!--
          @{topic.numRepliesRejected} replies rejected,
          @{topic.numRepliesPendingReview} pending review,
          @{topic.numRepliesFlagged} flagged,
          @{topic.numRepliesDeleted} deleted,
          @{topic.numContributors} contributors,
          -->
        </span>
      </div>
      <p class="topic-excerpt">
        @{topic.excerpt}
      </p>
    </li>
    }
  </ol>
*@

}

