@(tpi: debiki.TemplateProgrammingInterface)(body: Html)

<!DOCTYPE html>

<html class="@tpi.debikiHtmlTagClasses @tpi.configValue("html-tag-classes")"
    @tpi.configValue("html-tag-attributes-excl-class")>
<head>
  @tpi.debikiMeta

  <title>@tpi.configValue("title")</title>
  <meta name="description" content="@tpi.configValue("description")">
  <meta name="keywords" content="@tpi.configValue("keywords")">

  @tpi.debikiStyles

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Averia+Libre:400,700|Architects+Daughter' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://www.debiki.com/themes/default-2012-10-09/theme.css">
  <link rel="stylesheet" href="/themes/local/theme.css">

  @tpi.debikiScripts

  <script>
    if (!Modernizr.touch) jQuery(document).ready(function($) {
      Modernizr.load({
        load: [
          '/-/site/yoxview/jquery.yoxview-2.21.min.js',
          '/-/site/yoxview/yoxview.css'],
        complete: function() {
          jQuery.noConflict();
          $('.yoxview').yoxview();
        }
      });
    });
  </script>

  @Html(tpi.websiteConfigValue("html-head-tags-appended-site-wide"))
  @Html(tpi.configValue("html-head-tags-appended"))
</head>
<body>

@tpi.debikiDashbar

<div id='topbar'>
  <div class='container ui-helper-clearfix'>
    <a class='logo-slogan' href='/'>
      <div class='logo'>@Html(tpi.websiteConfigValue("logo"))</div>
      <div class='slogan'>@Html(tpi.websiteConfigValue("slogan"))</div>
    </a>
    <span id='dw-loginout'>@tpi.loginLinkAndUserName</span>
  </div>
</div>

<div id='alfa-info'>
  <div class='alfa-small debiki-show-if-lte-ie7'>
    Please consider upgrading to
    <a rel='nofollow' href='http://windows.microsoft.com/en-US/internet-explorer/products/ie/home'
      >a newer version of Internet Explorer</a>
    (or install <a rel='nofollow' href='http://www.google.com/chrome'>Google Chrome</a>,
    it's even faster).
  </div>
</div>

<div class='container'>
  <div id="content">
    <!-- <div id='sidebar' class='debiki-part-of-article'></div> -->
    <article>
      @body
    </article>
  </div>
</div>

<footer>
  <div class='footer'>
    <p><small>
      Copyright &copy; @tpi.websiteConfigValue("copyright-holder")
    </small></p>
    <p><small>
      @tpi.websiteConfigValue("license", or = "All rights reserved")
    </small></p>
    <p><small>
      @Html(tpi.websiteConfigValue("user-contributions-license",
        or = """User contributions licensed under
        <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>"""))
    </small>
    </p>
    <p><small>
      <a href='@tpi.websiteConfigValue("contact-page", or = "/contact")'>Contact</a>
    </small>
    </p>
  </div>
</footer>

@tpi.debikiAppendToBodyTags

</body>
</html>

