
$spaceForButtons = 45px;
$showPreviewMinWidth = 900px;
$spacyButtonsMinWidth = 450px;
$spacyYMinHeight = 400px;

.dw-embedded-editor
  #debiki-editor-controller
    height: 100% !important

.esEdtr_backdrop
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black; // but js sets opacity.
  pointer-events: none;

.esEdtr_titleEtc
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 4px;
  @media (min-height: $spacyYMinHeight)
    margin-bottom: 7px;
  .form-group
    margin-bottom: 0;

  @media (max-width: 700px)
    // Now don't list all stuff side by side, instead, one per row.
    flex-direction: column;

.esEdtr_titleEtc_title
  flex: 1;

.esEdtr_titleEtc_title,
.esEdtr_textarea
  &.esError
    outline: 1px solid red;
    outline-offset: 0; // else 2px in Chrome at least, if :focus. Why?
    box-shadow: none !important; // both outline & shadow = ugly
    border-radius: 0; // both rectangular outline & border radius = ugly

.esEdtr_txtBtns
  background: white;
  margin-bottom: 1px;

.esEdtr_txtBtn
  border: none;
  background: white;
  padding: 4px 8px;
  color: hsl(0, 0%, 50%);
  font-size: 15px;
  &:hover
    background: hsl($uiHue, 100%, 94%);
    color: hsl(0, 0%, 12%);

.esEdtr_txtBtn-em
  font-family: monospace;
  font-size: 90%;

.esEdtr_close
  position: absolute;
  right: 0;
  padding: 1px 13px;
  font-size: 24px;
  color: hsl(0, 0%, 27%);
  z-index: 2;
  &:hover
    color: hsl(0, 0%, 8%);
    background-color: hsl(0,0%,80%);
    cursor: pointer;

#debiki-editor-controller
  position: fixed !important; // !important so jQuery.resizable() won't overwrite
  top: initial;
  bottom: 0
  width: 100%
  height: 300px;
  background: hsl(0, 0%, 89%)
  z-index: 1030

  &.editor-box-shadow
    box-shadow: 0 0 23px 6px rgba(0,0,0,0.6);
    border-top: 1px solid hsl(0, 0%, 94%);

  &.editor-maximized
    // --- dupl [5KETW02]
    height: 100% !important;
    #editor-after-borders
      top: -1px !important;
      left: 5px !important;
      right: 5px !important;
    &.editor-box-shadow
      border: none !important;
  // --- /dupl

  @media (min-width: $showPreviewMinWidth + 1)
    &.editor-split-hz
      .editor-area
        width: 100%;
        bottom: calc(65% + 10px);
      .preview-area
        width: 100%;
        position: absolute
        top: 35%;
        bottom: $spaceForButtons + 3px;

  @media (max-width: $showPreviewMinWidth)
    top: 0;

    // --- dupl [5KETW02]
    height: 100% !important;
    #editor-after-borders
      top: -1px !important;
      left: 5px !important;
      right: 5px !important;
    &.editor-box-shadow
      border: none !important;
    // --- /dupl

    .esEdtr_cycleMaxHzBtn
      display: none;

    &.editor-minimized
      top: initial;
      height: 47px !important;

      .editor-area,
      .preview-area,
      button
        display: none !important;

      #esMinimizeBtn
        display: block !important;

  .btn-default
    border-color: hsl(0, 0%, 70%); // not 80% because background not white but light gray

  .resizable-t
    height: 18px;
    top: -8px;

  .dw-editor-guidelines-wrap
    position: absolute;
    bottom: 100%;

  .dw-editor-guidelines
    background-color: hsl(49, 70%, 93%);
    border: 1px solid hsl(49, 70%, 85%);
    box-shadow: 6px 7px 9px rgba(80, 80, 80, 0.63);
    position: relative;
    left: 13px;
    padding: 18px 18px 8px;
    min-width: 300px;
    max-width: 550px;
    @media (max-width: 500px)
      max-width: 400px;
    @media (max-width: 400px)
      max-width: 300px;

    .dw-hide
      padding: 0 15px 8px;
      color: hsl($uiHue, 70%, 45%);
      float: right;

  #editor-after-borders
    position: absolute;
    top: 3px;
    right: 15px;
    bottom: 0;
    left: 15px;

  .editor-area
    width: 50%
    position: absolute
    top: 12px
    bottom: $spaceForButtons - 4;
    @media (min-height: $spacyYMinHeight)
      bottom: $spaceForButtons;

    .editor-area-after-borders
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;

    .dw-doing-what
      position: relative;
      @media (min-height: $spacyYMinHeight)
        margin-bottom: 4px;

    .icon-info-circled
      color: white;
      text-shadow: 0 0 3px black;
      font-size: 20px;
      position: absolute;
      top: -5px;
      padding-left: 5px;
      &:hover
        text-decoration: none;
        outline: 1px solid hsl($uiHue, 50%, 70%);
        background-color: hsl($uiHue, 50%, 85%);

    .title-input
      width: 100%;
      padding: 6px;
      font-size: 14px;

    .editor-instructions
      margin: 14px 0 5px;

    .editor
      width: 100%
      flex: 1; // it'll fill all available y-space
      font-size: 13px;
      padding: 6px;
      border: none;
      &:focus
        box-shadow: 0 1px 3px 2px hsl($uiHue, 100%, 79%);

    @media (max-width: $showPreviewMinWidth)
      width: 100%;
      .editor-area-after-borders
        right: 0;

  .preview-area

    width: 50%
    position: absolute
    top: 12px
    right: 0
    bottom: 5px
    z-index: 1; // so above the div with Submit & Cancel buttons

    .dw-preview-help
      position: absolute;
      z-index: 5;
      top: 55px;
      left: 25px;
      box-shadow: 5px 5px 6px hsla(0, 0%, 0%, 0.6);

    .preview
      position: absolute;
      top: 26px;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 2px 0 3px;
      background: white
      overflow: auto

    @media (max-width: $showPreviewMinWidth)
      display: none;
      width: 100%;
      bottom: $spaceForButtons;

  .editor-area,
  .preview-area
    @media (min-width: $showPreviewMinWidth + 1)
      // In case JS has adden display: none, and via CSS we've hidden the Show-preview button,
      // then we need to ensure the preview is indeed visible again now when the win width is wider:
      display: block !important;

  .submit-cancel-btns
    width: calc(50% - 10px);
    @media (max-width: $showPreviewMinWidth)
      width: 100%;
    position: absolute;
    bottom: 3px;
    @media (min-height: $spacyYMinHeight)
      bottom: 6px;
    button
      margin: 0;
      @media (min-width: $spacyButtonsMinWidth)
        margin-right: 5px;
    .esEdtr_cycleMaxHzBtn,
    #esPreviewBtn,
    #esMinimizeBtn
      float: right;
      margin: 0;
      @media (min-width: $spacyButtonsMinWidth)
        margin-left: 5px;
    @media (min-width: $showPreviewMinWidth + 1)
      #esPreviewBtn,
      #esMinimizeBtn
        display: none;

  .view-edit-history
    margin-left: 1em;
    vertical-align: middle;

// Compact buttons if narrow screen, so won't wrap to 2nd line.
@media (max-width: $spacyButtonsMinWidth - 1)
  #esMinimizeBtn
    padding-left: 6px;  // instead of 12px
    padding-right: 6px;
  #esPreviewBtn
    padding-left: 7px;
    padding-right: 7px;

.esE_SaveB_Verbose
  display: none;
  @media (min-width: $spacyButtonsMinWidth)
    display: inline;



// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
