
.esTtlEdtr_urlSettings
  background: hsl(0, 0%, 96%);
  border: 1px solid hsl(0, 0%, 90%);
  padding: 11px 20px 5px 10px;
  .help-block
    color: hsl(0, 0%, 32%);
    margin-bottom: 0;

.dw-p-ttl-e
  margin-top: (30 + 15 + 8)px;  // 30 + 5 = title margin + padding, 8 = a bit extra
  margin-bottom: 38px;
  max-width: 650px;

  .form-horizontal
    margin: 15px 0;

  .dw-i-layout
    width: auto;

  .dw-save-btns-etc a
    float: none;
    margin-left: 10px;
    opacity: 0.75;
    position: relative;
    top: 3px;
    font-size: 14px;

    &.icon-settings:before
      opacity: 0.85;

.esTtlEdtr_metaTags .form-group
  margin-bottom: 10px;

.esTtlEdtr_openAdv
  margin: 15px 0 15px;
  display: block;

// vim: fdm=marker et ts=2 sw=2 tw=0 list
