.debiki-show-if-lte-ie7,
.debiki-show-if-lte-ie8
  display: none

body.dw-ua-lte-ie7 .debiki-show-if-lte-ie7
  display: inline

body.dw-ua-lte-ie7 div.debiki-show-if-lte-ie7
  display: block

body.dw-ua-lte-ie8 .debiki-show-if-lte-ie8
  display: inline

body.dw-ua-lte-ie8 div.debiki-show-if-lte-ie8
  display: block

body.dw-ua-lte-ie7 .debiki-show-unless-lte-ie7,
body.dw-ua-lte-ie8 .debiki-show-unless-lte-ie8
  display: none

ins
  text-decoration: none
  background: #9f9

del
  text-decoration: line-through
  background: #ffd0d0

.dw-pri .dw-p-ttl > .dw-f-e textarea
  font-size: 26px

.dw-ar-p
  padding-bottom: 0.8em

#debiki-dashbar
  background: black

#debiki-dashbar .debiki-dashbar-logo img
  width: 26px
  padding: 0
  margin: 0
  position: relative

#debiki-dashbar a
  display: inline-block
  color: hsl(0, 0%, 87%)
  font-family: Verdana, sans-serif
  text-decoration: none
  font-weight: bold
  height: 100%
  padding: 5px 7px 6px 7px
  vertical-align: middle

#debiki-dashbar a:hover
  background: #888
  color: #fff

.dw-t.dw-dummy > .dw-res,
.dw-t.dw-dummy > .dw-t-vspace
  display: none

html.js.dw-render-actions-pending .dw-as,
html.js body.dw-render-actions-pending .dw-as
  visibility: hidden

#dw-t-65501
  float: none

.dw-fs-re .ui-resizable-se
  visibility: hidden

.dw-fs-re:hover .ui-resizable-se
  visibility: visible

.dw-depth-0 > .dw-p > .dw-f-e .dw-e-tabs
  float: left
  clear: both

li.dw-fs-re:not(:last-child) .dw-arw-hz-line-to-sibling
  top: -39.5px

.dw-t:not(.dw-hor) > .dw-res > .dw-fs-re .dw-arw
  display: none

li.dw-fs-re:last-child .dw-arw-hz-line-to-sibling
  display: none

.dw-p.dw-x-s > .dw-p-bd,
.dw-p.dw-x-s > .dw-p-hd
  max-height: 4em

.dw-p.dw-x-s
  max-height: 8em

.dw-depth-0 > .dw-p.dw-x-s,
.dw-depth-0 > .dw-p.dw-x-s > .dw-p-bd,
.dw-depth-0 > .dw-p.dw-x-s > .dw-p-hd
  max-height: none

.dw-p > .dw-x-mark
  display: block
  position: absolute
  bottom: 0px
  right: -3px
  padding: 4px 25px 0 10px
  height: 17px
  background: white
  font-style: italic
  letter-spacing: 0.3ex

.dw-p.dw-x-s:hover > .ui-resizable-se,
.dw-p.dw-x-s:hover > .dw-x-mark
  background-color: #fdc
  color: #363636

.dw-p-rez-e
  border-right: 1px solid #888
  padding-right: 3px
  z-index: 11

.dw-p-rez-e:hover
  z-index: 12

.dw-p-rez-s
  border-bottom: 1px solid #888

.dw-a-show-interactions
  color: #3872AB !important
  visibility: visible !important
  font-size: 10px

.dw-hide-interactions .dw-ar-t > .dw-res,
.dw-hide-interactions .dw-ar-t > .dw-p > .dw-p-bd > .dw-p-bd-blk .dw-i-m-start,
.dw-hide-interactions .dw-ar-t > .dw-p > .dw-p-bd > .dw-i-ts,
.dw-hide-interactions .dw-debate svg
  display: none

.dw-p-as-hz,
.dw-depth-1:not(.dw-i-t)
  min-height: 100px

.DW.DW .dw-hor:not(.dw-depth-0) > .dw-res
  margin-top: 35px

.dw-hor:not(.dw-depth-0) > .dw-p-as-hz
  margin-top: 48px

.dw-ar-p
  overflow: visible

.dw-p-dl
  margin-left: 23px

.dw-t-dl > .dw-p
  margin-left: 0

.dw-ar-p-hd,
.dw-depth-0 > .dw-p > .dw-p-bd,
.dw-p-ttl,
.dw-p-ttl > .dw-p-bd
  margin-left: 0
  padding-left: 0

.dw-p-dl > .dw-p-hd
  margin-bottom: 24px
  font-style: italic
  background-color: transparent

.dw-pri a.dw-p-by,
.dw-pri a.dw-p-e-by
  color: #369
  font-weight: bold

span.dw-p-by,
span.dw-p-e-by
  color: #555
  font-weight: bold

:not(.dw-p-hd-e) > .dw-p-by
  font-size: 11px
  margin-right: 0.9ex

.dw-lg-t-spl
  font-size: 90%
  padding-left: 2px
  padding-right: 2px

.dw-p-link
  float: right
  font-family: monospace
  padding: 2px 3px 2px 4px

.dw-ar-p-hd
  border: none
  background-color: transparent
  opacity: 0.6
  font-size: 10px
  margin-top: 12px

.dw-ar-p-hd:hover
  opacity: 1

.dw-ar-p-hd > .dw-p-by
  color: #396D99

.dw-depth-0 > .dw-z
  display: none

.dw-depth-0 > .dw-p
  margin-left: 0

:not(.dw-hor) > .dw-p > .dw-p-bd > .dw-p-bd-blk
  padding-right: 3px
  max-width: 40em

[data-page_role='Code'] .dw-hor > .dw-p > .dw-p-bd > .dw-p-bd-blk,
[data-page_role='Code'] .dw-hor > .dw-p > .dw-f-e > .dw-e-tabs > .dw-e-tab > .dw-p-bd-blk,
#post-65503 > .dw-p-bd > .dw-p-bd-blk,
#post-65503 > .dw-f-e > .dw-e-tabs > .dw-e-tab > .dw-p-bd-blk
  max-width: none

.dw-hor > .dw-p > .dw-p-bd > .dw-p-bd-blk > pre
  white-space: pre
  word-wrap: normal

.dw-p-diff
  line-height: normal

.dw-ar-t > .dw-p > .dw-p-bd > .dw-p-bd-blk > :first-child:not(h2)
  margin-top: 26px

.dw-i-t > .dw-p > .dw-p-bd,
.dw-i-t > .dw-p > .dw-p-diff
  padding-top: 1px

.dw-i-t > .dw-p > *  > .dw-p-bd-blk
  padding: 0
  margin: 0

.dw-i-t > .dw-p > *  > .dw-p-bd-blk ~ .dw-p-bd-blk
  margin-top: 0.6em

.dw-p:hover
  z-index: 10

.dw-as
  margin: -6px 0 6px 28px
  padding: 5px 0 8px
  position: relative

.dw-p-as-hz
  position: relative
  padding-right: 20px
  margin: 10px 16px 0 12px

.dw-p-as-hz > .dw-a-reply
  max-width: 8em
  display: inline-block
  line-height: 120%

.dw-a
  text-decoration: none
  color: #3872ab
  font-size: 13px

.dw-a-disabled
  color: #d2d2d2 !important
  cursor: default

.dw-a-disabled:hover
  text-decoration: none !important

.DW .dw-t > .dw-as .dw-a
  display: inline-block
  margin-right: 12px

#dw-p-as-shown a
  color: hsl(210, 51%, 45%)

.dw-a-color-primary
  color: hsl(210, 51%, 45%) !important

.dw-p-as-more
  display: none

.dw-p-as-more,
.dw-a-delete
  margin-right: 0

.dw-t > .dw-as > .dw-a-reply,
.dw-t > .dw-as > .dw-a-rate
  font-weight: bold

.DW .dw-t > .dw-as > .dw-a-edit,
.DW .dw-t > .dw-as > .dw-a-collapse-suggs,
.DW .dw-t > .dw-as > .dw-a-flag-suggs,
.DW .dw-t > .dw-as > .dw-a-delete-suggs
  float: right
  margin: 0 0 0 12px
  color: #888

.DW .dw-t > .dw-as > .dw-a.dw-a-pending-review
  visibility: visible

.dw-a:hover
  color: #c77405
  text-decoration: underline

.dw-p-as-hz > .dw-a.dw-a-reply
  font-size: 17px
  margin: 0

.dw-p-as-hz > .dw-a
  display: block

.dw-p-as-hz > .dw-a:not(.dw-a-reply)
  margin-top: 1.3em
  color: #777

.dw-p-as-hz > .dw-a:not(.dw-a-reply):hover
  color: hsl(211, 30%, 40%)

.dw-p-as-hz > .dw-a-more,
.dw-p-as-hz > .dw-a-rate
  display: none

.dw-p-as
  min-height: 17px
  z-index: 2
  background: white

.dw-u-is-admin .dw-p-as-hz > .dw-a.dw-a-more
  visibility: visible
  opacity: 0.65

body.dw-u-ui-simple .dw-a-edit
  display: none !important

.dw-p-pending-mod
  margin-bottom: 5px
  font-style: italic
  font-weight: bold

.dw-p-hd .dw-p-at
  display: none

.dw-p-flgs-top,
.dw-p-rs-top

.dw-p-hd .dw-p-by-me,
.dw-p-hd .dw-p-r-by-me
  font-weight: bold
  color: #151515

.dw-p-hd .dw-p-r-by-me > em
  font-weight: normal
  color: #111

.dw-p-flgs-all,
.dw-p-r-all
  display: none

.dw-flgs,
.dw-flgs li,
.dw-rs,
.dw-rs li
  display: inline

.dw-flgs li,
.dw-rs li
  margin-left: 0.5ex

.dw-p-hd .dw-rs .dw-r-tag

.dw-p-hd .dw-r-count,
.dw-p-hd .dw-r-tag-frac-min,
.dw-p-hd .dw-r-tag-sum,
.dw-p-hd .dw-r-valsum-max
  margin-left: 3px
  font-weight: bold
  display: none

.dw-p-hd .dw-rs .dw-r-tag-frac
  font-size: 90%
  position: relative
  left: -2px

.dw-t.dw-p-art-qst > .dw-z,
.dw-t.dw-p-art-qst > .dw-p > .dw-p-hd
  display: none !important

.dw-t.dw-p-art-qst > .dw-p
  margin-left: 5px
  top: -9px
  position: relative

.dw-i-m-start.ui-icon
  display: inline-block
  position: relative
  margin-left: 5px

.dw-i-m-start.ui-icon-arrow-1-e
  width: 6px
  top: 3px
  left: -3px
  background-position: -37px -37px

.dw-i-m-start.ui-icon-arrow-1-s
  width: 8px
  height: 13px
  top: -1px
  background-position: -70px -36px

.dw-i-m-start.ui-icon-arrow-1-s

.dw-res > .dw-i-t
  display: none

.dw-hor > .dw-p > .dw-p-bd > .dw-i-ts
  float: left
  margin-left: 120px

.dw-p-bd .dw-i-t
  float: left
  clear: left

.dw-t:not(.dw-hor) > .dw-p > .dw-p-bd > .dw-i-ts
  float: left
  clear: left

.dw-t:not(.dw-hor) > .dw-p > .dw-p-bd > .dw-i-ts > .dw-i-t
  margin-left: 70px

.dw-i-t
  color: #444
  font-size: 95%

.dw-i-t > .dw-a
  margin-bottom: 0px

.dw-p-bd-blk
  margin: 0
  float: left
  clear: left

.dw-hor > .dw-p > .dw-p-bd > .dw-p-bd-blk + .dw-i-t
  margin-left: 4em

.dw-i-m-start.dw-highlight
  outline: solid medium #f0a005
  background-color: yellow

#dw-hidden-templates
  display: none

.dw-pri.dw-pri .dw-as-inline
  position: absolute
  z-index: 20

.dw-as-inline li
  margin: 0
  float: left
  list-style-type: none

.dw-as-inline .ui-button
  margin-right: 0

.dw-e-sgs
  border-top: dotted 1px #aaa
  clear: both
  font-size: 85%
  line-height: 100%
  color: #444
  margin: 0 0 25px 40px

.dw-e-sg
  border-bottom: dotted 1px #ccc
  padding: 7px 0 2px 0
  margin: 0 0 0 0

.dw-e-sg:hover
  background-color: #e5e5e5

.dw-e-sg-vs
  float: left
  width: 30px

.dw-e-sg-e
  position: relative
  margin-left: 30px

.dw-e-sg .dw-e-text,
.dw-e-sg .dw-e-rslt
  display: none

.dw-e-sg .dw-e-desc

.dw-e-sg .dw-e-by
  color: #3872ab

.dw-e-sg .dw-e-at

.dw-fs
  margin: 10px 0 20px 5px
  position: relative

.dw-f
  position: relative

.ui-dialog > .dw-fs
  margin-bottom: 11px

.dw-hor > .dw-res > .dw-fs
  margin: 0
  padding-right: 19px
  padding-left: 0

.dw-fs form
  z-index: 1100
  position: relative
  padding: 1em
  margin-left: 10px

.ui-dialog .dw-fs form
  margin: 0 25px 0 8px
  padding-top: 0.4em

.dw-pri .ui-dialog-buttonpane
  border-top: none

.dw-fs.ui-dialog-content
  width: 100% !important

.dw-fs.ui-dialog-content > form
  border: none
  z-index: auto

.dw-fs small
  font-size: 70%

.dw-fs form label
  margin-top: 1ex
  display: inline-block

.dw-f input, .dw-f select, .dw-f textarea,
.dw-fs input, .dw-fs select, .dw-fs textarea
  display: block

.dw-fs input[type='checkbox']
  display: inline

.DW .dw-page form input[type='text'],
.DW .dw-page form textarea
  font-family: Verdana, sans-serif
  margin-top: 0.7em

.dw-pri form textarea
  width: 100%
  resize: none
  padding-right: 0px
  padding-bottom: 0px
  border-color: #aaa

.dw-hor > .dw-res > .dw-fs-re textarea
  max-width: 440px

.CodeMirror textarea
  height: auto !important

.CodeMirror
  font-size: 13px

.DW .CodeMirror
  height: auto

.cm-tab:after
  content: "\21e5"
  display: inline-block
  width: 0px
  position: relative
  overflow: visible
  left: -1.4em
  color: #aaa

.dw-name-or-alias
  float: left
  clear: both
  margin-top: 1.8em

.dw-submit-set
  float: right
  clear: both
  margin-top: 1.3em

.dw-pri .dw-inf-submitting-form
  position: absolute
  padding: 1em 2em

#dw-u-info,
#dw-a-logout
  display: none

.dw-lgi
  float: left
  clear: both
  margin: 10px 0

#dw-fs-lgi-simple

.dw-lgi-openid
  padding: 0 30px 0 0
  margin-right: 45px
  height: 105px
  width: 125px
  position: absolute
  left: 0

.dw-lgi-openid-info
  margin: 1em 0

.dw-lgi-openid-why
  margin-top: 1em

.dw-a-login,
.dw-a-logout
  white-space: nowrap

.dw-a-login
  font-size: 200%
  margin-left: 10px
  color: #3872AB

.dw-a-login-openid
  display: block

.dw-lgi-or-wrap
  position: absolute
  height: 100%
  left: 190px
  background-color: #FBF7F2
  border-right: 1px solid #ccc

.dw-lgi-or-word
  top: 96px
  right: -9px
  position: absolute
  background-color: #FBF7F2
  padding: 4px 0 4px
  font-weight: bold

.dw-lgi-simple
  margin-left: 170px

.dw-lgi-simple-info
  padding: 1em 0 0.7em

.dw-lgi-simple label
  margin-top: 0.7em

.dw-lgi-simple input
  margin-top: 3px !important
  width: 200px

#dw-fi-lgi-url-lbl
  margin-top: 1.3ex

#dw-f-eml-prf .dw-submit-set
  float: none

#dw-f-eml-prf .ui-button
  float: right

#dw-fi-eml-prf-adr
  width: 18em

#dw-fi-eml-prf-submit-email
  margin-top: 1.3em

.dw-res > .dw-fs-re
  position: relative

.dw-fs-re > form
  min-width: 210px
  padding-top: 0
  margin-top: 0

.dw-hor > .dw-res > .dw-fs-re > form
  margin-left: 0
  padding-left: 0

.dw-fs-re label
  display: inline-block
  margin-right: 0.4em
  margin-top: 0 !important
  float: none
  width: auto

.dw-fs-re textarea
  resize: none

.dw-fs-re textarea:focus
  border: 1px solid #91cdff
  outline: 1px solid #91cdff

.dw-user-contrib-license
  float: left
  clear: both
  color: #666
  font-size: 75%
  margin: 9px 0 0
  max-width: 34em

.dw-pri .dw-user-contrib-license a
  color: #99a

.dw-fs-re .dw-inf-submitting-form
  top: auto
  bottom: 95px
  left: 40px

.dw-fs-r
  margin: 0 0 30px 20px

.dw-f-r
  min-width: 250px

.dw-fs-r .dw-r-tag-set
  float: left
  max-width: 8em

.dw-fs-r .dw-r-tag-set .ui-button
  min-width: 7em

.dw-fs-r .dw-show-more-r-tags
  margin-top: 1em
  float: left
  clear: both
  font-size: 85%

.dw-fs-r .dw-more-r-tags
  display: none
  clear: both
  margin-top: 1em
  max-width: none

.dw-fs-r .dw-more-r-tags label
  float: left
  min-width: 0 !important

.dw-f-r .dw-inf
  padding: 1ex
  background-color: white

.dw-f-r-inf-changing
  display: none

.dw-f-r .dw-inf-submitting-form
  top: auto
  bottom: 23px
  left: 40px

.dw-f-flg-rsns
  margin: 0.5ex 0 1em

#dw-e-sgs
  overflow: hidden

#dw-e-sgss,
#dw-e-sgs-diff,
#dw-e-sgs-save-diff,
#dw-e-sgs-prvw
  float: left
  padding: 3px 18px 0
  margin-top: 10px
  min-height: 5em
  border-left: 1px solid #DDD
  height: 100%

#dw-e-sgss
  padding-left: 0
  width: 220px
  border-left: none

#dw-e-sgs-diff
  width: 290px

#dw-e-sgs-save-diff
  width: 290px
  display: none

#dw-e-sgs-prvw
  padding-right: 0
  width: 380px

#dw-e-sgs-org-src
  display: none

#dw-e-sgs .dw-e-sgs
  margin: 1ex 0 25px 0

#dw-e-sgs .dw-e-sg-e
  margin-left: 9px

#dw-e-sgs .dw-e-sgs .dw-as
  margin: 7px 0px 3px 0px

#dw-e-sgs .dw-e-sg .dw-as .ui-button-text
  padding: .15em 1ex

#dw-e-sgs-diff-text
  margin-top: 5px
  padding: 0.7ex
  background: white

#dw-e-sgs-prvw-html
  margin-top: 5px
  padding: 0.7ex
  background: white

.dw-pri .dw-f-e .dw-e-tabs,
.dw-pri .dw-f-e .ui-widget-header, 
.dw-pri .dw-f-e.ui-widget-content
  background: transparent
  border: none

.dw-f-e-help-show
  color: hsl(211, 85%, 35%)
  float: left

.dw-f-e-help-text
  display: none
  box-shadow: 3px 3px hsl(0, 0%, 50%)
  background-color: #fcfcfc
  border: 1px solid hsl(0, 0%, 50%)
  padding: 3px 15px
  margin: 5px 0 10px 3px
  float: left
  clear: both

:not(.dw-hor) > .dw-p > .dw-f-e .dw-f-e-help-show
  display: none

.dw-ui-simple .dw-f-e-mup
  display: none

.dw-pri .dw-f-e .dw-e-tab
  border: 1px solid #bbb
  overflow: auto
  padding: 0

.dw-pri .dw-f-e .dw-e-tab-edit
  padding: 1px

.dw-depth-0 > .dw-p > .dw-f-e .dw-e-tab-prvw
  padding: 1em

.dw-e-tab-prvw > .dw-p-bd-blk
  padding: 1ex

.dw-depth-0 > .dw-p > .dw-f-e .dw-e-tabs > .dw-e-tab-edit,
.dw-depth-0 > .dw-p > .dw-f-e .dw-e-tabs > .dw-e-tab-diff
  width: 800px

.dw-pri .dw-f-e .dw-e-tab-edit textarea
  height: 100%
  margin: 0
  padding: 0
  border: none
  outline-offset: 0px

.dw-pri .dw-f-e .dw-e-tab-edit textarea:focus
  outline: 1px solid #91cdff

.dw-pri.dw-pri .dw-keyrecvr .dw-e-tab
  border: 1px solid #91cdff

.dw-f-e-inf-save,
.dw-f-e .dw-f-e-sugg-info
  margin-top: 1em
  padding: 6px
  max-width: 32em
  float: left
  clear: both
  background-color: #FFEFC6

.dw-f-e-inf-save,
.dw-f-e .dw-f-e-sugg-info > strong
  color: green
  font-weight: bold

.dw-f-e-inf-save
  display: none
  float: none

.dw-f-e .dw-submit-set
  margin-top: 0.5em
  margin-bottom: 1em
  float: left

.dw-f-e .dw-inf-submitting-form
  top: auto
  bottom: 80px
  left: 60px

.dw-fs-e
  position: relative
  z-index: 1100

.dw-fs-e form
  margin: 1em 0
  float: none
  clear: both

.dw-depth-0 .dw-fs-e
  clear: both

.dw-fs-e > a
  margin: 0.8em 0
  float: left
  clear: both

.dw-fs-e form:first-of-type,
.dw-fs-e > a:first-of-type
  margin-top: 0

.dw-fs-e .ui-accordion
  margin-top: 0.75em

.dw-fs-e .ui-accordion-content
  padding: 0.7em 0.2em 0 0.6em !important
  background: #f2f2f2
  border: 1px solid #BBB

.dw-fs-e .ui-accordion-content p
  font-family: Verdana, sans-serif
  font-size: 93%
  line-height: 110%

.dw-fs-e .ui-accordion h4
  font-weight: normal !important
  font-size: 93%

.dw-fs-e h4.dw-your-edit
  font-weight: bold !important

.dw-f-e-btns-vote,
.dw-edit-liking-stats
  margin: 1em 0 0

.dw-edit-dates
  margin: 0 0 1.1em

.dw-edit-dates,
.dw-edit-liking-stats
  font-style: italic
  font-size: 85%

#dw-fi-dl-tree
  margin: 1em 0 0

.dw-f-cr
  margin: 60px 0 30px

.dw-f-cr .dw-fi-submit
  margin-top: 30px

.dw-f-cr ul > li
  list-style-type: disc

.dw-m-t-new > .dw-p > .dw-p-hd

.dw-m-p-edited
  border: 3px solid #f1cdbc

.dw-dlg-rsp
  height: auto !important

form .dw-ntf
  float: left
  clear: both
  margin-bottom: 10px

.dw-ntf
  font-family: monospace
  margin-top: 1em

.dw-ntf .ui-state-error
  padding: 0.1em 0.1em 0.2em 0.4em

.dw-ntf .ui-dialog-titlebar-close
  float: right
  height: 20px
  width: 20px

.dw-ntf .dw-ntf-bd
  margin-left: 20px

.dw-ntf-sts

.dw-ntf-msg
  font-weight: bold

.dw-ntf-at
  font-size: 65%
  margin-top: 1ex

.dw-ntf-shw
  font-style: italic
  text-decoration: underline

#dw-tps-sort-order
  position: absolute
  top: -210px
  left: -250px
  white-space: nowrap

.dw-tps-sort-order-arw
  position: relative
  height: 15px
  top: 8px
  width: 55px
  display: inline-block
  margin: 0 10px 0 0
  background: url(img/arrows-etcetera-gray.png) no-repeat 0 -327px

.dw-tps-sort-order-arw.dw-flip-hz
  margin: 0 0 0 10px

.dw-tps-sort-order-your-post
  white-space: normal
  display: inline-block
  max-width: 133px
  text-align: center
  vertical-align: middle

#sidebar .dw-ibx
  margin-top: 2.2em
  color: #777
  font-size: 13px

#sidebar .dw-ibx li
  color: #777
  margin-left: 0
  font-size: 12px

#sidebar a.dw-ibx-pg-ttl
  color: #444 !important
  --font-weight: bold

#sidebar a.dw-ibx-p-bd
  font-size: 90%
  color: #666

.dw-user-page-data
  display: none

.dw-fs:after,
.dw-fs form:after,

.dw-f.dw-f-e:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

.dw-ui-state-default-color
  color: #1c80c4

.dw-ui-state-default-color-bright
  color: #83c5df

.dw-ui-state-default-color-brighter
  color: #c1e2ef

.dw-ui-state-default-color-brightest
  color: #eaf5fa

.dw-ui-widget-font
  font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif

.dw-pri .ui-tabs .ui-tabs-nav
  background: transparent
  border: none

.dw-pri .ui-tabs .ui-tabs-panel
  border: 1px solid #BBB

.dw-ui-tabs-bottom
  position: relative

.dw-ui-tabs-bottom > .ui-tabs-panel
  height: 140px
  overflow: auto

.dw-pri .dw-ui-tabs-bottom > .ui-tabs-nav
  position: absolute !important
  left: 0
  bottom: 0
  right: 0
  padding: 2px 2px 0

.dw-ui-tabs-bottom > .ui-tabs-nav li
  margin-top: -2px !important
  margin-bottom: 3px !important
  border-bottom-width: 1px
  border-top: 2px transparent

.dw-ui-tabs-bottom > .ui-tabs-nav > .ui-tabs-selected
  margin-top: -2px !important

.dw-ui-tabs-bottom > .ui-tabs-panel
  margin-bottom: 29px
  z-index: 1
  position: relative
  background: white !important

.dw-pri .dw-ui-tabs-bottom .ui-tabs-nav li
  border-bottom: 1px solid !important

.dw-pri.dw-pri .ui-tabs-nav li a
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif
  font-size: 13px
  line-height: 17px

.dw-pri .ui-widget.ui-widget-content
  font-family: Verdana, sans-serif
  font-size: 100%

.dw-pri .ui-widget textarea
  font-family: Verdana, sans-serif
  font-size: 100%

.dw-pri .ui-widget-content a
  color: #00c

.dw-ui-state-default-linkified
  border: none !important
  background: none !important

.dw-pri .ui-accordion .ui-accordion-header a
  padding: 0.2em 0.2em 0.2em 0.7em

.dw-pri input.ui-button
  padding: .4em 1em

[ng\:cloak], [ng-cloak], .ng-cloak
  display: none !important

.DW [class^="icon-"],
.DW [class*=" icon-"]
  width: auto

.tooltip
  position: absolute
  z-index: 1020
  display: block
  visibility: visible
  padding: 5px
  font-size: 11px
  opacity: 0
  filter: alpha(opacity=0)

.tooltip.in
  opacity: 0.8
  filter: alpha(opacity=80)

.tooltip.top
  margin-top: -2px

.tooltip.right
  margin-left: 2px

.tooltip.bottom
  margin-top: 2px

.tooltip.left
  margin-left: -2px

.tooltip.top .tooltip-arrow
  bottom: 0
  left: 50%
  margin-left: -5px
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-top: 5px solid #000000

.tooltip.left .tooltip-arrow
  top: 50%
  right: 0
  margin-top: -5px
  border-top: 5px solid transparent
  border-bottom: 5px solid transparent
  border-left: 5px solid #000000

.tooltip.bottom .tooltip-arrow
  top: 0
  left: 50%
  margin-left: -5px
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-bottom: 5px solid #000000

.tooltip.right .tooltip-arrow
  top: 50%
  left: 0
  margin-top: -5px
  border-top: 5px solid transparent
  border-bottom: 5px solid transparent
  border-right: 5px solid #000000

.tooltip-inner
  max-width: 200px
  padding: 3px 8px
  color: #ffffff
  text-align: center
  text-decoration: none
  background-color: #000000
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

.tooltip-arrow
  position: absolute
  width: 0
  height: 0

.tooltip
  width: 500px

#dw-t-root
  overflow: hidden

.dw-flip-hz
  -moz-transform: scaleX(-1)
  -o-transform: scaleX(-1)
  -webkit-transform: scaleX(-1)
  transform: scaleX(-1)
  filter: FlipH
  -ms-filter: "FlipH"

.debiki-0-reply-button-text
  display: none

img.debiki-0-inline
  display: inline
  margin: 0
  width: auto

#forum-search
  float: right
  z-index: 1
  position: relative

#forum-search input[type='text']
  width: 180px

#forum-search input[type='text']:focus
  width: 320px

.search-result-page-title

.search-result-post-text a
  color: black !important

