

.esTsD .esDropModal_content 
  padding: 9px !important;
  width: 900px;
  max-width: calc(100% - 30px);
  min-height: 140px;

.esTsD_CreateTs
  .help-block
    margin-bottom: 5px;

  .btn
    margin-top: 10px;

  .form-group
    margin: 20px 0 0;

