
  <h3>Site Wide Special Content</h3>
  <br>

  <special-content title="Terms of Use: Content License" content-id="_tou_content_license">
    Please clarify under which license other people may reuse the contents of the website.
    This text will be inserted into the Content License section of the Terms of Use page.
  </special-content>

  <special-content title="Terms of Use: Jurisdiction" content-id="_tou_jurisdiction">
    Please clarify which country's laws you want to abide by, and where any legal
    issues should be resolved. This text is inserted into the Jurisdiction section
    of the Terms of Use page.
  </special-content>
