
.c_BokmDrpdD
  .esDropModal_content
    width: 550px;

  // Too mutch whitespace — the dialog is mostly empty.
  .modal-header
    padding: 10px 10px 0;
    border-bottom: none;

  .modal-body
    padding: 20px 10px 0px;

  .modal-footer
    border-top: none;
    padding-right: 10px;
    padding-bottom: 0;

  .input-group
    width: 100%;

// Just for now. [red_delete_btn]
.modal-footer .btn-delete
  margin-left: 2em !important;  // hmm
  margin-right: 2em;
  color: hsl(0, 30%, 20%);
  border-color: hsl(0, 30%, 74%);
  // The trash icon feels a bit like whitespace, so need less.
  padding-left: 6px; // else 12px from .btn

