
.c_TagDrpdD
  .esDropModal_header
    font-style: normal;  // italics (the default) can make the tag name harder to read
    margin-bottom: 8px;  // a bit more, looks better.
    samp
      margin-left: 0.5ex;  // space before the tag name
