
.c_Tag_EdF-IsEd
  padding-left: 20px;

.c_Tag_UrlSlug code
  margin-left: 0.8ex;

.c_Tag_ValTyp
  margin-bottom: 1em;
  .form-group
    padding-left: 4ex;
  .radio
    margin-bottom: 5px;

.c_Tag_ValTyp_CanAns
  margin-left: 0.8ex;

.c_Tag_Ids
  code, i
    margin-left: 0.8ex;

.c_Tag_Ids_Id
  // Internal ids are less interesting (so, smaller font).
  font-size: 87%;
  color: hsl(0 0% 31%);


.c_Tag_EdBtns
  margin-bottom: 0.8em;
  .btn
    margin-right: 1.2ex;

.c_Tag_EdF-IsEd .c_Tag_EdBtns
  // More margin so it's simpler to see where the editable fields (above) ends,
  // and that there's sth else below (recently tagged posts).
  margin: 1.8em 0 4em;

.c_SavInf
  display: inline-block;
  margin-left: 1ex;

.c_Tag_SchLn
  a
    margin-right: 0.8ex;
