/*!
 * Copyright (C) 2015 Kaj Magnus Lindberg
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.esTestSiteWarning
  padding: 1.5em 1em;
  font-size: 18px;


.esCreateSite .input-group
  width: 100%;


#dw-react-create-site

  h1
    margin-bottom: 40px;

  .esCreateSite_email
    max-width: 400px;

  .btn
    margin-right: 12px;

  form
    max-width: 580px;

  .form-group
    margin-bottom: 45px;

  #dwLocalHostname
    display: inline;
    text-align: right;
    font-family: monospace;
    width: 270px;

  kbd
    background: white;
    color: black;
    font-size: 14px;
    box-shadow: none;
