
$spaceForButtons = 46px;
$showPreviewMinWidth = 900px;
$spacyButtonsMinWidth = 450px;
$spacyYMinHeight = 400px;

// Without this, height = auto, and won't be full size, in Firefox (but fine in Chrome, weird).
.DW.DW .rta__textarea
  height: 100%;

.dw-embedded-editor
  #debiki-editor-controller
    height: 100% !important

.esEdtr_backdrop
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black; // but js sets opacity.
  pointer-events: none;

.esEdtr_titleEtc
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 4px;
  @media (min-height: $spacyYMinHeight)
    margin-bottom: 7px;
  .form-group
    margin-bottom: 0;

  @media (max-width: 700px)
    // Now don't list all stuff side by side, instead, one per row.
    flex-direction: column;

.esEdtr_titleEtc_title
  flex: 1;

.esEdtr_titleEtc_title,
.esEdtr_textarea
  &.esError
    outline: 6px solid hsl(0, 100%, 65%);
    outline-offset: 0; // else 2px in Chrome at least, if :focus. Why?
    box-shadow: none !important; // both outline & shadow = ugly
    border-radius: 0; // both rectangular outline & border radius = ugly

.esEdtr_txtBtns
  background: white;
  margin-bottom: 1px;

.esEdtr_txtBtn
  border: none;
  background: white;
  padding: 4px 8px;
  color: hsl(0, 0%, 50%);
  font-size: 15px;
  &:hover
    background: hsl($uiHue, 100%, 94%);
    color: hsl(0, 0%, 12%);

.esEdtr_txtBtn-em
  font-family: monospace;
  font-size: 90%;

.esEdtr_close
  position: absolute;
  right: 0;
  padding: 1px 13px;
  font-size: 24px;
  color: hsl(0, 0%, 27%);
  z-index: 2;
  &:hover
    color: hsl(0, 0%, 8%);
    background-color: hsl(0,0%,80%);
    cursor: pointer;


.s_E_SimlTpcs
  box-shadow: 10px 9px 10px rgba(0,0,0,0.57) !important;
  bottom: calc(100% + 5px) !important;  // or the shadow gets bit too close to the title
  max-height: 170px;  // sync with js [SIMLTPCH]
  overflow-y: scroll;
  overflow-x: hidden;
  h4
    margin: 0 0 9px;
    float: left;
  ul
   clear: both;

.s_E_SimlTpcs_L_It
  line-height: 131%;
  font-size: 15.3px;
  margin-left: 26px;


.s_E_SimlTpcs_SearchB,
.s_E_SimlTpcs_HideB
  padding: 10px 0 2px 13px !important;
  position: relative;
  top: -12px;

.s_E_SimlTpcs_SearchB
  padding-right: 13px !important;


.s_E_DoingWhat
  .esP_By
    margin: 0 2px 0 3px;
  .esP_By_F,
  .esP_By_U
    font-weight: bold;
    color: hsl($uiHue, 100%, 35%);

$scrollPreviewButtonPaddingTop = 6px;

#debiki-editor-controller.s_E-NoInEdPrvw
  // No in-editor preview — then, there's a Show-preview button instead that
  // scrolls to an in-page preview. Align the doing-what (e.g. "Reply to:") text
  // with that button.
  .s_E_DoingWhat,
  .icon-info-circled
    padding-top: $scrollPreviewButtonPaddingTop;
  .s_DfSts
    // Skip flex-position, it'd get placed "far away" to the right, hard to see,
    // now when the textarea is so wide (100%, no preview to the right).
    margin-left: 33px;
    padding-top: $scrollPreviewButtonPaddingTop;

  // Also, there's more blank space above, because of the large "Show preview" button,
  // so can reduce 'top' from 12px (EDABSTOP) to this:
  // And, sice no preview, set width 100% (instead of 50%).
  .editor-area
    top: 8px;
    width: 100%;
  // And add a bit more padding, looks less claustrophobic.
  #editor-after-borders
    left: 21px;
    right: 21px;

.s_E_ScrPrvwB
    margin: 0 0 5px 30px;
    background: white;
    color: #222;
    padding: $scrollPreviewButtonPaddingTop 12px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 50%);

#debiki-editor-controller
  position: fixed !important; // !important so jQuery.resizable() won't overwrite
  top: initial;
  bottom: 0
  width: 100%
  height: 300px;
  background: hsl(0, 0%, 89%)
  z-index: 1030

  &.editor-box-shadow
    box-shadow: 0 0 23px 6px rgba(0,0,0,0.6);
    border-top: 1px solid hsl(0, 0%, 94%);

  &.s_E-Max
    // --- dupl [5KETW02]
    height: 100% !important;
    #editor-after-borders
      top: -1px !important;
      left: 5px !important;
      right: 5px !important;
    &.editor-box-shadow
      border: none !important;
  // --- /dupl

  @media (min-width: $showPreviewMinWidth + 1)
    &.s_E-SplitHz
      .editor-area
        width: 100%;
        bottom: calc(65% + 10px);
      .preview-area
        width: 100%;
        position: absolute
        top: 35%;
        bottom: $spaceForButtons + 3px;

  @media (max-width: $showPreviewMinWidth)
    top: 0;

    // --- dupl [5KETW02]
    height: 100% !important;
    #editor-after-borders
      top: -1px !important;
      left: 5px !important;
      right: 5px !important;
    &.editor-box-shadow
      border: none !important;
    // --- /dupl

    .esEdtr_cycleMaxHzBtn
      display: none;

    &.s_E-Min
      top: initial;
      height: 47px !important;

      .editor-area,
      .preview-area,
      button
        display: none !important;

      .submit-cancel-btns
        bottom: 6px !important;  // instead of only 3px (8KAQF24)

      #esMinimizeBtn
        display: block !important;
        font-weight: bold;
        border: none;
        padding-left: 10px; // instead of 6px
        padding-right: 10px;

  .btn-default
    border-color: hsl(0, 0%, 70%); // not 80% because background not white but light gray

  .s_E_SimlTpcs,
  .dw-editor-guidelines-wrap
    position: absolute;
    bottom: 100%;

  .s_E_SimlTpcs,
  .dw-editor-guidelines
    background-color: hsl($yellowTipsHue, 70%, 93%);
    border: 1px solid hsl($yellowTipsHue, 70%, 85%);
    box-shadow: 6px 7px 9px rgba(80, 80, 80, 0.63);
    left: 13px;
    padding: 18px 18px 8px;
    min-width: 300px;
    max-width: 550px;
    @media (max-width: 500px)
      max-width: 400px;
    @media (max-width: 400px)
      max-width: 300px;

    .dw-hide
      padding: 0 15px 8px;
      color: hsl($uiHue, 70%, 45%);
      float: right;

  .dw-editor-guidelines
    position: relative;  // or can move  left 13px to the -wrap instead?

  #editor-after-borders
    position: absolute;
    top: 3px;
    right: 15px;
    bottom: 0;
    left: 15px;

  .editor-area  // (EDABSTOP)
    width: 50%
    position: absolute
    top: 12px;
    bottom: $spaceForButtons - 4;
    @media (min-height: $spacyYMinHeight)
      bottom: $spaceForButtons;

    .editor-area-after-borders
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;

    .s_E_DoingRow
      position: relative; // why? can remove?
      display: flex;
      @media (min-height: $spacyYMinHeight)
        margin-bottom: 4px;

    .icon-info-circled
      color: white;
      text-shadow: 0 0 3px black;
      font-size: 20px;
      position: relative;
      top: -5px;
      padding-left: 5px;
      &:hover
        text-decoration: none;
        outline: 1px solid hsl($uiHue, 50%, 70%);
        background-color: hsl($uiHue, 50%, 85%);

    .title-input
      width: 100%;
      padding: 6px;
      font-size: 14px;

    .rta // react-textarea-autocomplete
      width: 100%
      flex: 1; // it'll fill all available y-space
      .editor
        // height 100% doesn't work but this does: (.rta is already position = relative)
        position: absolute;
        top: 0;
        bottom: 0;
        font-size: $postFontSize;
        padding: 6px;
        border: none;
        &:focus
          box-shadow: 0 1px 3px 2px hsl($uiHue, 100%, 79%);

    @media (max-width: $showPreviewMinWidth)
      width: 100%;
      .editor-area-after-borders
        right: 0;

  .preview-area

    width: 50%
    position: absolute
    top: 12px
    right: 0
    bottom: 5px
    z-index: 1; // so above the div with Submit & Cancel buttons

    .dw-preview-help
      position: absolute;
      z-index: 5;
      top: 55px;
      left: 25px;
      box-shadow: 5px 5px 6px hsla(0, 0%, 0%, 0.6);

    .preview
      position: absolute;
      top: 26px;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 2px 0 3px;
      background: white
      overflow: auto

    @media (max-width: $showPreviewMinWidth)
      display: none;
      width: 100%;
      bottom: $spaceForButtons;

  .editor-area,
  .preview-area
    @media (min-width: $showPreviewMinWidth + 1)
      // In case JS has adden display: none, and via CSS we've hidden the Show-preview button,
      // then we need to ensure the preview is indeed visible again now when the win width is wider:
      display: block !important;

  .submit-cancel-btns
    width: calc(50% - 10px);
    @media (max-width: $showPreviewMinWidth)
      width: 100%;
    position: absolute;
    bottom: 3px;  // (8KAQF24)
    @media (min-height: $spacyYMinHeight)
      bottom: 6px;
    button
      margin: 0;
      @media (min-width: $spacyButtonsMinWidth)
        margin-right: 5px;
    .esEdtr_cycleMaxHzBtn,
    #esPreviewBtn
      min-width: 65px;
    #esPreviewBtn,
    #esMinimizeBtn
      float: right;
      margin: 0;
      @media (min-width: $spacyButtonsMinWidth)
        margin-left: 5px;
    @media (min-width: $showPreviewMinWidth + 1)
      #esPreviewBtn,
      #esMinimizeBtn
        display: none;

  .view-edit-history
    margin-left: 1em;
    vertical-align: middle;


.s_DfSts
  margin: 0 auto;  // places it in the middle, if flex layout
  color: hsl(0, 0%, 38%);

.s_DfSts-Err
  padding: 2px 9px;
  font-weight: bold;
  color: $errorColor;
  background: $errorBackground;


// Compact buttons if narrow screen, so won't wrap to 2nd line.
@media (max-width: $spacyButtonsMinWidth - 1)
  #esMinimizeBtn
    padding-left: 6px;  // instead of 12px
    padding-right: 6px;
  #esPreviewBtn
    padding-left: 7px;
    padding-right: 7px;

.esE_SaveB_Verbose
  display: none;
  @media (min-width: $spacyButtonsMinWidth)
    display: inline;

.s_E_iPhoneKbd
  display: none;

// iPhone is problematic, needs these special fixes.
html.s_iphone
  .s_E-E
    // Leave lots of space for the keyboard. The iPhone keyboard doesn't trigger any resize event,
    // when appearing — it just covers the lower parts of the window, sometimes also the lower
    // parts of a <textarea>, making the lower parts impossible to edit (without canceling
    // the keyboard, scrolling down and opening it again).
    #editor-after-borders
      height: 73%;

    .s_E_iPhoneKbd
      display: block;
      position: absolute;
      bottom: 25px;
      left: 30px;
      font-size: 14px;
      color: gray;

  // Prevent iPhone from zooming in on input fields — which it does if the font size is <= 16 px.
  // Based on:
  //   https://stackoverflow.com/questions/2989263/
  //      disable-auto-zoom-in-input-text-tag-safari-on-iphone#comment25424617_6394497
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select:focus,
  textarea
    font-size: 16px !important;

// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
