
.esDropModal
  width: auto; // else too narrow
  margin: 0;
  .modal-content
    width: 0;

.esDropModal_content
  position: fixed;
  padding: 11px 12px 15px 4px;
  box-shadow: 2px 2px 7px #aaa;
  background: white;
  min-width: 150px;
  margin-right: -3px 12px 0 0;

