
#theLoadingOverlay
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  background: black;
  opacity: 0.45;
  animation: fadeInLoadingOverlay 800ms ease-in-out;
  &.esLoadingSlow
    opacity: 0.75;

#theLoadingOverlay .icon-loading
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  color: white;
  font-size: 60px;
  line-height: 60px;
  animation: rotateLoadingIcon 2s linear infinite;

#theServerJustStarted
  position: fixed;
  top: 70px;
  left: calc(50% - 250px);
  max-width: 500px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  // Z-order above the spinner.
  background: black;
  z-index: 1;

@keyframes fadeInLoadingOverlay
  from
    opacity: 0.0;
  to
    opacity: 0.45;


@keyframes rotateLoadingIcon
  from
    transform:rotate(0deg);
  to
    transform:rotate(360deg);

