
.dw-dlg-create-topic
  max-width: 400px;

  .modal-body
    padding-right: 35px;

    button
      display: block;
      margin: 0 0 12px;
      width: 100%;
      text-align: left;

      &:last-of-type
        margin-bottom: 0

