
.esCatDlg
  .dw-click-to-show
    padding: 10px 0;
    display: block;
    &:first-of-type
      margin-top: 20px;

  input
    max-width: 25ex;

  .form-group
    margin-bottom: 18px;

  .checkbox
    margin-bottom: 0;

.esCatDlg_slug_help_addr_slug
  font-weight: bold;
  font-size: 105%;
  margin-left: 1px;


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
