
.dw-dlg-create-topic
  max-width: 400px;

  .modal-body
    padding-right: 35px;

    button
      display: block;
      margin: 0 0 12px;
      padding-left: 9px;
      width: 100%;
      text-align: left;

      &:last-of-type
        margin-bottom: 0

      [class^="icon-"]:before, [class*=" icon-"]:before
        margin-right: 0.45em;


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
