/**
 * Copyright (C) 2014 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.esForumIntro
  clearfix()
  margin: 0.4em 0;
  max-width: 125ex;
  background: hsl(207, 80%, 95%);
  padding: 0.7em 1em 0.3em;
  p
    margin-bottom: 0.8em;
    color: hsl(0, 0%, 4%);

.esForumIntro_edit,
.esForumIntro_close
  display: block;
  padding: 2px 5px 8px 0;
  position: relative;
  left: -3px;
  color: hsl($uiHue, 77%, 42%);
  float: left; // else underline appears although mouse far away
  font-size: 95%;
  &:before
    opacity: 0.8;

.esForumIntro_edit
  padding-left: 4px;

.dw-hide-forum-intro .esForumIntro
  display: none;

.dw-forum > .dw-help
  margin-bottom: 7px;


// Action bar
//===========================


.esForum_catsDrop
  color: hsl(0, 0%, 8%) !important;
  $bgColor = hsl(0,0%,91%);
  border-radius: 0;
  background: $bgColor;
  border-color: $bgColor;
  .caret
    transform: rotate(-90deg) scale(1.2,1.8);
    margin-left: 3px;
    position: relative;
    color: #333 !important;


.dw-forum-actionbar
  clear: both
  padding 0 0 25px

  marginTop = 20px

  .form-group
    margin-bottom: 0;

  li
    margin-left: 0

  .dw-main-category-dropdown  // old name, use .esForum_catsDrop instead now
    float: left
    margin: marginTop 11px 0 0
    @media (max-width: 801px)
      margin-right: 8px
    @media (max-width: 651px)
      margin-right: 5px

    .dropdown-toggle
      margin 0
      padding: 5px 12px 5px 15px

    a
      cursor: pointer

  .dw-sort-order
    float: left

  .nav
    float: left

    .btn
      float: left;
      border: none;
      box-shadow: none;
      color: black;
      border-radius: 0;
      &:hover:not(.active)
        background: hsl($uiNavHue, $uiNavSaturation + 20, 89%);
      &.active
        color: white;
        cursor: default;
        background: hsl($uiNavHue, $uiNavSaturation, 53%);

      min-width: 70px;
      margin-top: marginTop
      padding-left: 15px;
      padding-right: 15px;
      @media (max-width: 801px)
        padding-left: 12px;
        padding-right: 12px;

  .dw-filter
    float: left;
    max-width: 300px;
    margin-left: 10px;
    @media (max-width: 801px)
      margin-left: 8px
    @media (max-width: 651px)
      margin-left: 5px

  .dw-filter select,
  button
    // Why do I need to -2 for the Create Topic button to align with
    // the category buttons and Latest and Top buttons to the left?
    margin: (marginTop - 2) 0 0 0

  button
    float: right
    border: none;

  button:not(.btn-primary):not(.active),
  span
    color: hsl(0, 0%, 13%);

  @media (max-width: 801px)
    select.form-control,
    .btn
      font-size: 13px;

    .dw-forum-actionbar .nav button
      min-width: 50px;
      padding-left: 12px;
      padding-right: 12px;

  @media (max-width: 651px)
    .dw-forum-actionbar .nav button
      min-width: 40px;
      padding-left: 8px;
      padding-right: 8px;


// Topics
//===========================

// Avoid undesired flash-of-the-wrong-topic-list before we know if the topic list included
// by the server is the one we want to show. (The server doesn't know which #/client-route
// we're using, we don't yet use real URLS, only hash fragment client side router urls.)
html.js:not(.dw-react-started) #dw-topic-list tbody
  display: none;

.dw-topic-list
  width: 100%

  $paddingLeft = 8px
  $fontSize = 14px

  th
    padding: 0 $paddingLeft 8px;
    font-weight: normal;
    font-size: $fontSize;
    color: hsl(0, 0%, 60%);

  .num
    text-align: center
    min-width: 55px

  .edAvtr
    // On small screens, show fewer frequent posters.
    @media (max-width: 980px)
      &:nth-child(4)
        display: none
    @media (max-width: 870px)
      &:nth-child(3)
        display: none
    @media (max-width: 800px)
      &:nth-child(2)
        display: none
    // Tiny screen, show only Original Poster.
    @media (max-width: 700px)
      &:nth-child(5)
        display: none

  tbody
    tr
      border-top: 1px solid hsl(0, 0%, 89%);
      &:first-child
        border-top-color: hsl(0, 0%, 91%);
        border-top-width: 3px;

      td
        padding: 10px $paddingLeft
        font-size: $fontSize;
        a
          color: hsl(0, 0%, 13%);
          padding: 3px 6px 5px 0; // makes it easier to click
          &:hover
            text-decoration: none;
            background: hsl($uiHue, 100%, 97%);
            outline: 1px solid hsl($uiHue, 100%, 92%);

        &:not(.dw-tpc-title)
          white-space: nowrap;

        &.dw-tpc-title .icon-pin:before
          color: #555;
          padding-right: 17px;
          margin-left: 0;

        .icon-help-circled:before
          font-size: 14px;
          color: #555;
          margin: 0 5px 0 0;

        .dw-qa-ans-count
          font-size: 85%;
          margin-left: -5px;

        .icon-check-empty:before
          font-weight: bold;
          font-size: 105%;
          margin: 0 5px 0 0;
          position: relative;
          top: 1px;

        .icon-idea:before,
        .icon-attention-circled:before, // problems
        .icon-block:before, // closed topics
        .icon-ok-circled-empty:before, // solved questions
        .icon-check:before  // fixed todos
          color: hsl(0, 0%, 40%);
          margin: 0 5px 0 0;

        .icon-attention-circled:before
          color: hsl(0, 0%, 37%);

        .icon-idea:before
          color: hsl(0, 0%, 15%);
          margin-right: 3px; // there's some whitespace to the right inside the icon

        .icon-ok-circled-empty:before
          margin: 0 7px 0 0;
          position: relative;
          left: 1px;

        .icon-check:before
          font-size: 17px;
          position: relative;
          top: 2px;

        &.num:not(.dw-tpc-feelings, .dw-tpc-replies)
          color: hsl(0, 0%, 53%);

        &.dw-tpc-replies
          color: hsl(0, 0%, 20%);

        .dw-p-excerpt
          color: hsl(0, 0%, 44%);
          margin: 1ex 20px 1ex 0;
          max-width: 650px;
          font-size: 100%;
          letter-spacing: -0.1px; // weird, easier to read I think
          a
            color: hsl($uiHue, 100%, 40%);
            margin-left: 6px;
            &:hover
              background: none;
              outline: none;
              text-decoration: underline;

.load-more
  text-align: center
  width: 100%
  display: block
  margin: 20px 0 0
  cursor: pointer


/* --- Forum list --- */

.forum-table
  th
    color: hsl(0, 0%, 55%)

  & > tbody > tr > td:first-child
    width: 45%; // or sometimes 80-90% wide

  .topic-title.icon-pin:before
    margin: 0 4px 0 0;

  .topic-title
    [class^="icon-"]:before, [class*=" icon-"]:before
      margin: 0 4px 0 0;
      font-size: 95%;

    .icon-check-empty:before
      position: relative;
      top: 1px;

    .icon-pin:before,
    .icon-ok-circled-empty:before
      opacity: 0.85;

    .icon-help-circled:before,
    .icon-block:before
      opacity: 0.8;


.forum-table > tbody > tr > td {
  padding: 15px 5px 10px 8px; /* 8x paddin-left aligns w/ row header */
}

.forum-table .forum-title-wrap {
  font-size: 17px;
  margin: 5px 10px 11px 0;
}

.DW.DW .forum-table td {
  background: none; /* cancel Twitter Bootstrap */
}

.forum-table .topic-table-excerpt tbody,
.forum-table .topic-table-excerpt td {
  border: none;
  padding-left: 0; /* or wouldn't align with parent table header */
}

.forum-table .topic-table-excerpt {
  margin-bottom: 10px;
}

.forum-table .topic-table-excerpt .topic-details
  font-size: 12px;
  margin-left: 1.9ex;
  .icon-comment-empty
    margin-right: 1.1ex;
    position: relative;
    top: -1px;



/* --- Forum topic list --- */

.DW .dw-a-new-forum-topic {
  margin: 30px 0 13px;
  background: white;
}

.topic-table .topic-title {
  white-space: nowrap;
  font-weight: bold;
  color: hsl(0, 0%, 8%);
}

.topic-table tbody {
  /* Copied from Twitter Bootstrap */
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.topic-details {
  color: gray;
}

.topic-excerpt {
  color: #555;
  height: 68px;
  display: none;
}

.topic-list {
  margin-left: 0;
  border-top: 1px solid hsl(0, 0%, 87%);
}

.topic-list > li {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 5px;
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.topic-list > li:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.topic-list > li:hover .topic-details,
.topic-list > li:hover .topic-excerpt {
  color: #333; /* darker, since background now gray */
}

.topic-list .topic-title {
  font-family: $uiFont;
  margin: 20px 0 5px;
}

.topic-list .topic-details {
  margin-bottom: 5px;
}


// vim: fdm=indent et ts=2 sw=2 fo=r list
