/**
 * Copyright (C) 2014 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


$forumNavBtnGroupLeft = 8px;
$isWideMinWidth = 900px;

// Avoid a flash of the-wrong-layout (e.g. table layout, before noticing that the screen
// is narrow and switching to list layout).
html.js:not(.dw-react-started)
  .dw-topic-list,
  .esF_TsL
    display: none;

.esForumIntro
  clearfix()
  margin: 0.4em 0;
  max-width: 125ex;
  background: hsl($uiHue, 89%, 95%);
  padding: 0.8em 1.15em 0.35em;
  p
    margin-bottom: 0.8em;
    // Large font and line-height makes the intro text easier to read —> more people read it (?).
    color: hsl(0, 0%, 6%);
    font-size: 14px;
    line-height: 1.65;

.esForumIntro_btns
  float: right;

.esForumIntro_edit,
.esForumIntro_close
  display: inline-block;
  padding: 2px 0 8px 12px;
  position: relative;
  left: -3px;
  color: hsl($uiHue, 77%, 42%);
  font-weight: bold;
  font-size: 14px;
  .icon-cancel:before
    opacity: 0.8;
  .esForumIntro_close_reopen
    font-weight: normal;
    .icon-info-circled
      text-shadow: 0 0 2px hsl($uiHue, 100%, 20%);
      color: hsl($uiHue, 89%, 95%);
      font-size: 15px;
      margin: 0;
      padding: 0;
      position: relative;
      line-height: 0;
      top: 1px;

.esForumIntro_close_reopen
  font-weight: normal;
  font-size: 13px;

.esForumIntro_edit
  padding-left: 4px;

.dw-hide-forum-intro .esForumIntro
  display: none;

.dw-forum > .dw-help
  margin-bottom: 7px;


// Action bar
//===========================

// Fix this long error prone list later.
.esF_BB_SortBtn,
.esForum_navLink,
.esForum_catsDrop,
.esForum_filterBtn,
.esF_BB_CreateBtn
  font-size: 15px;
  margin-bottom: 7px; // place here (but not on .esF_BB) in case btns line wrap

.esF_BB_PageTitle
  display: inline-block;
  float: left;
  font-size: 17px;
  padding: 7px 5px 0;
  font-weight: bold;
  margin-right: 5px;

.esForum_catsNav
  margin-top: 20px;
  .btn
    background: hsl(0, 0%, 92%);
    padding: 7px 10px !important;
    &:hover
      background: hsl(0, 0%, 81%);

.esForum_catsNav_btn.btn
  float: left;

.esF_BB_SortBtn
  margin-left: $forumNavBtnGroupLeft !important;
  border: none !important;

.esForum_catsNav_sort
  margin-left: $forumNavBtnGroupLeft;
  &:first-child
    margin-left: 0;
  float: left;
  .btn
    background: none;
    margin-left: 0 !important;
    min-width: 50px;
    $sideWithBorder = 8px;
    $border = 1px solid hsl(0, 0%, 91%);
    padding: 7px 9px 6px !important;
    &:not(.active)
      padding: 7px $sideWithBorder 6px !important;
      border: $border;
      color: hsl(0, 0%, 28%);
      box-shadow: 0 -1px 2px hsl(0, 0%, 91%) inset;
      &:not(:first-child)
        border-left: none;
      &:hover
        background: hsl(0, 0%, 96%);
        color: hsl(0, 0%, 25%);
        border-color = hsl(0, 0%, 80%);
    &.active
      cursor: default;
      background: hsl(0, 0%, 96%);
      border-top: $border;
      border-bottom: $border;
      border-left: none;
      border-right: none;
      padding-left: $sideWithBorder + 1;
      padding-right: $sideWithBorder + 1;
      font-weight: normal;
      box-shadow: 1px 2px 5px hsl(0, 0%, 77%) inset;
      color: hsl(0, 0%, 21%);

.esForum_navLink
  float: left;
  text-decoration: underline;
  background: none !important;
  color: #333 !important;

.esForum_catsDrop
  color: hsl(0, 0%, 8%) !important;
  $bgColor = hsl(0,0%,91%);
  border: none !important;
  background: $bgColor;
  //--
  background: none;
  &.active
    box-shadow: none;
    margin-left: 2px !important;
  .caret
    position: relative;
    color: #333 !important;
    transform: scale(1.1, 1.1);
    margin-left: 2px;

.esF_BB_CreateBtn
  padding-top: 7px;
  padding-bottom: 7px;

.esF_BB_EditCat
  padding-top: 7px;

.esForum_topicsCatsHelp
  max-width: 500px !important;

.DW.DW.DW .esForum_filterBtn
  float: left;
  border: none;
  margin-left: $forumNavBtnGroupLeft;
  margin-right: $forumNavBtnGroupLeft;
  &:first-child
    margin-left: 0;

.dw-forum-actionbar
  clear: both
  padding 0 0 18px;

  .form-group
    margin-bottom: 0;

  li
    margin-left: 0

  .btn-default
    border: 1px solid #ccc;

  button
    float: right
    border: none;

  button:not(.btn-primary):not(.active)
    color: hsl(0, 0%, 13%);

  @media (max-width: 801px)
    select.form-control,
    .btn
      font-size: 14px;

    .dw-forum-actionbar .nav button
      min-width: 50px;
      padding-left: 12px;
      padding-right: 12px;

  @media (max-width: 651px)
    .dw-forum-actionbar .nav button
      min-width: 40px;
      padding-left: 8px;
      padding-right: 8px;


.esForum_sortInfo
  margin: 4px 0 1em 4px;
  color: hsl(0, 0%, 32%);
  font-style: italic;
  font-size: 14px;

$tablePaddingLeftNarrow = 4px
$tablePaddingLeftWide = 8px
$tableFontSize = 13.4px;
$tableTopicTitleFontSize = 15.3px;
$tableTopicExcerptFontSize = 14px;
$tableHeaderFontSize = 14px;


.dw-topic-list,
.forum-table
  th
    padding: 8px $tablePaddingLeftNarrow 8px;
    @media (min-width: $isWideMinWidth)
      padding: 8px $tablePaddingLeftWide 8px;
    font-weight: normal;
    font-size: $tableHeaderFontSize;
    color: hsl(0, 0%, 55%);


// Topics
//===========================

// Avoid undesired flash-of-the-wrong-topic-list before we know if the topic list included
// by the server is the one we want to show. (The server doesn't know which #/client-route
// we're using, we don't yet use real URLS, only hash fragment client side router urls.)
html.js:not(.dw-react-started) #dw-topic-list tbody
  display: none;

.s_F_CatDdInfo
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 26px;
  .icon-trash:before
    font-size: 26px;
    color: #494949;
    margin-right: 7px;
    position: relative;
    top: 2px;

// Dim topics if category deleted.
.s_F_Ts-CatDd .dw-tpc-title
  opacity: 0.61;

.s_F_Ts_T_Avs
  padding-left: 0 !important;
  padding-right: 0 !important;

th.dw-tpc-replies
  padding-left: 0;

/* COULD RESPONSIVE if forum table narrow
// Smaller distance between stats columns:
th.num
  padding-right: 3px;
*/

td.dw-tpc-activity
  white-space: normal !important;

// Why both :link and :visited needed? With just :link, a:visited's default color is used instead.
.esF_Ts_T_CName:link,
.esF_Ts_T_CName:visited,
.dw-tpc-replies,
.dw-tpc-activity
  color: hsl(0, 0%, 51%);

.dw-tpc-title
  padding: 13px 30px 5px 8px !important;

.dw-tpc-title
  a
    color: black;
  .s_F_Ts_T_Con-Para a
    color: hsl(0, 0%, 16%);
    font-weight: bold;

.s_F_Ts_T_Con
  line-height: 24px;
  // some space for highlighting the link inside on hover:
  padding-left: 6px;
  position: relative;
  left: -6px;

.s_F_Ts_T_Con-OneLine
  height: 31px;
  overflow: hidden;
  // On click, more excerpt text will be shown, by .s_F_Ts_T_Con-More just below.
  cursor: pointer;

.s_F_Ts_T_Con-More
  // Show more excerpt, because -OneLine just above was clicked.
  height: auto;
  margin-bottom: 7px;

.s_F_Ts_T_Con_B
  color: hsl(0, 0%, 60%);
  font-size: 13px;

.s_F_Ts_T_Tmbs
  max-height: 90px;
  overflow: hidden;
  margin-bottom: 5px;

.esF_TsL_T .s_F_Ts_T_Tmbs
  margin: 2px 0 8px; // some whitespace looks better in mobile view
  img
    margin: 6px 10px 7px -1px;

.s_F_Ts_T_Tmbs img
  max-width: 160px;
  max-height: 80px;
  margin: 6px 10px 7px -1px;
  opacity: 0.8;
  float: left;

.s_F_Ts-Wide .s_F_Ts_T_Con_B
  &:before
    content: '– ';
    margin: 0 2px 0 1px;

.esF_Ts_T_CName
  vertical-align: middle;
  padding: 3px 2px 2px 5px !important;  // dupl 5px left padding, see (305FF220)

.dw-topic-list
  width: 100%

  .num
    text-align: center
    min-width: 55px

  .edAvtr
    // On small screens, show fewer frequent posters.
    @media (max-width: 980px)
      &:nth-child(4)
        display: none
      margin-left: 2px; // place them closer
    @media (max-width: 870px)
      &:nth-child(3)
        display: none
    @media (max-width: 770px)
      &:nth-child(2)
        display: none
    // On even smaller screens, we don't use table layout, but instead row layout.
    // Then there's lots of space: we can show all users again.

  tbody
    tr
      border-top: 1px solid hsl(0, 0%, 89%);
      &:first-child
        border-top-color: hsl(0, 0%, 91%);
        border-top-width: 3px;

      td > .dw-help
        margin: 11px;

    tr.esForum_topics_topic
      td
        padding: 10px $tablePaddingLeftNarrow
        @media (min-width: $isWideMinWidth)
          padding: 10px $tablePaddingLeftWide
        font-size: $tableFontSize;
        &.dw-tpc-title
          font-size: $tableTopicTitleFontSize;
          .s_F_Ts_T_Con-Para
            font-size: $tableTopicTitleFontSize + 1.7;
          .dw-p-excerpt
            font-size: $tableTopicExcerptFontSize;
        a
          $leftPadding = 5px;  // dupl 5px, see (305FF220)
          padding: 3px 2px 5px $leftPadding; // makes it easier to click
          position: relative;
          left: - $leftPadding;
          &:hover
            text-decoration: none;
            background: hsl($uiHue, 100%, 97%);
            outline: 1px solid hsl($uiHue, 100%, 92%);

        &:not(.dw-tpc-title)
          white-space: nowrap;

        &.dw-tpc-title
          word-break: break-word;

        &.dw-tpc-title .icon-pin:before
          color: hsl(0, 0%, 63%);
          padding-right: 20px;
          margin-left: 0;
          vertical-align: middle;
          position: relative;
          top: -1px;

        .esF_Ts_T_CName
          display: inline-block;
          // Category names shouldn't be too long. Truncate if too long. Don't wrap to a new
          // line, because then Chrome wraps happily when not needed.
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 110px;
          max-width: 280px;
          @media (max-width: 900px)
            max-width: 230px;
          // However now the screen is narrow, and it now works okay to let Chrome wrap.
          @media (max-width: 800px)
            word-break: break-word;
            white-space: normal;

        .icon-eye-off:before
          content: '\e824';
          margin: 0 8px 0 1px;
          font-size: 16px;
          color: hsl(0, 0%, 57%);

        .icon-mail:before
          color: hsl(0, 0%, 71%);
          position: relative;
          left: -2px;
          margin-right: 6px;

        .icon-comment-empty:before
          font-size: 15px;
          margin: 0 9px 0 0;
          color: hsl(0, 0%, 65%);
          position: relative;
          top: -1px;

        .icon-chat:before
          color: hsl(0, 0%, 70%);
          font-weight: bold;
          margin: 0 9px 0 0;
          padding: 0;
          width: 17px;

        .icon-help-circled:before
          margin: 0 7px 0 0;
          color: hsl(0, 0%, 70%);
          font-size: 16px;

        .icon-sitemap:before
          color: hsl(0,0%, 71%);
          margin: 0 8px 0 0;
          position: relative;
          left: -1px;

        .dw-qa-ans-count
          font-size: 85%;
          margin-left: -5px;

        .icon-check-empty:before
          font-weight: bold;
          font-size: 105%;
          margin: 0 8px 0 0;
          position: relative;
          top: 1px;

        .icon-idea:before,
        .icon-attention-circled:before, // problems
        .icon-block:before, // closed topics
        .icon-ok-circled-empty:before, // solved questions
        .icon-check:before  // fixed todos
          color: hsl(0, 0%, 40%); // is this line in use any more?
          margin: 0 8px 0 0;

        .icon-block:before  // closed topics
          color: hsl(0, 0%, 76%);

        .icon-attention-circled:before
          color: hsl(0, 0%, 70%);
          font-size: 16px;

        .icon-idea:before
          font-size: 17px;
          color: hsl(0, 0%, 60%);
          margin-right: 3px; // there's some whitespace to the right inside the icon
          // There's some whitespace to the left, it's not a square.
          position: relative;
          left: -1px;

        .icon-check:before
        .icon-ok-circled-empty:before
          color: hsl(0, 0%, 71%);

        .icon-ok-circled-empty:before
          margin: 0 9px 0 0;
          position: relative;
          left: 1px;

        .icon-ok:before
          color: hsl(0, 0%, 78%);
          margin: 0 6px 0 0;
          position: relative;
          left: -1px;

        .icon-check:before
          color: hsl(0, 0%, 74%);
          font-size: 17px;
          position: relative;
          top: 2px;

        &.num:not(.dw-tpc-feelings, .dw-tpc-replies)
          color: hsl(0, 0%, 53%);

        .dw-p-excerpt
          color: hsl(0, 0%, 53%);
          margin: 1ex 20px 1ex 0;
          max-width: 650px;
          font-size: 100%;
          letter-spacing: -0.1px; // weird, easier to read I think
          a
            color: hsl($uiHue, 100%, 40%);
            margin-left: 6px;
            &:hover
              background: none;
              outline: none;
              text-decoration: underline;

.dw-tpc-title .icon-pin [class^=icon-]:before
  display: none; // hide topic type icon, if pin icon shown [6YK320W]

.load-more
  text-align: center
  width: 100%
  display: block
  margin: 20px 0 0
  cursor: pointer

.esForum_topics_topic-deleted
  color: hsl(0, 0%, 40%);
  crossGray();


.esForum_topics_openIconsHelp
  padding: 11px 0 10px 16px;
  display: block;
  font-size: 15px;
  color: hsl($uiHue, 100%, 39%);
  float: left;
  &.icon-info-circled:before
    opacity: 0.75;
  &:hover
    text-decoration: none;
    color: hsl($uiHue, 100%, 22%);

.esTopicIconHelp
  li
    list-style: none;
    display: inline-block;
    margin: 0 0 3px 10px;
    width: 300px;
    vertical-align: top;

  [class^=icon-]:before
    width: 20px;
    margin: 0 6px 0 0;
    padding: 0;
    font-size: 16px;
    color: #555;

  .icon-check-empty:before
    color: #222;  // or hard to see, so thin borders

  .icon-idea:before
    font-size: 18px;
    color: #333;

.esTopicIconHelp_intro
  margin-bottom: 8px;

// Avoid flash of ISO dates in activity column (e.g. 2016-09-10 23:59:59Z)
html.js:not(.dw-react-started) .dw-tpc-activity .dw-ago-ltr
  visibility: hidden;
  width: 75px;
  display: block;


// Categories tree
//===========================

.esForum_cats_cat-new
  animation: esFadeIn 2.5s 0s;
  animation-timing-function: ease-out-quad;

.s_F_Cs_C-Dd
  .forum-title,
  .topic-title
    crossGray();

@keyframes esFadeIn
  from
    opacity: 0.1;
    background: hsl($uiHue, 100%, 70%);
  to
    opacity: 1;
    background: hsl($uiHue, 0%, 100%);

.esForum_cats_cat .forum-description
  word-break: break-word;

.forum-table
  & > tbody > tr > td:first-child
    width: 45%; // or sometimes 80-90% wide

  .topic-title.icon-pin:before
    margin: 0 4px 0 0;

  .topic-title
    [class^="icon-"]:before, [class*=" icon-"]:before
      margin: 0 4px 0 0;
      font-size: 95%;

    // Don't show both pinned icon + topic type icon. [6YK320W]
    &.icon-pin [class^='icon-']:before
      display: none;

    .icon-chat:before
      opacity: 0.87;
      font-size: 16px;
      margin: 0 6px 0 0;
      padding-left: 2px;
      font-weight: bold;

    .icon-check-empty:before
      position: relative;
      top: 1px;

    .icon-pin:before,
    .icon-ok-circled-empty:before
      opacity: 0.87;

    .icon-ok-circled:before
      opacity: 0.83;
    .icon-help-circled:before,
    .icon-block:before
      opacity: 0.83;
      font-size: 105%;


.forum-table > tbody > tr > td {
  padding: 15px 5px 10px 8px; /* 8x paddin-left aligns w/ row header */
}

.forum-table .forum-title-wrap {
  font-size: 17px;
  margin: 5px 10px 9px 0;
}

.DW.DW .forum-table td {
  background: none; /* cancel Twitter Bootstrap */
}

.forum-table .topic-table-excerpt tbody,
.forum-table .topic-table-excerpt td {
  border: none;
  padding-left: 0; /* or wouldn't align with parent table header */
}

.forum-table .topic-table-excerpt {
  margin-bottom: 10px;
}

.forum-table .topic-table-excerpt .topic-details
  font-size: 12px;
  margin-left: 1.9ex;
  .icon-comment-empty
    margin-right: 1.1ex;
    position: relative;
    top: -1px;



/* --- Forum topic list --- */

.DW .dw-a-new-forum-topic {
  margin: 30px 0 13px;
  background: white;
}

.topic-table .topic-title {
  white-space: nowrap;
  font-weight: bold;
  color: hsl(0, 0%, 8%);
}

.topic-table tbody {
  /* Copied from Twitter Bootstrap */
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.topic-details {
  color: gray;
}

.topic-excerpt {
  color: #555;
  height: 68px;
  display: none;
}

.topic-list {
  margin-left: 0;
  border-top: 1px solid hsl(0, 0%, 87%);
}

.topic-list > li {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 5px;
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.topic-list > li:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.topic-list > li:hover .topic-details,
.topic-list > li:hover .topic-excerpt {
  color: #333; /* darker, since background now gray */
}

.topic-list .topic-title {
  font-family: $uiFont;
  margin: 20px 0 5px;
}

.topic-list .topic-details {
  margin-bottom: 5px;
}


// Forum in list layout (not table)
//------------------------

$numRepliesWidth = 70px; // dupl below [3WKF04]
$topicTitlePadding = 6px;
$row2PaddingBottom = 7px;

.esF_TsL_T
  list-style: none;
  margin: 0;
  padding: (12px - $topicTitlePadding) 0 6px;
  border-top: 1px solid hsl(0, 0%, 83%);

.esF_TsL_T_Title
  display: inline-block;
  width: calc(100% - 70px); // $numRepliesWidth [3WKF04] doesn't work in here, why not?
  padding-right: 15px;
  word-break: break-word;
  > a:first-child
    font-size: 16px;
    font-weight: bold;
    color: hsl(0, 0%, 15%);
    padding: $topicTitlePadding 0 7px;
    display: inline-block;
  [class^='icon-']:before
    left: -2px;
    position: relative;
    margin-right: 5px;
    opacity: 0.65;
  .icon-pin
    margin-right: 5px;
  // If a pin icon is shown already, hide topic type icon. [6YK320W]
  .icon-pin [class^=icon-]:before
    display: none;

.esF_TsL_T_NumRepls
  display: block;
  float: right;
  width: $numRepliesWidth;
  padding: $topicTitlePadding 0 0;
  text-align: right;
  .icon-comment-empty:before
    position: relative;
    top: -1px;
    right: -1px;

.esF_TsL_T
  .dw-p-excerpt,
  .s_F_Ts_T_Con_B
    display: block;
    margin: 0 0 11px;
    color: #555;
    a
      margin-left: 7px;

.esF_TsL_T_Row2
  clearfix();
  margin-top: 7px;

.esF_TsL_T_Row2_When
  float: right;
  vertical-align: middle;
  padding: 2px 3px 5px 5px; // top:2px aligns w category name, other sides make easier to click
  min-width: 35px;
  text-align: right;

.esF_TsL_T_Row2_Users
  clearfix();
  padding-bottom: $row2PaddingBottom;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.8; // otherwise avatars steal attention from topic title
  .esAvtr-tny
    margin-right: 4px;

.esF_TsL_T_Row2_Cat
  display: inline-block;
  margin: 0 4px 0 8px;
  vertical-align: middle;
  padding-bottom: $row2PaddingBottom;
  .esF_Ts_T_CName
    color: #222;

.esF_TsL_T_Row2_Cat_Expl
  color: hsl(0, 0%, 50%);
  margin-right: 1px;
  vertical-align: middle;


// vim: fdm=indent et ts=2 sw=2 fo=r list
