/*!
 * Copyright (C) 2015 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.s_NoPage body
  overflow: auto; // otherwise no y scrollbars

.s_NoPage .container
  width: 100%;  // otherwise narrower, causing the topic list preview to float drop
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px 0 20px;


#dw-non-existing-page
  h1
    margin-bottom: 35px;

  .dw-a-login,
  .s_NP_EmailAgainB
    margin: 0 5px 0 0;
    padding: 8px 15px;
    min-width: 90px;

  .do-what-options
    margin: 20px 0 35px;

    .btn
      margin-right: 10px;

.s_NoPage .radio
  margin-bottom: 7px;

.s_NP_CreateForumB
  margin: 1em 0 2em;
  padding: 1.2ex 2.2ex;
  font-weight: bold;

.s_NP_TopicsPreview
  float: left;
  max-width: 700px;
  min-height: 700px; // avoids changing page height when changing preview image
  margin-left: 30px;
  img
    box-shadow: hsl(0, 0%, 53%) 5px 5px 32px;


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
