<div ng-controller="CategoryController" ng-cloak>
  <div class="dw-forum-actionbar clearfix">
    <div class="dw-main-category-dropdown btn-group">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        {{ selectedCategories[0].name || "All Categories" }} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a ng-click="mv.changeCategory('')">All Categories</a>
        </li>
        <li ng-repeat="category in allMainCategories">
          <a ng-click="mv.changeCategory(category.slug)">{{ category.name }}</a>
        </li>
      </ul>
    </div>

    <ul class="nav nav-pills">
      <li ng-class="{active: $state.includes('latest') || $state.includes('index')}"
          title="View topics with recent posts">
        <a ui-sref="latest($stateParams)">Latest</a>
      </li>
      <li ng-class="{active: $state.includes('top')}" title="View popular topics">
        <a ui-sref="top($stateParams)">Top</a>
      </li>
      <li ng-class="{active: $state.includes('categories')}" title="View categories">
        <a ui-sref="categories">Categories</a>
      </li>
    </ul>

    <button ng-show="!$state.includes('categories')"
            ng-click="mv.createTopic()"
            class="btn btn-default">Create Topic</button>
    <button ng-show="$state.includes('categories')"
            class="btn btn-default">Create Category</button>
  </div>

  <div ui-view></div>
</div>

