
.s_Resizing,
.s_Resizor-Up
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

.s_Resizor-Up
  position: relative;
  height: 18px;
  top: -6px;
  cursor: n-resize;

