
.dw-edit-history
  width: auto;
  max-width: calc(100vw - 80px);

  .ed-revision:not(:last-of-type)
    margin-bottom: 2em;

    .dw-p-by
      margin: 0;

    pre
      background-color: hsl(0, 0%, 99%);
      border-radius: 3px;

  .modal-body
    max-height: calc(100vh - 220px);
    overflow-y: scroll;


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
