
.dw-edit-history
  width: auto;
  ins
    font-weight: bold;

  .dw-help
    margin-bottom: 1em;

  .ed-load-more-revs
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2.3em auto 0;

  max-width: calc(100vw - 80px);
  @media (min-width: 1480px)
    max-width: 1400px;

  .ed-revision
    &:not(:last-of-type)
      margin-bottom: 2em;

    .dw-p-by
      margin: 0;

    pre
      background-color: hsl(0, 0%, 99%);
      border-radius: 3px;

  .modal-body
    max-height: calc(100vh - 190px);
    overflow-y: scroll;


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
