body {
  padding: 0 30px !important;
}
h1 {
  margin-bottom: 35px;
}

.btn {
  /* Cancel Twitter Bootstrap's 14px .btn font size.
    (I use Verdana, which is a fairly large font.) */
  font-size: 13px;
  color: hsl(211, 30%, 40%);
}

.instruction-list {
  padding: 0 0 1.5em 25px;
}

#create-page-dropdown ul > li > a[disabled] {
  color: #aaa;
}

.selection-related-btns {
  min-height: 50px; /* if no buttons shown */
  margin: 5px 0;
  clear: both; /* clear any floating .help-tips */
}

.selection-related-btns > * {
  display: inline-block;
}

.selection-related-btns .dropdown form {
  padding: 15px 20px 20px;
}


/* Copied from Twitter's `.dropdown-menu a`. */
.dropdown-menu li span {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #666;
  white-space: nowrap;
  font-style: italic;
}

[ui-jq=tooltip] {
  /* Make the tag shrink to fit only the contained text,
  so the tooltip points on the text (and not on whitespace
  *after* the text, in a <tr><td> that's mostly empty.) */
  float: left;
}

/* Don't lett Debiki's other styles affect Bootstrap's tooltip text */
.tooltip {
  white-space: normal !important;
  font-size: 13px !important;
  font-weight: normal !important;
  font-style: normal !important;
}

.help-tips {
  float: left;
  padding: 1em 1.5em;
  margin: 1.3em 0 3em;
  box-shadow: 3px 3px 5px hsl(0, 0%, 53%);
  border: 1px solid lightgray;
}

#help-create-blog-article ol {
  margin: 0 0 9px 25px;
}

#page-table td.page-title {
  color: hsl(211, 35%, 30%);
}


#page-table tr.page-role-BlogArticle td {
  border-top: none;
}

#page-table tbody {
  /* Copied color from Bootstrap */
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

#page-table tr.page-role-BlogArticle td.page-title {
  padding-left: 3em;
}

#marked-path {
  display: block !important;
}
.marked-path a {
  color: hsl(211, 100%, 45%) !important;
  font-weight: bold;
}
.page-notfs {
  color: black;
  font-style: italic;
}
li {
  margin-left: 0; /* or space between Twitter Bootstrap tabs */
}

.path-message {
  color: #777 !important;
  font-style: italic;
  padding-left: 1ex;
}

#details > .tab-content {
  overflow: visible;
}

#details thead,
#details tbody {
  font-size: 13px;
}

/* The checkbox label should span the whole row (up-down not left-right). */
#details .row-selector {
  padding: 0;
}
#details table th label, #details table td label {
  margin: 0;
  padding: 8px 10px 8px 6px;
  position: relative;
  float: left; /* or fills up whole <td>, looks bad on hover (see below) */
}
#details table th label:hover, #details table td label:hover {
  cursor: pointer;
  background-color: #E5E5E5;
}

#details table td:not(.post-text) {
  white-space: nowrap; /* no line breaks in page paths */
}

#details table td.post-text {
}

#details .action-path {
  font-size: 11px;
  font-family: monospace;
  white-space: normal !important; /* sometimes very long */
  max-width: 355px;
}

#details .inline-action {
  color: red !important;
}

#details .inline-action,
#details .inline-message {
  margin-left: 1em;
}



/* vim: fdm=marker et ts=2 sw=2 tw=80 fo=tcqwn list
 */
