body {
  padding: 0 30px !important;
}
h1 {
  margin-bottom: 35px;
}

.instruction-list {
  padding: 0 0 1.5em 25px;
}

#create-page-dropdown ul > li > a[disabled] {
  color: #aaa;
}

.selection-related-btns {
  min-height: 50px; /* if no buttons shown */
  margin: 5px 0;
}

#page-tree-container ol {
  margin-top: 1.5em;
}
#page-tree-container ol > li {
  position: relative;
  list-style: none;
  margin: 0;
  padding-left: 25px; /* .path-open-close placed here */
}
#page-tree-container ol > li > label:hover {
  background-color: #E5E5E5;
}
#page-tree-container ol > li > label > input {
  opacity: 0.77; /* or they're too conspicuous */
}
#page-tree-container ol > li > label:hover {
  -background-color: #ececec;
}
#page-tree-container ol > li > label > span {
  margin-left: 5px;
}
#marked-path {
  display: block !important;
}
.marked-path a {
  color: red !important;
  font-weight: bold;
}
.page-clarification {
  font-style: italic;
}
.page-notfs {
  color: black;
  font-style: italic;
}
.page-notfs.important {
  color: red;
}
.page-info {
  padding-left: 7px;
  margin-bottom: 5px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  font-size: 11px;
  letter-spacing: 1px;
}
#page-tree-container li .actions {
  margin-top: 5px;
  visibility: hidden;
}
#page-tree-container li:hover .actions {
  visibility: visible;
}
#page-tree-container li .actions a {
  color: red;
  letter-spacing: 0;
  font-size: 12px;
}
li {
  margin-left: 0; /* or space between Twitter Bootstrap tabs */
}

#page-tree > li.open-false > .path-info {
  display: none;
}

#page-tree > li > label {
  position: absolute;
  top: -2px;
  left: -14px; /* cancel padding below */
  padding: 0px 11px 0px 14px;
  cursor: pointer;
  opacity: 0.7;
  color: hsl(211, 50%, 40%) !important;
}
#page-tree > li > label:hover {
  color: black;
  opacity: 1;
  background-color: #e5e5e5;
  text-decoration: none;
}
#page-tree > li > label > input {
  margin-left: 0; /* cancel Bootstrap */
}

.open-close-path, .path-message {
  font-family: monospace;
  white-space: nowrap; /* no line breaks in page paths */
}
.path-message {
  color: #777 !important;
  font-style: italic;
  padding-left: 1ex;
}

.open-close-path, .path-message {
  color: hsl(211, 35%, 30%) !important;
}
.open-close-path:hover {
  background-color: #eaeaea;
  /* alternatively, outline: solid #EAEAEA; */
  text-decoration: none;
}
.included-true .open-close-path {
  background-color: #eeeeee;
}
.open-close-path:hover,
.included-true .open-close-path {
  color: hsl(211, 100%, 11%) !important;
}
.included-true .open-close-path:hover {
  background-color: #dfdfdf;
}

.is-folder.open-false .open-close-path {
  font-weight: bold;
}


/* Indent nested pages and foledrs, but not the checkbox that filters in/out
 events. */
#page-tree:not(.full-paths-true) .path-depth-0 > :not(.checkbox) { padding-left:   0px }
#page-tree:not(.full-paths-true) .path-depth-1 > :not(.checkbox) { padding-left:  20px }
#page-tree:not(.full-paths-true) .path-depth-2 > :not(.checkbox) { padding-left:  40px }
#page-tree:not(.full-paths-true) .path-depth-3 > :not(.checkbox) { padding-left:  60px }
#page-tree:not(.full-paths-true) .path-depth-4 > :not(.checkbox) { padding-left:  80px }
#page-tree:not(.full-paths-true) .path-depth-5 > :not(.checkbox) { padding-left: 100px }
#page-tree:not(.full-paths-true) .path-depth-6 > :not(.checkbox) { padding-left: 120px }
#page-tree:not(.full-paths-true) .path-depth-7 > :not(.checkbox) { padding-left: 140px }
#page-tree:not(.full-paths-true) .path-depth-8 > :not(.checkbox) { padding-left: 160px }
#page-tree:not(.full-paths-true) .path-depth-9 > :not(.checkbox) { padding-left: 180px }

#details > .tab-content {
  overflow: visible;
}

#details thead,
#details tbody {
  font-size: 13px;
}

/* The checkbox label should span the whole row (up-down not left-right). */
#details .row-selector {
  padding: 0;
}
#details table th label, #details table td label {
  margin: 0;
  padding: 8px 10px 8px 6px;
  position: relative;
  float: left; /* or fills up whole <td>, looks bad on hover (see below) */
}
#details table th label:hover, #details table td label:hover {
  cursor: pointer;
  background-color: #E5E5E5;
}

#details table td:not(.post-text) {
  white-space: nowrap; /* no line breaks in page paths */
}

#details table td.post-text {
}

#details .action-path {
  font-size: 11px;
  font-family: monospace;
  white-space: normal !important; /* sometimes very long */
  max-width: 355px;
}

#details .inline-action {
  color: red !important;
}

#details .inline-action,
#details .inline-message {
  margin-left: 1em;
}

/* vim: fdm=marker et ts=2 sw=2 tw=80 fo=tcqwn list
 */
