// For right-to-left languages, like Arabic, Hebrew, Kurdish, Urdu.
//
// The gulpfile removes __RTL_LEFT_IS_RIGHT__ — we insert it here,
// to stop Stylus from applying both e.g. margin-right() and then
// margin-left() on the result — which would undo margin-right().

// TODO:
// border
// border-left
// border-right
// border-top-left-radius  & right ?
// border-bottom-left-radius  & right ?
// border-left-width:
// border-left-color:
// box-shadow

// But skip:
// transition:   ... left ...   — doesn't really matter?
// background-image:   something( ... left ...)


float(how, important = null)
  if how == left
    float__RTL_LEFT_IS_RIGHT__: right important;
  else if how == right
    float__RTL_LEFT_IS_RIGHT__: left important;
  else
    float__RTL_LEFT_IS_RIGHT__: arguments;


clear(how, important = null)
  if how == left
    clear__RTL_LEFT_IS_RIGHT__: right important;
  else if how == right
    clear__RTL_LEFT_IS_RIGHT__: left important;
  else
    clear__RTL_LEFT_IS_RIGHT__: arguments;


text-align(how, important = null)
  if how == left
    text-align__RTL_LEFT_IS_RIGHT__: right important;
  else if how == right
    text-align__RTL_LEFT_IS_RIGHT__: left important;
  else
    text-align__RTL_LEFT_IS_RIGHT__: arguments;


right()
  left__RTL_LEFT_IS_RIGHT__: arguments;

left()
  right__RTL_LEFT_IS_RIGHT__: arguments;
  

margin-right()
  margin-left__RTL_LEFT_IS_RIGHT__: arguments;

margin-left()
  margin-right__RTL_LEFT_IS_RIGHT__: arguments;


padding-right()
  padding-left__RTL_LEFT_IS_RIGHT__: arguments;

padding-left()
  padding-right__RTL_LEFT_IS_RIGHT__: arguments;


margin(top, right = null, bottom = null, left = null, important = null)
  if important != null
    margin__RTL_LEFT_IS_RIGHT__: top left bottom right important;
  else if left != null && left != !important
    margin__RTL_LEFT_IS_RIGHT__: top left bottom right;
  else
    margin__RTL_LEFT_IS_RIGHT__: arguments;


// Todo:  !important  ?
padding(top, right = null, bottom = null, left = null)
  if left != null
    padding__RTL_LEFT_IS_RIGHT__: top left bottom right;  // flip left and right
  else if bottom != null
    padding__RTL_LEFT_IS_RIGHT__: top right bottom;
  else if right != null
    padding__RTL_LEFT_IS_RIGHT__: top right;
  else
    padding__RTL_LEFT_IS_RIGHT__: top;

  