
// Flip some icons left-to-right.
.dw-arw,
.icon-wrench::before,
.icon-reply::before,
.icon-right-open:before,
.icon-left-open:before
  transform: scaleX(-1);

.esTopbar_ancestors > li:not(:last-child)::after
  content: "←" !important;

p, li, span, div, a, button, table
  direction: rtl;


.dw-p-hd
  display: flex;
  flex-direction: row;  // ? not  row-reverse ??


.dw-p-as.dw-as.esPA
    display: flex;
    flex-direction: row-reverse;
