@(siteAddress: String, url: String, member: com.debiki.core.User, expiresInMinutes: Int)

@import org.owasp.encoder.Encode

@* Sync with Bash script extracting the admin's name and the url [ADMLOGINEML]
in the talkyard-prod-one repo. The script is useful if email not yet configured.  *@
<div>
<p>Hi @{member.nameOrUsername},</p>

<p>
To login at <tt>@siteAddress</tt>, as <tt>@@@{member.username}</tt>, please follow
<a href="@Html(Encode.forUri(url))">
  this link</a>.
It expires in @expiresInMinutes minutes, and works just once.
</p>

<p>Kind regards.</p>
</div>

