/*!
 * Copyright (C) 2010-2014 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.dw-depth-1 .dw-t
  padding-left: 0
  border-top: none

.DW.DW .dw-res
  margin: 0
  padding: 0 // if no CSS reset included
  line-height: normal // or PNG arrows and [-] offset incorrectly

.DW.DW .dw-res > li
  list-style-type: none

.DW.dw-vt .dw-t,
.DW.dw-hz .dw-ar-t
  max-width: 800px
  width: 100%

.dw-t
  // SVG graphics is absolute positioned relative thread
  position: relative

.dw-depth-0.dw-t
  // Without this, SVG arrows are cropped a bit to the right. Why? [8DbF3]
  float: left



// Horizontal layout
//===========================


.dw-hz > .dw-res
  display: table-row

.dw-hz > .dw-res > li
  display: table-cell
  padding: 22px 0 10px 59px
  // Don't let the Reply form push other <li>s down, would offset PNG arrows incorrectly.
  vertical-align: top


.DW.dw-hz
  color: black

  .dw-depth-1
    // Avoids > 1 column with replies for this depth. However, width
    // adjusted by JS function d.i.layoutThreads() anyway.
    width: 25em

  // Empty space between a post and its replies, where arrows are drawn.
  .dw-t-vspace
    height: 84px
    position: relative

  .dw-t.dw-hz > .dw-res > li
    padding-left: 60px
    margin: 0

    &.dw-p-as-hz-reply
      padding-left: 0
      padding-right: 57px

  .dw-t:not(.dw-hz) > .dw-res > li
    padding-left: 40px
    margin: 0

    &:last-child
      padding-left: 0

  // Add an extra border above not-the-first sibling thread,
  // so it's easier to see where they start and end (since I don't
  // always indent).
  // But don't do this for the depth-1 threads since they're placed
  // in obvious columns anyway.
  .dw-t:not(.dw-depth-0) > .dw-res > li:not(:first-child):not(:last-child)
    > .dw-t > .dw-p,
    > .dw-p
      border-top: 1px solid hsl(0, 0%, 70%)


// Draw dashed line between horizontal threads, on hower.
.DW.DW .dw-hz > .dw-res > li > .dw-t > .ui-resizable-e
  border-right: 1px dashed transparent

.DW.DW .dw-hz > .dw-res > li:hover > .dw-t > .ui-resizable-e
  border-right-color: lightgray



// Vertical layout
//===========================

.DW.dw-vt

  .dw-res > li
    padding-left: 50px
    margin: 0

  // Avoid unnecessary indentation: Don't indent the last reply.
  // (We use arrowse instead to draw relationships.)
  // But do indent all replies to article replies, because article
  // replies are stacked on top of each other, so we need to
  // indent their replies.
  .dw-t:not(.dw-depth-1) > .dw-res > li:last-child
    padding-left: 0

  .dw-t.dw-depth-0 > .dw-res > li
    padding-left 0

  // Add an extra border above not-the-first sibling thread,
  // so it's easier to see where they start and end (since I don't
  // always indent).
  .dw-t > .dw-res > li:not(:first-child):not(:last-child)
    > .dw-t > .dw-p,
    > .dw-p
      border-top: 1px solid hsl(0, 0%, 70%)

.dw-t:not(.dw-hz) > .dw-t-vspace
  display: none



// Closed threads
//===========================

.dw-t-closed > .dw-p
  margin-bottom: 30px
  padding-bottom: 33px

.dw-t-closed:not(.dw-depth-1) > .dw-p
  margin-bottom: 0px
  padding-bottom: 18px

.dw-t-closed > .dw-p > h3,
.dw-t-closed > .dw-p > h4
  margin: 0
  padding: 0



// vim: fdm=marker et ts=2 sw=2 tw=100 fo=tcqwn list
