/*!
 * Copyright (C) 2010-2013 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

// Styles specific to Debiki's Play Framework application.



// Standard tags
//===========================


// ------ Standard elems

ins
  text-decoration: none
  background: #9f9

del
  text-decoration: line-through
  background: #ffd0d0

// Use larger font when editing page title.
.dw-pri .dw-p-ttl > .dw-f-e textarea
  font-size: 26px

.dw-ar-p
  padding-bottom: 0.8em



// Page rendering
//===========================


// Page title
//---------------------------


#dw-t-0    // the page title post has id 0
  // Don't float title, or body will appear to the right of the title,
  // rather than below it.
  // There're no SVG arrows that can be cropped, see above, [8DbF3].
  float: none
  // Left align the title.
  margin-left: 0



// Cropped and resized posts
//---------------------------


.dw-p.dw-x
  cursor: pointer;
  // Make things in the header clickable in spite of .dw-x-cover.
  > .dw-p-hd
    z-index: 2;
    position: relative;

.dw-x-show
  position: relative;
  bottom: 10px;
  padding: 0 0 8px 3px;  // padding-top hides parts of any <p> above
  margin-top: 7px;
  font-style: italic;
  letter-spacing: 0.3ex;
  background: #fff;
  color: hsl(211, 20%, 50%);

.dw-ts-squashed
  .dw-x-show
    bottom: 0;
    padding: 10px 0 17px 5px;
    display: block;
    margin: -8px 0 8px;
    z-index: 1;
    float: left;
    color: hsl(0, 0%, 53%);
    &:hover
      background-color: hsl(210, 100%, 97%);
      color: hsl(210, 100%, 33%);
      text-decoration: none;

  &.dw-2dcol > .dw-x-show
    color: hsl(0, 0%, 20%);

.dw-p.dw-x:hover
  .dw-p-hd
    background-color: hsl(20, 100%, 94%)

  .dw-p-bd
    background-color: hsl(20, 100%, 97%);

  .dw-x-show
    background-color: hsl(20, 100%, 93%);
    color: #363636

.dw-x-cover
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;


// Unwanted posts
//---------------------------

// Dim the post and draw a X over it, darker if there are many Unwanted votes.
.dw-p.dw-unwanted

  // Sync the number of steps with JS in client/app/renderer/pots.ts. [4KEF28]
  &.dw-unwanted-1 > .dw-p-bd
    opacity: 0.80;
  &.dw-unwanted-2 > .dw-p-bd
    opacity: 0.72;
  &.dw-unwanted-3 > .dw-p-bd
    opacity: 0.65;
  &.dw-unwanted-4 > .dw-p-bd
    opacity: 0.60;
  &.dw-unwanted-5 > .dw-p-bd
    opacity: 0.55;
  &.dw-unwanted-6 > .dw-p-bd
    opacity: 0.50;
  &.dw-unwanted-max > .dw-p-bd
    opacity: 0.45;

  &.dw-unwanted-1 > .dw-unwanted-cross,
  &.dw-unwanted-2 > .dw-unwanted-cross
    opacity: 0.25;
  &.dw-unwanted-3 > .dw-unwanted-cross,
  &.dw-unwanted-4 > .dw-unwanted-cross
    opacity: 0.37;
  &.dw-unwanted-5 > .dw-unwanted-cross,
  &.dw-unwanted-max > .dw-unwanted-cross
    opacity: 0.7;

  // Draw an X.
  & > .dw-unwanted-cross
    pointer-events: none; // doesn't work in IE9 and 10...
    display: none;        // ... so hide for now, wait a year?
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='1'/></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    // Leave 20px at the bottom because the action button overlaps the lower parts of the post.
    background-size: 100% calc(100% - 20px), auto;


// Comments
//---------------------------

// Show the whole article (or <pre>s with very long lines
// might be cropped).
.dw-ar-p
  overflow: visible

// Don't pad the root post and titles (titles are already indented since
// they're placed inside another post already).
.DW.DW
  .dw-ar-p-hd,
  .dw-depth-0 > .dw-p > .dw-p-bd,
  .dw-p-ttl,
  .dw-p-ttl > .dw-p-bd
    margin-left: 0
    padding-left: 0

h1.dw-p-ttl
  display: inline-block; // so edit-title icon won't drop to the next line

  &.icon-pin:before
    font-size: 82%;
    color: hsl(0, 0%, 47%);
    margin: 0 9px 0 0;

  // Question and to-do icons.
  [class^="icon-"]:before,
  [class*=" icon-"]:before
    margin: 0 8px 0 0;
    position: relative;
    top: 2px;

  .icon-help-circled:before
    color: hsl(0, 0%, 55%);
    font-size: 95%;
    top: 1px;

  .icon-ok-circled-empty:before
    font-size: 90%;
    position: static;

  .icon-idea:before
    font-size: 94%;
    position: relative;
    top: -2px;

  .icon-attention-circled
    font-size: 95%;
    margin-right: 2px;
    position: relative;
    top: -2px;

  .icon-cancel-circled-empty:before
    top: -1px !important;
    font-size: 80%;
    color: hsl(0, 0%, 47%);

  .icon-check
    color: #555;

  .icon-check-empty:before
    left: -2px;  // there's some whitespace to the left inside the icon itself

  // The done/not-done checkbox, if it's clickable (it is for staff and topic author).
  .dw-clickable[class^=icon-]
    &:before
      color: hsl(210, 51%, 45%);
      text-decoration: none;
    &:hover:before
      outline: 2px solid hsl(210, 100%, 90%);
      background-color: hsl(210, 100%, 96%);
      cursor: pointer;

  .dw-forum-intro-show
    margin-left: 10px;
    text-decoration: none;
    position: relative;
    top: -1px;
    font-size: 93%;
    color: hsl(211, 0%, 55%);
    // text-shadow doesn't work in IE9 though, and we don't support it.
    text-shadow: 0px 0px 5px #666;
    color: white;

  .dw-a-edit
    position: absolute; // so it won't push the stuff below downwards
    bottom: 0;
    float: none;
    font-size: 20px;
    margin-left: 8px;
    opacity: 0.83;
    &:before
      top: -2px;

.dw-forum .dw-p-ttl .dw-a-edit
  // A forum title has some margin/paddin-bottom, so unset bottom: 0.
  bottom: auto;
  padding-top: 2px;

.dw-solved-by
  float: left;
  margin-top: 15px;
  font-weight: bold;
  z-index: 1;
  position: relative;

.dw-p-unapproved > .dw-p-hd,
.dw-p-dl > .dw-p-hd
  font-style: italic
  background-color: transparent

.dw-p-unapproved > .dw-p-hd
  margin-bottom: 24px

.dw-p-dl > .dw-p-hd
  margin-bottom: 8px

// If a deleted comment is shown, then there're non-deleted children, so make some
// space for the arrow to the non-deleted children.
.dw-p-dl + .dw-p-as
  min-height: 42px;

.dw-p:not(.dw-p-flat) > .dw-rrs // reply receivers
  font-style: italic;
  color: hsl(0, 0%, 41%);

.DW .dw-rr // reply receiver
  padding: 7px 0 6px 5px
  display: inline-block;
  font-weight: bold;
  color: hsl(0, 0%, 28%);

// Make it easier to touch.
html:not(.mouse) .dw-rr
  padding: 15px 0 16px 6px;
  margin-top: -6px;

// ... but don't push the .dw-p-bd text away:
.dw-p-flat .dw-rr
  padding-bottom: 0;

.dw-wrong
  font-style: italic;
  font-size: 90%;
  margin-bottom: 5px;
  &:before
    color: #999 // gray warning icon instead of black
  &.dw-very-wrong
    font-size: 100%;


// Users with links to more info, e.g. website or blog
.dw-pri a.dw-p-by,
.dw-pri a.dw-p-e-by
  color: hsl(0, 0%, 20%);
  font-size: 13px;
  font-weight: bold

// Users with no links to more info
span.dw-p-by,
span.dw-p-e-by
  color: #555
  font-weight: bold

.DW .dw-p-by .dw-fullname
  font-weight: normal;

.dw-p-by.dw-suspended
  text-decoration: line-through;

// Make authorship info easy to read
:not(.dw-p-hd-e) > .dw-p-by
  margin-right: 0.9ex

.dw-lg-t-spl
  font-weight: normal;
  font-size: 90%
  padding-left: 2px
  padding-right: 2px

// Toggle collapsed
.dw-a-clps.icon-up-open,
.dw-a-clps.icon-down-open,
.dw-a-clps.icon-left-open
.dw-a-clps.icon-right-open
  float: right;
  padding: 0 5px;
  font-size: 11px;
  color: hsl(210, 0%, 68%);
  cursor: pointer;
  // COULD start using Stylus + Nib?
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

.dw-a-clps.icon-left-open,
.dw-a-clps.icon-right-open
  padding-top: 1px;

.dw-a-clps:hover
  background: hsl(210, 100%, 99%);
  outline: 2px solid hsl(209, 100%, 86%);

.dw-2dcol.dw-zd > .dw-p .dw-a-clps
  float: none;
  padding-top: 2px;
  display: inline-block;

.dw-p.dw-wiki > .dw-a-clps
  position: absolute;
  right: 0;
  top: 0;

.dw-p.dw-wiki:hover > .dw-a-clps
  z-index: 1;
  opacity: 0.8;


// Permalinks
.dw-p-link
  float: right
  font-family: monospace
  // Don't add top/bottom padding, that causes text below to wrap too early.
  // Instead, set `top: 1px`.
  padding: 0 3px 0 5px
  position: relative
  top: 1px

// For the *article* itself, make author and post date info less conspicuous,
// or it steals attention from the page title. (But don't do this for any root
// post, only for the article.)
.DW .dw-ar-p-hd
  border: none
  background-color: transparent
  opacity: 0.78
  font-size: 13px;
  margin: 6px 0 0;

.dw-ar-p-hd:hover
  opacity: 1

.DW .dw-ar-p-hd > .dw-p-by
  color: hsl(0, 0%, 10%);

// Un-indent any root post, by hiding the collapse button.
// (Why would one want to hide the root post?)
.dw-depth-0 > .dw-z
  display: none

.DW.DW .dw-depth-0 > .dw-p
  margin-left: 0
  //float: left; // or the header will be as wide as the root thread
  //                fix the header instead? I need to fix it anayway

:not(.dw-hz) > .dw-p > .dw-p-bd > .dw-p-bd-blk
  // Cancel .dw-p-bd 3px padding-left:, because the .dw-p-bd-blk is
  // 100% wide though, and without padding-right, text might be cropped.
  padding-right: 3px

// Cancel .dw-p-bd-blk max width for code pages.
[data-page_role='Code'] .dw-hz > .dw-p > .dw-p-bd > .dw-p-bd-blk,
[data-page_role='Code'] .dw-hz > .dw-p > .dw-f-e > .dw-e-tabs > .dw-e-tab > .dw-p-bd-blk,
  max-width: none

// Cancel Twitter Bootsrap wrapping of <pre>
.dw-hz > .dw-p > .dw-p-bd > .dw-p-bd-blk > pre
  white-space: pre
  word-wrap: normal

// Don't place the body too close to the title. But cannot add margin to the
// title — that'd push away the .dw-p-hd away. So add to the -bd instead.
// <h2> should have a fairly large margin-top (because it's a h2), so skip it.
// — The reason all this is needed is that the elems
// float:left, which makes margins add to each other, instead of overlapping
// each other. I should rewrite, and try to avoid float:left? [8DbF3]
// (skip old IE)
// [8K3U5]
.dw-ar-t > .dw-p > .dw-p-bd > .dw-p-bd-blk > :first-child:not(h2)
  margin-top: 26px


.dw-p-bd-blk
  margin: 0
  float: left
  clear: left
  width: 100%

// No margin-top for any title at the top in a comment.
:not(.dw-ar-p-bd) > .dw-p-bd-blk:first-child
  > h1:not(.dw-p-ttl),
  > h2, > h3, > h4, > h5, > h6
    &:first-child
      margin-top: 0;
      padding-top: 0;

.dw-p.dw-wiki
  .dw-p-bd-blk:first-child
    // There's no head so move the body up a bit.
    margin-top: -6px


// Post info
//---------------------------


.dw-p-pending-mod
  margin-bottom: 5px
  font-style: italic
  font-weight: bold

.dw-p-hd .dw-p-at
  // javascript shows e.g. '7 days ago' instead of the .dw-p-at ISO dates.
  // Hiding the dates with jQuery.hide() at page loat time takes long,
  // so better hide here. COULD use another stylesheet if javascript disabled.
  display: none

//.dw-p-flgs-top,
//.dw-p-rs-top

.dw-p-hd .dw-p-by-me,
  font-weight: bold
  color: #151515

.dw-p-flgs-all,
.dw-p-r-all
  display: none // shown on .dw-p-hd click

.dw-flgs,
.dw-flgs li,
.dw-rs,
.dw-rs li
  display: inline

.dw-flgs li,
.dw-rs li
  margin-left: 0.5ex


.dw-p-hd
  abbr
    border-color: #999

.dw-p-hd
  .dw-p-pin
    float: right
    font-size: 15px
    cursor: move
    opacity: 0.76



// Dragsorting
//===========================

// A <div> with this class is appended to an element that's being dragsorted,
// so it's totally obvious what is being dragsorted.
.dw-dragsort-shadow
  position: absolute
  width: 100%
  height: 100%
  z-index: 10
  background: hsl(0, 0%, 50%)
  top: 0
  opacity: 0.3

  // When dragsorting pinned posts:
  &.dw-dragsort-pin-vt
    // There's some whitespace below where the actions are shown. Looks better if
    // the shadow doesn't cover all that whitespace, but instead extends a bit above
    // the tree.
    top: -20px



// Miscellaneous
//===========================


.dw-mirror
  -webkit-transform: scale(-1, 1)
  -moz-transform: scale(-1, 1)
  -ms-transform: scale(-1, 1)
  -o-transform: scale(-1, 1)
  transform: scale(-1, 1)


// The Stupid Lightbox enlarges images in posts on click, so indicate that they're clickable.
.dw-p-bd img.stupid-lightbox-enlargeable:hover
  outline: 2px solid hsl(210, 100%, 83%);
  cursor: pointer;
  cursor: zoom-in; // better, if supported
  box-shadow: hsl(210, 70%, 60%) 2px 2px 13px !important;

.stupid-lightbox-wrap
  cursor: zoom-out;


// SVG
//===========================


#dw-t-root
  overflow: hidden // hides the excessively wide <svg> elems, see above

.dw-flip-hz
  -moz-transform: scaleX(-1)
  -o-transform: scaleX(-1)
  -webkit-transform: scaleX(-1)
  transform: scaleX(-1)
  filter: FlipH
  -ms-filter: "FlipH"



// Public API
//===========================

.debiki-0-reply-button-text
  display: none

img.debiki-0-inline
  display: inline
  margin: 0
  width: auto



// Things to move to app/views/themesbuiltin/default20121009/-somewhere-
//===========================

.dw-about-category

  .dw-about-cat-ttl-prfx
    margin-top: 45px !important  // why did I add 'important' to h2?
    margin-bottom: 10px;
    font-style: italic
    clear: both; // if there's a float-left help box above

  .dw-p-ttl
    margin-top: 0

#forum-search
  float: right
  z-index: 1
  position: relative

#forum-search input[type='text']
  width: 180px

#forum-search input[type='text']:focus
  width: 320px

//.search-result-page-title

.search-result-post-text a
  color: black !important



// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
