/*!
 * Copyright (C) 2010-2013 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

// Styles that could be reused if building something for Node.js or WordPress.



// Page and threads
//===========================


.dw-debate
  position: relative

.dw-page a
  cursor: pointer



// Folded things
//===========================


.DW .dw-z
  // Could use blue (#369) to indicate they're clickable, but don't — I guess
  // it's more important that they don't grab any attention, than that
  // people notice that they can close threads.
  color: #777
  font-size: 13px
  font-family: open sans, sans-serif;
  text-decoration: none
  z-index: 3 // place above PNG arrow hiders
  left: 2px
  top: -1px

.DW .dw-z:hover
  color: #c77405

.dw-z:hover:before
  background: hsl(34, 95%, 89%)

// Show a collapse-thread symbol in (before) the .dw-z <div>.

// For now, only show collapse "button" for whole columns,
// because they're so ugly, and don't work on mobile anyway. I'll
// have to figure something else out later.
//  — No, skip them completely for now, since I've not implemented folding
// of columns anyway.
/*
.dw-t.dw-depth-1 > .dw-z:before {
  // ↕ is "Up down arrow", 8597,
  //There's also: ↥ "Upwards arrow from bar",
  //http://shapecatcher.com/unicode/info/8613, but that's the wrong
  //direction (sometimes)
  content: "↕";
  background: white;
  // Align with uncollapsed replies: 16 + 8 = 24, looks ok
  display: inline-block;
  width: 16px;
  margin-right: 8px;
}
*/

.dw-p .dw-z:before
  // Show no collapse-thread symbol inside *posts* however.
  content: none



// Folded threads, .dw-t
//---------------------------

.dw-t > .dw-z
  position: absolute !important // or set to relative by :not(svg) [31Ik53]

.dw-zd.dw-t
  // instead of .dw-t's 8px, otherwise harder to understand
  // that it replies to the comment jus above.
  margin-top: 0px

.dw-zd.dw-2dcol
  // width: 40px !important;
  padding-right: 10px !important;

.dw-t.dw-zd .resizable-handle
  display: none;


// Folded replies
//---------------------------

.dw-res.dw-zd > li
  margin: 0 0 0 14px

.dw-zd.dw-res
  padding-top: 0 !important // place closer to the comment they reply to


// Folded comments
//---------------------------

// Search for '.dw-p.dw-zd' in this file.




// Posts
//===========================


.dw-p
  background-color: white
  position: relative;

.dw-p-hd,
.dw-p.dw-zd  // folded comment
  padding-left: 3px
  font-size: 11px
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 97%);
  border: 1px solid hsl(0, 0%, 90%)
  border-left: none
  border-right: none
  line-height: 15px // or test w 120%

.dw-p.dw-zd  // folded comment
  margin-bottom: 25px;
  cursor: pointer;

.dw-vt .dw-p-hd,
  // Make the border darker
  border: 1px solid hsl(0, 0%, 80%)
  border-left: none
  border-right: none

// Threads are wider in vertical layout, so the headers are much larger.
// Therefore make their backgrounds brighter. ?? What ?? 96% is darker than 97%. Looks ok anyway.
.DW.dw-vt
  .dw-p-hd,
  .dw-p.dw-zd
    background-color: hsl(0, 0%, 96%)

  .dw-ar-p-hd
    background-color: transparent

.dw-p-bd,
.dw-p-diff // COULD place -bd on -diff too, remove this -diff row?
  padding: 6px 1px 0 3px // 3px aligns w .dw-p-hd (also padded left 3px)
  position: relative
  background-color: white
  min-width: 5em

// Place debug-reading-progress outline above the .dw-p.
.dw-p-hd
  z-index: 1;
  position: relative;


// Marks
//---------------------------

.dw-p-mark-click
  padding: 7px 0px 7px 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover
    outline: 2px solid hsl(210, 100%, 77%);
    background: hsl(210, 100%, 97%);

html.touch .dw-p-mark-click
  padding: 9px 5px 9px 5px;

  &:hover
    outline: none;
    background: none;

.dw-p-mark
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin: 0 8px 0 0;
  background: transparent;
  color: hsl(0, 0%, 72%);
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;

.dw-p-unread .dw-p-mark
  color: hsl(0, 0%, 33%);

.dw-p-mark-read .dw-p-mark
  color: hsl(0, 0%, 50%);

.dw-p-mark-blue-star .dw-p-mark
  color: hsl(210, 100%, 50%);

.dw-p-mark-yellow-star .dw-p-mark
  padding: 0 2px 0 1px;
  font-size: 11px;
  text-shadow: -1px -1px 1px red, 1px -1px 1px red, -1px 1px 1px red, 1px 1px 1px red;
  color: yellow;


// Highlighted posts
//---------------------------

.dw-p.dw-highlighted-multireply-hover
    outline: hsl(211, 100%, 77%) solid 5px; // duplicated style [FK209EIZ]




// Miscellaneous
//===========================


/* --- Clearfix --- */

// A child, the root thread .dw-depth-0, floats left.
.debiki.dw-debate:after,
// Makes the root post wrap its (floating) children, don't know if
// needed for other horizontal threads.
.dw-t.dw-hz > .dw-p:after,
// Wraps any floating reply or rate form (Debiki's or some other framework's,
// e.g. WordPress' reply form). Unless the .dw-t wraps it, PNG arrow hiders
// won't hide PNG arrows correctly (because the .dw-t and thus the arrow
// hiders wouldn't be tall enough, if it didn't wrap floating children).
.dw-t:after,
// Its children, .dw-p-bd-blk:s, float left.
.dw-p-bd:after,
// Comment actions
.dw-p-as:after
  // Copied from jquery-ui-1.8.16.custom.css.
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
