.s_NoInetM  // [NOINETMSG]
  display: none;
  margin: 5px 5px 0;
  padding: 5px 10px 4px;
  color: hsl(0, 100%, 18%);
  background: hsl(45, 85%, 85%);
  font-weight: bold;

html.s_NoInet .s_NoInetM
  display: inline-block;
