.s_NoInetM  // [NOINETMSG]
  display: none;
  margin: 5px 5px 0;
  padding: 5px 10px 4px;
  font-weight: bold;
  color: $errorColor;
  background: $errorBackground;

html.s_NoInet .s_NoInetM
  display: inline-block;
