/*!
 * Copyright (C) 2010-2013 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


// Forms
//===========================


.dw-fs
  margin: 10px 0 20px 5px // 5px, like .dw-t
  position: relative // e.g. 'Submitting ...' with position: absolute inside

.dw-f
  position: relative // shouldn't use both .dw-fs and .dw-f though!

.dw-fs form
  z-index: 1030 // place above column resize handle...
  //              ... hmm but it has z-index: 1 only [0QKxg2]
  position: relative
  padding: 1em
  margin-left: 10px // move away from any vertical arrow
  // My Firifox 3.6 draws outlines very incorrectly for the Rating form,
  // (but correctly for Reply and Edit), use borders instead.
  // outline: #83c5df solid thick;

.dw-fs small
  font-size: 70%

.dw-fs form label
  margin-top: 1ex
  display: inline-block // or margin has no effect

.dw-f textarea,
.dw-fs textarea // COULD use only dw-f not -fs
  display: block // This also ditches any descender space...
  // ...The descender space below the textarea would otherwise cause
  // overflow — a terrible vertical scrollbar would appear, in those
  // cases where I've attempted to fit it exactly inside its parent.

.dw-fs input[type='checkbox']
  display: inline

.DW .dw-page form input[type='text'],
.DW .dw-page form textarea
  font-family: open sans, sans-serif; // the font .dw-post .dw-text uses
  margin-top: 0.7em

.dw-pri form textarea
  width: 100%
  resize: none // disable Chrome's default-resizable (and
  //              make the accordion resizable instead)
  padding-right: 0px  // else 97% (above) often too large, so...
  padding-bottom: 0px // ...scrollbars appear
  border-color: #aaa // default black is too sharp

// CodeMirror problem fix — don't change the height of CodeMirror's
// internal <textarea>, or CodeMirror won't work (it'll ignore most
// key presses)
.CodeMirror textarea
  height: auto !important

// The default seems to be 10px wich is almost unreadable.
.CodeMirror
  font-size: 13px

// Make CodeMirror auto-resize its height.
// (Works also without .dw-prio -- although CodeMirror specifies 300px
// *later*. Weird.)
.DW .CodeMirror
  height: auto
  // overflow-y: hidden;
  // overflow-x: auto;
  // width: 100%;

// Show tabs.
.cm-tab:after
  content: "\21e5"
  display: inline-block
  width: 0px
  position: relative
  overflow: visible
  left: -1.4em
  color: #aaa

.dw-name-or-alias
  float: left // COULD avoid floating everything?
  clear: both
  margin-top: 1.8em

.dw-submit-set
  float: right
  clear: both
  margin-top: 1.3em



// Pin comment
//===========================


#dw-f-pin-pos
  input[name="position"]
    width: 3em
    text-align: right


// Edit form
//===========================

// (Some properties defined elsewhere, search for dw-e-tab.)

// Place navigation tabs below the tab contents:
.tab-content.dw-nav-tabs-below

.nav.nav-tabs.dw-nav-tabs-below
  border-bottom: none
  margin-top: -2px

.nav-tabs.dw-nav-tabs-below > li
  margin-left: 1em

.nav-tabs.dw-nav-tabs-below > li:first-child
  margin-left: 0

.nav-tabs.dw-nav-tabs-below > li.active > a
  border-top: 2px solid hsl(0, 100%, 100%)
  border-bottom-color: hsl(0, 0%, 87%)  // Bootstrap's default border color [introduceVariable]
  border-radius: 0 0 5px 5px


.dw-f-e-help-show
  color: hsl(211, 85%, 35%)
  float: left

.dw-f-e-help-text
  display: none
  box-shadow: 3px 3px hsl(0, 0%, 50%)
  background-color: #fcfcfc
  border: 1px solid hsl(0, 0%, 50%)
  padding: 3px 15px
  margin: 5px 0 10px 3px
  float: left // or wills whole screen
  clear: both

// Hide help text for comments; show only for page body.
:not(.dw-hz) > .dw-p > .dw-f-e .dw-f-e-help-show
  display: none

.dw-pri .dw-f-e .dw-e-tab
  border: 1px solid #bbb
  overflow: auto
  padding: 0

// ... the textarea is outlined on :focus — add paddding so outline visible.
.dw-pri .dw-f-e .dw-e-tab-edit
  padding: 1px

// ... change padding for root post preview // and fix a bug
.dw-depth-0 > .dw-p > .dw-f-e .dw-e-tab-prvw
  padding: 1em

// ... for other previews, place some padding on the -bd-blk (!)
// not the -e-tab-prvw, because otherwise the panel becomes too wide
// and its right part is cut of by the parent thread (which has
// visibility:hidden) — some jQuery UI weird internal stuff?
.dw-e-tab-prvw > .dw-p-bd-blk
  padding: 1ex  // don't place directly on the .dw-e-tab-prvw

.dw-p-diff
  line-height: normal // or becomes 120% so -diff lines lines overlap

.dw-pri .dw-f-e .dw-e-tab-edit textarea
  height: 100%
  margin: 0
  padding: 0
  border: none // would cause overflow, scrollbars would appear in tab panel
  outline-offset: 0px // Chrome defualts to -2px

// Remove margin & padding between title in tab pane and the top/bottom of the tab pane...
.dw-e-tab .dw-p-bd-blk h1
  margin: 0
  padding: 0

// ...Place the margin here instead.
.dw-p-ttl > .dw-f-e
  margin-top: 45px

// Indicate focus.
.dw-pri .dw-f-e .dw-e-tab-edit textarea:focus
  outline: 1px solid #91cdff // the .dw-keyrecvr color

// Indicate keyboard shortcut target.
.dw-pri.dw-pri .dw-keyrecvr .dw-e-tab
  border: 1px solid #91cdff

.dw-f-e-inf-save,
.dw-f-e .dw-f-e-sugg-info // COULD rename to .dw-f-e-inf-sg?
  margin-top: 1em
  padding: 6px
  max-width: 32em
  float: left // or margin-top has no effect
  clear: both
  background-color: #FFEFC6

.dw-f-e-inf-save,
.dw-f-e .dw-f-e-sugg-info > strong
  color: green
  font-weight: bold

.dw-f-e-inf-save
  display: none
  float: none // or it floats to the left of the edit tabs

// Place the stubmit buttons close to the edit form, away from
// replies/arrows below, so it's easy to see what they are
// related to.
.dw-f-e .dw-submit-set
  margin-top: 1.5em
  margin-bottom: 1em
  float: left



// Clearfix
//---------------------------

.dw-fs,       // Contents might float
.dw-fs form,  // Contents might float
.dw-f.dw-f-e  // I suppose some edit form child floats left?
  // Copied from Bootstrap 3.0.0's less/mixin.less.
  &:before, &:after
    content: " "
    display: table

  &:after
    clear: both;


// vim: fdm=marker et ts=2 sw=2 tw=100 fo=tcqwn list
