
// COULD_OPTIMIZE later: skip rendering completely, but for now, quick fix:
html.s_InIframe
  .esPageHeader,
  .esTopbarWrap,
  .dw-p-ttl,
  .dw-ar-p-hd,
  .dw-ar-p,
  footer
    display: none;

  #esPageScrollable
    overflow: hidden;  // otherwise a not-needed? scrollbar-y appears, for some weird reason

  #dwPosts > div > .container
    padding: 0;

  .dw-p-as.dw-as.esPA
    margin-top: 0;
