/* client/app/theme.styl */

body,
.container { position: relative; }

.container { margin: 0 auto; }


p, /* override Twitter Bootstrap */
body,
.dw-depth-1 blockquote p { /* override Bootstrap */
  font: 13px open sans, sans-serif;
}

article {
  line-height: 165%;
}

h1, h2, h3, h4, h5, h6 {
  /* For now, always use Open Sans, so people that setup a forum get one that looks
     like the demo forum. Later on, make the styles more configurabe. */
  font-family: open sans, sans-serif;
  font-weight: bold;
  line-height: 1em;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #393939;
}

h1 {
  font-size: 33px;
  color: #454545;
  padding-top: 15px;
  margin-bottom: 4px;
}

h2 {
  color: #444;
  font-size: 24px;
  margin: 35px 0 15px 0;
}

.container > h2 {
  color: hsl(39, 99%, 49%);
  border-bottom: 1px solid hsl(39, 100%, 80%);
  padding-bottom: 5px;
}

h3 {
  font-size: 20px;
  color: #333;
  margin-top: 29px;
}
h4 {
  font-size: 15px;
  color: hsl(0, 0%, 20%);
}
h5, h6 {
  font-size: 13px;
  color: hsl(0, 0%, 36%);
}

p, li { color: #111; }


p {
  margin-bottom: 1em;
  line-height: 20px;
}

.dw-res p,
.dw-res ul,
.dw-res ol {
  margin-bottom: 0.7em;
  line-height: normal;
}

li { margin-left: 2.9em;  margin-bottom: 0.6em; }
ul, ol {
  margin: 0;
  -webkit-padding-start: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}
ul { list-style-type: disc; }
ol { list-style-type: decimal; }

img, canvas {
  margin: 0;
  display: block; /* TODO inline those with no \n\n inbetween preceeding text */
  max-width: 100%;
}

i, em { font-style: italic; }

small { font-size: 80%;  color: #444; }

/* Bootstrap's <pre> whiteSmoke too dark, and <code> bg colored. */
pre, code {
  background-color: #f7f7f7;
  color: #222;
  font-size: 12px; /* or unreadably small */
  line-height: 16px;
}

small code {
  background-color: inherit;
  color: inherit;
  padding: 0;
  border: none;
  font-size: inherit;
}


ins
  text-decoration: none
  background: #9f9

del
  text-decoration: line-through
  background: #ffd0d0


a { text-decoration: none; }
a:hover, a:active { text-decoration:underline; }

a, a:link { color: hsl(211, 88%, 35%);  }

a:visited { color: hsl(211, 30%, 40%); }


/* Make placeholder text darker == more readable. Do not combine this placeholde stuff to
 * a single group — then they would all be ignored. */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: hsl(0, 0%, 45%);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: hsl(0, 0%, 45%);
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: hsl(0, 0%, 45%);
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: hsl(0, 0%, 45%);
}


footer, .footer,
#topbar {
  background: hsl(211, 31%, 31.5%);
}

#topbar > .container {
  padding: 13px 0 12px;
  line-height: 100%;
  font-size: 12px;
  color: hsl(0, 0%, 94%);
}

#topbar > .container a {
  color: hsl(0, 0%, 94%);
}

.logo {
  font-size: 13px;
}

#topbar .logo-slogan img {
  width: 26px;
  display: inline;
  margin: 0 6px 0 0;
  padding: 0;
  vertical-align: middle;
  top: -2px;
  position: relative;
}

#topbar > .container nav > a.debiki-0-current-site-section {
  font-weight: bold;
  font-size: 105%;
}



/* Social links
============================== */


.social-links {
  margin: 13px 0 16px;
}

.social-links-title {
  float: left;
  position: relative;
  top: -2px;
  margin: 0 8px 0 0;
  font-size: 85%;
}

.social-links a {
  opacity: 0.8;
}

.social-links a[class*=tweet] {
  opacity: 0.73;
}



#social-btns {
  margin-left: auto;
}

#twitter-btn iframe {
  width: 100px !important;
}

#google-btn div, #google-btn iframe {
  width: 150px !important;
  margin-right: 10px !important;
}



/* Login
============================== */


#dw-loginout {
  padding: 0 10px 0 15px;
}

.dw-a-logout {
  margin-left: 1em; /* push login info away */
}

.dw-a-login,
.dw-u-name {
  color: #eee; /* #fff is too bright */
  font-weight: bold;
}

.dw-u-name {
  font-size: 13px;
}

footer, .footer {
  text-align: center;
  margin-top: 4em;
  font-size: 12px;
  color: #ddd;
  bottom:0;
  position: relative;
  clear: both;
}

.footer {
  padding: 3.7em 0 3em;
}

footer p {
  color: #ddd;
  line-height: 8px;
}

.footer a, .footer a:visited {
  color: #ddd;
  text-decoration: underline;
}

.footer p small {
  font-size: 10px;
  color: #ddd;
}


/* Tweak Twitter Bootstrap and jQuery UI colors
============================== */

/* I should probably build my own Bootstrap version and update the
jQuery UI theme, but ... not right now. */


.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav > .active {
  background-color: hsl(210, 50%, 50%);
  color: white;
}

.nav > :first-child {
  margin-left: 0;
}

input, textarea {
  /* Disable annoyingly slow Twitter Bootstrap transitions.
  Alternatively, change from 0.2s to 0.05s. */
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}


/* React-select
============================== */

.Select-item {
  background-color: hsl(210, 63%, 97%);
  border: 1px solid hsl(210, 61%, 87%);
  color: hsl(210, 80%, 35%);
}

.Select-control {
  border-color: hsl(0, 0%, 90%) hsl(0, 0%, 83%) hsl(0, 0%, 80%);
}

.Select-option.is-focused {
  background-color: hsl(210, 80%, 97%);
  color: hsl(210, 80%, 28%);
}


/* Code pages
============================== */


.code-page-title h1,
.code-page p {
  font-family: monospace;
}

.code-page-title h1 {
  font-size: 20px;
}



/* Responsive (sync with client/admin-app/admin-page.styl)
============================== */


#topbar > .container nav > a {
  margin-left: 1.1em;
}

html:not(.dw-admin-page):.mouse .container {
  width: 940px;
}

body { padding: 0 !important; } /* cancel Bootstrap's 20px padding */
#topbar > .container,
body > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#topbar > .container { display: table; }

#topbar > .container > * {
  display: table-cell !important;
  float: none !important;
}

#topbar > .container nav { text-align: right; }


/* Container width */
@media (max-width: 1110px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1110px) {
  .container {
    width: 1110px;
  }
}

/* Container padding */
@media (max-width: 801px) {
  .container {
    padding: 0 12px;
  }
}
@media (max-width: 651px) {
  .container {
    padding: 0 8px;
  }
}
@media (max-width: 581px) {
  .container {
    padding: 0 6px;
  }
}
