/*!
 * Copyright (C) 2010-2013 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


// React
//===========================

.modal .dw-no-borders
  .modal-header
    border-bottom: none;
  .modal-footer
    border-top: none;


// The Stupid Lightbox
//===========================

// The Stupid Lightbox enlarges images in posts on click, so indicate that they're clickable.
.dw-p-bd img.stupid-lightbox-enlargeable:hover
  outline: 2px solid hsl(210, 100%, 83%);
  cursor: pointer;
  cursor: zoom-in; // better, if supported
  box-shadow: hsl(210, 70%, 60%) 2px 2px 13px !important;

.stupid-lightbox-wrap
  cursor: zoom-out;


// Twitter Bootstrap
//===========================

// Cancel .icon 14px width — I'm using Fontello's icons, instead of Twitter's.
// There are some other icon styles that Bootstrap applies and that could be
// cancelled here — what should be done, in fact, is to build Bootstrap
// and comment out:  @import "./bootstrap/less/sprites.less
// see http://drupal.org/node/1949992
.DW [class^="icon-"],
.DW [class*=" icon-"]
  width: auto


// Make a new modal hide all older modals, by setting backdrop z-index to the same as
// the z-index for the modal dialog and content (rather than using 1040 which results in
// older modals still being in the foreground because their content z-index is 1050).
.modal-backdrop
  z-index: 1050;

.dropdown-menu > li
  margin: 15px 0 10px 0;

html.touch .dropdown-menu > li
  margin: 20px 0 15px 0;
  &:first-child
    margin-top: 13px;


// From http://twitter.github.com/bootstrap/assets/css/bootstrap.css,
// 2012-03-21, v.2.0.2.
.tooltip
  position: absolute
  z-index: 1020
  display: block
  visibility: visible
  padding: 5px
  font-size: 11px
  opacity: 0
  // This line results in: "TypeError: expected rgba or hsla, but got unit:0".
  // It was generated by `stylus --css ...`, i.e. when I converted from CSS to Stylues.
  //filter: alpha(opacity=0)

.tooltip.in
  opacity: 0.8
  //filter: alpha(opacity=80) // --> TypeError: expected rgba or hsla, but got unit:0

.tooltip.top
  margin-top: -2px

.tooltip.right
  margin-left: 2px

.tooltip.bottom
  margin-top: 2px

.tooltip.left
  margin-left: -2px

.tooltip.top .tooltip-arrow
  bottom: 0
  left: 50%
  margin-left: -5px
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-top: 5px solid #000000

.tooltip.left .tooltip-arrow
  top: 50%
  right: 0
  margin-top: -5px
  border-top: 5px solid transparent
  border-bottom: 5px solid transparent
  border-left: 5px solid #000000

.tooltip.bottom .tooltip-arrow
  top: 0
  left: 50%
  margin-left: -5px
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-bottom: 5px solid #000000

.tooltip.right .tooltip-arrow
  top: 50%
  left: 0
  margin-top: -5px
  border-top: 5px solid transparent
  border-bottom: 5px solid transparent
  border-right: 5px solid #000000

.tooltip-inner
  max-width: 200px
  padding: 3px 8px
  color: #ffffff
  text-align: center
  text-decoration: none
  background-color: #000000
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

.tooltip-arrow
  position: absolute
  width: 0
  height: 0

// [kajmagnus@debiki] Workarounds.
.tooltip
  // Otherwise Chrome makes it very thin, when outside browser window,
  // so the tip arrow gets offset incorrectly:
  width: 500px



// vim: fdm=marker et ts=2 sw=2 tw=100 fo=tcqwn list
