/*!
 * Copyright (C) 2010-2013 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


// React
//===========================

.modal .dw-no-borders
  .modal-header
    border-bottom: none;
  .modal-footer
    border-top: none;



// React-select
//===========================

.Select--multi .Select-value
  background-color: hsla($uiHue, 100%, 55%, 0.08);
  border-color: hsla($uiHue, 100%, 50%, 0.24);
  color: hsl($uiHue, 100%, 45%);

// Add 1px more padding –> easier to touch.
.Select--multi .Select-value-label,
.Select--multi .Select-value-icon
  padding: 2px 6px;

// This one is broken now, after react-select has been upgraded?
.Select-control
  border-color: hsl(0, 0%, 90%) hsl(0, 0%, 83%) hsl(0, 0%, 80%);

// Does this one work?
.Select-option.is-focused
  background-color: hsl($uiHue, 80%, 97%);
  color: hsl($uiHue, 100%, 23%);

// Works.
// Make option texts darker so easier to read.
.Select-option
  color: hsl($uiHue, 50%, 28%);
.Select-option.is-disabled
  color: hsl(0, 0%, 60%);

// Make the select-item dropdown push the stuff below downwards, so that stuff remains visible
// instead of getting hidden by the dropdown.
.Select-menu-outer
  position: relative; // instead of absolute


// The Stupid Lightbox
//===========================

// The Stupid Lightbox enlarges images in posts on click, so indicate that they're clickable.
.dw-p-bd img.stupid-lightbox-enlargeable:hover
  outline: 2px solid hsl($uiHue, 100%, 83%);
  cursor: pointer;
  cursor: zoom-in; // better, if supported
  box-shadow: hsl($uiHue, 70%, 60%) 2px 2px 13px !important;

.stupid-lightbox-wrap
  cursor: zoom-out;

.stupid-lightbox-close
  position: absolute;
  right: 0;
  color: white;
  font-size: 8vh;
  cursor: pointer;
  background: #333; // eles not visible on white image
  z-index: 1;
  line-height: 0.95;
  padding-bottom: 3px;
  &:before
    content: '\e836'; // = icon-cancel, an  x
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;


// Fontello
//===========================

// Dummy icon that makes a character behave a bit like a Fontello icon.
.icon-char,
.icon-chat:before  // a char too, see .icon-chat:before below
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;

// Slack and Discord uses '#' for chat channels. So let's do that?
.icon-chat:before
  content: '#';
  font-size: 125%;
  position: relative;
  top: 2px;
  width: auto;
  padding: 0;


// Twitter Bootstrap
//===========================

// Cancel Bootstrap's 20px padding
body
  padding: 0 !important;


// (Perhaps build own Bootstrap version and change the styles there? But Bootstrap uses LESS
// not Stylus — would lead to dupl variables?)

// Cancel .icon 14px width — I'm using Fontello's icons, instead of Twitter's.
// There are some other icon styles that Bootstrap applies and that could be
// cancelled here — what should be done, in fact, is to build Bootstrap
// and comment out:  @import "./bootstrap/less/sprites.less
// see http://drupal.org/node/1949992
.DW [class^="icon-"],
.DW [class*=" icon-"]
  width: auto


.btn
  border-radius: 0;

.btn-primary,
.btn-primary:link,
.nav-pills > li > a.active,
.nav-pills > li > a.active:hover,
.nav-pills > li > a.active:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav > .active
  border-radius: 0;
  background-color: hsl($uiHue, 69%, 53%);
  border-color: hsl($uiHue, 69%, 53%);
  color: white;
  &:visited
    color: white;

// ...but in a nav with background, use stronger color:
.dw-sub-nav
  .btn-primary,
  &.nav-stacked .nav-pills > li.active > a,
  &.nav-stacked .nav-pills > li.active > a:hover,
  &.nav-stacked .nav-pills > li.active > a:focus
    border-radius: 0;
    color: white !important;
    background: hsl($uiHue, 90%, 50%);
    font-weight: bold;

// Make buttons darker on hover.
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary
  background-color: hsl($uiHue, 69%, 40%);
  border-color: hsl($uiHue, 69%, 40%);

.nav-pills > li > a
  border-radius: 0;

.btn:focus,
.btn:active:focus,
.btn.active:focus
  outline-color: hsl($uiHue, 99%, 65%);


.nav > :first-child
  margin-left: 0;

.nav:not(.nav-stacked) > li
  margin-bottom: 0;

.nav-stacked li
  margin-left: 0 !important; // why Bootstrap sets 2px?

.nav > li > a
  padding-top: 8px;
  padding-bottom: 8px;

input, textarea {
  /* Disable annoyingly slow Twitter Bootstrap transitions.
  Alternatively, change from 0.2s to 0.05s. */
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

// Make a new modal hide all older modals, by setting backdrop z-index to the same as
// the z-index for the modal dialog and content (rather than using 1040 which results in
// older modals still being in the foreground because their content z-index is 1050).
.modal-backdrop
  z-index: 1050;

// Scrollbars appear sometimes although not needed, in the editor dialog, when full screen,
// and opening the category dropdown. (Sep 2016)
.modal.fade.in
  overflow: auto;

.dropdown-menu > li
  margin: 0 5px;
  &:first-child
    margin-top: 3px;
  &:last-child
    margin-bottom: 7px;
  a
    padding: 10px 20px;

// Change active dropdown menu items from white-text-on-blue, to black-on-light-blue.
.dropdown-menu > .active
  > a,
  > a:hover,
  > a:focus
    outline: 0;
    color: hsl(207, 0%, 16%);
    background-color: hsl(207, 94%, 91%);

html.touch .dropdown-menu > li
  margin: 20px 0 15px 0;
  &:first-child
    margin-top: 13px;

.alert-info
  color: hsl($uiHue, 57%, 22%);
  background-color: hsl($uiHue, 65%, 94.4%);
  border-color: hsl($uiHue, 65%, 87%);
  border-radius: 0;

.alert-warning
  color: hsl(50, 40%, 22%);  // or too little contrast
  background-color: hsl(50, 81%, 93%);  // or too bright, hard to notice

// From http://twitter.github.com/bootstrap/assets/css/bootstrap.css,
// 2012-03-21, v.2.0.2.
.tooltip
  position: absolute
  z-index: 1020
  display: block
  visibility: visible
  padding: 5px
  font-size: 11px
  opacity: 0
  // This line results in: "TypeError: expected rgba or hsla, but got unit:0".
  // It was generated by `stylus --css ...`, i.e. when I converted from CSS to Stylues.
  //filter: alpha(opacity=0)

.tooltip.in
  opacity: 0.8
  //filter: alpha(opacity=80) // --> TypeError: expected rgba or hsla, but got unit:0

.tooltip.top
  margin-top: -2px

.tooltip.right
  margin-left: 2px

.tooltip.bottom
  margin-top: 2px

.tooltip.left
  margin-left: -2px

.tooltip.top .tooltip-arrow
  bottom: 0
  left: 50%
  margin-left: -5px
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-top: 5px solid #000000

.tooltip.left .tooltip-arrow
  top: 50%
  right: 0
  margin-top: -5px
  border-top: 5px solid transparent
  border-bottom: 5px solid transparent
  border-left: 5px solid #000000

.tooltip.bottom .tooltip-arrow
  top: 0
  left: 50%
  margin-left: -5px
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-bottom: 5px solid #000000

.tooltip.right .tooltip-arrow
  top: 50%
  left: 0
  margin-top: -5px
  border-top: 5px solid transparent
  border-bottom: 5px solid transparent
  border-right: 5px solid #000000

.tooltip-inner
  max-width: 200px
  padding: 3px 8px
  color: #ffffff
  text-align: center
  text-decoration: none
  background-color: #000000
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

.tooltip-arrow
  position: absolute
  width: 0
  height: 0

// [kajmagnus@debiki] Workarounds.
.tooltip
  // Otherwise Chrome makes it very thin, when outside browser window,
  // so the tip arrow gets offset incorrectly:
  width: 500px


// vim: fdm=marker et ts=2 sw=2 tw=100 fo=tcqwn list
