// Variables accessible to all Stylus files.

$minShowAvatarWidth = 740px

$uiFont = 'Open Sans', sans-serif
$uiHue = 207

$pageSectionBorder = 1px solid hsl(0, 0%, 67%)
$pageSectionBackground = hsl($uiHue, 0%, 96.4%)

