// Variables accessible to all Stylus files.
// Some layout variables are in JS only, see constants.ts [6PFDS3]

$narrowLimit = 500px;

$h1Color = #454545;

$uiFont = 'Open Sans', sans-serif
$uiHue = 207  // steel blue

$uiNavHue = 0;
$uiNavSaturation = 37%;

$heartAndErrorHue = 8; // red red orange red

$subNavColor = hsl(0, 0%, 10%);
$subNavBackgroundColor = hsl(0, 0%, 91%);
$subNavHoverBackgroundColor = hsl(0, 0%, 97%);

$pageSectionBorder = 1px solid hsl(0, 0%, 70%)
$pageSectionBackground = hsl($uiHue, 0%, 96.4%)

$solvedHue = 120; // green

$pageScrollbarWidth = 13px;

