<!DOCTYPE html>
<html ng-app>
<head>
  <title>Debiki Dashboard</title>
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=0.01">
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Bree+Serif">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body id="details" ng-cloak>

  <div debiki-admin class="container">
  <h1>Debiki Admin</h1>
  <tabset>

    <tab heading="Whole Site">
      <a class="btn btn-default" href="#/">Dashboard</a>
      <a class="btn btn-default" href="#/all-recent-topics">Contents</a>
      <a class="btn btn-default" href="#/all-recent-comments">Comments</a>
      <a class="btn btn-default" href="#/site-wide-settings">Settings</a>
      <a class="btn btn-default" href="#/site-wide-special-content">Special Content</a>
    </tab>

    <tab heading="Pages" ng-if="ctrl.pages.length > 0">
      <a class="btn btn-default" href="#/pages/list">Pages</a>
      <a class="btn btn-default" href="#/pages/recent-comments">Comments</a>
      <a class="btn btn-default" href="#/pages/settings">Settings</a>
    </tab>

    <tab ng-if="ctrl.blogs.length > 0"
        heading="{{ ctrl.blogs.length == 1 ? 'Blog' : 'Blogs' }}">
      <div ng-if="ctrl.blogs.length == 1">
        <a class="btn btn-default" href="#/blog/{{ctrl.blogs[0].id}}/">Dashboard</a>
        <a class="btn btn-default" href="#/blog/{{ctrl.blogs[0].id}}/recent-posts">Posts</a>
        <a class="btn btn-default" href="#/blog/{{ctrl.blogs[0].id}}/recent-comments">Comments</a>
        <a class="btn btn-default" href="#/blog/{{ctrl.blogs[0].id}}/settings">Settings</a>
      </div>
      <tabset ng-if="ctrl.blogs.length > 1">
      <tab ng-repeat="blog in ctrl.blogs" header="{{ blog.prettyTitle }}">
        <a class="btn btn-default" href="#/blog/{{blog.id}}/">Dashboard</a>
        <a class="btn btn-default" href="#/blog/{{blog.id}}/recent-posts">Posts</a>
        <a class="btn btn-default" href="#/blog/{{blog.id}}/recent-comments">Comments</a>
        <a class="btn btn-default" href="#/blog/{{blog.id}}/settings">Settings</a>
      </tab>
      </tabset>
    </tab>

    <tab ng-if="ctrl.forums.length > 0"
        heading="{{ ctrl.forums.length == 1 ? 'Forum' : 'Fourms' }}">
      <div ng-if="ctrl.forums.length == 1">
        <a class="btn btn-default" href="#/fourm/{{ctrl.forums[0].id}}/">Dashboard</a>
        <a class="btn btn-default" href="#/fourm/{{ctrl.forums[0].id}}/recent-topics">Topics</a>
        <a class="btn btn-default" href="#/fourm/{{ctrl.forums[0].id}}/recent-comments">Comments</a>
        <a class="btn btn-default" href="#/fourm/{{ctrl.forums[0].id}}/settings">Settings</a>
        <a class="btn btn-default" href="#/fourm/{{ctrl.forums[0].id}}/special-content">Special Content</a>
      </div>
      <tabset ng-if="ctrl.forums.length > 1">
      <tab ng-repeat="forum in ctrl.forums" heading="{{ forum.prettyTitle }}">
        <a class="btn btn-default" href="#/fourm/{{forum.id}}/">Dashboard</a>
        <a class="btn btn-default" href="#/fourm/{{forum.id}}/recent-topics">Topics</a>
        <a class="btn btn-default" href="#/fourm/{{forum.id}}/recent-comments">Comments</a>
        <a class="btn btn-default" href="#/fourm/{{forum.id}}/settings">Settings</a>
        <a class="btn btn-default" href="#/fourm/{{forum.id}}/special-content">Special Content</a>
      </tab>
      </tabset>
    </tab>

    <tab headin="Embedded Comments" ng-if="ctrl.embeddedTopics.length > 0">
      <a class="btn btn-default" href="#/embedded-comments/recent-topics">Topics</a>
      <a class="btn btn-default" href="#/embedded-comments/recent-comments">Comments</a>
      <a class="btn btn-default" href="#/embedded-comments/settings">Settings</a>
    </tab>

    <ng-view></ng-view>

  </tabset>
  </div>

  <script src="packages/shadow_dom/shadow_dom.min.js"></script>
  <script type="application/dart" src="main.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>
<!-- vim: set et ts=2 sw=2 tw=0 fdm=marker list :-->
