<!DOCTYPE html>
<html ng-app>
<head>
  <title>Debiki Dashboard</title>
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=0.01">
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Bree+Serif">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="style.css">
</head>
<body id="details" ng-cloak>

  <div debiki-admin class="container">
    <div ng-if="ctrl.numDistinctContentSections > 1">
      <h3>All contents</h3>
      <a class="btn btn-default" href="#/">Dashboard</a>
      <a class="btn btn-default" href="#/all-recent-topics">Contents</a>
      <a class="btn btn-default" href="#/all-recent-comments">Comments</a>
      <a class="btn btn-default" href="#/site-wide-settings">Settings</a>
    </div>

    <div ng-if="ctrl.pages.length > 0">
      <h3>Pages</h3>
      <a class="btn btn-default" href="#/pages/list">Pages</a>
      <a class="btn btn-default" href="#/pages/recent-comments">Comments</a>
      <a class="btn btn-default" href="#/pages/settings">Settings</a>
    </div>

    <div ng-if="ctrl.blogs.length > 0">
      <div ng-repeat="blog in ctrl.blogs">
        <h3>{{ blog.prettyTitle }}</h3>
        <a class="btn btn-default" href="#/blog/{{blog.id}}/">Dashboard</a>
        <a class="btn btn-default" href="#/blog/{{blog.id}}/recent-posts">Posts</a>
        <a class="btn btn-default" href="#/blog/{{blog.id}}/recent-comments">Comments</a>
        <a class="btn btn-default" href="#/blog/{{blog.id}}/settings">Settings</a>
      </div>
    </div>

    <div ng-if="ctrl.forums.length > 0">
      <div ng-repeat="forum in ctrl.forums">
        <h3>{{ forum.prettyTitle }}</h3>
        <a class="btn btn-default" href="#/fourm/{{forum.id}}/">Dashboard</a>
        <a class="btn btn-default" href="#/fourm/{{forum.id}}/recent-topics">Topics</a>
        <a class="btn btn-default" href="#/fourm/{{forum.id}}/recent-comments">Comments</a>
        <a class="btn btn-default" href="#/fourm/{{forum.id}}/settings">Settings</a>
      </div>
    </div>

    <div ng-if="ctrl.embeddedTopics.length > 0">
      <h3>Embedded topics</h3>
      <a class="btn btn-default" href="#/embedded-topics/">Embedded Topics</a>
    </div>

    <hr>
    <ng-view></ng-view>
  </div>

  <script src="packages/shadow_dom/shadow_dom.min.js"></script>
  <script type="application/dart" src="main.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>
<!-- vim: set et ts=2 sw=2 tw=0 fdm=marker list :-->
