
.esCloseCross
  padding: 6px 11px;
  border: none;
  background: none;
  font-size: 23px;
  line-height: 23px;
  color: hsl(0, 0%, 35%);
  &:before
    content: '×'; // is the &times; U+00D7 multiplication sign.
  &:hover
    color: black;
    font-weight: bold;
    cursor: pointer;

