
// DO_AFTER 2021-01-01  delete all this anim stuff. Use CSS anims instead. [REACTANIMS]

// COULD rename these classes to... "fade-in--..."?

.s_FadeGrowIn-enter
  opacity: 0.01;
  height: 1px;
  transition: opacity .6s ease-in;

.s_FadeGrowIn-enter.s_FadeGrowIn-enter-active
  opacity: 1;
  height: auto;

.s_FadeGrowIn-exit
  opacity: 1;
  transition: opacity .5s ease-in;

.s_FadeGrowIn-exit.s_FadeGrowIn-exit-active
  opacity: 0.01;


// vim: fdm=marker et ts=2 sw=2 tw=0 list
