
$colorfulBorder = 310;

.s_Tour
  z-index: 2000;
  position: relative;
.s_Tour-Click
  .s_Tour_D::before
    // We're waiting for a button-or-something click, rather than clicking
    // the Next button inside the instructions dialog. Dim the dialog, so
    // the focus will be more on that something-to-click.
    //
    // We'll also make the background darker (REALLYDARKBG) so this dialog will
    // still be in the foreground — but the area to click, will be briiiighter.
    //
    // UX testing shows that without this, and the $colorfulBorder below,
    // people often (like, 1 in 2) won't notice that a button is highlighted
    // and that they're supposed to click it. Instead they think the tour is
    // broken and click Exit.
    //
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.24);
    z-index: 1;


.s_Tour_ClickHere,
.s_Tour_Highlight
  position: fixed;
  // This, together with some padding, paints a transparent circle at
  // position left,top, surrounded by a trasnparent dark background.
  border: 200vmax solid rgba(0, 0, 0, 0.45) !important;
  border-radius: 50%;
  transform: translate(-50%, -50%);

.s_Tour-Click
  .s_Tour_Highlight
    border: 200vmax solid rgba(0, 0, 0, 0.56) !important;  // (REALLYDARKBG)

.s_Tour_ClickHere
  border: 13px solid hsl($colorfulBorder, 100%, 64%) !important;
  pointer-events: none;

.s_Tour_ClickBlocker-Left-All
  position: fixed;
  left: 0;
  right: 0; // blocks the whole screen, unless overridden
  top: 0;
  bottom: 0;
.s_Tour_ClickBlocker-Right
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
.s_Tour_ClickBlocker-Above
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
.s_Tour_ClickBlocker-Below
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;


.s_Tour_D
  position: fixed;
  padding: 17px;  // [4BQWTJ0]
  width: 360px;
  max-width: 90vw;
  background: white;
  z-index: 1;

// This places the dialog in the middle.
.s_Tour_D-Exit
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

.s_Tour_D_Ttl
  margin: 0 0 10px;
  font-size: 19px;
  line-height: 1.3;

.s_Tour_D_Txt
  font-size: 15px;
  margin-bottom: 18px;

.s_Tour_D_Bs_NextB
  min-width: 87px;
  margin-right: 8px;

.s_Tour_D_Bs_NextB[disabled]
  // If it's just grayed out, people still sometimes try to click it.
  // No, if it's gone, they click Exit instead sometimes.
  //visibility: hidden;
  // Instead, keep it, but *really* make it grayed out.
  background: white;
  border-color: #ddd;
  color: #888;

.s_Tour_D_Bs_Ix
  display: inline-block;
  margin: 0 10px;

.s_Tour_D_Bs_ExitB
  float: right;

