
.s_Tour
  z-index: 2000;
  position: relative;

.s_Tour_Highlight
  position: fixed;
  // This, together with some padding, paints a transparent circle at
  // position left,top, surrounded by a trasnparent dark background.
  border: 200vmax solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transform: translate(-50%, -50%);

.s_Tour_ClickBlocker-Left-All
  position: fixed;
  left: 0;
  right: 0; // blocks the whole screen, unless overridden
  top: 0;
  bottom: 0;
.s_Tour_ClickBlocker-Right
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
.s_Tour_ClickBlocker-Above
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
.s_Tour_ClickBlocker-Below
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;


.s_Tour_D
  position: fixed;
  padding: 17px;  // [4BQWTJ0]
  width: 360px;
  max-width: 90vw;
  background: hsl(0, 0%, 98%);
  z-index: 1;

.s_Tour_D_Ttl
  margin: 0 0 10px;
  font-size: 19px;

.s_Tour_D_Txt
  font-size: 15px;
  margin-bottom: 18px;

.s_Tour_D_Bs_NextB
  min-width: 87px;
  margin-right: 8px;

.s_Tour_D_Bs_Ix
  display: inline-block;
  margin: 0 10px;

.s_Tour_D_Bs_ExitB
  float: right;

