

.s_GP
  margin-top: 22px;

.s_GP h3
  font-size: 23px;
  color: #444;

.s_GP_CrGB
  margin-bottom: 2px;


li.s_Gs_G
  list-style: none;
  margin: 16px 0 5px;

  .esP_By_F,
  .esP_By_U,
  .s_Gs_G_Stats
    font-size: 15px;

  .esP_By_F
    color: hsl(0, 0%, 20%);  // or too dark
  .s_Gs_G .esP_By_U
    color: hsl(0, 0%, 10%);

.s_Gs_G_Stats
  margin-top: 3px;
  color: hsl(0, 0%, 29%);


.s_CrGD .input-group
  width: 300px;
  max-width: 90%;
