/* vim: fdm=marker et sw=2 ts=2
 *
 * Tips: List all CSS classes like so:
 *   find debiki-core-basedir/src -type f -print0 | \
 *     xargs -0 egrep -ho "dw-[[:alnum:]-]+" | sort | uniq -c
 */

/* === Standard tags === */

/* --- CSS-reset ---*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- Standard elems ---*/
p {
  margin: 0 0 0.7em;
}
p:last-child {
  margin-bottom: 0;
}

/* === Debate === */

.dw-debate {
  margin-left: 0.3em;
  font-family: Verdana, sans-serif;
  /* In the future: Georgia for titles? */
  font-size: 93%;
  line-height: 110%;
}

.dw-debate-info {
  margin-bottom: 1em;
}

.dw-dragscrollable {
  cursor: move !important; /* important, or next rule might set to `auto' */
}
.dw-dragscrollable > * {
  cursor: auto; /* don't inherit `move' cursor */
}

/* === Threads === */

.dw-depth-0.dw-thread {
  margin: 0.3em 0 0 0.7em;
  border-left: 0.9em solid transparent;
  border-bottom: 1ex solid transparent;
  background-color: inherit;
}

/* The very first post */
.dw-depth-0.dw-thread > .dw-post {
  margin-bottom: 0.8em;
}
.dw-depth-0.dw-thread > #dw-action-menu {
  top: -0.8em; /* cancel above margin-bottom */
}
.dw-depth-0.dw-thread > .dw-post.dw-cropped-e {
  /* Make the root post wider than other posts, so it spans > 1 child.
  Then it is easier (?) to understand which threads are its
  children, although the children are spread horizontally. */
  max-width: 60em;
}
.dw-depth-0.dw-thread > .dw-post.dw-cropped-e > .dw-text {
  padding-right: 15em; /* the text would be hard to read were it very wide */
  padding-bottom: 1.3em; /* litte more airy? first post */
}

.dw-thread {
  margin: 0.3em 0 0 0.7em;
  /* transparent won't work: jQuery's class animation would fade
  to *white*, but the color shining through should be
  .dw-depth-1.dw-thread's background-color. */
  border-left: 0.9em solid #fcfaf5; /*transparent*/
  border-bottom: 1ex solid #fcfaf5; /*transparent*/
  background-color: inherit;
  }
.dw-thread.dw-demarcated-fx {
  /* Unfortunately animating the background color won't
  look nice since there migh be child threads whose
  background color it *not* animated. Perhaps this can
  be fixed with more javascript.*/
  xx-background-color: #faf7ea;
  border-left-color: #eae8ca;
  border-bottom-color: #d6d3b2;
}
.dw-thread.dw-collapsed-fx {
  /* Thread is collapsed, hence its summary is visible,
  so add extra margin to previous tag (which is a .post or .thread tag)
  so there's space for a position=absolute Reply button,
  although the thread summary tag is visible. */
  margin-top: 1.2em;
}
.dw-depth-1.dw-thread {
  background-color: #fcfaf5;
}
.dw-depth-1 .dw-thread {
  padding-left: 0;
  border-top: none;
  }

/* --- Float ---*/
.dw-thread {
  float: left;
  position: relative; /* #action-menu is absolute positioned relative thread */
  }
.dw-depth-2 .dw-thread {
  float: none;
  clear: both; /* else the rating form might float to the left */
  }

/* --- Width ---*/
.dw-depth-1,
.dw-depth-1 .dw-thread {
  /* Avoids >1 column for this depth */
  max-width: 25em;
  }

/* === Posts === */

.debiki .ui-resizable-se {
  /* The small grip has been replaced with the normal grip
  (search for "ui-icon-grip" in debiki.js), so we make the
  tag a few pixels wider. */
  height: 17px;
  width: 17px;
  background-position: -80px -222px;
  /* Paint color above any text below, otherwise it's easy never
  to see there is a rezise-post-grip. */
  background-color: #FCFAF5;
}

.dw-post p {
  /* Don't span whole screen even if .post.cropped-e is removed. */
  max-width: 50em;
}

/* Make the s,n,e,w handles larger (else hard to drag) and place them
1 layer below the .ui-resizable-se handle (see above),
so as not to hide that handle (which is assigned z-index 1001 by
some jQuery code somewhere; I cannot find 1001 in any CSS class).*/
.debiki .ui-resizable-n,
.debiki .ui-resizable-s {
  height: 20px;
  z-index: 1000;
}
.debiki .ui-resizable-e,
.debiki .ui-resizable-w {
  width: 20px;
  z-index: 1000;
}

.dw-post.dw-cropped-s {
  max-height: 4em;
  cursor: help;
}

.dw-post.dw-cropped-e {
  max-width: 25em;
}

.dw-post.dw-cropped-s .dw-cropped-mark {
  display: block;
  position: absolute;
  bottom: 0px;
  right: -3px;
  padding: 4px 25px 0 10px; /* there's a resizable-se grip to the right */
  height: 17px;
  background: #fcfaf5;/*#dddddd;*/
  font-style: italic;
  letter-spacing: 0.3ex;
}
.dw-post.dw-cropped-s:hover .ui-resizable-se,
.dw-post.dw-cropped-s:hover .dw-cropped-mark {
  background-color: #fdc;
  color: #363636;
}
/*
.dw-post.dw-cropped-s .dw-cropped-mark .ui-icon {
  height: 15px;
  display: inline-block;
}*/
.dw-post .dw-cropped-mark {
  display: none; /* no longer cropped */
}

.dw-post {
  position: relative;
  overflow: hidden;
  min-height: 1.3em;
  min-width: 5em;
  background-color: #fcfaf5;
  margin: 0 5px 3px 0;
  }
.dw-post:hover {
  outline: #999 dashed thin;
  /* In case the post has been up-sized, its up-sized
  parts might be hidden by a thread, unless: */
  z-index: 10;
}

.dw-new {
  outline: #f4c4f4 solid thick; /* make unread threads stand out */
}

/* --- Thread summary ---*/

.dw-thread-info {
  background-color: #eae8ca;
  opacity: 0;
  padding: 0.3ex;
  font-size: 93%;
  cursor: default; /* otherwise the `text' cursor sometimes appears */
  border-color: #C3C3A8; /* javascript border */
  padding-right: 1em; /* for the resizable-e handle */
  overflow: hidden; /* if resized so text wrapped */
  line-height: 110%; /* else upper parts of chars on wrapped line visible */
}

.dw-thread-info:hover {
  background-color: #FEFEDD;
}

.dw-thread.dw-demarcated > .dw-thread-info {
  cursor: s-resize;
}

.dw-thread.dw-collapsed .dw-thread-info .ui-resizable-handle {
  display: none; /* thread is collapsed; show no resize handle */
}
.dw-thread.dw-collapsed .dw-thread-info:hover .ui-resizable-handle {
  display: block; /* show resize handle when hovering collapsed thread */
}

.dw-thread-info li {
  display: inline;
  margin-left: 1ex;
}

/* --- Post info ---*/

.dw-post-info {
  font-size: 95%;
  padding: 0.2ex 0;
  height: 1.4em; /* make the upmost part of the post gray */
  background-color: #e7e7e7;
  xx-nice-color-background-color: lightblue;
}

.dw-post-info .dw-owner-info {
  float: left;
  padding-left: 0.3em; /* no <li> to the left, pad only a little bit */
  margin-right: 0.5em; /* post-info <li>s to the right */
}

.dw-post-info .dw-rats {
  display: inline;
  /* Possible TODO:
    height: 1.4em;
    overflow: hidden;
  and remove height restriction on click. Then, all ratings shown, on click.
  */
}

.dw-post-info .dw-rats li {
  float: left;
  padding: 0 1px 3px 0.5em;
  background-color: #e7e7e7;
}

.dw-thread-info .dw-rat-tag,
.dw-post-info .dw-rats .dw-rat-tag {
  font-size: 85%;
}

.dw-post-info .dw-post-liking,
.dw-post-info .dw-rat-count,
.dw-post-info .dw-rat-tag-frac-min,
.dw-post-info .dw-rat-tag-sum,
.dw-post-info .dw-rat-valsum-max {
  margin-left: 3px;
  font-weight: bold;
  display: none; /* it's for debugging mostly; makes non-developers confused */
}

.dw-post-info .dw-rats .dw-rat-tag-frac {
  font-size: 90%;
  position: relative;
  left: -2px;
}
.xxx-dw-post-info .dw-rats .dw-rat-tag-frac:before {
  content: "×"; /* The multiplication sign, U+00D7 */
  position: relative;
  left: -1px;
}

.dw-post-info .dw-rats-non-weighted {
  display: none; /* -non-weighted is only for debugging */
}

.dw-post-info .dw-last-changed,
.dw-post-info .dw-edits {
  float: right;
  clear: right;
  padding: 1px 3px 3px 1ex;
  margin-left: 1ex;
  position: relative;
  font-size: 85%;
  background-color: #e7e7e7; /* parent elem, .dw-post-info, has same bg-color,
                                but its height is restricted */
}

/* --- Actions ---*/

#dw-hidden-templates {
  display: none;
}

#dw-action-menu {
  position: relative;
  height: 0px; /* otherwise pushes contents below downwards;
                  buttons inside visible anyway */
}

#dw-action-menu a {
  position: relative;
  top: -3px;
  z-index: 20;
  margin: 0 -11px 0 5px; /* remove void between buttons, move 5px right */
  border: 1px solid #bbb;
  border-top: 1px solid #ddd;
}

#dw-action-menu .ui-button-text {
  padding: 0.1em 1.5em 0.2em !important; /* reduce height, make wider */
}

/* --- Text ---*/
.dw-post .dw-text {
  clear: left;
  padding: 4px 1px 3px 3px;
}

/* === Forms === */

.debiki form {
  position: relative;
  z-index: 9999;
  background-color: #fcfaf5; /*FCFAF5*/
  padding: 1em; /* push outline away */
  margin: 1em;
  outline: #83c5df solid thick; /* was: #9ee */
  float: left; /* else: sometimes very wide; reply-form might appear inside! */
}

.debiki form input[type='text'],
.debiki form textarea {
  font-family: Verdana, sans-serif; /* the font .dw-post .dw-text uses */
}

.dw-name-or-alias {
  float: left; /* TODO: need not float everything? */
  clear: both;
  margin-top: 1.8em;
}

.dw-submit-set {
  float: left;
  clear: both;
  margin-top: 1.7em;
}

.debiki .ui-button {
  cursor: crosshair !important; /* has only client side side effects */
}

.debiki .ui-button.dw-submit {
  cursor: pointer !important; /* has servede side effects, might reload page */
}

/* === Reply === */

.xx-dw-thread.dw-reply {
  z-index: 99999; /* license agreement should always be visible */
  background-color: #fcfaf5; /*FCFAF5*/
  max-width: none; /* allow user to rezise textarea as s/he see fit */
}

form.dw-reply-form label {
  display: inline-block;
  margin-right: 0.4em;
}

form.dw-reply-form textarea {
  width: 97%;
  height: 97%;
  resize: none; /* need to disable Chrome's default-resizing-of-textarea,
                  because the parent <form> (which is also resizable)
                  isn't resized when the textarea is resized */
}

form.dw-reply-form input[type='text'],
form.dw-reply-form textarea {
  margin-top: 0.7em;
}

.dw-user-contrib-license {
  float: left; /* TODO? Stop floating everything in the <form>s */
  clear: both;
  color: #666;
  font-size: 70%;
  margin: 1em 0px;
  max-width: 32em; /* else license text makes reply-thread very wide */
}
.dw-user-contrib-license a {
  color: #777;
}

/* === Rate === */

form.dw-rat-form {
  min-width: 16.5em; /* at least 2 rat-tag-set:s wide */
}

form.dw-rat-form .dw-rat-tag-set {
  float: left;
  max-width: 8em;
}

form.dw-rat-form .dw-rat-tag-set .ui-button {
  min-width: 7em;
}

/* Javascript shows clickable .dw-show-more-rat-tags,
 and hides .dw-more-rat-tags. */
form.dw-rat-form .dw-show-more-rat-tags {
  display: none;
  margin-top: 1em;
  float: left; /* otherwise margin-top has no effect, why not? */
  clear: both;
  cursor: crosshair;
  font-size: 85%;
}

/* stack more-rating-tags horizontally */
form.dw-rat-form .dw-more-rat-tags {
  clear: both;
  margin-top: 1em;
  max-width: none;
}
form.dw-rat-form .dw-more-rat-tags label {
  float: left;
  min-width: 0 !important;
}

/* === Edit === */

.dw-edit-form .ui-accordion-content {
  padding: 0.5em !important; /* otherwise too much padding */
}

.dw-edit-form .dw-edit-suggestions p {
  /* Use same font/size as .dw-debate */
  font-family: Verdana, sans-serif;
  font-size: 93%;
  line-height: 110%;
}

.dw-edit-form .ui-accordion {
  margin-top: 0.75em;
}

.dw-edit-form h4 {
  font-weight: normal !important;
  font-size: 93%;
}

.dw-edit-form h4.dw-your-edit {
  font-weight: bold !important;
}

.dw-edit-form .dw-live-edit {
  background: none !important; /* it's distracting, behind the textarea */
  padding: 0 !important; /* otherwise textarea very small */
}

.dw-edit-form .dw-live-edit.ui-accordion-content {
  overflow: hidden !important; /* textarea sometimes a few pixels too high */
}

.dw-edit-form .dw-live-edit textarea {
  width: 98%;
  height: 97%; /* else too small */
  resize: none; /* disable Chrome's default-resizable (and
                   make the accordion resizable instead) */
  padding-right: 0px;  /* else 97% (above) often too large, so... */
  padding-bottom: 0px; /* ...scrollbars appear */
}

.dw-new-edit-btn {
  float: left;
  margin: 1em 0 0;
}

.dw-hidden-new-edit {
  display: none !important;
}

.dw-edit-liking-stats {
  margin: 1em 0 0;
}

/* === Misc === */

.dw-parent-ref {
  font-weight: bold;
}

.dw-highlight {
  outline: blue dotted medium
}

/* === jQuery UI integration === */

/* Here's a color blender: http://websitetips.com/colortools/colorblender/
 */

/* Same color as the ui-buttons */
.dw-color-from-ui-state-default { color: #1c94c4; }
.dw-color-bright-from-ui-state-default { color: #83c5df; }
.dw-color-brighter-from-ui-state-default { color: #c1e2ef; }
.dw-color-brightest-from-ui-state-default { color: #eaf5fa; }

/* Same font */
.dw-font-from-ui-widget {
  font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
}

/* Makes a jQuery-UI-button():ized <a> tag look more like a link */
.dw-linkify-ui-state-default {
  border: none !important;
  background: none !important;
}

/* Use the crosshair cursor for only client side side effects */
.ui-accordion-header,
.ui-accordion-header a {
  cursor: crosshair !important;
}

/* Make accordions smaller; jQuery UI padds a little bit too much? */
.debiki .ui-accordion .ui-accordion-header a {
  padding: 0.2em 0.2em 0.2em 0.7em;
}

/* jQuery UI bug fix: in the jQuery-auto-generated file, ".debiki"
 is missing (on the next line). */
.debiki input.ui-button { padding: .4em 1em; }

