/* vim: fdm=marker et sw=2 ts=2
 *
 * Tips: List all CSS classes like so:
 *   find debiki-core-basedir/src -type f -print0 | \
 *     xargs -0 egrep -ho "dw-[[:alnum:]-]+" | sort | uniq -c
 */

/* === Standard tags === */

/* --- CSS-reset ---*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
  list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- Standard elems ---*/
p {
  margin: 0 0 0.7em;
}
p:last-of-type {
  /*margin-bottom: 0;*/
}

/* === Debate === */

.dw-debate {
  margin-left: 0.3em;
  font-family: Verdana, sans-serif;
  /* In the future: Georgia for titles? */
  font-size: 93%;
  line-height: 110%;
}

.dw-debate-info {
  display: none; /* need to place somewhere where it won't confuse newbies */
  margin-bottom: 1em;
}

.dw-dragscrollable {
  cursor: move !important; /* important, or next rule might set to `auto' */
}
.dw-dragscrollable > * {
  cursor: auto; /* don't inherit `move' cursor */
}

/* === Threads === */

.dw-depth-0.dw-cmt {
  margin: 0.3em 0 0 0.7em;
  border-left: 0.9em solid transparent;
  border-bottom: 1ex solid transparent;
  background-color: inherit;
}

/* The very first post */
.dw-depth-0.dw-cmt > .dw-post {
  margin-bottom: 0.8em;
}
.dw-depth-0.dw-cmt > #dw-action-menu {
  top: -0.8em; /* cancel above margin-bottom */
}
.dw-depth-0.dw-cmt > .dw-cmt-wrap > .dw-cmt-bdy.dw-x-e {
  /* Make the root post wider than other posts, so it spans > 1 child.
  Then it is easier (?) to understand which threads are its
  children, although the children are spread horizontally. */
  max-width: 60em;
}
.dw-depth-0.dw-cmt > .dw-cmt-wrap > .dw-cmt-bdy.dw-x-e > .dw-text {
  padding-right: 15em; /* the text would be hard to read were it very wide */
  padding-bottom: 1.3em; /* litte more airy? first post */
}

.dw-depth-1 .dw-cmt {
  padding-left: 0;
  border-top: none;
  }

/* --- Float ---*/
.dw-cmt {
  float: left;
  position: relative; /* #action-menu is absolute positioned relative cmt */
}
.dw-depth-1 .dw-cmt {
  float: none;
  clear: both; /* else the rating form might float to the left */
}

/* --- Width ---*/
.dw-depth-1 {
  /* Avoids >1 column for this depth */
  width: 25em;
}
.dw-depth-1.dw-cmt.dw-collapsed-fx {
  max-width: 8.5em;
  overflow: hidden;
}

/* === Posts === */

.debiki .ui-resizable-se {
  /* The small grip has been replaced with the normal grip
  (search for "ui-icon-grip" in debiki.js), so we make the
  tag a few pixels wider. */
  height: 17px;
  width: 17px;
  background-position: -80px -222px;
  background-color: white; /* hides text beneath, else grip hard to notice */
}

.debiki form .ui-resizable-se {
  background-color: #fcfaf5; /* (see above) match form background */
}

.dw-cmt-bdy p {
  /* Don't span whole screen even if .post.cropped-e is removed. */
  max-width: 50em;
}

/* Make the s,n,e,w handles larger (else hard to drag) and place them
1 layer below the .ui-resizable-se handle (see above),
so as not to hide that handle (which is assigned z-index 1001 by
some jQuery code somewhere; I cannot find 1001 in any CSS class).*/
.debiki .ui-resizable-n,
.debiki .ui-resizable-s {
  height: 20px;
  z-index: 1000;
}
.debiki .ui-resizable-e,
.debiki .ui-resizable-w {
  width: 20px;
  z-index: 1000;
}
/* But don't raise the vertical lines between depth-1 threads
 above the threads (with z-index: 10) */
.dw-depth-1 > .ui-resizable-handle {
  z-index: 6;
}

.dw-cmt-wrap.dw-x-s .dw-cmt-bdy,
.dw-cmt-wrap.dw-x-s .dw-cmt-hdr {
  max-height: 4em;
  cursor: help;
}

.dw-cmt-bdy.dw-x-e { /* TODO: Don't need this class? */
  max-width: 25em;
}

.dw-cmt-wrap.dw-x-s .dw-x-mark {
  display: block;
  position: absolute;
  bottom: 0px;
  right: -3px;
  padding: 4px 25px 0 10px; /* there's a resizable-se grip to the right */
  height: 17px;
  background: white;
  font-style: italic;
  letter-spacing: 0.3ex;
}
.dw-cmt .dw-x-s:hover .ui-resizable-se,
.dw-cmt .dw-x-s:hover .dw-x-mark {
  background-color: #fdc;
  color: #363636;
}
/*
.dw-post.dw-x-s .dw-x-mark .ui-icon {
  height: 15px;
  display: inline-block;
}*/
.dw-cmt-wrap .dw-x-mark {
  display: none; /* no longer cropped, class .dw-x-s gone */
}

/* --- Comments ---*/

.dw-cmt {
  margin: 8px 0 0 5px;
}

/*.dw-depth-0 > form, -- cannot, already a border/outline
.dw-depth-0 > .dw-edit-forms, */
.dw-cmt.dw-depth-1 {
  padding: 0 20px 0 0;
  margin: 10px 16px 0 0;
  border-right: 2px solid lightgray;
}

.xx.dw-cmt.dw-depth-1:first-of-type,
.xx.dw-cmt.dw-depth-1:last-of-type {
  border-right: 0;
}

.dw-cmts {
  margin: 0;
  padding-top: 3px;
  border-left: 1px dotted #ddf;
}

.dw-depth-1 .dw-cmts {
  margin: 0 0 0 25px;
}

.dw-depth-2 .dw-cmts {
  margin: 0 0 0 25px;
}

.dw-cmt-wrap {
  margin-left: 25px;
  overflow: hidden;
  background-color: white;
}

.dw-cmt-hdr {
  padding-left: 3px;
  font-size: smaller;
  color: #000;
  background-color: #eee;
}

.dw-cmt-hdr-ed {
}

.dw-cmt-by,
.dw-cmt-ed-by {
  color: #369; /* same as reddit */
  font-weight: bold;
}

.dw-rats,
.dw-rats li {
  display: inline;
}

.dw-cmt-x {
  position: absolute;
  color: #369;
  cursor: crosshair;
  font-size: 85%;
  text-decoration:none;
}

.dw-cmt-bdy {
  padding: 6px 1px 0 3px;
  position: relative;
  background-color: white;
  min-width: 5em;
}

.dw-post-edited .dw-cmt-wrap,
.dw-post-new .dw-cmt-wrap {
  border: 7px solid #f4c4f4;
}

.dw-cmt-wrap:hover {
  outline: #999 dashed thin;
  /* In case the post has been up-sized, its up-sized
  parts might be hidden by a thread, unless: */
  z-index: 10;
}

.dw-cmt-act {
  margin-left: 28px;
  display: block;
}

.dw-art-acts {
  margin-left: 28px;
  margin-bottom: 2em;
}

.dw-art-acts a {
  display: block;
  font-size: 110%;
}

.dw-art-acts a,
.dw-cmt-acts a {
  cursor: crosshair;
  text-decoration: none;
  color: #3872ab; /*#369; /*#228ef1; */
  /*
  ui-icons_0c93ca_256x240.png
  ui-icons_228ef1_256x240.png
  ui-icons_6fbbd9_256x240.png
  ui-icons_e9911c_256x240.png
  ui-icons_ef8c08_256x240.png
  ui-icons_ffd27a_256x240.png
  */
}

.dw-cmt-acts a {
  margin-left: 28px;
  margin-right: 10px;
  font-size: 13px;
}

/* --- Post info ---*/

.dw-cmt-hdr .dw-rats .dw-rat.dw-you-rated {
  background-color: #f4c4f4;
}

.dw-cmt-hdr .dw-rats .dw-rat-tag {
  /*font-size: 85%;*/
}

.dw-cmt-hdr .dw-post-liking,
.dw-cmt-hdr .dw-rat-count,
.dw-cmt-hdr .dw-rat-tag-frac-min,
.dw-cmt-hdr .dw-rat-tag-sum,
.dw-cmt-hdr .dw-rat-valsum-max {
  margin-left: 3px;
  font-weight: bold;
  display: none; /* it's for debugging mostly; makes non-developers confused */
}

.dw-cmt-hdr .dw-rats .dw-rat-tag-frac {
  font-size: 90%;
  position: relative;
  left: -2px;
}
.xxx-dw-post-info .dw-rats .dw-rat-tag-frac:before {
  content: "×"; /* The multiplication sign, U+00D7 */
  position: relative;
  left: -1px;
}

.dw-post-info .dw-rats-non-weighted {
  display: none; /* -non-weighted is only for debugging */
}

.dw-post-info .dw-last-changed,
.dw-post-info .dw-edits {
  float: right;
  clear: right;
  padding: 1px 3px 3px 1ex;
  margin-left: 1ex;
  position: relative;
  font-size: 85%;
  background-color: #e7e7e7; /* parent elem, .dw-post-info, has same bg-color,
                                but its height is restricted */
}

/* --- Actions ---*/

#dw-hidden-templates {
  display: none;
}

#dw-action-menu {
  position: relative;
  left: 22px;
  height: 0px; /* otherwise pushes contents below downwards;
                  buttons inside visible anyway */
}

#dw-action-menu a {
  position: relative;
  top: -3px;
  z-index: 20;
  margin: 0 -11px 0 5px; /* remove void between buttons, move 5px right */
  border: 1px solid #bbb;
  border-top: 1px solid #ddd;
}

#dw-action-menu .ui-button-text {
  padding: 0.1em 1.5em 0.2em !important; /* reduce height, make wider */
}

/* === Forms === */

.debiki form {
  position: relative;
  z-index: 9999;
  background-color: #fdfbf6; /*#fcfaf5;*/
  padding: 1em;
  margin: 1em;
  /* My Firifox 3.6 draws outlines very incorrectly for the Rating form,
  (but correctly for Reply and Edit), use borders instead. */
  /* outline: #83c5df solid thick; */
  border: 5px solid #cbcbcb; /*#83c5df; */
  float: left; /* else: sometimes very wide; reply-form might appear inside! */
}

.debiki form input[type='text'],
.debiki form textarea {
  font-family: Verdana, sans-serif; /* the font .dw-post .dw-text uses */
  margin-top: 0.7em;
}

.debiki form textarea {
  width: 98%;
  height: 97%; /* or too small */
  resize: none; /* disable Chrome's default-resizable (and
                   make the accordion resizable instead) */
  padding-right: 0px;  /* else 97% (above) often too large, so... */
  padding-bottom: 0px; /* ...scrollbars appear */
}

.dw-name-or-alias {
  float: left; /* TODO: need not float everything? */
  clear: both;
  margin-top: 1.8em;
}

.dw-submit-set {
  float: left;
  clear: both;
  margin-top: 1.7em;
}

.debiki .ui-button {
  cursor: crosshair !important; /* has only client side side effects */
}

.debiki .ui-button.dw-submit {
  cursor: pointer !important; /* has servede side effects, might reload page */
}

/* === Reply === */

form.dw-reply-form label {
  display: inline-block;
  margin-right: 0.4em;
}

form.dw-reply-form textarea {
  width: 97%;
  height: 97%;
  resize: none; /* need to disable Chrome's default-resizing-of-textarea,
                  because the parent <form> (which is also resizable)
                  isn't resized when the textarea is resized */
}

.dw-user-contrib-license {
  float: left; /* TODO? Stop floating everything in the <form>s */
  clear: both;
  color: #666;
  font-size: 70%;
  margin: 1em 0px;
  max-width: 32em; /* else license text makes reply-thread very wide */
}
.dw-user-contrib-license a {
  color: #777;
}

/* === Rate === */

form.dw-rat-form {
  min-width: 16.5em; /* at least 2 rat-tag-set:s wide */
}

form.dw-rat-form .dw-rat-tag-set {
  float: left;
  max-width: 8em;
}

form.dw-rat-form .dw-rat-tag-set .ui-button {
  min-width: 7em;
}

/* Javascript shows clickable .dw-show-more-rat-tags,
 and hides .dw-more-rat-tags. */
form.dw-rat-form .dw-show-more-rat-tags {
  display: none;
  margin-top: 1em;
  float: left; /* otherwise margin-top has no effect, why not? */
  clear: both;
  cursor: crosshair;
  font-size: 85%;
}

/* stack more-rating-tags horizontally */
form.dw-rat-form .dw-more-rat-tags {
  clear: both;
  margin-top: 1em;
  max-width: none;
}
form.dw-rat-form .dw-more-rat-tags label {
  float: left;
  min-width: 0 !important;
}

/* === Edit === */

.dw-edit-forms { /* currently almost identical to <form> */
  position: relative;
  z-index: 9999;
  background-color: #fefdfa; /*#fcfaf5;*/
  padding: 1em;
  margin: 1em;
  outline: #eee /*#ddeff6 /*#83c5df*/ solid thick;
  float: left; /* or sometimes very wide */
}

.dw-edit-forms form {
  margin: 1em 0;
  float: none; /* or won't be wide enough to fill up parent */
  clear: both; /* or show-form buttons appear to the left */
}

.dw-edit-forms > a {
  margin: 0.8em 0;
  float: left; /* or 100% wide when sliding up/down, weird */
  clear: both; /* or stacked horiz. when forms sliding up/down */
}

.dw-edit-forms form:first-of-type,
.dw-edit-forms > a:first-of-type {
  margin-top: 0;
}

.dw-edit-forms .ui-accordion {
  margin-top: 0.75em;
}

.dw-edit-forms .ui-accordion-content {
  padding: 0.7em 0.2em 0 0.6em !important; /* otherwise too much padding */
  background: #f2f2f2; /* jQuery UI's default bg is somewhat obtrusive*/
  border: 1px solid #BBB;
}

.dw-edit-forms .ui-accordion-content p {
  /* Use same font/size as .dw-debate */
  font-family: Verdana, sans-serif;
  font-size: 93%;
  line-height: 110%;
}

.dw-edit-forms .ui-accordion h4 {
  font-weight: normal !important;
  font-size: 93%;
}

.dw-edit-forms h4.dw-your-edit {
  font-weight: bold !important;
}

.dw-edit-vote-btns,
.dw-edit-liking-stats {
  margin: 1em 0 0;
}

.dw-edit-dates {
  margin: 0 0 1.1em;
}

.dw-edit-dates,
.dw-edit-liking-stats {
  font-style: italic;
  font-size: 85%;
}

/* === Misc === */

.dw-parent-ref {
  font-weight: bold;
}

.dw-highlight {
  outline: blue dotted medium
}

/* === jQuery UI integration === */

/* Here's a color blender: http://websitetips.com/colortools/colorblender/
 */

/* Same color as the ui-buttons */
.dw-color-from-ui-state-default { color: #1c80c4; /*1c94c4;*/ }
.dw-color-bright-from-ui-state-default { color: #83c5df; }
.dw-color-brighter-from-ui-state-default { color: #c1e2ef; }
.dw-color-brightest-from-ui-state-default { color: #eaf5fa; }

/* Same font */
.dw-font-from-ui-widget {
  font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
}

/* Makes a jQuery-UI-button():ized <a> tag look more like a link */
.dw-linkify-ui-state-default {
  border: none !important;
  background: none !important;
}

/* Use the crosshair cursor for only client side side effects */
.ui-accordion-header,
.ui-accordion-header a {
  cursor: crosshair !important;
}

/* Make accordions smaller; jQuery UI padds a little bit too much? */
.debiki .ui-accordion .ui-accordion-header a {
  padding: 0.2em 0.2em 0.2em 0.7em;
}

/* jQuery UI bug fix: in the jQuery-auto-generated file, ".debiki"
 is missing (on the next line). */
.debiki input.ui-button { padding: .4em 1em; }











