<configuration>

  <!-- Generates colored log level names. -->
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ed.stackdriver.StackdriverLayout" />
    </encoder>
  </appender>

  <!-- https://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy   -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/talkyard/talkyard-app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/var/log/talkyard/talkyard-app.%d{yyyy-ww}.log</fileNamePattern>
      <maxHistory>12</maxHistory>
      <!-- Maybe otherwise a "log loop bug" could fill up the disk? -->
      <totalSizeCap>200MB</totalSizeCap>
    </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ed.stackdriver.StackdriverLayout" />
    </encoder>
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="TRACE" />
  <logger name="tysvapp" level="TRACE" />
  <logger name="org.elasticsearch" level="INFO" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
