<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>

  <!-- Generates colored log level names.  Doesn't work (removed?) with Java 11 and Logback 1.3.
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />
   -->

  <appender name="STDOUT" class="ConsoleAppender">
    <!--
    Cannot use Talkyard's custom logging layout, StackdriverLayout, because
    in Play Framework's dev mode, dynamically compiled classes are not available
    when Logback starts, because of how Play's auto-compile-reload things work.
    A work-around is to place the classes in a separate module, and compile separately,
    and include via sbt-publish-local — but I didn't get that to work,
    automatically in dev mode, without running sbt publish-local manually.
    Anyway, about the StackdriverLayout in a sub project, see:
     - https://github.com/playframework/playframework/issues/8125#issuecomment-354162334
     - https://stackoverflow.com/a/54562988/694469
     - https://www.scala-sbt.org/1.x/docs/Multi-Project.html
     - Commit cdbd41fa "Remove ed-logging, to simplify build" in this repo.
    So don't use ed.stackdriver.StackdriverLayout, in dev-test mode. Instead: -->
    <encoder class="PatternLayoutEncoder">
      <pattern>%date{YYMMDD HH:mm:ss.SSS} %-5level %logger{15}  %message%n%xException{50}</pattern>
    </encoder>
  </appender>

  <!-- ElasticSearch request info. (Only in dev mode.) -->
  <logger name="org.elasticsearch.client.RestClient" level="TRACE" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <!-- ElasticSearch request json, dev mode only. Needs lots of extra config [es_req_logs],
  see: https://www.elastic.co/guide/en/elasticsearch/client/java-api-client/current/java-rest-low-usage-logging.html
  -->
  <logger name="tracer" level="TRACE" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="application" level="TRACE"/>
  <logger name="tysvapp" level="TRACE"/>
  <logger name="tysvapp.MemCache" level="DEBUG"/>

  <!-- Nice to have here, if changing <root> level to, say, DEBUG. -->
  <logger name="play" level="INFO"/>
  <logger name="play.shaded" level="INFO"/>
  <logger name="org.elasticsearch" level="INFO"/>
  <logger name="com.zaxxer.hikari" level="INFO"/>
  <logger name="org.flywaydb" level="INFO"/>
  <logger name="application-akka.actor" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
