<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
  <import class="ed.stackdriver.StackdriverLayout"/>
  <import class="ch.qos.logback.core.encoder.LayoutWrappingEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>

  <appender name="STDOUT" class="ConsoleAppender">
    <encoder class="LayoutWrappingEncoder">
      <layout class="StackdriverLayout"/>
    </encoder>
  </appender>

  <logger name="application" level="TRACE"/>
  <logger name="tysvapp" level="TRACE"/>
  <logger name="tysvapp.MemCache" level="DEBUG"/>

  <!-- Nice to have here, if changing <root> level to, say, DEBUG. -->
  <logger name="play" level="INFO"/>
  <logger name="play.shaded" level="INFO"/>
  <logger name="org.elasticsearch" level="INFO"/>
  <logger name="com.zaxxer.hikari" level="INFO"/>
  <logger name="org.flywaydb" level="INFO"/>
  <logger name="application-akka.actor" level="INFO"/>
  <!-- Akka logs uninteresting noise with WARN severity, unfortunately. E.g. if a WebSocket
  client disconnects. Maybe makes sense for an internal backed app, but not in Ty's case.
  A discussion about that: https://discuss.akka.io/t/akka-http-log-levels-for-production/6101
  All false positives make me ignore log messages altogether! Better make Akka quiet: -->
  <logger name="akka" level="ERROR"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
