@(tpi: debiki.TemplateProgrammingInterface)


@wrapper(tpi) {
  <!-- forumMainPage.scala.html -->

  <ol class="parent-forums-list">
    @for(parentForum <- tpi.listParentForums()) {
    <li>
        <a href="@{parentForum.path}">@{parentForum.title}</a>
    </li>
    }
  </ol>

  @tpi.page {
    @tpi.title
  }

  <!-- <p>
    <b>Click to select forums.</b>
    Threads from selected forums are then listed below.
  </p> -->

  <ol class="forum-list">
  @for(subforum <- tpi.listSubForums()) {
    <li>
      <a href='@{subforum.path}'>
        <h2>@{subforum.title}</h2>
      </a>
    </li>
  }
  </ol>

  @if(tpi.listSubForums().isEmpty) {
    <a class='dw-a-new-forum-thread'>New Topic</a>
  }

  <ol class="thread-list">
  @for(thread <- tpi.listRecentForumThreads()) {
    <li>
      <a href='@{thread.path}'><h3>@{thread.title}</h3></a><br>
      on @{thread.pubDati.toString}
    </li>
  }
  </ol>

}

