@(tpi: debiki.TemplateProgrammingInterface, isHomepage: Boolean = false)(body: Html)

@homepage = @{ if (isHomepage) " homepage" else "" }

<!DOCTYPE html>

<html class="@tpi.debikiHtmlTagClasses@homepage @tpi.configValue("html-tag-classes")" @tpi.configValue("html-tag-attributes-excl-class")>
<head>
  @tpi.debikiMeta

  <title>@tpi.configValue("title")</title>
  <meta name="description" content="@tpi.configValue("description")">
  <meta name="keywords" content="@tpi.configValue("keywords")">

  @tpi.debikiStyles
  @Html(tpi.configValue("html-head-styles"))
  @tpi.stylesheetBundle("styles.css")

  @tpi.debikiScripts

  <script>
    if (!Modernizr.touch) jQuery(document).ready(function($) {
      Modernizr.load({
        load: [
          '/-/tmp/yoxview/jquery.yoxview-2.21.min.js',
          '/-/tmp/yoxview/yoxview.css'],
        complete: function() {
          jQuery.noConflict();
          $('.yoxview').yoxview();
        }
      });
    });
  </script>

  @if(tpi.configValue("social-links").nonEmpty && tpi.configValue("social-links") != "none") {
    @Html(tpi.configValue("social-scripts"))
  }

  @Html(tpi.websiteConfigValue("html-head-tags-appended-site-wide"))
  @Html(tpi.configValue("html-head-tags-appended"))
</head>
<body>

@tpi.debikiDashbar

<div id='topbar'>
  <div class='container ui-helper-clearfix'>
    <a class='logo-slogan' href='/'>
      <img src="@routes.Assets.at("/public", "img/logo-128x120.png")">
      <span class='logo'>Debiki</span>
      <span class='slogan'>— for the fruitful conversations</span>
    </a>
    <span id='dw-loginout'>@tpi.loginLinkAndUserName</span>
    <nav id='site-nav' class='debiki-0-mark-current-site-section'>
      @if(!isHomepage) { <a href="/">Home</a> }
      @Html(tpi.websiteConfigValue("navigation-links"))
    </nav>
  </div>
</div>

<div id='alfa-info' class='debiki-show-if-lte-ie7'>
  <div class='alfa-small'>
    Please consider upgrading to
    <a rel='nofollow' href='http://windows.microsoft.com/en-US/internet-explorer/products/ie/home'
      >a newer version of Internet Explorer</a>
    (or install <a rel='nofollow' href='http://www.google.com/chrome'>Google Chrome</a>,
    it's even faster).
  </div>
</div>

<div class='container'>
  <div id="content">
    <article>
      @body
    </article>
  </div>
</div>

<footer>
  <div class='footer'>
    <p><em>Debiki — for the fruitful conversations</em></p>
    <p><small>Copyright &copy; 2012 Kaj Magnus Lindberg</small></p>
    <p><small>Contact me <a href="/-0k7l6-contact">here</a></small></p>
    <!-- <p><small>
      <a href='http://www.debiki.se/terms/this-website/privacy-policy'>Privacy Policy</a>.
      <a href='http://www.debiki.se/terms/this-website/terms-of-use'>Terms of Use</a>.
      </small>
    </p> -->
    <p><small>User contributions licensed under
      <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
    </small>
    </p>
  </div>
</footer>

@tpi.debikiAppendToBodyTags

</body>
</html>

