@(errorException: Exception)

@import debiki.TemplateRenderer._
@import debiki.WebsiteConfigException

@withSomething = @{
  errorException match {
    case _: BadTemplateException => " with the page template"
    case _: PageConfigException => " with the page settings"
    case _: WebsiteConfigException => " with the website configuration"
    case _ => ""
  }
}

<!DOCTYPE html>
<html>
<head>
  <!-- specialpages.brokenPage.scala.html -->
  <title>Error</title>
  <link rel="stylesheet" href="/-/res/debiki-default-scaffold.css"/>
  <style>
    #template-info {
      margin: 2em;
      max-width: 40em;
    }
  </style>
</head>
<body>

<div id='template-info'>
  <p>There is some error@withSomething:</p>
  <pre>@errorException.getMessage</pre>
  <p><a href="?view=3">View / edit page settings</a></p>
  <p><a href="/_website-config.yaml">View / edit website configuration</a></p>
</div>

</body>
</html>
