@(tpi: debiki.TemplateProgrammingInterface, isPageSettings: Boolean)

@import tpi._

@wrapper(tpi) {
  <!-- specialpages/template.scala.html -->

  @page {
    <h1>
      @if(isPageSettings) {
        <small>Settings for:</small><br>
        <span style="
            font-style: italic;
            padding-top: 13px;
            display: inline-block;">
          @titleText</span>
      } else {
        <span style="font: bold 23px monospace;">
          @{tpi.pageUrlPath}</span>
      }
    </h1>

    @bodyAndComments
  }

}

