@(tpi: debiki.TemplateProgrammingInterface, isPageSettings: Boolean)

@import tpi._

@wrapper(tpi) {
  <!-- specialpages/template.scala.html -->

  <h2 style="color: hsl(0, 50%, 50%);">Please ignore this page.</h2>
  @if(isPageSettings) {
    <p>Click <b>Return to page</b> in the upper left corner.</p>
  }
  <p>Configuration pages are dangerous and undocumented!</p>

  @page {
    <h1>
      @if(isPageSettings) {
        <small>Settings for:</small><br>
        <span style="
            font-style: italic;
            padding-top: 13px;
            display: inline-block;">
          @titleText</span>
      } else {
        <span style="font: bold 23px monospace;">
          @{tpi.pageUrlPath}</span>
      }
    </h1>

    @bodyAndComments
  }

}

