/*
 * Copyright (c) 2015-2016 Kaj Magnus Lindberg
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.edAvtr // avatar
  &:hover:not(.esAv-IgnoreClicks)
    opacity: 0.6;
    cursor: pointer;
  img
    border-radius: 50%;
    width: 48px;
    height: 48px;

  float: left;
  position: absolute;
  left: -1px;
  width: 48px;
  height: 48px;
  img
    width: 48px;
    height: 48px;

.esAvtr-ltr  // avatar with a letter, no image uploaded
  font-size: 25px;
  // The letter avatars look so large (because they're a bulb of color?),
  // so make them a few pixels smaller:
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: white;
  border-radius: 50%;
  font-style: normal;
  text-align: center;
  noUserSelect();

.edAvtr-manyLetters
  letter-spacing: 0.1ex;
  font-size: 21px;

.esAvtr-gst
  background: hsl(0, 0%, 92%);
  color: hsl(0, 0%, 57%);
  font-weight: normal;

// w-avtr = "with avatar"
.ed-w-avtr > .dw-p,
.ed-w-avtr > .esPA,
.ed-w-avtr > .dw-single-and-multireplies
  margin-left: 56px;

// Without this, the avatars won't align vertically with the post header, because of
// some line-height.
.dw-chat
  .edAvtr
    top: 15px;
  & > .dw-res > li:first-child .edAvtr
    top: 10px;


.esAvtr-sys
  background-color: hsl(0, 0%, 51%);

.dw-p-hd .esAvtr-tny
  top: -5px;
  left: -2px;

.esAvtr-tny
  position: relative;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-right: 6px;
  &.esAvtr-ltr
    font-size: 15px;
    font-weight: bold; // small low contrast font, otherwise hard to read
  &.edAvtr-manyLetters
    width: 31px; // now it's an eclipse, why not
    font-size: 14px;
  &.esAvtr-gst
    color: hsl(0, 0%, 50%); // -tny = smaller font -> increase contrast

  img
    width: 25px;
    height: 25px;
    cursor: pointer;

.dw-topic-list
  .esAvtr-gst // dupl code 3 lines:
    background: hsl(0, 0%, 92%);
    color: hsl(0, 0%, 57%);
    font-weight: normal;
  .esAvtr-tny
    margin: 0 0 0 4px;
    vertical-align: middle;
    // Oh well
    display: inline-block;
    float: none;


.esAvtrName
  white-space: nowrap;
  .esAvtr
    float: none;
    display: inline-block;

.esAvtrName_username,
.esAvtrName_fullName
  vertical-align: middle;


// vim: fdm=marker et ts=2 sw=2 tw=0 list
