/*!
 * Copyright (C) 2013 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


#debiki-dashbar
  background: black

  .debiki-dashbar-logo img
    width: 26px
    padding: 0
    margin: 0
    position: relative
    display: inline

  .debiki-dashbar-logo,
  a
    padding: 5px 7px 6px 7px
    vertical-align: middle
    display: inline-block

  a
    height: 100%
    color: hsl(0, 0%, 87%)
    font-family: Verdana, sans-serif
    text-decoration: none
    font-weight: bold

    &:hover
      background: #888
      color: #fff


// vim: fdm=marker et ts=2 sw=2 tw=100 fo=tcqwn list
