// Move and rename file to?...  topbar/important-messages.styl  ?
//                       or to  global-messages.styl  ?

.s_MaintWorkM,
.s_NoInetM  // [NOINETMSG]
  display: none;
  margin: 5px 5px 0;
  padding: 5px 10px 4px;
  font-weight: bold;
  color: $errorColor;
  background: $errorBackground;
  border: 1px solid $errorColor;

.s_MaintWorkM,
html.s_NoInet .s_NoInetM
  display: inline-block;

// For now, until has made WebSocket reconnect work, see: tryReonnectWebSocket() [WSRECONN].
.s_NoInetM
  display: none !important; // [NOINETMSG]