// Move and rename file to?...  topbar/important-messages.styl  ?
//                       or to  global-messages.styl  ?

.s_NoInetM  // [NOINETMSG]
  display: none;

.c_MaintWorkM,
.s_NoInetM  // [NOINETMSG]
  margin: 5px 5px 0;
  padding: 4px 10px 5px 12px;
  font-size: 14.5px;
  color: $errorColor;
  background: $errorBackground;
  border: 1px solid $errorColor;
  @media (min-width: 1000px)
    // Why won't these margins work, unless .esTopbar_custom uses  display: flex?
    margin-left: auto;
    margin-right: auto;
    padding: 10px 22px 13px
    font-size: 15.5px;

/* Currently not included. Maybe later.
.c_MaintWorkM button
  margin: 2px 3px 0 0;
  padding: 1px 7px 3px;
  border: none;
  color: white;
  background: hsl(207 100% 47%);
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.35);
  font-weight: bold;
  */

html.s_NoInet .s_NoInetM
  display: inline-block;

.s_Tb-Fxd .c_MaintWorkM
  // Show when has scrolled down.
  display: inline-block;
  // Otherwise the page title will be 0px to the right. [maint_msg_in_middle]
  margin-right: 17px;

.s_Tb-Stc .c_MaintWorkM
  // Hide. When hasn't scrolled down, there's [another_maint_msg] in a server
  // announcement box visible at the top of the page.
  display: none;

// Or maybe use this always? — Let's wait.
html.n_MaintWork .esTopbar_custom
  display: flex;
  flex: 1;

html.n_MaintWork .s_TbW-Stc
  margin-bottom: 20px;

// Shown together with other server announcements.
.c_MaintWorkM
  display: block;
  max-width: 700px;
  margin: 0 auto;
  h1, h2
    margin: 0 auto 0.6ex;
    text-align: center;

// For now, until has made WebSocket reconnect work, see: tryReonnectWebSocket() [WSRECONN].
.s_NoInetM
  display: none !important; // [NOINETMSG]


// Disable most buttons that would make the server write to the database, if clicked,
// since everything is read-only, and clicking would just make the server reply No.
html.n_MaintWork
  .dw-a-tools,
  .esF_BB_NewTpcB,
  .dw-p-as,
  .s_APAs,
  .s_F_Ts_Cat_Edt,
  .esWB_CreateB,
  .c_UD_MsgB,
  .s_UP_SendMsgB,
  // Can't change one's notification level (would write to the database).
  .dw-notf-level,
  // The edit-page-title button.
  .dw-a-edit,
  // The edit-forum-intro button.
  .esForumIntro_edit,
  // It's ok to click View Answer, but not any other Change Page dialog button.
  .s_ChPgD button:not(.e_VwAnsB),
  // User profile pages
  .s_UP_Act_List input,
  .s_UP_Act_List textarea,
  .s_UP_Act_List button,
  .s_UP_Prefs_ChangePwB
    opacity: 0.43 !important;
    pointer-events: none;
    cursor: not-allowed;
