
.c_KbdD .modal-title
  font-weight: normal;
  b
    font-family: monospace;
    font-size: 115%;
    letter-spacing: 1px;
    margin-left: 0.5ex;


.s_KbdD_ShortcutsL li
  list-style: none;

.s_KbdD_Descr
  color: hsl(0 0% 44%);
  b
    color: hsl(0 0% 11%);
    font-size: 18px;
    letter-spacing: 0.5px;

.s_KbdD_ShortcutKeys
  font-family: monospace;
  font-size: 15px;
  letter-spacing: 2px;
  min-width: 5ex;
  display: inline-block;
  color: hsl(0 0% 33%);
  b
    color: #000;


.s_KbdD_Descr
  margin-left: 1ex;
  font-size: 14px;
  font-style: italic;
  &.s_KbdD_InfoIt
    margin: 2ex 0 0;
    display: block;
    font-size: 15px;
    font-style: normal;