
.DW.DW .s_UtxNextTask   // [plugin]
  background-color: hsl($uiHue, 87%, 94%);
  max-width: none;
  margin: 0 0 15px;
  padding: 0 13px;
  .s_UtxHelp_HaveAsked_ContinueB
    margin: 18px auto 27px;
    padding: 10px 0;
