// Variables accessible to all Stylus files.
// Some layout variables are in JS only, see constants.ts [6PFDS3]

$veryNarrowLimit = 370px;
$narrowLimit = 500px;

$postFontSize = 14px;

$h1Color = #454545;

$uiFont = 'Open Sans', sans-serif
$uiHue = 207  // steel blue

// 41 is orange — needs to be far away from $uiHue.
// Yellow = too bright (rgb 255 255 0 — i.e. 2 x 255).
$uiHueHighlightedBackground = 41

$uiNavHue = 0;
$uiNavSaturation = 37%;

$grayButtonBgColor = hsl(0 0% 92%);
$grayButtonBgHighlight = hsl(0 0% 97%);
$grayButtonFontColor = hsl(0deg 0% 16%);

$yellowTipsHue = 48;

$heartAndErrorHue = 8; // red red orange red

$errorColor = hsl(8, 100%, 20%);
$errorBackground = hsl(45, 100%, 86%);

$subNavColor = hsl(0, 0%, 10%);
$subNavBackgroundColor = hsl(0, 0%, 91%);
$subNavHoverBackgroundColor = hsl(0, 0%, 97%);

$pageSectionBorder = 1px solid hsl(0, 0%, 70%)
$pageSectionBackground = hsl($uiHue, 0%, 96.4%)

$solvedHue = 120; // green

$pageScrollbarWidth = 13px;

$avatarSpace = 60px;  // [7UKWQ1]

$moveSectionTitleUpPx = 10px;