.s_InstaDgW
  z-index: 999999999;
  position: relative;

.s_OnlAdmTxt
  margin-left: 5px;

.s_Expandable_Header
  padding: 7px 10px;
  width: 100%;
  background: hsl(0, 0%, 93%);
  border: none;
  font-weight: bold;
  text-align: left;

.s_Expandable .caret
  transform: scale(1.4, 1.5);
  margin-right: 7px;
  position: relative;
  top: -1px;
  color: hsl(0, 0%, 33%);

.s_Expandable-Closed .caret
  transform: scale(1.5, 1.3) rotate(-90deg); // change from  v  to  >

.s_Expandable_Body
  padding: 12px 8px;
  border: 2px solid hsl(0, 0%, 93%);
  border-top: none;


// In the comments sort order dialog, the text of the inherit-default
// select list item is:  "Default: Some Sort Order", and "Default" is the
// important word, so let's make "Some Sort Order" not-old:
.c_CmtOrdIt_InhDef_Val
  font-weight: normal;


.s_NotHttpsErr
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 9px;
  width: 350px;
  margin: 9px auto;
  color: $errorColor;
  background: $errorBackground;


// Effects (Fx)


// This instead of dearly missed <blink>, it not work, it gone?
.s_Fx-Blink
  animation: KfBlink 0.5s step-end infinite alternate;

@keyframes KfBlink
  50%  { opacity: 0; }
  100% { opacity: 1; }

.icon-loading,
.c_Fx_Spin
  animation: KfSpin 1.5s infinite ease-in-out;  // more fun than:  linear

@keyframes KfSpin
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(359deg); }
