
.dw-server-error .modal-dialog
  width: calc(100% - 50px);

@media (min-width: 1150px)
  .dw-server-error .modal-dialog
    width: calc(100% - 100px);


.dw-server-error .modal-dialog
  user-select: text;

.s_SED_Msg
  white-space: pre-wrap;
  font-family: monospace;


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
