
<div>
<table class="forum-table table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Recent Topics</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="category in categoryDetails">
      <td class="forum-info">
        <div class="forum-title-wrap">
          <a class="forum-title" ui-sref="latest({ categoryPath: category.slug })">
            {{ category.name }}
          </a>
        </div>
        <p class="forum-description">{{ category.description }}</p>
        <p class="topic-count">{{ category.numTopics }} topics</p>
      </td>
      <td>
        <table class="topic-table-excerpt table table-condensed">
        <tbody>
          <tr ng-repeat="topic in category.recentTopics">
            <td>
              <a class="topic-title" href="{{ topic.url }}">{{ topic.title }}</a>
              <span class="topic-details">
                – {{ topic.numPosts }} posts, <span am-time-ago="topic.lastPostEpoch"></span>
              </span>
            </td>
          </tr>
        </tbody>
        </table>
      </td>
    </tr>
  <tbody>
</table>
</div>
