<div settings>
  <h3>Forum Settings</h3>

  <div ng-if="ctrl.settings == null">
    Loading, please wait...
  </div>
  <div ng-if="ctrl.settings != null">

    <setting title="Title" setting="ctrl.settings.title" type="ForumSetting">
      The forum title.
    </setting>

    <setting title="Description" setting="ctrl.settings.description">
      A one sentence description of the forum. Will be used as the
        <kbd>&lt;html&gt;&lt;head&gt;&lt;description&gt;</kbd> tag.
    </setting>

    <setting title="Horizontal comments" setting="ctrl.settings.horizontalComments">
      Shall comments be laid out horizontally, in two dimensions? Otherwise they're
      shown in a single column, like everywhere else.
    </setting>

  </div>
</div>