
// [plugin] this whole file.

.s_UtxHelp_HaveAsked
  p
    line-height: 21px;
    font-size: 14px;

.s_UtxHelp_HaveAsked_Title
  font-weight: bold;
  font-size: 21px;
  margin: 5px 0 10px;
  display: block;
  line-height: 21px;

.s_UtxHelp_HaveAsked_ContinueB-skip
  box-shadow: 2px 4px 10px #8f8f8f;
  font-size: 14px;
  display: block;
  width: 145px;
  margin: 24px auto 23px;
  color: #333;
  background: #fff;
  border: none;
  &:hover
    background-color: hsl($uiHue, 88%, 86%);
    color: hsl($uiHue, 100%, 13%);

.s_UtxHelp_HaveAsked_ContinueB
  box-shadow: 2px 4px 10px hsl(0, 0%, 56%);
  padding: 11px 0;
  font-size: 21px;
  font-weight: bold;
  display: block;
  width: 255px;
  margin: 30px auto 30px;
