
// [plugin] this whole file.

.s_UtxHelp_HaveAsked
  p
    line-height: 21px;
    font-size: 14px;

.s_UtxHelp_HaveAsked_Title
  font-weight: bold;
  font-size: 21px;
  margin: 5px 0 10px;
  display: block;
  line-height: 21px;

.s_UtxHelp_HaveAsked_ContinueB
  box-shadow: 2px 4px 10px hsl(0, 0%, 56%);
  padding: 9px 20px;
  font-size: 18px;
  font-weight: bold;
  display: block;
  width: 151px;
  margin: 30px auto 30px;

