
// This file was copied from the wwwdebikicom theme, which was written in CSS not Stylus.

.parent-forums-list {
  margin: 40px 0 0;
}

.parent-forums-list li {
  margin: 0;
  list-style-type: none;
  display: inline-block;
}

.parent-forums-list li::after {
  content: " → ";
}


/* --- Forum list --- */

.forum-table
  th
    color: hsl(0, 0%, 55%)

.forum-table > tbody > tr > td {
  padding: 15px 5px 10px 8px; /* 8x paddin-left aligns w/ row header */
}

.forum-table .forum-title-wrap {
  font-size: 17px;
  margin: 5px 10px 11px 0;
}

.DW.DW .forum-table td {
  background: none; /* cancel Twitter Bootstrap */
}

.forum-table .topic-table-excerpt tbody,
.forum-table .topic-table-excerpt td {
  border: none;
  padding-left: 0; /* or wouldn't align with parent table header */
}

.forum-table .topic-table-excerpt {
  margin-bottom: 10px;
}

.forum-table .topic-count,
.forum-table .topic-table-excerpt .topic-details {
  font-size: 12px;
}


/* --- Forum topic list --- */

.forum-title h1.dw-p-ttl {
  /* margin-bottom: 30px; */
}

.DW .dw-a-new-forum-topic {
  margin: 30px 0 13px;
  background: white;
}

.topic-table .topic-title {
  white-space: nowrap;
  font-weight: bold;
  color: hsl(0, 0%, 8%);
}

.topic-table tbody {
  /* Copied from Twitter Bootstrap */
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.forum-table .topic-count,
.topic-details {
  color: gray;
}

.topic-excerpt {
  color: #555;
  height: 68px;
  display: none;
}

.topic-list {
  margin-left: 0;
  border-top: 1px solid hsl(0, 0%, 87%);
}

.topic-list > li {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 5px;
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.topic-list > li:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.topic-list > li:hover .topic-details,
.topic-list > li:hover .topic-excerpt {
  color: #333; /* darker, since background now gray */
}

.topic-list .topic-title {
  font-family: verdana;
  margin: 20px 0 5px;
  letter-spacing: 0;
}

.topic-list .topic-details {
  margin-bottom: 5px;
}


