@charset "UTF-8";

 
.icon-yahoo:before { content: '\59'; } /* 'Y' */
.icon-openid:before { content: '\6f'; } /* 'o' */
.icon-ccw:before { content: '\27f2'; } /* '⟲' */
.icon-settings:before { content: '\9881'; } /* '颁' */
.icon-flag:before { content: '\e800'; } /* '' */
.icon-upvote:before { content: '\e801'; } /* '' */
.icon-downvote:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-bookmark:before { content: '\e804'; } /* '' */
.icon-bookmark-empty:before { content: '\e805'; } /* '' */
.icon-trash:before { content: '\e806'; } /* '' */
.icon-warning:before { content: '\e807'; } /* '' */
.icon-split:before { content: '\e808'; } /* '' */
.icon-reply:before { content: '\e809'; } /* '' */
.icon-down-open:before { content: '\e80a'; } /* '' */
.icon-pin:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-edit:before { content: '\e80d'; } /* '' */
.icon-right-open:before { content: '\e80e'; } /* '' */
.icon-down-dir:before { content: '\e80f'; } /* '' */
.icon-archive:before { content: '\e810'; } /* '' */
.icon-up-open:before { content: '\e811'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-google-plus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-collapse:before { content: '📤'; } /* '\1f4e4' */