
/* === Standard tags === */

/* --- CSS-reset ---*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- Standard elems ---*/
p {
  margin: 0 0 0.7em;
}
p:last-child {
  margin-bottom: 0;
}

/* === Debate === */

.debate {
  margin-left: 0.3em;
}

/* === Threads === */

.depth-0.thread {
  /* center root post */
  margin: 1em auto;
}
.depth-0 .thread {
  margin: 0.3em 0 0 0;
  /* transparent won't work: jQuery's class animation would fade
  to *white*, but the color shining through should be
  .depth-1.thread's background-color. */
  border-left: 0.5em solid #fcfaf5; /*transparent*/
  margin-left: 0.5em;
  border-bottom: 0.8ex solid #fcfaf5; /*transparent*/
  margin-bottom: 0.2ex;
  background-color: inherit;
  }
.depth-0 > .thread {
  margin-left: 0.5em;
  }
.xx.thread.depth-0 > .thread:nth-child(2) {
  /* thread no. 2 is currently the leftmost one,
   * need no left margin, since whole .debate already
   * has left margin.
   * - no, disable. Might indent badly on Android.
   */
  margin-left: 0;
  }
.depth-0 .thread.demarcated {
  /* Unfortunately animating the background color won't
  look nice since there migh be child threads whose
  background color it *not* animated. Perhaps this can
  be fixed with more javascript.*/
  --background-color: #faf7ea;
  border-left-color: #f3f1dc;
  border-bottom-color: #d1d1ae;
}
.depth-0 .thread.collapsed-fx {
  /* Thread is collapsed, hence its summary is visible,
  so add extra margin to previous tag (which is a .post or .thread tag)
  so there's space for a position=absolute Reply button,
  although the thread summary tag is visible. */
  margin-top: 1.2em;
}
.depth-1.thread {
  background-color: #fcfaf5;
}
.depth-1 .thread {
  padding-left: 0;
  border-top: none;
  }

/* --- Float ---*/
.thread {
  float: left;
  }
.depth-2 * {
  float: none;
  }

/* --- Width ---*/
.depth-1,
.depth-1 .thread {
  /* Avoids >1 column for this depth */
  max-width: 25em;
  }

/* === Posts === */

.post {
  overflow: hidden;
  min-height: 1.1em;
  height: 6em;
  min-width: 22em;
  background-color: #fcfaf5;
  margin: 0 5px 3px 0;
  }
.post:hover {
  outline: #888 dashed thin;
  /* In case the post has been up-sized, its up-sized
  parts might be hidden by a thread, unless: */
  z-index: 100;
}

/* --- Thread summary ---*/

.thread-summary {
  background-color: #F3F3D0;
  opacity: 0;
  padding: 0.3ex;
  font-size: 93%;
  min-width: 22em;
  cursor: s-resize;
  border-color: #C3C3A8; /* javascript border */
}

.thread-summary:hover {
  background-color: #FEFEDD;
}

.thread-summary li {
  display: inline;
  margin-left: 1ex;
}

/*
.thread-summary .post-count:before {
  content: 'Thread with ';
}

.thread-summary li:after {
  content: ',';
}

.thread-summary .summary-score:after {
  content: ', mostly';
}
*/

/* --- Vote summary ---*/

.vote-summary {
  --background-color: #F6F6F6;
  background-color: #EEE;
  font-size: 93%;
  --max-width: 25em;
  --min-width: 22em;
  padding: 0.3ex;
}

.vote-summary li {
  display: inline;
  margin-left: 1ex;
}

.vote-summary .vote-score {
  margin-left: 3px;
  margin-right: 1em;
}

/* Won't work, because float:right reorders tags.
.vote-summary .vote-it + .vote-is {
  margin-left: 3em;
} */

.vote-summary .vote-is {
  float: right;
}

.vote-summary li:hover {
  --background-color: #DFF;
  --cursor: crosshair;
}

.vote-summary .count:before {
  content: "×"; /* The multiplication sign, U+00D7 */
}

/* --- Meta ---*/
.post {
  position: relative;
  }
.post .meta {
  display: none;
  position: absolute;
  top: -16px;
  margin: 0;
  padding: 0 1.2em 0 5px; /* there's a .thread border to the left */
  background-color: lightGrey;
  }
.post:hover .meta {
  --display: block
  }

/* --- Buttons ---*/
.post .owner,
.post .time {
  float: left;
  background-color: #DDD;
}

.post .owner {
  padding-right: 1em;
}

.post .edit,
.post .vote,
.post .reply {
  float: right;
  margin-left: 0.5em;
  background-color: #BBF;
  visibility: hidden;
}

.post:hover .edit,
.post:hover .vote,
.post:hover .reply {
  visibility: visible;
}

.post .owner,
.post .time,
.post .edit,
.post .vote,
.post .reply {
  padding: 1px 0.3em;
  position: relative;
}

.post .owner:hover,
.post .time:hover,
.post .edit:hover,
.post .vote:hover,
.post .reply:hover {
  background-color: #CCF;
  cursor: default;
}

/* --- Text ---*/
.post .text {
  clear: both;
  padding: 3px 1px 3px;
}

/* --- Menus ---*/
.post .menu {
  position: absolute;
  background-color: #CCF;
  left: 1ex;
  z-index: 100;
}

.post .menu li {
  padding: 0.8ex 1ex;
}

.post .menu li:hover {
  background-color: #EEF;
  cursor: crosshair;
}

#hidden-menus {
  display: none;
}

.post .menu .sub.menu {
  visibility: hidden;
  left: 2em;
  background-color: #DBF;
}

.post .menu li:hover > .sub.menu {
  visibility: visible;
}

.post .sub.menu li:hover {
  background-color: #EDF;
}

/* === Reply === */

form.reply {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

/* === Misc === */

.parent-ref {
  font-weight: bold;
}

.highlight {
  outline: blue dotted medium
}

