<div ng-if="settings == null">
  Loading...
</div>
<div ng-if="settings != null">

  <setting title="Title" setting="settings.title">
    The site title, will be used in the title tag and elsewhere.
  </setting>

  <setting title="Description" setting="settings.description">
    A one sentence description of the website. Will be used in the meta description tag.
  </setting>

  <setting title="Horizontal comments" setting="settings.horizontalComments">
    Shall comments be laid out horizontally, in two dimensions?
    If not, they're shown in a single column, which is how all other forum
    and blog software work.
  </setting>

  <setting title="Header HTML" setting="settings.headerHtml" multiline="true">
    Any header, it's shown at the top of the page.
  </setting>

  <setting title="Footer HTML" setting="settings.footerHtml" multiline="true">
    Any footer, it's shown at the bottom of the page.
  </setting>

  <setting title="Styles HTML" setting="settings.headStylesHtml" multiline="true">
    Stylesheet link tags that will be inserted after other stylesheet tags
    in the &lt;head&gt; tag.
  </setting>

  <setting title="Scripts HTML" setting="settings.headScriptsHtml" multiline="true">
    Script tags that will be inserted after other scripts in the &lt;head&gt; tag.
  </setting>

  <setting title="&lt;/body&gt; HTML" setting="settings.endOfBodyHtml" multiline="true">
    Tags that will be inserted just before the end of the &lt;body&gt; tag.
  </setting>

  <setting title="Social links HTML" setting="settings.socialLinksHtml" multiline="true">
    Google+, Facebook, Twitter like and share buttons. Don't forget to include a
    script too, e.g. in the <i>Scripts HTML</i> config value. — Perhaps I'll remove
    this config value in the future, so you might be better off not using it.
  </setting>

  <!--
  <setting title="Logo URL or HTML" setting="settings.logoUrlOrHtml" multiline="true">
    The logo for your site, e.g. "<samp>http://example.com/logotype.jpg</samp>",<br>
    or use HTML, e.g.: "<samp>&lt;img src="http://example.com/logotype.jpg"&gt;&lt;span&gt;Slogan&lt;/span&gt;</samp>".
  </setting>
  -->

  <setting title="company_full_name" setting="settings.companyFullName">
    The full name of the company or organization that runs this site.
    Used in legal documents like the Terms of Use page.
  </setting>

  <setting title="company_short_name" setting="settings.companyShortName">
    The short name of the company or organization that runs this site.
    Used in legal documents like the Terms of Use page.
  </setting>

  <setting title="company_domain" setting="settings.companyDomain">
    The domain name owned by the company that runs this site.
    Used in legal documents like the Terms of Use.
  </setting>

  <setting title="Google Universal Analytics tracking ID"
      setting="settings.googleUniversalAnalyticsTrackingId">
    Any Google Universal Analytics tracking ID, eg <samp>UA-12345678-9</samp>;
    see http://google.com/analytics.
  </setting>

</div>