
.esPinnedOk
  max-width: 480px;

  .icon-pin:before
    font-size: 23px;
    color: hsl(0, 0%, 35%);


.s_PageIdsD
  max-width: calc(100% - 30px);
  width: 720px;
  .input-group
    width: calc(100% - 32px);
  textarea
    min-height: 100px;
    white-space: nowrap;

  a code
    color: hsl($uiHue, 100%, 35%);
    text-decoration: underline;
    text-decoration-color: hsl($uiHue, 100%, 70%);