@(siteAddress: String, emailAddress: String, userName: String)

@origin = @{
  debiki.Globals.originOf(siteAddress)
}

<div>
<p>Hi @userName,</p>
@* [ux] This made one tester confused, he seems to think this message means he doesn't have
  an account: "I do have created an account.", he wrote. Reword this message so that
  it becomes like "... no pwd assoc w it, because you've logged in via Gmail only,
  and never had to choose a password. — To login again, just click the Gmail button.
  *@
<p>Your account with email address <tt>@emailAddress</tt> at site
  <a href="@origin">@siteAddress</a> has no password associated with it.
  To login, simply click e.g. the Gmail or Yahoo button.
</p>

<p>Kind regards,<br>
Debiki
</p>
</div>
