
.esTopicType_dropdown
  [class^=icon-]:before
    margin-left: 0;

  .icon-chat:before
    top: 1px;  // instead of 2px

.esTopicType
  .esDropModal_header
    margin: 0;
    padding: 14px 0 6px 11px;
    background: hsl(0, 0%, 93%);
    color: #111;

  [class^=icon-]:before
    margin: 0 4px 4px 0;
    position: relative;
    left: -1px;
    color: #333;

  .icon-attention-circled,
  .icon-help-circled
    &:before
      color: #666;


