<div id="debiki-editor-placeholder" ng-hide="!visible"></div>
<div id="debiki-editor-controller" ng-hide="!visible" ng-controller="EditorController">

  <div class="editor-area">
    <div ng-if="replyToPostIds.length == 0">
      Please select one or more posts to reply to.
    </div>
    <div ng-if="replyToPostIds.length > 0">
      Replying to
        <span ng-repeat="postId in replyToPostIds">
          <span ng-if="!$first">and</span>
          post <a href="#post-{{ postId }}">{{ postId }}</a></span>:
    </div>
    <div class="editor-wrapper">
      <textarea ng-model="text" class="editor"></textarea>
    </div>
  </div>

  <div class="preview-area">
    <div>Preview:</div>
    <pre ng-model="text" class="preview">Tex text</pre>
  </div>

  <div class="submit-cancel-btns">
    <button ng-click="vm.save()" class="btn btn-default">Save</button>
    <button ng-click="vm.cancel()" class="btn btn-default">Cancel</button>
  </div>
</div>
