
.s_SA_Filter
  margin: 15px 0;
  input
    width: 400px;
    padding: 5px;

.esSA
  .table
    td
      vertical-align: middle;

.s_SA_S_Storage
  font-family: monospace;
  font-size: 12px;
  letter-spacing: -0.5px;

.s_SA_S_Notes_Txt
  width: 400px;
  min-height: 60px;

.s_SA_S_Notes_Txt-Empty
  min-height: 30px;
  height: 30px;

.s_SA_S_Notes_SaveB
  vertical-align: top;
  margin-left: 10px;

.s_SA_S_FeatFlgs
  font-size: 10px;
  font-family: monospace;
  border: 1px solid #ccc;
  width: calc(100% - 20px);


.s_SA_StatusB,
.esSA_LoginB,
.esSA_ThisSite
  margin: 0 10px 0 12px;

.s_SA_StatusB:not(.s_SA_StatusB-Hide)
  display: block;
  margin: 5px 0 0;

.s_SA_S_Hostnames li
  margin-top: 0;
  margin-bottom: 0;
