.esSA.container
  max-width: 1400px !important;

.s_SA_Filter
  margin-top: 15px 15px 0 0;
  input
    padding: 5px;

.s_SA_Filter-Txt
  input
    width: 400px;

.c_SA_QuotaFilters
  display: flex;
  .s_SA_Filter
    input
      width: 100px;

.esSA
  .table
    margin-top: 15px;
    td
      vertical-align: middle;

.s_SA_S_Storage,
.s_SA_S_LimsMults
  font-family: monospace;
  font-size: 12px;
  letter-spacing: -0.5px;

.s_SA_S_Notes_Txt
  width: 400px;
  min-height: 60px;

.s_SA_S_Notes_Txt-Empty
  min-height: 30px;
  height: 30px;

.s_SA_S_Notes_SaveB
  vertical-align: top;
  margin-left: 10px;

.s_SA_S_FeatFlgs
  font-size: 10px;
  font-family: monospace;
  width: calc(100% - 20px);


.s_SA_StatusB,
.esSA_LoginB,
.esSA_ThisSite
  margin: 0 10px 0 12px;

.s_SA_StatusB:not(.s_SA_StatusB-Hide)
  display: block;
  margin: 5px 0 0;

.s_SA_S_Hostnames li
  margin-top: 0;
  margin-bottom: 0;

.s_SA_S_Quota
  margin-left: 9px;
  width: 70px;

.s_SA_S_LimsMults_It
  width: 65px;
  margin: 0 11px 0 0px;

.s_SA_S_Quota,
.s_SA_S_LimsMults_It,
.s_SA_S_FeatFlgs
  border: 1px solid hsl(0 0% 75%);
