
.esSA
  .table
    td
      vertical-align: middle;


.s_SA_StatusB,
.esSA_LoginB,
.esSA_ThisSite
  margin: 0 10px 0 12px;

.s_SA_StatusB:not(.s_SA_StatusB-Hide)
  display: block;
  margin: 5px 0 0;
