
// Otherwise the email input field is annoyingly narrow.
.s_InvD .input-group
  width: calc(100% - 30px);

// ... and annoyingly short.
.s_InvD textarea
  height: 150px;

.s_InvsL_It-Dd td
  text-decoration: line-through;
  text-decoration-color: #555;

