/*!
 * Copyright (C) 2010-2015 Kaj Magnus Lindberg
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Styles for the Reply, Like, Wrong More etcetera links below each post.
 */


.dw-as
  margin: -9px 0 7px;
  // Old comment: Use padding-top not margin-top here, or there'll be a tiny space between
  // the post and the .dw-as, which triggers a certain $thread.mouseleave() in
  // debiki.js which, for inline actions, hides the action menu — just before
  // you're able to click any action.
  padding: 0
  position: relative // for position: absolute 'Click this...' tips, inside

.dw-p-as
  .dw-a:before,
  .dw-a:after
    // Dim icons; they are otherwise eye catching blubs of colors.
    opacity: 0.4

.dw-depth-0 > .dw-p-as
  // Always show actions for the article / root post.
  visibility: visible !important;
  margin: 9px 0 0

.DW.DW .dw-depth-0 > .dw-p-as
  > .dw-a,
  > .dropdown
    // More whitespace between root post actions.
    margin: 0 0 0 11px

.dw-depth-0 > .dw-p-as > .dropdown
  // This makes little sense for the root post:
  .dw-a-offtopic,
  .dw-a-pin,
  .dw-a-collapse-tree,
  .dw-a-collapse-post,
  .dw-a-close-tree
    display: none !important

.dw-ar-t > .dw-p-as > .dw-a-wrong
  // Don't make it possible to vote "Wrong" for the forum question or blog post.
  display: none !important

.DW.DW .dw-ar-t > .dw-p-as
  .dw-a-close,
  .dw-a-reopen
    margin-left: 10px;
  .dw-a
    top: 0; // undo [8MUFW2] below

.DW.DW .dw-ar-t > .dw-p-as > .dw-a-reply
  font-weight: bold;
  color: hsl(0, 0%, 15%);
  padding: 8px 17px 8px 13px !important;
  top: 4px;
  position: relative;

.DW.DW .dw-ar-t > .dw-p-as > .dw-a-reply,
.dw-chat-as .dw-a-reply
  background-color: #f2f2f2;
  &:hover
    background: hsl(210, 40%, 90%) !important;

.dw-a
  text-decoration: none !important
  color: #3872ab
  font-size: 13px
  float: right

.dw-a-disabled
  color: #d2d2d2 !important
  cursor: default

.dw-a-disabled:hover
  text-decoration: none !important

.dw-p-as > .dropdown
  float: right;

.DW .dw-t > .dw-p-as .dw-a
  padding: 12px 9px 10px 9px;
  background: #fff;
  color: hsl(210, 0%, 55%);
  border: none;
  // Looks better if placed closer the post: (don't remove padding-top, then hard to touch-click)
  position: relative;
  top: -5px;  // [8MUFW2]

  &.dw-a-solve,
  &.dw-a-unsolve
    padding-right: 0.45em;

  // Make the "Solved" text dark so it's easy to see which post is the answer.
  &.dw-a-unsolve
    color: black;

  &.dw-a-solve,
  &.dw-a-unsolve
    &:before
      opacity: 0.6;

  // Make the Like buttom smaller to the right, so it gets closer to the other-votes-dropdown.
  // But larger to the left, so it's easier to click (since people will click the left part of it,
  // to avoid the dropdown).
  &.dw-a-like
    padding-right: 11px;
    padding-left: 13px;

  &.dw-vote-count
    padding-right: 4px;
    padding-left: 0;
    white-space: nowrap;

    // Add space between e.g. "1 Like" and "2 Wrongs":
    + .dw-vote-count
      margin-right: 5px;

  &.dw-a-votes
    padding-left: 0;
    padding-right: 1px;
    &:after
      font-size: 22px;
      border-left: 1px solid hsl(0, 0, 64%);
      margin-left: 0;
      padding: 2px 14px 1px 10px;
      position: relative;
      top: -3px;
    &.dw-my-vote:after
      font-size: 24px;
      top: -4px;
      padding-top: 0;

  &.dw-a-link
    padding-right: 9px;
    padding-left: 8px;

  &.dw-a-link,
  &.dw-a-edit
    &:before
      opacity: 0.7;
    &:hover:before
      opacity: 1;

  &.dw-a-edit.icon-edit:before
    color: hsl(0, 0%, 62%); // or too dark (it's a compact icon)

  &.dw-a-more
    margin-right: 0;
    padding-left: 9px;
    padding-right: 13px;

  &:hover:not(.dw-a-votes),
  &.dw-a-votes:hover:after
    color: hsl(210, 100%, 25%);
    background: hsl(210, 100%, 98%);
    outline: 1px solid hsl(210, 100%, 92%);
    text-decoration: none;

  &:hover:before,
  &:hover:after
    opacity: 0.7

  &.dw-my-vote:before,
  &.dw-my-vote:after
    opacity: 0.84;


.dw-ar-t > .dw-p-as
  .dw-a-reply:before,
  .dw-a-close:before
    opacity: 1 !important;

.DW .dw-ar-t > .dw-p-as .dw-a
  color: hsl(0, 0%, 20%);


html:not(.mouse) .dw-t > .dw-p-as .dw-a
  outline: none; // no is-focused outline


// Prevent float drop when vote highlighted and font larger and button therefore wider,
// by reducing padding.
.DW.DW .dw-p-as .dw-a.dw-my-vote
  padding-left: 9px;
  &.dw-a-votes
    padding-left: 0px;  // was already 0 ...
    &:after
      padding-right: 12px; // ... so reduce padding-right instead

// Avoid float drop (the reply button is to the very left)
.DW.DW.DW .dw-p-as .dw-a-reply
  padding-left: 0;

// Later on, give Bury access to all regular member who has been introduced to how it works.
html:not(.dw-is-staff) .dw-a-bury
  display: none !important;

// Highlight the heart and other vote symbols if the user has voted Like or whatever.
.dw-a.dw-my-vote:before,
.dw-a-votes.dw-my-vote:after
  color: hsl(8, 100%, 60%)  // red-red-orange-red
  font-size: 110%;

// Show a ▾ icon as open-more-votes-dropdown-button. Same as
// class .icon-down-dir, but :after. Don't use "▾" directly though; it breaks on my mobile.
.dw-a-votes:after
  content: " \e80f"
  font-family: "fontello"

.DW.DW .dw-p-as-votes > .dw-a,
.DW.DW .dw-p-as-more > .dw-a
  float: none
  display: block
  margin: 8px 10px 14px 12px
  color: hsl(0, 0%, 23%);
  &.icon-trash:before
    opacity: 0.7; // or too opaque, hard to see



// Bury = dig = a spade = a rotated spoon.
.icon-bury:before
  content: '\e82d'; // the spoon (Font Awesome via Fontello)
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
  // The spoon is small. But spades are not small.
  font-size: 110%;
  margin-right: 0.1em; // instead of 0.2em

.dropdown-menu.dw-p-as-more
  background: white


.dw-a-color-primary
  color: hsl(210, 51%, 45%) !important // the color for most common actions
  //                                     (should be a Stylus/LESS variable)


.DW .dw-t > .dw-as > .dw-a-edit-suggs,
.DW .dw-t > .dw-as > .dw-a-collapse-suggs,
.DW .dw-t > .dw-as > .dw-a-delete-suggs
  margin: 0 0 0 12px
  color: #888

.DW .dw-t > .dw-as > .dw-a.dw-a-pending-review
  // Show these pending-suggestion links, even when not hovering posts,
  // so people are encouraged to consider each other's suggestions.
  visibility: visible

.dw-replying
  opacity: 1 !important

  .dw-a-reply
    color: white !important
    background: hsl(210, 51%, 45%) !important
    border-radius: 5px
    outline: 3px solid white; // whitespace between background and any post outline
    padding: 2px 4px 3px 1px
    position: relative
    top: -2px
    left: 3px

.dw-embedded .dw-depth-0.dw-t
  float: none;

.dw-embedded .dw-ar-t > .dw-p-as
  & > .dw-a-reply
    top: 5px;
    padding: 8px 11px 8px 8px !important;


.dw-p-as
  // Prevent collapsed posts from appearing too close to any post just below,
  // by making the actions <div> at least this tall. (It's empty, currently
  // if the post is collapsed or deleted.)
  min-height: 17px


// Inline action menu — currently not in use
//---------------------------
/*
.dw-pri.dw-pri .dw-as-inline // prio, so overrides :not(svg) [31Ik53]
  position: absolute
  z-index: 20

.dw-as-inline li
  margin: 0 // or margin from `dw-p-bd li' applied
  float: left
  list-style-type: none

.dw-as-inline .ui-button
  margin-right: 0 // or space between inline action menu buttons
*/


// vim: fdm=marker et ts=2 sw=2 tw=100 fo=tcqwn list
