/*!
 * Copyright (C) 2014 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

$paddingLeft = 10px;

.esMetabar_extra
  border-top: 1px solid #ababab;
  padding: 11px 7px 12px $paddingLeft;
  .icon-mail
    margin-bottom: 13px;
    &:before
      font-size: 105%;
      color: hsl(0, 0%, 30%);
      margin-right: 5px;

.esMetabar_msgMmbrs
  clearfix();

.esMetabar_msgMmbr
  float: left;
  white-space: nowrap;
  margin-right: 1.2em;
  .edAvtr
    float: none;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;

.esMetabar_msgMmbr_username
  vertical-align: middle;

.esMetabar
  margin: 18px 0 17px
  border: $pageSectionBorder;
  background: $pageSectionBackground;
  padding: 0
  border-left: none
  border-right: none

  .dw-cmts-tlbr-head

    position: relative; // so dw-cmts-tlbr-open height: 100% works

    .dw-cmts-tlbr-summary
      padding: 7px 55px 7px $paddingLeft; // COULD extract variable, 50px [KP409f]

      & > li
        display: inline-block;
        margin: 0 0 0 20px;
        color: hsl(0, 0%, 23%);

      & > li:first-child
        margin-left: 0;

      .dw-cmts-count
        font-size: 17px

      .dw-u-lgi-lgo
        display: inline // not block, which the topbar often sets

      .dw-u-name,
      .dw-a-login,
      .dw-a-logout
        color: hsl(0, 0%, 43%)

      .dw-page-notf-level
        cursor: pointer

    .dw-cmts-tlbr-open
      position: absolute;
      height: 100%;
      width: 50px; // COULD extract variable, 50px [KP409f]
      right: 0;
      top: 0;
      background: #ddd;
      border: none;
      font-size: 130%;

  .dw-cmts-tlbr-details
    padding: 8px 10px 16px

.esMetabar_summarize
  border-top: 1px solid hsl(0, 0%, 72%);
  padding: 1em $paddingLeft;


.DW.dw-vt .dw-cmts-tlbr
  margin-bottom: 45px  // but want only 10? if dw-flat



// vim: fdm=marker et ts=2 sw=2 tw=100 fo=tcqwn list
