/*!
 * Copyright (C) 2017 Kaj Magnus Lindberg
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

// Otherwise mind maps look too compact.
.s_PT-11
  .dw-p-as
    padding-bottom: 10px;

  li:only-child > .dw-arw-vt-curve-to-this
    top: -40px;

  .dw-arw-vt-curve-to-this
    top: -20px;

  .dw-arw-vt-line-to-sibling-1
    top: -36px;
    height: 36px;

  .dw-hz > .dw-single-and-multireplies > .dw-res,
  .dw-hz > .dw-single-and-multireplies > .dw-res > li
    padding-top: 5px;  // instead of 11

  .dw-arw-hz-line-to-this,
  .dw-arw-hz-line-to-sibling
    top: -50px;

  .dw-arw-hz-curve-to-this
    top: -52px;

.DW.dw-hz .s_PT-11 .dw-id1
  padding-left: 40px;

