.dw-page
  // A child, the root thread .dw-depth-0, floats left.
  clearfix()

  position: relative

  a
    cursor: pointer


// Columns
//==============================
/*
.esVerticalBars
  flexbox()

.esVerticalBar
  flex: 1;
  */

//dwPosts
//esWatchbarColumn
//dw-any-sidebar


// The Original Post
//==============================

.dw-about-category
  .dw-about-cat-ttl-prfx
    margin-top: 45px !important  // why did I add 'important' to h2?
    margin-bottom: 10px;
    font-style: italic
    clear: both; // if there's a float-left help box above

  .dw-p-ttl
    margin-top: 0


.dw-ar-p
  padding-bottom: 0.8em


// Page title
#dw-t-0    // the page title post has id 0
  // Don't float title, or body will appear to the right of the title,
  // rather than below it.
  // There're no SVG arrows that can be cropped, see above, [8DbF3].
  float: none
  // Left align the title.
  margin-left: 0


// The chat comments section
//==============================

.dw-chat-title
  font-size: 17px;
  color: hsl(0, 0%, 23%);
  padding: 9px 0 9px 9px;
  margin: 33px 0 12px;
  border: $pageSectionBorder;
  border-left: none;
  border-right: none;
  background-color: $pageSectionBackground;

.dw-chat-as
  padding-top: 18px;

  .dw-a-reply
    float: left;
    color: hsl($uiHue, 0%, 40%);
    background-color: transparent;
    font-size: 100%;
    &:hover
      color: hsl($uiHue, 84%, 23%);
      background-color: hsl($uiHue, 80%, 95%);
      padding-right: 7px;


// Code pages and templates
//==============================

.dw-page[data-page_role=Code] > h1
  margin-bottom: 0
  font-size: 20px

.dw-page[data-page_role=Code] > h1
.dw-page[data-page_role=Code] p
  font-family: monospace

