.dw-page  // rename?
  // A child, the root thread .dw-depth-0, floats left.
  clearfix()

  position: relative

  a
    cursor: pointer


// Columns
//==============================

$watchbarWidth = 230px  // dupl value, in js pixels & chars  [7GYK42] & [4YK0F2]
$sidebarZIndex = 1010
$contextbarWidth = 25vw; // = win width 1/4, and 4 is used on the next line. Dupl in js [5RK9W2]
$contextbarMinWidth = 270px; // has effect when window width < 270 * 4 = 1080. Dupl in JS [4FK0ZD]

// The maximum window width for which the context bar's width is its min width.
$contextbarHasMinWidthMaxWinWidth = $contextbarMinWidth * 4;

// The page column has its own scrollbar, and the watchbar and contextbar too, so the window
// doesn't need any scrollbar. (Some js code knows about this [6GKF0WZ])
body
  overflow: hidden;

.dw-fixed-topbar-wrap,
.esScrollBtns_fixedBar,
#esPageColumn
  top: 0;
  bottom: 0;
  position: fixed;
  // Move the contents a bit to the left/right if sidebars open...
  left: $watchbarWidth;
  right: $contextbarWidth;
  @media (max-width: $contextbarHasMinWidthMaxWinWidth)
    right: $contextbarMinWidth;
  &.dw-fixed-topbar-wrap
    bottom: auto;
html.esSidebarsOverlayPage
  .dw-fixed-topbar-wrap,
  .esScrollBtns_fixedBar,
  #esPageColumn
    // ...but if the screen too small, let the sidebars overlay the page instead.
    left: 0;
    right: 0;

#esPageColumn
  // Native scrollbars look different in different browsers. Use js scrollbars instead?
  // E.g.: http://stackoverflow.com/a/25480648/694469
  // or http://jscrollpane.kelvinluck.com/index.html
  // — but fixed now? I added -webkit-scrollbar-... styles a bit below.
  overflow-y: auto;
  overflow-x: visible;

#esWatchbarColumn
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $watchbarWidth;
  z-index: $sidebarZIndex;

#esThisbarColumn
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $contextbarWidth;
  min-width: $contextbarMinWidth;
  z-index: $sidebarZIndex;
html.esSidebarsOverlayPage
  #esThisbarColumn
    width: 330px;
    max-width: calc(100% - 25px);

// Dims the page if any sidebar open, and screen small. Closes the sidebar on click.
html.esSidebarsOverlayPage
  &.es-pagebar-open,
  &.es-watchbar-open
    #theSidebarPageOverlay
      display: block;

#theSidebarPageOverlay
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $sidebarZIndex - 1;
  background: black;
  opacity: 0.5;
  display: none;


html:not(.es-pagebar-open)
  #esThisbarColumn
    display: none;
  .dw-fixed-topbar-wrap,
  .esScrollBtns_fixedBar,
  #esPageColumn
    right: 0;

html:not(.es-watchbar-open)
  #esWatchbarColumn
    display: none;
  .dw-fixed-topbar-wrap,
  .esScrollBtns_fixedBar,
  #esPageColumn
    left: 0;


// Page width & padding
//==============================

.esScrollBtns_fixedBar,
#esPageColumn
  .container
    width: 100%;
    max-width: 1150px;

#topbar > .container,
#dwPosts > .container,
#dwPosts > div > .container,
.esTopbarWrap > .container,
.esAdminArea > .container,
#dwPosts > div > .esTopbarWrap > .container  // try to remove
  padding-left: 20px;
  padding-right: 20px;
  @media (max-width: 850px)
    padding-left: 15px;
    padding-right: 15px;
  @media (max-width: 700px)
    padding-left: 11px;
    padding-right: 11px;
  @media (max-width: 600px)
    padding-left: 9px;
    padding-right: 9px;

html.es-watchbar-open:not(.esSidebarsOverlayPage)
  #topbar > .container,
  #dwPosts > .container,
  #dwPosts > div > .container,
  .esTopbarWrap > .container,
  .esAdminArea > .container,
  #dwPosts > div > .esTopbarWrap > .container  // try to remove
    padding-left: 25px;

#dwPosts
  position: relative;

#thePageBottom
  clear: both;

/*
#esPageColumn[max-width='801px']
  .container
    padding: 0 12px;

#esPageColumn[max-width='651px']
  .container
    padding: 0 8px;

#esPageColumn[max-width='581px']
  .container
    padding: 0 6px;
*/


// The Original Post
//==============================

.dw-about-category
  .dw-about-cat-ttl-prfx
    margin-top: 45px !important  // why did I add 'important' to h2?
    margin-bottom: 10px;
    font-style: italic
    clear: both; // if there's a float-left help box above

  .dw-p-ttl
    margin-top: 0

.dw-p-ttl .icon-trash::before
  // If it's too dark, people think they should click it.
  color: hsl(0, 0%, 61%);

.dw-ar-p
  padding-bottom: 0.8em

.esOP_title-deleted
  color: #888;
  crossGray();

// Page title
#dw-t-0    // the page title post has id 0
  // Don't float title, or body will appear to the right of the title,
  // rather than below it.
  // There're no SVG arrows that can be cropped, see above, [8DbF3].
  float: none
  // Left align the title.
  margin-left: 0

h1.dw-p-ttl a:not(.icon-edit):not(.dw-forum-intro-show)
  color: $h1Color; // but not link color
  &:hover
    text-decoration: underline;


// The chat comments section
//==============================

.dw-chat-title
  font-size: 17px;
  color: hsl(0, 0%, 23%);
  padding: 9px 0 9px 9px;
  margin: 33px 0 12px;
  border: $pageSectionBorder;
  border-left: none;
  border-right: none;
  background-color: $pageSectionBackground;

.dw-chat-as
  padding-top: 18px;

  .dw-a-reply
    float: left;
    color: hsl($uiHue, 0%, 40%);
    background-color: transparent;
    font-size: 100%;
    &:hover
      color: hsl($uiHue, 84%, 23%);
      background-color: hsl($uiHue, 80%, 95%);
      padding-right: 7px;


// Footer
//==============================

// 'flex' apparently doesn't work on iOS, so disable it on iOS. [5YKJ24]
// But does work on Safari

// Make the footer stick to the bottom.
// See: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
html:not(.ios) #esPageScrollable // not iOS: see [5YKJ24] above
  display: flex;
  flex-direction: column;
  height: 100%; // supposedly avoid some IE 10-11 min-height bug

#dw-react-user-page,
#dwPosts
  flex: 1 0 auto;

// This works around a Safari bug that lets flex elems shrink smaller than min-height/width,
// see: https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
.esPageHeader,
#topbar,
footer
  flex: none;
.footer
  margin-top: 0;

// For the default <footer><p><a>Terms of use<a>Privacy policy:  [5UK62W]
footer
  margin-top: 2em;
  p
    text-align: center;
    margin: 1em 0;
  a:link
    color: #444;
    text-decoration: underline;
    margin: 0 1ex;



// Scrollbars
//==============================
// They'd otherwise be hidden in Safari (shown only if the user scrolls).

.es-pagebar-open #esPageColumn
  $scrollbarTrackColor = hsl(0, 0%, 93%);
  $scrollbarThumbColor = hsl(0, 0%, 79%);
  $scrollbarThumbHoverColor = hsl(0, 0%, 66%);
  $scrollbarArrowColor = hsl(0, 0%, 55%);

  // Show, because is the border between the page contents and the contextbar (which is open;
  // we checked for .es-pagebar-open above).
  overflow-y: scroll;

  &::-webkit-scrollbar
    -webkit-appearance: none; // none? Weird but works.
    width: $pageScrollbarWidth;

  // The ^ and v buttons at the top and bottom of the scrollbar.
  &::-webkit-scrollbar-button:vertical:increment,
  &::-webkit-scrollbar-button:vertical:decrement
    display: block;
    background-color: $scrollbarTrackColor;
    border: 7px solid $scrollbarTrackColor;
    &:hover
      border-color: hsl(0, 0%, 80%);
    &:increment
      border-top: 7px solid $scrollbarArrowColor;
      &:start
        display: none; // otherwise there'll be both an up & down btn at the top
    &:decrement
      border-bottom: 7px solid $scrollbarArrowColor;
      &:end
        display: none; // see comment above

  &::-webkit-scrollbar-track
    background-color: $scrollbarTrackColor;
    border-radius: 0;
    padding: 10px 0 3px;

  &::-webkit-scrollbar-thumb
    border-radius: 0;
    background-color: $scrollbarThumbColor;
    &:hover
      background-color: $scrollbarThumbHoverColor;


// Code pages and templates
//==============================

.dw-page[data-page_role=Code] > h1
  margin-bottom: 0
  font-size: 20px

.dw-page[data-page_role=Code] > h1
.dw-page[data-page_role=Code] p
  font-family: monospace


// Terms, Privacy
//==============================

.esLegal
  margin-top: 50px;

.esLegal_home
  margin-bottom: 25px;

.esLegal_home_link
  color: #444;

.esLegal_home_arw
  font-size: 19px;
  line-height: 0;

.esLegal_home,
.esLegal .nav-pills a
  font-size: 14px;

.esLegal .nav-pills a
  background: hsl(0, 0%, 94%);
  color: hsl(0, 0%, 23%);
  &:hover
    background: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 13%);
  &.active a
    cursor: default

