/*!
 * Copyright (c) 2010-2015 Kaj Magnus Lindberg
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.dw-p
  background-color: white
  position: relative;

.dw-p-hd,
.dw-p.dw-zd  // folded comment
  margin: 0;
  padding: 0;
  top: 0;
  line-height: 15px // or test w 120%

.dw-p-hd,
.dw-p.dw-zd,  // folded comment
.DW.DW .dw-p-hd.dw-highlight-off
  color: hsl(0, 0%, 8%);
  background-color: white

.dw-p.dw-zd  // folded comment
  margin-bottom: 25px;
  cursor: pointer;

.dw-p-bd,
.dw-p-diff // COULD place -bd on -diff too, remove this -diff row?
  padding: 1px 1px 0 0
  position: relative
  min-width: 5em
  margin: 0 0 14px; // !important;
  clear: both;
  overflow-y: hidden;
  overflow-x: auto;

.dw-p-bd,
.dw-p-diff,
.DW.DW .dw-p-bd.dw-highlight-off
  background-color: white

.dw-depth-1 > .dw-p > .dw-p-bd
  padding-left: 1px;  // looks more aligned with .dw-p-hd for some reason
  padding-top: 8px;

// Place debug-reading-progress outline above the .dw-p.
.dw-p-hd
  z-index: 2; // > the body, so avatar circle won't be cut off when highlighting body background
  position: relative;


// Cropped and resized posts
//===========================

.dw-p.dw-x
  cursor: pointer;
  // Make things in the header clickable in spite of .dw-x-cover.
  > .dw-p-hd
    z-index: 2;
    position: relative;

.dw-p.dw-zd,
.dw-x-show
  position: relative;
  bottom: 10px;
  padding: 0 0 3px 3px;  // padding-top hides parts of any <p> above
  margin: 7px 0 22px;
  font-style: italic;
  background: #fff;
  color: hsl($uiHue, 20%, 50%);

.dw-p.dw-zd,
.dw-ts-squashed .dw-x-show
  bottom: 0;
  padding: 10px 0 17px 5px;
  display: block;
  margin: -8px 0 8px;
  z-index: 1;
  float: left;  // see [5FKT02W] below
  color: hsl(0, 0%, 53%);
  &:hover
    background-color: hsl($uiHue, 100%, 97%);
    color: hsl($uiHue, 100%, 33%);
    text-decoration: none;

.dw-ts-squashed.dw-2dcol > .dw-x-show
    color: hsl(0, 0%, 20%);

.dw-single-and-multireplies
  clear: both; // because of float: left above [5FKT02W]

.dw-p.dw-x:hover
  .dw-p-hd,
  .dw-p-bd
    background-color: hsl($uiHue, 100%, 95%);
  .dw-x-show
    color: black;
    background-color: hsl($uiHue, 100%, 91%);

.dw-x-cover
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;


// Unwanted posts
//===========================

// Dim the post and draw a X over it, darker if there are many Unwanted votes.
.dw-p.dw-unwanted

  // Sync the number of steps with JS in client/app/renderer/pots.ts. [4KEF28]
  &.dw-unwanted-1 > .dw-p-bd
    opacity: 0.80;
  &.dw-unwanted-2 > .dw-p-bd
    opacity: 0.72;
  &.dw-unwanted-3 > .dw-p-bd
    opacity: 0.65;
  &.dw-unwanted-4 > .dw-p-bd
    opacity: 0.60;
  &.dw-unwanted-5 > .dw-p-bd
    opacity: 0.55;
  &.dw-unwanted-6 > .dw-p-bd
    opacity: 0.50;
  &.dw-unwanted-max > .dw-p-bd
    opacity: 0.45;

  &.dw-unwanted-1 > .dw-unwanted-cross,
  &.dw-unwanted-2 > .dw-unwanted-cross
    opacity: 0.25;
  &.dw-unwanted-3 > .dw-unwanted-cross,
  &.dw-unwanted-4 > .dw-unwanted-cross
    opacity: 0.37;
  &.dw-unwanted-5 > .dw-unwanted-cross,
  &.dw-unwanted-max > .dw-unwanted-cross
    opacity: 0.7;

  // Draw an X.
  & > .dw-unwanted-cross
    pointer-events: none; // doesn't work in IE9 and 10...
    display: none;        // ... so hide for now, wait a year?
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    crossGray();
    // Leave 20px at the bottom because the action button overlaps the lower parts of the post.
    background-size: 100% calc(100% - 20px), auto;


// Comments (both replies and chat comments)
//===========================

// Show the whole article (or <pre>s with very long lines
// might be cropped).
.dw-ar-p
  overflow: visible

// Don't pad the root post and titles (titles are already indented since
// they're placed inside another post already).
.DW.DW
  .dw-ar-p-hd,
  .dw-depth-0 > .dw-p > .dw-p-bd,
  .dw-p-ttl,
  .dw-p-ttl > .dw-p-bd
    margin-left: 0
    padding-left: 0
    // Wrap long titles.
    overflow: hidden;
    word-break: break-word;

.dw-p-ttl > .dw-p-bd
  margin-bottom: 0; // else too much margin-bottom, author name too far away

// No idea why, but the descender spacing for the title, is missing, so e.g. a 'y' in
// the title gets cut of (looks more like a v). Add some space. Weird.
h1.dw-p-ttl
  padding-bottom: 4px;

.esPendingApproval
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  background: hsl(0, 100%, 96%);
  padding: 3px 8px 3px 0;
  margin-top: 20px;
  display: inline-block;

.dw-p-ttl .esPendingApproval
  margin-top: 0;
  display: inline-block;
  font-size: 26px;
  font-weight: normal;


h1.dw-p-ttl
  margin-top: 10px;
  &.icon-pin:before
    font-size: 82%;
    color: hsl(0, 0%, 47%);
    margin: 0 9px 0 0;

  // Question and to-do icons.
  [class^="icon-"]:before,
  [class*=" icon-"]:before
    margin: 0 8px 0 0;
    position: relative;
    top: 2px;

  .icon-mail:before
    top: 0
    color: hsl(0, 0%, 50%);

  .icon-help-circled:before
    color: hsl(0, 0%, 55%);
    font-size: 95%;
    top: 1px;

  .icon-ok-circled:before,
  .icon-ok-circled-empty:before
    font-size: 90%;
    position: static;

  .icon-idea:before
    font-size: 94%;
    position: relative;
    top: -2px;

  .icon-attention-circled
    font-size: 95%;
    margin-right: 2px;
    position: relative;
    top: -2px;

  .icon-block:before
    top: 0;
    font-size: 98%;
    color: hsl(0, 0%, 47%);

  .icon-check
    color: #555;

  .icon-check-empty:before
    left: -2px;  // there's some whitespace to the left inside the icon itself

  // The done/not-done checkbox, if it's clickable (it is for staff and topic author).
  .dw-clickable[class^=icon-]
    &:before
      color: hsl($uiHue, 51%, 45%);
      text-decoration: none;
    &:hover:before
      outline: 2px solid hsl($uiHue, 100%, 90%);
      background-color: hsl($uiHue, 100%, 96%);
      cursor: pointer;
    &.icon-ok-circled:before,
    &.icon-ok-circled-empty:before
      color: hsl($solvedHue, 58%, 48%);

  .dw-forum-intro-show
    margin-left: 10px;
    text-decoration: none;
    position: relative;
    top: -1px;
    font-size: 93%;
    // text-shadow doesn't work in IE9 though, and we don't support it.
    text-shadow: 0 0 5px hsl($uiHue, 67%, 55%);
    color: white;

  .dw-a-edit
    line-height: 0; // so it won't push the stuff below downwards
    float: none;
    font-size: 20px;
    margin-left: 8px;
    opacity: 0.8;
    &:before
      top: -2px;
    &:hover
      outline: 2px solid hsl($uiHue, 100%, 90%);
      background-color: hsl($uiHue, 100%, 96%);


.dw-forum .dw-p-ttl .dw-a-edit
  // A forum title has some margin/paddin-bottom, so unset bottom: 0.
  bottom: auto;
  padding-top: 2px;

.dw-p-unapproved > .dw-p-hd,
.dw-p-dl > .dw-p-hd
  font-style: italic
  background-color: transparent

.dw-p-unapproved > .dw-p-hd
  margin-bottom: 24px

.dw-depth-1 .dw-p-unapproved > .dw-p-hd
  padding: 14px 0 4px;

.dw-p-dl > .dw-p-hd
  margin-bottom: 8px

// If a deleted comment is shown, then there're non-deleted children, so make some
// space for the arrow to the non-deleted children.
.dw-p-dl + .dw-p-as
  min-height: 42px;

.dw-p:not(.dw-p-flat) > .dw-rrs // reply receivers
  font-style: italic;
  color: hsl(0, 0%, 41%);

.dw-rrs
  padding-bottom: 5px;

.DW .dw-rr // reply receiver
  padding: 7px 0 2px 5px
  display: inline-block;
  font-weight: bold;
  color: hsl(0, 0%, 28%);
  &:hover
    background: hsl($uiHue, 100%, 96%);
    outline: hsl($uiHue, 100%, 87%) 2px solid;
    text-decoration: none;

.-RRs_RR_Aw
  color: hsl(0, 0%, 52%); // or too dark
  margin: 0 2px;

// Make it easier to touch.
html:not(.mouse) .dw-rr
  padding: 15px 0 16px 6px;
  margin-top: -6px;

// ... but don't push the .dw-p-bd text away:
.dw-p-flat .dw-rr
  padding-bottom: 0;

.esWrong
  clearfix();
  margin: 0 0 7px;
  max-width: 270px;
  position: relative;
  top: -7px;
  z-index: 1;

.esWrong_Txt
  float: left;
  display: inline-block;
  color: hsl($heartAndErrorHue, 60%, 52%);
  font-weight: bold;
  font-style: italic;
  font-size: 13px;
  letter-spacing: 0.2px;
  word-spacing: 0.5px;
  &:before // the wrong/disagree icon
    color: hsl($heartAndErrorHue, 79%, 72%);
    font-size: 24px;
    margin: 0 4px 0 1px;

.esPage-Compact
  .dw-id0 > .esWrong
    margin: 4px 0 11px 58px;
    left: 0;
    top: 0;

  .dw-2dcol > .esWrong
    margin: 0 0 15px;
    top: -2px;


// [refactor] remove:
// dw-fullname
// dw-username
// dw-lg-t-spl


.esP_By,
.dw-p-hd .dw-ago,
.esP_viewHist
  margin-right: 7px;

.esP_By_F,
.esP_By_U
  font-size: 13px;

.esP_By_F
  font-weight: bold;
  color: hsl(0, 0%, 15%);

.esP_By_F-G
  font-weight: normal;
  color: hsl(0, 0%, 11%);

.esP_By_U
  font-weight: normal;
  color: hsl(0, 0%, 11%);
  &:not(:first-child)
    margin-left: 4px;

.esP_By_U_at
  padding-right: 1px;

.dw-p-hd
  .dw-ago,
  .esP_viewHist
    color: hsl(0, 0%, 27%) !important;

.esP_By,
.esP_viewHist,
.dw-a-clps:hover
  cursor: pointer;
  &:hover
    text-decoration: none;
    color: black;
    background: hsl($uiHue, 100%, 97%);
    outline: 2px solid hsl($uiHue, 100%, 87%)

.esP_viewHist
  &:before
    opacity: 0.7;

.dw-p-by.dw-suspended
  text-decoration: line-through;

.dw-lg-t-spl
  font-weight: normal;
  font-size: 90%
  padding-left: 2px
  padding-right: 2px

// Toggle collapsed
// [refactor] rename dw-a-clps to esP_Z (Z = fold/collapse)
.dw-a-clps.icon-up-open,
.dw-a-clps.icon-down-open,
.dw-a-clps.icon-left-open
.dw-a-clps.icon-right-open
  padding: 0 5px;
  font-size: 11px;
  color: hsl($uiHue, 0%, 68%);
  cursor: pointer;
  // COULD start using Stylus + Nib?
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Only show if the thread is tall/wide enough [4KY0S2]  — although people just get confused
  // when they collapse a post, and it has no particular effect (because it's so small already).
  display: none;

.dw-a-clps.esP_Z-Show
  display: inline-block;

.dw-a-clps.icon-left-open,
.dw-a-clps.icon-right-open
  padding-top: 1px;

.dw-2dcol.dw-zd > .dw-p .dw-a-clps
  float: none;
  padding-top: 2px;
  display: inline-block;

.dw-p.dw-wiki > .dw-a-clps
  position: absolute;
  right: 0;
  top: 0;

.dw-p.dw-wiki:hover > .dw-a-clps
  z-index: 1;
  opacity: 0.8;


// Permalinks
.dw-p-link
  float: right
  font-family: monospace
  // Don't add top/bottom padding, that causes text below to wrap too early.
  // Instead, set `top: 1px`.
  padding: 0 3px 0 5px
  position: relative
  top: 1px

// For the *article* itself, make author and post date info less conspicuous,
// or it steals attention from the page title. (But don't do this for any root
// post, only for the article.)
.DW .dw-ar-p-hd
  border: none
  background-color: transparent
  opacity: 0.78
  font-size: 13px;
  margin: 6px 0 0;

.dw-ar-p-hd:hover
  opacity: 1

.DW .dw-ar-p-hd > .dw-p-by
  color: hsl(0, 0%, 10%);

// Un-indent any root post, by hiding the collapse button.
// (Why would one want to hide the root post?)
.dw-depth-0 > .dw-z
  display: none

.DW.DW .dw-depth-0 > .dw-p
  margin-left: 0
  //float: left; // or the header will be as wide as the root thread
  //                fix the header instead? I need to fix it anayway

:not(.dw-hz) > .dw-p > .dw-p-bd > .dw-p-bd-blk
  // Cancel .dw-p-bd 3px padding-left:, because the .dw-p-bd-blk is
  // 100% wide though, and without padding-right, text might be cropped.
  padding-right: 3px

// Cancel .dw-p-bd-blk max width for code pages.
[data-page_role='Code'] .dw-hz > .dw-p > .dw-p-bd > .dw-p-bd-blk
  max-width: none

// Cancel Twitter Bootsrap wrapping of <pre>
.dw-hz > .dw-p > .dw-p-bd > .dw-p-bd-blk > pre
  white-space: pre
  word-wrap: normal

// Don't place the body too close to the title. But cannot add margin to the
// title — that'd push away the .dw-p-hd away. So add to the -bd instead.
// <h2> should have a fairly large margin-top (because it's a h2), so skip it.
// — The reason all this is needed is that the elems
// float:left, which makes margins add to each other, instead of overlapping
// each other. I should rewrite, and try to avoid float:left? [8DbF3]
// (skip old IE)
// [8K3U5]
.dw-ar-t > .dw-p > .dw-p-bd > .dw-p-bd-blk > :first-child:not(h2)
  margin-top: 26px

.dw-p-bd-blk
  margin: 0
  float: left
  clear: left
  width: 100%

.s_P-Hdn .dw-p-bd-blk
  padding: 5px 14px !important;
  margin: 4px 0 33px; // whitespace needed because no post-actions shown below
  background: hsl(0, 0%, 95.3%);
  float: left;
  display: block;
  width: auto;
  color: hsl(0, 0%, 26%);
  cursor: pointer;
  &.esOrigPost
    margin-top: 15px;
    padding: 7px 17px !important;
  &:hover
    color: hsl($uiHue, 100%, 20%);
    background: hsl($uiHue, 70%, 96%);
    outline: 1px solid hsl($uiHue, 100%, 91%);
    text-decoration: none;


// No margin-top for any title at the top in a comment.
:not(.dw-ar-p-bd) > .dw-p-bd-blk:first-child
  > h1:not(.dw-p-ttl),
  > h2, > h3, > h4, > h5, > h6
    &:first-child
      margin-top: 0;
      padding-top: 0;


// Narrow screens
//===========================

.esPage-Compact
  .dw-depth-1
    .dw-p
      margin-left: 0 !important;
      background: none;

    > .dw-p > .dw-p-hd
      margin-left: 44px;
      top: 10px;

    > .dw-p > .dw-p-bd
      margin-top: 30px !important;
      padding-top: 0;

    > .esAvtr
      width: 36px;
      height: 36px;
      img
        width: 36px;
        height: 36px;

    > .esAvtr-ltr
      font-size: 22px;
      line-height: 36px;

  .dw-single-and-multireplies
    margin: 0 !important;


// Solution/answer
//===========================

.esP-solution
  margin-top: -4px;
  padding-top: 4px;

.esP-solution,
.esP-solution .dw-p-hd,
.esP-solution .dw-p-bd
  background-color: hsl($solvedHue, 68%, 97%);
  color: black;

.esH_solution
  left: -1px;
  font-size: 27px;
  color: hsl(120, 50%, 50%);
  line-height: 0;
  position: relative;
  top: -6px;
  display: inline-block;
  float: left;
  padding: 0;
  &.icon-ok-circled:before
    margin-left: 0;

.dw-solved-by
  float: left;
  margin: 15px 10px 19px 0;
  font-weight: bold;
  z-index: 1;
  position: relative;
  color: hsl($solvedHue, 100%, 30%) !important;
  font-size: 115%;
  &.icon-ok-circled:before
    font-size: 125%;
    margin: 0 6px 0 0;
    color: hsl($solvedHue, 100%, 36%) !important;


// Chat comments
//===========================

.DW.DW .dw-chat
  .dw-t
    padding-top: 7px;
    border-bottom: 1px solid #eee;

  .dw-p-hd
    background-color: white;
    border: none;

  .dw-p-hd
    color: hsl(0, 0%, 40%);

  .dw-p-by,
  .dw-p-e-by
    color: hsl(0, 0%, 24%);

  .dw-p-as
    margin-bottom: 0;

  .dw-a.dw-a-votes
    padding-bottom: 4px !important;

  .dw-mrrs
    display: inline !important;


.esC_M
  .esP_By_U
    text-shadow: none;
    font-weight: bold !important;
    letter-spacing: 0;
    color: black;

  .dw-rrs
    font-size: 12px;

// Post info
//===========================

.dw-p-pending-mod
  margin-bottom: 8px;
  padding: 4px 0 4px 7px;
  font-style: italic;
  font-weight: bold;
  background: hsl(0, 100%, 96%);
  color: black;

.dw-p-hd .dw-p-at
  // javascript shows e.g. '7 days ago' instead of the .dw-p-at ISO dates.
  // Hiding the dates with jQuery.hide() at page loat time takes long,
  // so better hide here. COULD use another stylesheet if javascript disabled.
  display: none

.dw-p-hd .dw-p-by-me
  font-weight: bold
  color: #151515

.dw-p-r-all
  display: none // shown on .dw-p-hd click

.dw-rs,
.dw-rs li
  display: inline

.dw-rs li
  margin-left: 0.5ex


.dw-p-hd
  abbr
    border-color: #999

.dw-p-hd
  .dw-p-pin
    float: right
    font-size: 15px
    cursor: move
    opacity: 0.76


// Marks
//===========================

.dw-p-mark-click
  padding: 7px 0px 7px 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover
    outline: 2px solid hsl($uiHue, 100%, 77%);
    background: hsl($uiHue, 100%, 97%);

html.touch .dw-p-mark-click
  padding: 9px 5px 9px 5px;

  &:hover
    outline: none;
    background: none;

.dw-p-mark
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin: 0 8px 0 0;
  background: transparent;
  color: hsl(0, 0%, 72%);
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;

.dw-p-unread .dw-p-mark
  color: hsl(0, 0%, 33%);

.dw-p-mark-read .dw-p-mark
  color: hsl(0, 0%, 50%);

.dw-p-mark-blue-star .dw-p-mark
  color: hsl($uiHue, 100%, 50%);

.dw-p-mark-yellow-star .dw-p-mark
  padding: 0 2px 0 1px;
  font-size: 11px;
  text-shadow: -1px -1px 1px red, 1px -1px 1px red, -1px 1px 1px red, 1px 1px 1px red;
  color: yellow;


// Highlighted posts
//===========================

.DW .dw-highlight-on
  &.dw-p-hd,
  &.dw-p-bd
    background-color: hsl($uiHue, 100%, 83%);
    // Place -bd background above action buttons.
    z-index: 1;

.dw-highlight-off
  // (Color reset higher up in this file, see .dw-highlight-off.
  -webkit-transition: background-color 4s;
  -moz-transition: background-color 4s;
  -o-transition: background-color 4s;
  -ms-transition: background-color 4s;
  transition: background-color 4s;

.dw-p.dw-highlighted-multireply-hover
  outline: hsl($uiHue, 100%, 77%) solid 5px;



// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
