
.esScrollBtns_fixedBar
  position: fixed;
  top: auto;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  background: none !important; // IE11

.esScrollBtns
  float: right;

.esScrollBtns_menu,
.esScrollBtns_back
  pointer-events: auto;
  padding: 5px 9px;
  height: 33px;
  font-size: 15px;
  border: none;
  font-weight: bold;
  color: white;
  background: hsl($uiHue, 80%, 54%);
  &:hover,
  &:focus
    color: white;
  &:hover
    background: hsl($uiHue, 80%, 70%);
  &:focus
    background: hsl($uiHue, 80%, 63%);

.esScrollBtns_back
  border-left: 1px solid white;
  &[disabled]
    background: hsl($uiHue, 30%, 50%);
    opacity: 0.33;

.esScrollBtns_back_shortcut
  text-decoration: underline;
  font-size: 17px;

.esScrollDlg
  padding: 12px 19px 10px 12px !important;
  .btn
    margin-right: 1px;

.esScrollDlg_title
  margin-bottom: 6px;

.esScrollDlg_shortcuts
  margin-top: 12px;