
.esScrollBtns_fixedBar
  position: fixed;
  top: auto;
  bottom: 0;
  z-index: 4;
  pointer-events: none;
  background: none !important; // IE11

.esScrollBtns
  float: right;

.esScrollBtns_menu,
.esScrollBtns_back
  pointer-events: auto;
  padding: 5px 9px;
  height: 33px;
  font-size: 15px;
  border: none;
  font-weight: bold;
  color: white;
  background: hsl($uiHue, 80%, 54%);
  &:hover,
  &:focus
    color: white;
  &:hover
    background: hsl($uiHue, 80%, 70%);
  &:focus
    background: hsl($uiHue, 80%, 63%);

.esScrollBtns_back
  border-left: 1px solid white;
  &[disabled]
    background: hsl($uiHue, 30%, 45%);
    opacity: 0.4;

.esScrollBtns_back_shortcut
  text-decoration: underline;
  font-size: 17px;

.esScrollDlg
  padding: 12px 19px 10px 12px !important;
  .btn
    margin-right: 1px;
    padding-left: 10px; // else too much

.esScrollDlg_title
  margin-bottom: 6px;

.esScrollDlg_Up_Arw,
.esScrollDlg_Down_Arw
  display: inline-block;
  font-size: 20px;
  line-height: 14px;
  position: relative;

.esScrollDlg_Up_Arw
  rotateFn(-90deg);
  top: 3px;
  width: 14px;
  left: -3px;

.esScrollDlg_Replies
  .icon-comment:before
    position: relative;
    left: -2px;

.esScrollDlg_Down_Arw
  rotateFn(90deg);
  top: 2px;
  width: 15px;
  left: -2px;

.esScrollDlg_shortcuts
  margin-top: 12px;