
.esCatDlg
  .dw-click-to-show
    padding: 10px 0;
    display: block;
    &:first-of-type
      margin-top: 20px;

  .input-group
    width: 100%;

  input
    max-width: 29ex;
  // But the ext ids might be long:
  input#te_CatExtId
    max-width: calc(100% - 25px);

  #te_ShowExtId code
    margin-left: 1ex;
    padding: 6px 6px 5px;
    color: white;
    background: hsl($uiHue, 70%, 20%);
    font-family: monospace;

  .form-group
    margin-bottom: 18px;

  .checkbox
    margin-bottom: 0;

  // Lots of whitespace because of the delete-category button, so reduce padding-bottom.
  .modal-body
    padding-bottom: 8px;

.esCatDlg_slug_help_addr_slug
  font-weight: bold;
  font-size: 105%;
  margin-left: 1px;


.c_CD_Anons
  display: flex;
  .form-group:not(:last-child)
    margin-right: 3em;

.s_CD_Dd
  margin-bottom: 20px;
  p
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-right: 15px;

    &.icon-trash:before
      content: '\e806';
      font-size: 22px;
      position: relative;
      top: 2px;
      color: #444;
      margin-right: 7px;

.s_CD_Btns
  text-align: right;

.s_CD_DelB
  border-color: hsl(0, 70%, 55%);
  color: hsl(0, 70%, 43%);

.s_CD_UndelB
  font-weight: bold;
  color: white;
  background: hsl(0, 82%, 56%);
  border-color: hsl(0, 82%, 56%);

.s_CD_DelB,
.s_CD_UndelB
  &:hover
    color: white;
    background: hsl(0, 100%, 68%);
    border-color: hsl(0, 100%, 68%);


.s_CD_Sec_PoPs,
.s_PoP
  clearfix()

ul.s_CD_Sec_PoPs li
  // So one sees which buttons and checkboxes and group, belongs to each other.
  border-bottom: 1px solid #ddd;

.s_PoP
  clear: both;
  list-style: none;
  margin: 0 0 16px;

.s_PoP_Expl
  display: inline-block;
  width: 110px;
  text-align: right;

$s_PoP_Un_paddingLeftPx = 10px;

.s_PoP_Un
  display: inline-block;
  min-width: 180px;
  padding-left: $s_PoP_Un_paddingLeftPx;

.s_PoP_Un .btn
  min-width: 160px;
  text-align: left;

.s_PoP_Expl-What,
.s_PoP_Ps
  float: left;
  display: block;
  margin-top: 11px;
  .form-group
    margin-bottom: 10px;
    .checkbox
      margin-top: 0;

.s_PoP_Ps
  padding-left: $s_PoP_Un_paddingLeftPx + 2;

.s_CD_Sec_AddB
  margin-left: 10px;

// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
