
.esEditIntroDlg
  padding-top: 2em;
  padding-left: 2em;

  p .icon-cancel
    margin: 0 0.5ex 0 0.1ex;
    whiteSpace: nowrap;
    color: hsl($uiHue, 50%, 30%);
    &:before
      opacity: 0.7;

  .form-group
    margin: 25px 0 0;
    button
      min-width: 160px;
