
#dw-posts-navigation
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;

html:not(.mouse) #dw-posts-navigation
  bottom: auto
  top: 0


#dw-post-nav-panel
  position: absolute;
  left: 20px; // the sidebar is at the right edge
  bottom: 0;
  background: #bbb;

html:not(.mouse) #dw-post-nav-panel
  bottom: auto;
  top: 0;


html:not(.mouse) #dw-post-nav-panel
  left: 0;

#dw-post-nav-back-btn
  float: left;
  margin: 4px 2px 4px 4px;

#dw-post-nav-forw-btn
  float: left;
  margin: 4px 4px 4px 2px;


#dw-post-nav-forw-btn,
#dw-post-nav-back-btn
  // Make buttons darker so it's obvious when they've been disabled
  &[disabled]
    opacity: 0.45;

// This is for the B and F in Back and Forward, they're shortcuts.
html.mouse
  #dw-post-nav-forw-btn,
  #dw-post-nav-back-btn
    .dw-shortcut
      text-decoration: underline;
      font-weight: bold;

// Set button title to 'Forward' if wide screen, else 'Fwd'.
#dw-post-nav-panel
  .dw-narrow
    display: none
  .dw-wide
    display: inline

  @media (max-width: 700px)
    .dw-narrow
      display: inline
    .dw-wide
      display: none


// vim: fdm=marker et ts=2 sw=2 tw=0 list
