/*!
 * Copyright (C) 2015 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

$topbarButtonPaddingTop = 7px

html:not(.dw-react-started)
  #dw-topbar-btns
    visibility: hidden;  // display:none not good, because then other elems too close

// New:
.esTopBar
  clearfix()

  .caret
    display: none;

  .esAvtrName
    margin-left: 6px;

  .dw-menu
    .icon-menu
      font-size: 130%;
      color: hsl(0, 0%, 50%);

  .dw-login.dw-login.dw-login // oh well
    padding-top: 3px;
    padding-bottom: 4px;
    top: 1px;
    position: relative;
    font-weight: bold;
    color: #fff;

  .esNotf
    [class^=icon-],
    [class*= icon-]
      font-size: 13px;

  .esNotf-unseen a
    background: hsl($uiHue, 100%, 95.5%);
    color: hsl($uiHue, 90%, 20%);
    margin-bottom: 2px;
    &:hover
      background: hsl(207,100%,90%);


// Avoid flash-of-login-button when already logged in.
html:not(.dw-react-started)
  .dw-topbar-btns
    visibility: hidden;

.esAvtrName
  display: inline-block;

  .btn
    padding-left: 3px !important;  // !important because of bat styles below in this file

  // Should remove weird styles from edAvtr. Oh well.
  .edAvtr
    float: none;
    position: static;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    img
      height: 25px;
      &:hover
        opacity: 1;

  .esAvtrName_you,
  .esAvtrName_name
    color: #666;
    letter-spacing: 0.2px;
    vertical-align: middle;
    font-size: 13.5px;

  // Replace the user's perhaps long username with "You" if screen too narrow.
  .esAvtrName_you
    display: none;
  @media (max-width: 640px)
    .esAvtrName_name
      display: none;
    .esAvtrName_you
      display: inline-block;
  @media (max-width: 480px)
    .esAvtrName_you
      display: none;

.esNotfIcon
  display: inline-block;
  width: 21px;
  height: 21px;
  line-height: 20px;
  margin-left: 3px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  position: relative;
  text-align: center;

.esNotfIcon-wide
  width: 25px;

.esAvtrName .esNotfIcon
  top: 2px;
.esMenu .esNotfIcon
  top: -1px;
  &:first-child
    margin-left: 1px;
  &:last-child
    margin-right: 3px;

.esAvtrName_name + .esNotfIcon
  margin-left: 6px;

.esNotfIcon-toMe
  background: hsl($uiHue, 100%, 44%)
.esNotfIcon-toOthers
  background: hsl($uiHue, 90%, 70%);
.esNotfIcon-other
  background: hsl(0, 0%, 73%);

.esNotfIcon-reviewUrgent
  background: hsl(0, 100%, 49%);
.esNotfIcon-reviewOther
  background: hsl(0, 100%, 75%);


// Old:
.esTopBar
  z-index: 1;
  min-height: 51px; // avoids height changes when filled with contents

  .dw-topbar-title
    float: left; // needed if window narrow
    .dw-t, .dw-p, .dw-p-bd, .dw-p-bd-blk
      margin: 0;
      padding: 0;
    h1
      margin: 33px 0 15px 0;
      padding: 0;
      font-size: 26px;

    .dw-p-ttl-e,
    .container
      @media (min-width: 800px)
        width: 350px;
      @media (min-width: 1100px)
        width: 500px;

  .btn
    &.dw-goto,
    &.dw-login,
    &.dw-admin,
    &.dw-a-tools
      font-size: 1em;
      &.dw-a-tools
          font-size: 13.5px;
      a
        color: #555;

      box-sizing: content-box;
      color: hsl(0, 0%, 23%);
      border: none;
      padding: $topbarButtonPaddingTop 8px 7px 8px;

      &.dw-scrollback
        padding-left: 2px;

      &:hover
        color: hsl($uiHue, 100%, 20%);
        background: hsl($uiHue, 100%, 94%);

      min-width: 40px;

    &.dw-scrollback .icon-down-dir:before
      font-size: 16px;
      // rotate so points leftwards not down
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      position: relative;
      top: 1px;
      margin: 0;

    &.dw-scrollback
      padding-left: 3px;
      margin-left: 0;

  .dw-goto-btns
    float: left;

  .dw-topbar-btns
    float: right;
    margin-top: 15px;

    .btn
      border-radius: 0;
      border: none;

    .dw-name
      font-weight: bold;
      color: hsl($uiHue, 48%, 50%);
      // Align with button texts, not sure why needed.
      position: relative;
      top: 2px;
      cursor: pointer;


      .icon-settings:before
        position: relative;
        top: 1px;

      &.dw-search,
      &.dw-menu
        font-size: 130%;
        color: #666;

        span:before
          font-weight: bold;

      &.dw-menu
        margin-left: 0;

        .caret
          display: none;


  #dw-search-form
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1001;  // above sidebar
    background: white;
    width: 360px;
    border: 2px solid rgb(187, 187, 187);
    padding: 20px 15px 10px 10px;

    input
      width: 100%;


.dw-lower-right-corner
  position: absolute; bottom: 0px; right: 0px;


// The fixed topbar height should be a little bit less than 44, see sidebar/sidebar.ts [KP43WV3].
.dw-fixed-topbar-wrap
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1010;
  background: white;
  box-shadow: 0 2px 4px gray;

  .esTopBar
    min-height: auto;

    margin: 4px 0;
    @media (max-height: 550px)
      margin: 2px 0;
    @media (max-height: 420px)
      margin: 1px 0;
    @media (max-height: 220px)
      margin: 0;

    .dw-topbar-title
      @media (max-width: 610px)
        display: none;
    h1.dw-p-ttl
      margin: 5px 0 0;
      font-size: 18px;

    .btn
      font-size: 13px;

    /* Make buttons easier to click on small screens.
    .dw-scrollback,
    .dw-login,
    .dw-admin,
    .dw-a-tools
      padding-top: $topbarButtonPaddingTop;

    .dw-goto,
    .dw-scrollback
      padding-top: $topbarButtonPaddingTop;
      */

    .dw-topbar-btns
      margin-top: 0;

    .dropdown-toggle
      padding-top: 3px;
      padding-bottom: 3px;

// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
