/*!
 * Copyright (C) 2015 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

$topbarButtonPaddingTop = 7px

html:not(.dw-react-started)
  .esTopbar_ancestors,
  #dw-topbar-btns
    visibility: hidden;  // display:none not good, because then other elems too close

.esTopbarWrap
  position: relative;
  z-index: 3;

// New:
.esTopBar
  clearfix()
  pointer-events: none;
  background: none !important; // IE11

  .dw-topbar-btns,
  .esTopbar_ancestors,
  .dw-goto-btns,
  .esTopbar_custom,
  .dw-topbar-title,
  .esOpenPagebarBtn,
  .esOpenWatchbarBtn
    pointer-events: auto;

  .caret
    display: none;

  .esAvtrName
    margin-left: 6px;
    .btn
      padding-right: 0;

  .dw-menu
    .icon-menu
      font-size: 130%;
      color: hsl(0, 0%, 50%);

  .dw-login.dw-login.dw-login // oh well
    padding-top: 3px;
    padding-bottom: 4px;
    top: 1px;
    position: relative;
    font-weight: bold;
    color: #fff;

  .esNotf
    [class^=icon-],
    [class*= icon-]
      font-size: 13px;

  .esNotf-unseen a
    background: hsl($uiHue, 100%, 95.5%);
    color: hsl($uiHue, 90%, 20%);
    margin-bottom: 2px;
    &:hover
      background: hsl(207,100%,90%);


.esTopbar_signUp
  margin-right: 6px;

.esOpenPagebarBtn,
.esOpenWatchbarBtn
  border: none;
  position: relative;
  top: 5px;
  margin-top: 6px;
  padding: 12px 12px 12px 9px;
  z-index: 1;
.dw-fixed-topbar-wrap
  .esOpenPagebarBtn,
  .esOpenWatchbarBtn
    top: 0;
    margin-top: 0;
    padding-top: 9px;

.esOpenPagebarBtn
  float: right;
html.es-pagebar-open
  .esOpenPagebarBtn
    display: none;

.esOpenCtxbarBtn_numOnline
  font-style: italic;
  margin: 0 1ex 0 5px;
  display: inline-block;
  white-space: initial;
  vertical-align: top;
  text-align: right;
  height: 0; // so won't push stuff below down (overflow: visible anyway)
  position: relative;
  top: -1px;
  .brief
    display: none;
  .icon-user
    color: #777;
  .icon-comment-empty
    top: -1px;
    position: relative;
  @media (max-width: 1540px)
    max-width: 50px;
  @media (max-width: 1320px)
    top: 0;
    margin-right: 3px;
    .brief
      display: inline;
    .detailed
      display: none;
  @media (max-width: 600px)
    display: none;
html.es-watchbar-open
  .esOpenCtxbarBtn_numOnline
    @media (max-width: 1800px)
      max-width: 50px;
    @media (max-width: 1540px)
      top: 0;
      margin-right: 3px;
      .brief
        display: inline;
      .detailed
        display: none;
    @media (max-width: 800px)
      display: none;


.esOpenWatchbarBtn
  float: left;
html.es-watchbar-open
  .esOpenWatchbarBtn
    display: none;

.esTopbar_ancestors
  float: left;
  font-size: 15px;
  padding-top: 4px;
  > li
    margin: 0;
    list-style-type: none;
    display: inline-block;
    &::after
      content: " → ";
      color: #666;
      font-size: 19px;
      vertical-align: middle;
    > a
      color: #444;
      padding: $topbarButtonPaddingTop 8px 7px 8px;
      border: none;
      background: none;
    &:first-child > .btn
      padding-left: 5px;
      left: -5px;
      position: relative;

.esTopbar_custom
  margin-top: 12px;
  display: inline-block;

.esTopbar_custom_title
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
  font-size: 24px;
  letter-spacing: 0.2px;
  word-spacing: 0.4px;

.esTopbar_custom_backToSite
  vertical-align: bottom;
  margin-left: 15px;
  position: relative;
  top: 4px;
  font-size: 13px;
  padding: 6px 11px 6px 8px;
  &.icon-reply:before
    margin-right: 4px;

.dw-fixed-topbar-wrap
  .esTopbar_custom
    margin-top: 0;


// Avoid flash-of-login-button when already logged in.
html:not(.dw-react-started)
  .dw-topbar-btns
    visibility: hidden;

.esTopBar .esAvtrName // hmm rename to .esAvtrYourName?
  display: inline-block;

  .btn
    padding-left: 3px !important;  // !important because of bat styles below in this file

  // Should remove weird styles from edAvtr. Oh well.
  .edAvtr
    float: none;
    position: static;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    img
      height: 25px;
      &:hover
        opacity: 1;

  .esAvtrName_you,
  .esAvtrName_name
    color: #666;
    letter-spacing: 0.2px;
    vertical-align: middle;
    font-size: 13.5px;

  // Replace the user's perhaps long username with "You" if screen too narrow.
  .esAvtrName_you
    display: none;
  @media (max-width: 640px)
    .esAvtrName_name
      display: none;
    .esAvtrName_you
      display: inline-block;
  @media (max-width: 480px)
    .esAvtrName_you
      display: none;

.esNotfIcon
  display: inline-block;
  width: 21px;
  height: 21px;
  line-height: 20px;
  margin-left: 3px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  position: relative;
  text-align: center;

.esNotfIcon-wide
  width: 25px;

.esAvtrName .esNotfIcon
  top: 2px;
.esMenu .esNotfIcon
  top: -1px;
  &:first-child
    margin-left: 1px;
  &:last-child
    margin-right: 3px;

.esAvtrName_name + .esNotfIcon
  margin-left: 6px;

.esNotfIcon-toMe
  background: hsl($uiHue, 100%, 44%)
.esNotfIcon-toOthers
  background: hsl($uiHue, 90%, 70%);
.esNotfIcon-other
  background: hsl(0, 0%, 73%);

.esNotfIcon-reviewUrgent
  background: hsl(0, 100%, 49%);
.esNotfIcon-reviewOther
  background: hsl(0, 100%, 75%);


.esTopBar,
#theTopbar
  position: relative;
  z-index: 5;

html:not(.dw-react-started):not(.es-forum)  // (skip forum because it renders the topbar itself)
  #theTopbar
    min-height: 52px; // avoids height changes when filled with contents

// Old:
.esTopBar
  .dw-topbar-title
    float: left; // needed if window narrow
    .dw-t, .dw-p, .dw-p-bd, .dw-p-bd-blk
      margin: 0;
      padding: 0;
    h1
      margin: 33px 0 15px 0;
      padding: 0;
      font-size: 26px;

    .dw-p-ttl-e,
    .container
      @media (min-width: 800px)
        width: 350px;
      @media (min-width: 1100px)
        width: 600px;

  .btn
    &.dw-goto,
    &.dw-login,
    &.dw-admin,
    &.dw-a-tools
      font-size: 1em;
      &.dw-a-tools
          font-size: 13.5px;
      a
        color: #555;

      box-sizing: content-box;
      color: hsl(0, 0%, 23%);
      border: none;
      padding: $topbarButtonPaddingTop 8px 7px 8px;

      &.dw-scrollback
        padding-left: 2px;

      &:hover
        color: hsl($uiHue, 100%, 20%);
        background: hsl($uiHue, 100%, 94%);

      min-width: 40px;

    &.dw-scrollback .icon-down-dir:before
      font-size: 16px;
      // rotate so points leftwards not down
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      position: relative;
      top: 1px;
      margin: 0;

    &.dw-scrollback
      padding-left: 3px;
      margin-left: 0;

  .dw-goto-btns
    float: left;

  .esTopbar_ancestors,
  .dw-topbar-btns
    margin-top: 15px;

  .dw-topbar-btns
    float: right;

    .btn
      border-radius: 0;
      border: none;

    .dw-name
      font-weight: bold;
      color: hsl($uiHue, 48%, 50%);
      // Align with button texts, not sure why needed.
      position: relative;
      top: 2px;
      cursor: pointer;


      .icon-settings:before
        position: relative;
        top: 1px;

      &.dw-search,
      &.dw-menu
        font-size: 130%;
        color: #666;

        span:before
          font-weight: bold;

      &.dw-menu
        margin-left: 0;

        .caret
          display: none;


  #dw-search-form
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1001;  // above sidebar
    background: white;
    width: 360px;
    border: 2px solid rgb(187, 187, 187);
    padding: 20px 15px 10px 10px;

    input
      width: 100%;


.dw-lower-right-corner
  position: absolute; bottom: 0px; right: 0px;


.dw-fixed-topbar-wrap
  position: relative;
  z-index: 1010;
  background: white;
  box-shadow: 0 14px 20px white;

  .esTopBar
    min-height: auto;
    margin: 4px 0;

    @media (max-height: 550px)
      margin: 2px 0;
    @media (max-height: 420px)
      margin: 1px 0;
    @media (max-height: 220px)
      margin: 0;

    &.esTopbar-extraMargin
      margin: 8px 0 12px;

    .dw-topbar-title
      @media (max-width: 610px)
        display: none;
    h1.dw-p-ttl
      margin: 5px 0 0;
      font-size: 18px;

    .btn
      font-size: 13px;

    /* Make buttons easier to click on small screens.
    .dw-scrollback,
    .dw-login,
    .dw-admin,
    .dw-a-tools
      padding-top: $topbarButtonPaddingTop;

    .dw-goto,
    .dw-scrollback
      padding-top: $topbarButtonPaddingTop;
      */

    .esTopbar_ancestors,
    .dw-topbar-btns
      margin-top: 0;
      padding-top: 0;

    .dropdown-toggle
      padding-top: 3px;
      padding-bottom: 3px;

// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
