/*!
 * Copyright (c) 2015-2016 Kaj Magnus Lindberg
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

$topbarButtonPaddingTop = 7px
$gotoButtonSidePadding = 8px;
$gotoButtonSidePaddingNarrow = 3px;

$titleOwnLineMaxWidth = 1230px;

html:not(.dw-react-started)
  .esTopbar_ancestors,
  // Avoid flash-of-login-button when already logged in.
  .esTopbar_right
    visibility: hidden;  // display:none not good, because then other elems too close

.esTopbarWrap
  z-index: 3;
  min-height: 40px;

// New:
.esTopbar
  clearfix()
  pointer-events: none;
  background: none !important; // IE11

  .esTopbar_ancestors,
  .esTopbar_custom,
  .esTopbar_right,
  .dw-topbar-title,
  .esOpenPagebarBtn,
  .esOpenWatchbarBtn
    pointer-events: auto;

  //.caret
  //  display: none;  why not show? Comment out.

  .esAvtrName
    .btn
      padding-right: 0;

  .dw-login.dw-login.dw-login // oh well
    padding-top: 3px;
    padding-bottom: 4px;
    margin-top: 4px;
    top: 1px;
    position: relative;
    font-weight: bold;
    color: #fff;

  .esNotf
    [class^=icon-],
    [class*= icon-]
      font-size: 13px;

  .esNotf-unseen a
    background: hsl($uiHue, 100%, 95.5%);
    color: hsl($uiHue, 90%, 20%);
    margin-bottom: 2px;
    &:hover
      background: hsl(207,100%,90%);


.esTopbar_signUp
  margin-right: 6px;

.esOpenPagebarBtn,
.esOpenWatchbarBtn
  border: none;
  position: relative;
  margin-top: 11px;
  padding: 12px 12px 9px 9px;
  &.esOpenWatchbarBtn
    padding-right: 0;
  z-index: 1;
.dw-fixed-topbar-wrap // rename to theTB_FixedWrap ?
  .esOpenPagebarBtn,
  .esOpenWatchbarBtn
    top: 0;
    margin-top: 0;
    padding-top: 9px;

.esOpenWatchbarBtn_text
  font-size: 14px;
  font-style: italic;
  padding-right: 6px;
  // Line-wrap "Your topics" so won't collide with the forum title.
  @media (max-width: 1300px)
    max-width: 40px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
  @media (max-width: $titleOwnLineMaxWidth)
    // The title is on its own line, so no need to word wrap.
    max-width: none;
  @media (max-width: 600px)
    display: none;

.esOpenPagebarBtn
  float: right;
html.es-pagebar-open
  .esOpenPagebarBtn
    display: none;

.esOpenCtxbarBtn_numOnline
  font-style: italic;
  margin: 0 1ex 0 5px;
  display: inline-block;
  white-space: initial;
  vertical-align: top;
  text-align: right;
  height: 0; // so won't push stuff below down (overflow: visible anyway)
  position: relative;
  top: -1px;
  .brief
    display: none;
  .icon-user
    color: #777;
  .icon-comment-empty
    top: -1px;
    position: relative;
  @media (max-width: 1540px)
    max-width: 50px;
  @media (max-width: 1320px)
    top: 0;
    margin-right: 3px;
    .brief
      display: inline;
    .detailed
      display: none;
  @media (max-width: 600px)
    display: none;
html.es-watchbar-open:not(.esSidebarsOverlayPage)
  .esOpenCtxbarBtn_numOnline
    @media (max-width: 1800px)
      max-width: 50px;
    @media (max-width: 1540px)
      top: 0;
      margin-right: 3px;
      .brief
        display: inline;
      .detailed
        display: none;
    @media (max-width: 800px)
      display: none;


.esOpenWatchbarBtn
  float: left;
html.es-watchbar-open
  .esOpenWatchbarBtn
    display: none;

.esTopbar_ancestors
  float: left;
  font-size: 15px;
  padding-top: 4px;
  position: relative;
  left: - $gotoButtonSidePadding;
  @media (max-width: $narrowLimit)
    left: - $gotoButtonSidePaddingNarrow;

.esTopbar_ancestors
  > li
    margin: 0;
    list-style-type: none;
    display: inline-block;
    &:not(:last-child)::after
      content: "→";
      color: #666;
      font-size: 19px;
      vertical-align: middle;
      position: relative;
      top: -1px;
    > a
      color: #444;
      padding: $topbarButtonPaddingTop 8px 7px 8px;
      border: none;
      background: none;

.s_TB_Cs_C-Dd
  crossGray();

.esTopbar_custom
  margin-top: 12px;
  display: inline-block;

.esTopbar_custom_title
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
  font-size: 24px;
  letter-spacing: 0.2px;
  word-spacing: 0.4px;

.esTopbar_custom_backToSite
  vertical-align: bottom;
  margin-left: 15px;
  position: relative;
  top: 4px;
  font-size: 13px;
  padding: 6px 11px 6px 8px;
  &.icon-reply:before
    margin-right: 4px;

.dw-fixed-topbar-wrap
  .esTopbar_custom
    margin-top: 0;


.esTB_SearchBtn
  padding: 1px 5px 3px 4px;
  margin: 0 0 0 2px;
  .icon-search
    color: hsl(0, 0%, 50%);
    font-size: 21px;
    margin: 0;
    padding: 0;

.esTB_SearchD
  padding: 13px 5px 0 12px;
  $marginBottom = 7px;
  $height = 34px;
  input[type='text']
    padding-left: 3px;
    width: 40vw;
    min-width: 250px;
    max-width: 500px;
    vertical-align: middle;
    height: $height;
    margin: 0 9px $marginBottom 0;
  .btn
    margin-bottom: $marginBottom;
    min-width: 80px;
    font-size: 15px;
    height: $height;

.esTB_SearchD_AdvL
  padding: 1px 2px 2px;
  margin: 6px 0 2px 0;
  float: right;
  font-size: 14px;

.esTopbar .esAvtrName // hmm rename to .esAvtrYourName?
  display: inline-block;

  .btn
    padding-left: 3px !important;  // !important because of bat styles below in this file

  // Should remove weird styles from edAvtr. Oh well.
  .edAvtr
    float: none;
    position: static;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    img
      height: 25px;
      &:hover
        opacity: 1;

  .esAvtrName_you,
  .esAvtrName_name
    color: #666;
    letter-spacing: 0.2px;
    vertical-align: middle;
    font-size: 13.5px;

  // Replace the user's perhaps long username with "You" if screen too narrow.
  .esAvtrName_you
    display: none;
  @media (max-width: 640px)
    .esAvtrName_name
      display: none;
    .esAvtrName_you
      display: inline-block;
  @media (max-width: 480px)
    .esAvtrName_you
      display: none;

.esNotfIcon
  display: inline-block;
  width: 21px;
  height: 21px;
  line-height: 20px;
  margin-left: 3px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  position: relative;
  text-align: center;

.esNotfIcon-wide
  width: 25px;

.esAvtrName .esNotfIcon
  top: 2px;
.esMenu .esNotfIcon
  top: -1px;
  &:first-child
    margin-left: 1px;
  &:last-child
    margin-right: 3px;

.esNotfIcon + .edAvtr,
.esAvtrName_name + .esNotfIcon
  margin-left: 6px;

.esNotfIcon-toMe
  background: hsl($uiHue, 100%, 44%)
.esNotfIcon-toOthers
  background: hsl($uiHue, 90%, 70%);
.esNotfIcon-other
  background: hsl(0, 0%, 73%);

.esNotfIcon-reviewUrgent
  background: hsl(0, 100%, 49%);
.esNotfIcon-reviewOther
  background: hsl(0, 100%, 75%);

// These are placed to the left of the avatar.
.esNotfIcon-reviewUrgent,
.esNotfIcon-reviewOther
  margin: 0 3px 0 0;  // otherwise only margin-left

.esMyMenu .esAvtr
  margin-right: 5px;

.esMyMenu_admin
  .icon-settings::before
    margin-left: 0;

// Shouldn't be too large, because it's better if *nothing* happens, when clicking in between
// these links and the close X button (see .esCloseCross just above).
// Hmm, what happens, is that the dialog closes though, because onContentClick calls
// this.closeDropdown. Oh well, barely matters.
.esMyMenu_admin,
.esMyMenu_adminHelp
  max-width: 200px;

.esTopbar,
#theTopbar
  position: relative;
  z-index: 5;

html:not(.dw-react-started):not(.es-forum)  // (skip forum because it renders the topbar itself)
  #theTopbar
    min-height: 52px; // avoids height changes when filled with contents

// Place the title on a separate line, if narrow screen, so the open-watchbar btn won't
// push it to the right.
html:not(.es-watchbar-open),
// If screen very narrow, always place title on separate line, so won't jump up/down when
// opening/closing  the watchbar.
html.esSidebarsOverlayPage
  .esTopbarWrap:not(.dw-fixed-topbar-wrap)
    @media (max-width: $titleOwnLineMaxWidth)
      .dw-topbar-title
        clear: both;
        h1
          margin: 7px 0 6px;
      .esTopbar_ancestors
        clear: both;
        margin: 0;
        padding: 0;

// Old:
.esTopbar
  .dw-topbar-title
    float: left; // needed if window narrow
    .dw-t, .dw-p, .dw-p-bd, .dw-p-bd-blk
      margin: 0;
      padding: 0;
    h1
      margin: 33px 0 15px 0;
      padding: 0;
      font-size: 26px;

    .dw-p-ttl-e,
    .container
      @media (min-width: 800px)
        width: 350px;
      @media (min-width: 1100px)
        width: 600px;

  .btn
    &.esTopbar_ancestors_link,
    &.dw-login,
    &.dw-a-tools
      font-size: 1em;
      &.dw-a-tools
          font-size: 13.5px;
      a
        color: #555;

      box-sizing: content-box;
      color: hsl(0, 0%, 23%);
      border: none;
      padding: $topbarButtonPaddingTop $gotoButtonSidePadding 7px $gotoButtonSidePadding;
      @media (max-width: $narrowLimit)
        padding-left: $gotoButtonSidePaddingNarrow;
        padding-right: $gotoButtonSidePaddingNarrow;

      &:hover
        color: hsl($uiHue, 100%, 20%);
        background: hsl($uiHue, 100%, 94%);

      min-width: 40px;

  .esTopbar_ancestors,
  .esTopbar_right
    margin-top: 15px;

  .esTopbar_right
    float: right;

    .btn
      border-radius: 0;
      border: none;

    .dw-name
      font-weight: bold;
      color: hsl($uiHue, 48%, 50%);
      // Align with button texts, not sure why needed.
      position: relative;
      top: 2px;
      cursor: pointer;


      .icon-settings:before
        position: relative;
        top: 1px;

        span:before
          font-weight: bold;


.dw-fixed-topbar-wrap
  z-index: 1010;
  background: white;
  // shrink -2px so won't overlap #esPageScrollable scrollbar
  box-shadow: 0 6px 9px -2px rgba(0,0,0,0.14); // shadow size dupl here: [5YKW25]

  // Don't let topbar overlap scrollbar — but if window narrow, then probably a mobile, with
  // scrollbars hidden when not scrolling. Then leave margin as is = 0.
  // COULD use Modernizr's hiddenscroll test to find out:
  //   https://github.com/Modernizr/Modernizr/blob/master/feature-detects/hiddenscroll.js
  // COULD find the real scrollbar width:
  //   http://stackoverflow.com/questions/13382516/getting-scroll-bar-width-using-javascript
  //   http://stackoverflow.com/questions/986937/how-can-i-get-the-browsers-scrollbar-sizes
  // Edit: Instead checking html.esSidebarsOverlayPage, see below [5FK7RS2]
  margin-right: 14px; // 14px works with FF, $pageScrollbarWidth only 13px.

  .esOpenWatchbarBtn
    margin-right: 14px; // because now Home –> Category, or forum title, on same line

  .esOpenWatchbarBtn_text,
  .esOpenCtxbarBtn_numOnline
    max-width: none; // otherwise a line wrap might make the topbar twice as tall
    font-size: 13px;
    color: hsl(0, 0%, 30%);

  .esOpenWatchbarBtn_text,
  .esOpenCtxbarBtn_numOnline .detailed
    vertical-align: middle;

  .icon-left-open,
  .icon-right-open
    color: hsl(0, 0%, 30%);

  .esTopbar
    min-height: auto;

    margin: 4px 0;
    @media (max-height: 550px)
      margin: 3px 0;
    @media (max-height: 420px)
      margin: 2px 0;

    &.esTopbar-extraMargin
      margin: 8px 0 12px;

    .dw-topbar-title
      @media (max-width: 610px)
        display: none;
    h1.dw-p-ttl
      margin: 7px 0 0;
      font-size: 18px;

    .esTopbar_ancestors .btn
      font-size: 14px;
      @media (max-width: 1000px)
        font-size: 13.5px;
      @media (max-width: 850px)
        font-size: 13px;

    .dw-login
      margin-top: 0 !important;

    /* Make buttons easier to click on small screens.
    .dw-login,
    .dw-a-tools
      padding-top: $topbarButtonPaddingTop;

    .esTopbar_ancestors_link
      padding-top: $topbarButtonPaddingTop;
      */

    .esTopbar_ancestors,
    .esTopbar_right
      margin-top: 0;
      padding-top: 0;

    .dropdown-toggle
      padding-top: 3px;
      padding-bottom: 3px;

// There's a topbar-padding-right that prenvents the topbar from overlapping the page scrollbar.
// Remove this padding when the topbar is full-width. See [5FK7RS2] above
html.esSidebarsOverlayPage .dw-fixed-topbar-wrap
  margin-right: 0;


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
