/*!
 * Copyright (C) 2015 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

$topbarButtonPaddingTop = 3px
$topbarBorderButtonPaddingTop = $topbarButtonPaddingTop - 1px;


#dw-react-topbar
  z-index: 1;
  min-height: 51px; // avoids height changes when filled with contents

  .dw-topbar-title
    float: left;
    .dw-t, .dw-p, .dw-p-bd, .dw-p-bd-blk
      margin: 0;
      padding: 0;
    h1
      margin: 33px 0 15px 0;
      padding: 0;
      font-size: 26px;

    .dw-p-ttl-e,
    .container
      @media (min-width: 800px)
        width: 350px;
      @media (min-width: 1100px)
        width: 500px;

  .btn
    margin-left: 10px;
    border-radius: 0;
    border: none;

    &.dw-scrollback,
    &.dw-clear-scroll,
    &.dw-login,
    &.dw-logout,
    &.dw-admin,
    &.dw-a-tools
      background: hsl(210, 51%, 50%);
      font-size: 1em;
      color: white;
      padding: $topbarButtonPaddingTop 8px 4px 5px;
      a
        color: white;

    &.dw-goto,
    &.dw-scrollback,
    &.dw-clear-scroll
      height: 17px;
      box-sizing: content-box;
      color: hsl(0, 0%, 23%);
      background: white;
      border: 1px solid hsl(0, 0%, 70%);

      padding: $topbarBorderButtonPaddingTop 8px 3px 8px;
      &.dw-scrollback
        padding-left: 2px;

      &:hover
        color: hsl(210, 100%, 20%);
        border-color: hsl(210, 100%, 60%);
        background: hsl(210, 100%, 94%);

    &.dw-goto
      margin: 0;
      min-width: 37px;
      &:first-child
        margin-left: 0;
      &:not(:first-child)
        border-left: none;

    &.dw-clear-scroll
      border-right: none;
      padding-right: 12px;
      padding-left: 12px;
      margin-left: 14px;

    &.dw-scrollback .icon-down-dir:before
      font-size: 16px;
      // rotate so points leftwards not down
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      position: relative;
      top: 1px;
      margin: 0;

    &.dw-scrollback
      padding-left: 3px;
      margin-left: 0;

  .dw-goto-btns
    float: left;

  #dw-topbar-btns
    float: right;
    margin-top: 15px;

    .dw-name
      font-weight: bold;
      color: hsl(211, 48%, 50%);
      // Align with button texts, not sure why needed.
      position: relative;
      top: 2px;
      cursor: pointer;


      .icon-settings:before
        position: relative;
        top: 1px;

      &.dw-logout
        padding-left: 8px;

      &.dw-search,
      &.dw-menu
        font-size: 130%;
        color: #666;

        span:before
          font-weight: bold;

      &.dw-menu
        margin-left: 0;

        .caret
          display: none;


  #dw-search-form
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1001;  // above sidebar
    background: white;
    width: 360px;
    border: 2px solid rgb(187, 187, 187);
    padding: 20px 15px 10px 10px;

    input
      width: 100%;


.dw-lower-right-corner
  position: absolute; bottom: 0px; right: 0px;


// The fixed topbar height should be a little bit less than 44, see sidebar/sidebar.ts [KP43WV3].
.dw-fixed-topbar-wrap
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1010;
  background: white;
  box-shadow: 0 2px 4px gray;

  #dw-react-topbar
    min-height: auto;

    margin: 7px 0;
    @media (max-height: 450px)
      margin: 5px 0;

    .dw-topbar-title
      @media (max-width: 610px)
        display: none;
    h1.dw-p-ttl
      margin: 5px 0 0;
      font-size: 18px;

    .btn
      font-size: 12px;

    // Make buttons easier to click on small screens.
    .dw-scrollback,
    .dw-clear-scroll,
    .dw-login,
    .dw-logout,
    .dw-admin,
    .dw-a-tools
      padding-top: $topbarButtonPaddingTop + 1px;

    .dw-goto,
    .dw-scrollback,
    .dw-clear-scroll
      padding-top: $topbarBorderButtonPaddingTop + 1px;

    #dw-topbar-btns
      margin-top: 0;

    .dropdown-toggle
      max-height: 24px;
      padding-top: 4px;


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
