.esDropModal_content.s_InvD,
.esDropModal_content.esUsrDlg
  padding: 0; // already padding in .modal-body
  width: 590px; // there's a dropdown-modal max width already

  .modal-body
    clearfix();
    padding-bottom: 0;

  .edAvtr
    position: static;
    margin-right: 19px;
    $size = 110px;
    width: $size;
    height: $size;
    img
      width: 100%;
      height: 100%;

    &.esAvtr-ltr
      line-height: $size;
      font-size: $size * 0.7;
      // COULD reduse font-size if > 1 letter

.s_UD_ExtrInf
  font-style: italic;
  margin-bottom: 1ex;

.dw-about-user-actions
  float: right;

  .btn
    display: block;
    width: 170px;
    margin-bottom: 5px;


.dw-guest-blocked
  color: hsl(0, 70%, 50%);
  font-weight: bold;

