/**
 * Copyright (C) 2013  Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

// Styles for admin, moderator and configuration pages.



body,
.container
  position: relative

.container
  margin: 0 auto

// This <ins> and <del> was copied from debiki-play.css.
ins
  text-decoration: none
  background: #9f9

del
  text-decoration: line-through
  background: #ffd0d0

p, // override Twitter Bootstrap 
body,
.dw-depth-1 blockquote p // override Bootstrap
  font: 13px Verdana, sans-serif

article
  line-height: 165%

h1, h2, h3, h4, h5, h6
  letter-spacing: 1px
  line-height: 1em
  margin-top: 30px
  margin-bottom: 15px
  color: #393939

h1, h2, h3, h4, h5, h6
  font-family: Bree serif, Georgia, serif
  font-weight: normal

h1
  font-size: 35px
  color: #454545
  padding-top: 15px
  margin-bottom: 4px

h2
  color: #444
  font-size: 24px
  margin: 35px 0 15px 0 !important

.container > h2
  color: hsl(39, 99%, 49%)
  border-bottom: 1px solid hsl(39, 100%, 80%)
  padding-bottom: 5px

h3
  font-size: 20px
  color: #333
  margin-top: 29px

h4
  font-size: 15px
  color: #555

h5, h6
  font-size: 13px
  color: #707070
  font-family: Arial, sans-serif

p, li
  color: #111

p
  margin-bottom: 1em
  line-height: 20px

.dw-res p,
.dw-res ul,
.dw-res ol
  margin-bottom: 0.7em
  line-height: normal

li
  margin-left: 2.9em
  margin-bottom: 0.6em

ul, ol
  margin: 0

ul
  list-style-type: disc

ol
  list-style-type: decimal

img
  width: 100%
  display: block // TODO inline those with no \n\n inbetween preceeding text
  margin: 1.5em auto // TODO margin-bottom 0 if post ends there

i, em
  font-style: italic

small
  font-size: 80%
  color: #444

// Bootstrap's <pre> whiteSmoke too dark, and <code> bg colored.
pre, code
  background-color: #f7f7f7
  color: #222
  font-size: 12px // or unreadably small
  line-height: 16px

small code
  background-color: inherit
  color: inherit
  padding: 0
  border: none
  font-size: inherit

a
  text-decoration: none

a:hover, a:active
  text-decoration: underline

.dw-pri .ui-widget-content a, // undo jQuery UI settings 
a, a:link
  color: hsl(211, 88%, 35%)

.dw-pri .ui-widget-content a:visited,
a:visited
  color: hsl(211, 30%, 40%)

#alfa-info
  font-style: italic
  font-size: 90%
  text-align: center
  left: 0
  top: 0
  width: 100%
  z-index: 100
  padding: 7px 0



// Code pages and templates
//==============================


.dw-page[data-page_role=Code] > h1
  margin-bottom: 0
  font-size: 20px

.dw-page[data-page_role=Code] > h1
.dw-page[data-page_role=Code] p
  font-family: monospace



// Responsive
//============================== 


.logo-slogan
  float: left

#topbar > .container nav
  float: right

#topbar > .container nav > a
  margin-left: 1.1em

// Default, 940px wide

.dw-p-ttl .dw-p-bd-blk
  max-width: 748px

.container,
.dw-ar-p-bd
  width: 940px

.dw-p-bd-blk
  // Don't specify `width`; that'd prevent smartphones
  // from shrinking the elem so paras fit on screen ??
  max-width: 560px // + whitespace + #sidebar = 940

body
  padding: 0 !important // cancel Bootstrap's 20px padding

#topbar > .container,
body > .container
  padding-left: 20px
  padding-right: 20px

#topbar > .container
  display: table

#topbar > .container > *
  display: table-cell !important
  float: none !important

#topbar > .container nav
  text-align: right

@media (min-width: 1200px)
  .container,
  .dw-p-ttl .dw-p-bd-blk,
  .dw-ar-p-bd
    width: 1170px

@media (max-width: 980px)
  .container,
  .dw-p-ttl .dw-p-bd-blk,
  .dw-ar-p-bd
    width: 748px

  .dw-p-bd-blk
    max-width: 500px

  #sidebar
    width: 190px

  #topbar > .container
    line-height: 120% // make higher since lines wrap

  .logo-slogan
    display: block // make slogan line wrap
    max-width: 150px

  .slogan
    font-size: 90%

  #dw-loginout
    display: block
    text-align: left

  .dw-u-lgi-lgo
    display: block

  #dw-a-logout
    font-size: 90%
    margin-left: 0

// 500px wide layout, mainly for mobile phones in landscape orientation.
@media (max-width: 767px)
  #topbar > .container nav > a
    padding-bottom: 10px
    display: inline-block

  #topbar > .container
    padding-right: 0
    padding-left: 0

  #topbar
    padding: 0 20px // .container already has 20px padding

  .container,
  .dw-p-ttl .dw-p-bd-blk,
  .dw-ar-p-bd
    width: 500px

  // Move the sidebar from the side to inside the text.
  #sidebar
    position: static
    float: right
    max-width: 46%
    margin-top: 35px
    padding-left: 10px

// The article is placed in a very wide elem
// (because of all horizontal replies and inline replies),
// so `width: auto` won't make it shrink if the user makes the
// browser window smaller, or uses a mobile phone.
// Add some manual shrinking here:
// (@media width less than 20px padding + max-width + 5px = new @media section)
//
@media (max-width: 525px)
  // Android (but not desktop browsers) makes the .container very wide,
  // unless:  (max-width ignored, because it's a table)
  .container
    width: 450px

  // But don't set `width` for the actual text contents; I think
  // that then Android won't add line wraps to make paras fit on screen.
  .dw-ar-p-bd,
  .dw-p-ttl .dw-p-bd-blk,
  .dw-p-bd-blk
    max-width: 450px

@media (max-width: 475px)
  .container
    width: 400px

  .dw-ar-p-bd,
  .dw-p-ttl .dw-p-bd-blk,
  .dw-p-bd-blk
    max-width: 400px

  // Change from 20px to 10px padding.
  #topbar, body > .container
    padding: 0 10px

@media (max-width: 425px)
  .container
    width: 360px

  .dw-ar-p-bd,
  .dw-p-ttl .dw-p-bd-blk,
  .dw-p-bd-blk
    max-width: 360px // + 10px padding + 5 whitespace = 375px (next @media below)

@media (max-width: 375px)
  // The smallest modern mobile phones are 320px wide. (?)
  .container
    width: 300px

  .dw-ar-p-bd,
  .dw-p-ttl .dw-p-bd-blk,
  .dw-p-bd-blk
    max-width: 300px // + 2 x 10px padding = 320

// vim: fdm=marker et ts=2 sw=2 tw=80 fo=tcqwn list
