/**
 * Copyright (c) 2012-2015 Kaj Magnus Lindberg
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.esAdminSectionIntro
  margin: 2em 0 1.5em;
  p
    font-style: italic;

.esA_Ss
  clearfix();

.s_A_Ss_S_Ttl
  //border-top: 1px solid #ddd;
  //margin-top: 40px;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-top: 20px;


.s_A_Ss_S .checkbox
  margin-bottom: 8px;

.s_A_Ss_S input[type="text"]
  width: 370px;   // or too small
  max-width: 95%; // or too wide, on narrow phones

.s_A_Ss_EmbCmts
  padding-left: 8px;
  pre
    margin: 15px 0;
    padding-bottom: 16px;
    font-size: 11px;
  h2 b
    text-decoration: underline;
  h3
    font-size: 18px;

.s_A_Ss_S-WhichBlog .form-group
  float: left;
  margin: 11px 23px 0 0;
  padding-left: 5px; // so bg color won't stop immediately to the left of radio circle
  label
    padding: 11px 12px 11px 0px;
  &:hover
    background: hsl($uiHue, 100%, 96%);
  &.active
    background: hsl($uiHue, 100%, 97%);
    outline: 5px solid hsl($uiHue, 100%, 91%);
    label
      font-weight: bold;

.s_A_Ss_EmbCmts_Plugins
  margin-top: 20px;

.esA_Ss .nav li a:hover:not(.active)
  color: black;
  background: hsl(0, 0%, 98%);

.esAdmin_settings,  // rename to esA_Ss_Ss (settings tab, and the actual settings)
.esAdmin_customize
  padding-bottom: 40px;
  .form-group
    margin-top: 8px;
    margin-bottom: 0;
  .control-label
    padding-top: 17px; // 7 -> 17 because of padding-top below [930KPU12]

.esAdmin_settings_nav
  background: #eee;
  padding-right: 0;
  margin-bottom: 20px; // so the .esA_SaveBar won't be immediately below
  li a:not(.active)
    color: hsl(0, 0%, 16%);
  li.active a
    font-weight: bold;

.esAdmin_settings_setting-unsaved
  background: hsl($uiHue, 100%, 96%);  // don't use yellow, some think that means error/warning
  input
    border: 1px solid hsl($uiHue, 27%, 67%);
  .help-block
    color: hsl($uiHue, 20%, 38%);

.esAdmin_settings_setting
  padding-top: 10px;  // so there'll be some yellow background also above unsaved fileds [930KPU12]
  &.disabled
    label
      opacity: 0.6;
  .btn:last-child
    margin-bottom: 10px;

.esAdmin_settings_setting_btn
  position: relative;
  left: 4px;
  margin-bottom: 8px;
.esAdmin_savebar

.esA_SaveBar
  // Remove position:fixed for now, [5GK3FW0] because if fixed at the bottom, people sometimes
  // won't find it until after a while. Later: make it fixed, if would otherwise be off-screen
  // (below the lower window edge).
  /*
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 25px 10px hsl(0, 0%, 34%);
  */
  background: hsl(0, 0%, 95%);
  padding: 11px;
  border: 1px solid hsl(0, 0%, 92%);
  border-left: none;
  border-right: none;

  // Center the buttons:
  text-align: center;
  .container
    display: inline-block;
    .btn
      margin-right: 10px;

.esA_SaveBar_SaveAllB
  background: hsl($uiHue, 100%, 53%);
  border-color: hsl($uiHue, 100%, 53%);
  font-weight: bold;

.esA_SaveBar_SaveAllB,
.esA_SaveBar_UndoAllB
  height: 38px; // makes them a bit larger

.s_A_Ss_S-Textarea
  .input-group
    width: 100%;
    textarea
      min-height: 100px;

.esA_Ss_S_Hostname
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 5%);
  padding: 7px 15px 5px 3px;
  margin-left: 2px;

.s_A_Ss_S-Hostnames
  pre
    word-break: normal;
    white-space: pre-line;

.dw-main-nav
  margin: 30px auto 12px;
  a
    font-weight: bold;
    color: hsl(0, 0%, 29%);

.dw-sub-nav
  background: $subNavBackgroundColor;
  padding: 0;
  a
    color: $subNavColor;
    &:hover
      background: $subNavHoverBackgroundColor;

.dw-sub-nav .active a
  &:focus
    color: hsl($uiHue, 56%, 35%);
    background: white;

.esAdminArea
  .dw-sub-nav
    margin-top: 14px;

.s_A_Us
  margin: 21px 0 30px;

.dw-users-to-review
  .btn
    margin: 0 5px
    :first-child
      margin-left: 0


.nav-pills > li
  border-radius: 4px;
  :first-child
    margin-left: 0

.main-tabs
  margin-top: 40px

.tab-content
  margin-top: 25px

.tab-content > .tab-pane
  padding-top: 20px

// Don't lett Debiki's other styles affect Bootstrap's tooltip text
.tooltip
  white-space: normal !important
  font-size: $postFontSize !important
  font-weight: normal !important
  font-style: normal !important

.nav-tabs > li
  margin-left: 0 // or space between Twitter Bootstrap tabs

// not really in use, will probably delete
.inline-action
  color: red !important

// For embedded comments sites, it's rather confusing with buttons intended
// for forums and blogs and websites, so hide them.
.hide-for-embedded-comments
  display: none


// Users
//--------------------------------------------

.s_A_Us
  // Otherwise, when editing & reloading user, the page is briefly empty (only the text Loading...)
  // which makes the browser y-scroll reset to 0, annoying.
  min-height: 550px;

.s_A_Us_UsL_U_Modif
  color: hsl(0, 0%, 37%);
  margin-left: 0.6ex;


// A single user
//--------------------------------------------

$rowBorder = 1px solid hsl(0, 0%, 90%);

.esA_Us_U_Rows
  clear: both;
  padding: 15px 0;

.esA_Us_U_Rows_Row
  display: flex;        // this...
  align-items: center;  // ...makes row items vertically aligned
  padding: 11px 0 11px 5px;
  border-top: $rowBorder;

.esA_Us_U_Rows_Row:last-child
  border-bottom: $rowBorder;

.s_A_Us_U_Rows_Row_EmlManage
  margin: 5px 0 0 1em;
  display: inline-block;
  text-decoration: underline;


// Invites
//--------------------------------------------

.s_AA_Us_Inv

  .esAdminSectionIntro
    &, & h3
      font-size: 17px;
      margin-bottom: 7px;
  .form-group
    display: inline-block;
    margin: 0 20px 0 0;
    label
      opacity: 0.86;
    .checkbox
      padding-left: 0;
    input
      vertical-align: top;
      margin: 3px 7px 3px 0;

//.s_AA_Us_Inv_SendB
//  margin-top: 6px;


// Settins and Special Content tabs
//--------------------------------------------

.special-content
  margin-top: 33px;
  label
    text-align: right

.setting-label
  text-align: right
  margin-top: 10px

.special-content-_stylesheet,
.special-content-_javascript
  min-height: 550px; // for now


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
