
.s_A_Api_SecrT
  margin: 1em 0 2em;
  td, th
    padding: 0.5ex 1.5em;
    &:first-child
      padding-left: 0;

  .btn
    margin: 0 1em;
    &:first-child
      margin-left: 0;


.c_A_Api_Wh
  clearfix();

.c_A_Api_Wh_Url .input-group
  width: 100%;


li.c_WbhkReqs_Req
  padding-left: 1em;
  margin-left: 1.2em;
  margin-bottom: 1.7em;

.c_WbhkReqs_Req b
  margin-right: 0.5ex;

.c_A_Api_Wh_BrknQ
  margin: 0 1ex 0 2ex;

.c_A_Api_Wh_Msg
  margin: 0.3ex 0;
