
.s_A_Api_SecrT
  margin: 1em 0 2em;
  td, th
    padding: 0.5ex 1.5em;
    &:first-child
      padding-left: 0;

  .btn
    margin: 0 1em;
    &:first-child
      margin-left: 0;


.c_A_Api_Wh
  clearfix();

.c_A_Api_Wh_Url .input-group
  width: 100%;

// [single_setting_save_btn]
.c_Wh_SavB:not([disabled])
  background: hsl($uiHue, 90%, 50%);
  color: white;

// .form-horizontal .control-label  has  7px padding. If displaying plain text in
// the form (info text), we can use the below class to align with the label to the left.
.c_FormTxt
  display: inline-block;
  padding-top: 7px;
  
.c_A_Api_Wh
  .c_FormTxt,
  .btn
    margin-right: 8px;  // So not too close

li.c_WbhkReqs_Req
  padding-left: 1em;
  margin-left: 1.2em;
  margin-bottom: 1.7em;

.c_WbhkReqs_Req b
  margin-right: 0.5ex;

.c_A_Api_Wh_BrknQ
  margin: 0 1ex 0 2ex;

.c_A_Api_Wh_Msg
  margin: 0.3ex 0;
