@(websiteAddress: String)

@import debiki.HtmlUtils.link
@import play.api.Play.current


<p>Your new Debiki site has been set up.
  You can log in as administrator here:</p>

<p>@link("http://" + websiteAddress + routes.Application.viewAdminPage.url)</p>


<p>You can report problems here:</p>

<p>@link("http://www.debiki.com/hosting/issues/-8mz74-simple-forum")</p>

<p><small>Advanced users: If you want to map a domain name to your website,
 please reply to this email and tell me what domain name you
 want to use. You will also need to point that domain name to
 CNAME <kbd>debiki.net</kbd>.@* I'll reply within a few days. *@
 (Afterwards, your old website address will redirect people to the
 new address.)
</small></p>

<p>I hope you will enjoy your new site.</p>

<p>Kind regards, Debiki<br>
http://www.debiki.com/
</p>

