@(doWhat: String, xsrfToken: String = "?", parentDomainName: String = "?")


@showWebsiteNameForm = {
  <h1>Choose Website Name</h1>
  <p>Please enter a name for the new website.<br>
    (You can map a domain name of yours to the website, later.)
  </p>
  <form accept-charset='UTF-8' method='post'>
    <label>Website name:
      <input type='text' name='website-name'><tt>.@{parentDomainName}</tt>
    </label>
    <input name='dw-fi-xsrf' type='hidden' value='@xsrfToken'>
    <input type='submit' value="Next">
  </form>
}


@welcomeOwner = {
  <p>Website created, congratulations!
  <p><a href="/-/manage-website">Manage this website</a>

  @*
  <p>If you want to, you can now map a domain name of yours to this address:
      <tt>@websiteAddr</tt>
  No, not that easy. S/he has to add an entry in DW1_TENANT_HOSTS too,
  and prove that s/he owns it.
  *@

  <p>Next: <a href="/?create-page">create a home page</a>.
}


@failSomeoneElseWasFirst = {
  <p>Sorry but someone else created this websit moments ago. You could try
    again to create a website, and you need to choose another name.
  <p><a href="@routes.AppCreateWebsite.showWebsiteNameForm.url">
      Okay, I'll try again</a>
}


<!DOCTYPE html>
<html>
<head>
  <title>Create Website</title>
</head>
<body>
<div>
  @doWhat match {
    case "showWebsiteNameForm" => { @showWebsiteNameForm }
    case "welcomeOwner" => { @welcomeOwner }
    case "failSomeoneElseWasFirst" => { @failSomeoneElseWasFirst }
    case _ => {
      // COULD throw instead?
      play.api.Logger.error("Bad doWhat: "+ doWhat)
      <p>Internal server error</p>
    }
  }
</div>
</body>
</html>

