@(tpi: debiki.InternalTemplateProgrammingInterface, xsrfToken: String)


@Tpi = @{ debiki.TemplateProgrammingInterface }
@jsFile = @{ "/-/res/debiki-spa-new-website-choose-name." + Tpi.minMaxJs }


@css = @{("""

  h1 { margin-bottom: 1em; }

  label { margin-bottom: 1em; }

  input[name='websiteNameInp'] {
    display: inline !important;
    text-align: right;
    font-family: monospace;
  }

  .website-domain {
    /* Height align domain name with the host name <input> above */
    top: -3px;
    position: relative;
  }

  p small {
    max-width: 40em;
    display: block;
    margin-top: 1.1em;
  }

  #accept-terms-inp-group {
    margin-top: 20px;
  }

  input[name='accepts-terms'],
  label[for='accepts-terms'] {
    display: inline;
  }

  input#accepts-terms {
    margin: 0;
  }

  p#please-note {
    margin-top: 20px;
    @* Copy Bootstrap's styles that are applied to the site name input label: *@
    font-size: 14px;
    color: hsl(0, 0%, 20%);
  }

  input[type='submit'] {
    margin: 2.3em 0 0 -1px;
    min-width: 5em;
    background: white;
  }

""")}


@newWebsiteDomain = @{ tpi.websiteConfigValue("new-site-domain") }


@* Usability note:
My father entered as his website name "Kaj-Debiki.se".
However, `.debiki.net` is appended automatically, so what he should have
written is simply "kaj". Now I've 1) right justified the website name text,
so `.debiki.net` appears directly to the right, and 2) I convert
the name to lowercase.
*@


@createWebsiteMain(Messages("securesocial.login.title"), css = css,
    jsFile = jsFile, ngAppName = "NewWebsiteChooseName") {
  <div class='new-website-choose-name'>

    <h1>Choose Site Name</h1>

    <form accept-charset='UTF-8' method='post' name="chooseNameForm"
          action="@routes.AppCreateWebsite.handleWebsiteNameForm">
      <input name='dw-fi-xsrf' type='hidden' value='@xsrfToken'>

      <label for='website-name'>Enter a name for your new website/forum/blog
        at <kbd>@newWebsiteDomain</kbd>:</label>
      <input type='text' id='website-name' name='websiteNameInp' required
          ng-model="chooseNameForm.websiteName"
          ng-minlength="6"
          ng-pattern="/^[a-z][a-z0-9-]*$/"
          ><kbd class='website-domain'>.@newWebsiteDomain</kbd>

      @* COULD add a separate pattern warning for `.` since people might think
      they're entering a second + top level domain name (my father thought he was). *@
      <div class="alert alert-error"
          ng-show="chooseNameForm.websiteNameInp.$error.pattern">
        Please only use lowercase letters a-z and 0-9, e.g.: <i>my-new-website</i>
      </div>
      <div class="alert alert-error"
           ng-show="chooseNameForm.websiteNameInp.$error.minlength">
        The name should be at least six characters long.
      </div>

      <p>
        <small>You can map a domain name to the site, later (so it would be
        reachable via e.g. <kbd>www.your-domain.com</kbd>).</small>
      </p>

      <div id='accept-terms-inp-group'>
      <label>
        <input type='checkbox' id='accepts-terms' name='acceptTermsInp' value='yes' required
               ng-model="acceptTerms">
        I accept the <a href="@tpi.websiteConfigValue("new-site-terms-of-use")">Terms of Use</a>
        and the <a href="@tpi.websiteConfigValue("new-site-privacy-policy")">Privacy Policy</a>.
      </label>
      </div>

      <p id="please-note">
        <b>Please note:</b> The software is unfinished — some really basic features<br>
        are missing — and there might be bugs.
      </p>

      <div>
        <input class="btn" type="submit" value="Next"
            ng-disabled="chooseNameForm.$invalid">
      </div>
    </form>

  </div>
}

