@(tpi: debiki.InternalTemplateProgrammingInterface, xsrfToken: String)


@css = @{("""

  h1 { margin-bottom: 1em; }

  label { margin-bottom: 1em; }

  input[name='website-name'] {
    display: inline !important;
  }

  p small {
    max-width: 40em;
    display: block;
    margin-top: 1.1em;
  }

  #accept-terms-inp-group {
    margin-top: 1em;
  }

  input[name='accepts-terms'],
  label[for='accepts-terms'] {
    display: inline;
  }

  input[type='submit'] {
    margin-top: 2.5em;
    min-width: 5em;
  }

""")}


@createWebsiteMain(Messages("securesocial.login.title"), css = css) {
  <div class='new-website-choose-name'>

    <h1>Choose Website Name</h1>

    <form accept-charset='UTF-8' method='post' action="">
      <input name='dw-fi-xsrf' type='hidden' value='@xsrfToken'>

      <label for='website-name'>Enter a name for the new website:</label>
      <input type='text' id='website-name' name='website-name'
          ><tt>.@tpi.websiteConfigValue("new-website-domain")</tt>

      <p>
        <small>You can map a domain name to the website, later (so it would be
        reachable via e.g. <tt>www.your-domain.com</tt>).</small>
      </p>

      <div id='accept-terms-inp-group'>
      <input type='checkbox' id='accepts-terms' name='accept-terms' value='yes'>
      <label for='accepts-terms'>
        I accept the <a href="@tpi.websiteConfigValue("new-website-terms-of-use")">Terms of Use</a>
        and the <a href="@tpi.websiteConfigValue("new-website-privacy-policy")">Privacy Policy</a>.
      </label>
      </div>

      <div>
        <input type='submit' value="Next">
      </div>
    </form>

  </div>
}

