@(doWhat: String, xsrfToken: String = "?", parentDomainName: String = "?")


@showWebsiteNameForm = {
  <h1>Choose Website Name</h1>
  <p>Please enter a name for the website you are about to create.<br>
    (If you want to, you can map a domain name of yours to the website,
    later on.)
  </p>
  <form accept-charset='UTF-8' method='post'>
    <label>Website name:
      <input type='text' name='website-name'><tt>.@{parentDomainName}</tt>
    </label>
    <input name='dw-fi-xsrf' type='hidden' value='@xsrfToken'>
    <input type='submit' value="Next">
  </form>
}


@showClaimWebsiteLoginForm = {
  <h1>Login as Website Owner?</h1>
  <p>Please click your email provider, and login.
    The account you choose will become the owner of the
    new website that you are creating.
    <small>(Technical detail: The login happens over OpenID.)
    </small>
  </p>
  <p>If you don't have an email address at any of the below
  providers, or some other OpenID address, then regrettably right now
  you cannot create a website. If you really want to do that anyway,
  I suggest that you create a new Gmail account.
  </p>
  <form accept-charset='UTF-8' method='post'>
  <label for='oid-input'>Your OpenID:</label>
  <input type='text' name='openid_identifier'>
  <input name='dw-fi-xsrf' type='hidden' value='@xsrfToken'>
  <input type='submit'>
  </form>
}


@welcomeOwner = {
  <p>Website created, congratulations!
  <p><a href="/-/manage-website">Manage this website</a>

  @* -- Hmm perhaps people will be confused. --
  @websiteAddr = newTenantId +"."+ parentDomainName
  <p>You do *not* need to remember this, but I better tell you right away,
     so you' won't be surprised later: This address:
  <p><tt>@websiteAddr</tt>,
  <p>is where you login, if you want to transfer ownership to someone else,
     or if you want to ban all admins at once.
     You usually don't want to any of this though.
     Even if you map another domain to this address (i.e. to @websiteAddr),
     you would still login to @websiteAddr, to transfer ownership.

  <p>If you own a domain, you could point it to this address:
      <tt>@websiteAddr</tt>

  <p>Now, perhaps you'd like to
     <a href="/?create-page">create a home page</a>.
  *@
}


<!DOCTYPE html>
<html>
<head>
  <title>Create Website</title>
</head>
<body>
<div>
  @doWhat match {
    case "showWebsiteNameForm" => { @showWebsiteNameForm }
    case "showClaimWebsiteLoginForm" => { @showClaimWebsiteLoginForm }
    case "welcomeOwner" => { @welcomeOwner }
    case _ => {
      // COULD throw instead?
      play.api.Logger.error("Bad doWhat: "+ doWhat)
      <p>Internal server error</p>
    }
  }
</div>
</body>
</html>

