@(doWhat: String, xsrfToken: String = "?", parentDomainName: String = "?")


@showWebsiteNameForm = {
  <h1>Choose Website Name</h1>
  <p>Please enter a name for the new website.<br>
    (You can map a domain name of yours to the website, later.)
  </p>
  <form accept-charset='UTF-8' method='post'>
    <label>Website name:
      <input type='text' name='website-name'><tt>.@{parentDomainName}</tt>
    </label>
    <input name='dw-fi-xsrf' type='hidden' value='@xsrfToken'>
    <input type='submit' value="Next">
  </form>
}


@showClaimWebsiteLoginForm = {
  <h1>Login as Website Owner</h1>
  <p>Please click your email provider, and login.
    The account you choose will become the owner of the
    new website that you are creating.
    <small>(Technical detail: The login happens over OpenID.)
    </small>
  </p>
  <p>If you don't have an email address at any of the below
  providers, or some other OpenID address, then regrettably right now
  you cannot create a website. If you really want to do that anyway,
  I suggest that you create a new Gmail account.
  </p>
  <form accept-charset='UTF-8' method='post'>
  <label for='oid-input'>Your OpenID:</label>
  <input type='text' name='openid_identifier'>
  <input name='dw-fi-xsrf' type='hidden' value='@xsrfToken'>
  <input type='submit'>
  </form>
}


@welcomeOwner = {
  <p>Website created, congratulations!
  <p><a href="/-/manage-website">Manage this website</a>

  @*
  <p>If you want to, you can now map a domain name of yours to this address:
      <tt>@websiteAddr</tt>
  No, not that easy. S/he has to add an entry in DW1_TENANT_HOSTS too,
  and prove that s/he owns it.
  *@

  <p>Next: <a href="/?create-page">create a home page</a>.
}


@failSomeoneElseWasFirst = {
  <p>Sorry but someone else creaed this websit moments ago. You could try
    again to create a website, and you need to choose another name.
  @* SHOULD fix this broken URL, redirect to the original host,
    www.debiki.com? *@
  <p><a href="/-/choose-website-name">Okay, I'll try again</a>
}


<!DOCTYPE html>
<html>
<head>
  <title>Create Website</title>
</head>
<body>
<div>
  @doWhat match {
    case "showWebsiteNameForm" => { @showWebsiteNameForm }
    case "showClaimWebsiteLoginForm" => { @showClaimWebsiteLoginForm }
    case "welcomeOwner" => { @welcomeOwner }
    case "failSomeoneElseWasFirst" => { @failSomeoneElseWasFirst }
    case _ => {
      // COULD throw instead?
      play.api.Logger.error("Bad doWhat: "+ doWhat)
      <p>Internal server error</p>
    }
  }
</div>
</body>
</html>

