<a class="dw-f-e-help-show">Editor help</a>
<div class="dw-f-e-help-text">
<p>The editor uses Markdown: you describe the formatting (e.g. headers and lists)<br>
  by typing <em>characters</em> rather than clicking buttons. Here's some sample<br>
  Markdown text:
</p>

<pre><code>A section header
--------

This is a paragraph, with *italic text* and **bold text.**

### A subsection header

#### A sub sub section header

Links and images:
A link: [link text](http://some-address)
And an image: ![image description, can be empty](http://some-address.jpg)

A list:

  - First, a newline (right above)
  - Then indent, one or two spaces
  - Then a '-' and then the list item text
    on many lines, if you want.

A numbered list:

 1. The first list item
 1. The second
 1. The third. The "1." to the left is changed to "3." automatically.

Quoting someone:

&gt; This is a block quote
&gt; that spans two lines.

Computer source code: indent 4 spaces:

    void main() {
      print("Hello, I am the computer");
    }

You can insert HTML too:

&lt;div class="my-class"&gt;Text text text&lt;/div&gt;

But HTML5 tags, e.g. &lt;figure&gt;, are currently removed by a sanitizer.
</code></pre>
</div>

