<a class="dw-f-e-help-show">Editor help</a>
<div class="dw-f-e-help-text">
<p>The editor uses Markdown: you describe the formatting (e.g. headers and lists)<br>
  by typing <em>characters</em> rather than clicking buttons. Here's some sample<br>
  Markdown text:
</p>

<pre><code>A section header
--------

This is a paragraph, with *italic text* and **bold text.**

### A sub section header

#### A sub sub section header

Links and images
--------

A link:        [link text](http://some-address)
And an image: ![image alt text, can be empty](http://some-address.jpg)

Lists
--------

A list: (two spaces, then a '-' or '*', then the list item text)

  - List item no. 1
  - List item no. 2, which spans
    many lines.

A numbered list:

 1. The first list item
 1. The second
 1. The third (the "1." to the left is changed to "3." automatically)

Quotes, code and HTML
--------

A quote, e.g. of something someone said:

&gt; This is a block quote
&gt; that spans two lines.

Computer source code: (indent 4 spaces)

    void main() {
      print("Hello, I am the computer");
    }

You can insert HTML too:

  &lt;div class="my-class"&gt;Text text text&lt;/div&gt;

(But HTML5 tags, e.g. <code>&lt;figure&gt;</code>, are currently removed by the sanitizer.)
</code></pre>
</div>

