@(status: String, message: String, anyReturnToUrl: Option[String])

<!DOCTYPE html>
<html>
<head>
  <script type='text/javascript'>
  function returnToOpener() {
    window.opener.debiki.internal.handleLoginResponse({
      queryString: (window.location+'').split('?')[1],
      status: '@status'
    });
    window.close();
  }
  </script>
</head>
<body onload='returnToOpener();'>
  @* If javascript disabled, show a message, and (todo) an OK link that
  redirects to the last page? *@

  <p>
    @message
  </p>

  @for(returnToUrl <- anyReturnToUrl) {
    <p>
      <a href="@returnToUrl">Go back and try again</a>
    </p>
  }
</body>
</html>

