
.esUsrDlg
  .modal-body
    clearfix()
    padding-bottom: 5px; // or too much space

  .edAvtr
    position: static;
    margin-right: 19px;
    $size = 110px;
    width: $size;
    height: $size;
    img
      width: 100%;
      height: 100%;

    &.esAvtr-ltr
      line-height: $size;
      font-size: $size * 0.7;
      // COULD reduse font-size if > 1 letter

.dw-about-user-actions
  float: right;

  .btn
    display: block;
    width: 170px;
    margin-bottom: 5px;
    color: #333;  // Instead of blue, for LinkButton. Apparently #333 = bootstrap's default color.


.dw-guest-blocked
  color: hsl(0, 70%, 50%);
  font-weight: bold;

