
.fake-tools-button
  margin: 0 7px;
  color: hsl(0, 0%, 35%);
  cursor: default;
  font-size: 115%;
  &:hover
    text-decoration: none;
    color: hsl(0, 0%, 35%);


.esSeeWrenchDlg .dw-a-edit.icon-edit
  float: none;
  font-size: 18px;
  &:before
    color: hsl($uiHue, 45%, 45%);

