
.s_SED_Wrap
  z-index: 999999999;
  position: relative;

.dw-server-error.modal-dialog
  width: calc(100% - 50px);

@media (min-width: 1100px)
  .dw-server-error.modal-dialog
    z-index: 999999999;
    width: 1050px;


.dw-server-error.modal-dialog
    user-select: initial;

// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
