
.esShare
  padding: 6px 26px 0 10px;
  .esDropModal_CloseB.esCloseCross
    padding: 6px 11px 35px 30px; // smaller, so won't overlap the <input> with the URL

.esShare_title
  margin: 0 30px 10px 0;

.esShare_link
  width: 100%;

.esShare_social
  margin: 15px 0 4px;

.esShare_social_icon
  display: inline-block;
  font-size: 21px;
  background: hsl(207, 100%, 54%);
  color: white;
  border: 0 solid transparent;
  border-radius: 50%;
  padding: 6px 5px 6px 7px;
  margin-right: 5px;
  &.icon-facebook,
  &.icon-email
    padding: 6px;
  &:hover
    text-decoration: none;
    background: hsl(207, 100%, 70%);
    color: white;

