/*!
 * Copyright (C) 2010-2013 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Styles for the Reply, Like, Wrong More etcetera links below each post.
 */


.dw-as
  margin: -9px 0 5px;
  // Old comment: Use padding-top not margin-top here, or there'll be a tiny space between
  // the post and the .dw-as, which triggers a certain $thread.mouseleave() in
  // debiki.js which, for inline actions, hides the action menu — just before
  // you're able to click any action.
  padding: 0
  position: relative // for position: absolute 'Click this...' tips, inside

html.mouse .dw-p-as:not(.dw-p-as-shown)
  opacity: 0.15
  .dw-a:before
    // Dim icons even more, since they are otherwise eye catching blubs of colors.
    opacity: 0.6

.dw-depth-0 > .dw-p-as
  // Always show actions for the article / root post.
  visibility: visible !important;
  margin: 9px 0 0

.DW.DW .dw-depth-0 > .dw-p-as
  > .dw-a,
  > .dropdown
    // More whitespace between root post actions.
    margin: 0 0 0 20px

.dw-depth-0 > .dw-p-as > .dropdown
  // This makes little sense for the root post:
  .dw-a-offtopic,
  .dw-a-pin,
  .dw-a-collapse-tree,
  .dw-a-collapse-post,
  .dw-a-close-tree
    display: none !important

.dw-depth-0 > .dw-num-likes
  margin-top: 5px;
  & > a
    float: right

.dw-ar-t > .dw-p-as > .dw-a-wrong
  // Don't make it possible to vote "Wrong" for the forum question or blog post.
  display: none !important

.dw-ar-t > .dw-p-as > .dw-a-close,
.dw-ar-t > .dw-p-as > .dw-a-reply
  background: hsl(210, 51%, 50%) !important;
  color: white !important;
  font-weight: bold;
  margin-left: 0

html.mouse .dw-ar-t > .dw-p-as .dw-a
  padding: 5px 8px 5px 5px !important;

html:not(.mouse) .dw-ar-t > .dw-p-as > .dw-a-reply
  padding: 10px 10px 9px 6px !important;  // 10 + 2 = 12 [9kDF35Q]
  top: 2px;
  position: relative;


.dw-a
  text-decoration: none !important
  color: #3872ab
  font-size: 13px
  float: right

.dw-a-disabled
  color: #d2d2d2 !important
  cursor: default

.dw-a-disabled:hover
  text-decoration: none !important

.dw-p-as > .dropdown
  float: right;

.DW .dw-t > .dw-p-as .dw-a
  padding: 12px 8px 10px 6px;  //  12px high [9kDF35Q]
  background: #fff;
  border: none;

  &.dw-a-solve
    padding-right: 1.2em;

  // Make the Like buttom smaller to the right, so it gets closer to the other-votes-dropdown.
  // But larger to the left, so it's easier to click (since people will click the left part of it,
  // to avoid the dropdown).
  &.dw-a-like
    padding-right: 2px;
    padding-left: 13px;

  &.dw-a-votes
    padding-left: 9px;
    padding-right: 1px;
    &:after
      font-size: 17px;
      border-left: 1px solid hsl(210, 51%, 66%);
      margin-left: 0;
      padding: 2px 12px 1px;
      position: relative;
      top: -1px;
    &.dw-my-vote:after
      font-size: 23px;
      top: -5px;
      padding-top: 0;

  &.dw-a-link
    padding-right: 13px;
    padding-left: 6px;

  &.dw-a-more
    padding-left: 5px;
    margin-right: 0;
    padding-right: 0;

  &:hover:not(.dw-a-votes),
  &.dw-a-votes:hover:after
    background: hsl(210, 100%, 98%);
    outline: 1px solid hsl(210, 100%, 92%);
    text-decoration: none;

html:not(.mouse) .dw-t > .dw-p-as .dw-a
  outline: none; // no is-focused outline


// Prevent float drop when vote highlighted and font larger and button therefore wider.
.DW.DW .dw-p-as .dw-a.dw-my-vote
  padding-left: 9px;
  &.dw-a-votes
    padding-left: 5px;

// Avoid float drop (the reply button is to the very left)
.DW.DW.DW .dw-p-as .dw-a-reply
  padding-left: 0;

// Later on, give Bury access to all regular member who has been introduced to how it works.
html:not(.dw-is-staff) .dw-a-bury
  display: none !important;

// Highlight the heart and other vote symbols if the user has voted Like or whatever.
.dw-a.dw-my-vote:before,
.dw-a-votes.dw-my-vote:after
  color: hsl(8, 100%, 60%)  // red-red-orange-red
  font-size: 120%;
  position: relative;
  top: 1px;

// Show a ▾ icon as open-more-votes-dropdown-button and in the 'More' dropdown. Same as
// class .icon-down-dir, but :after. Don't use "▾" directly though; it breaks on my mobile.
.dw-a-votes:after,
.dw-a-more:after
  content: " \e80f"
  font-family: "fontello"

.DW.DW .dw-p-as-votes > .dw-a,
.DW.DW .dw-p-as-more > .dw-a
  float: none
  display: block
  margin: 8px 10px 14px 12px


// Bury = dig = a spade = a rotated spoon.
.icon-bury:before
  content: '\e82d'; // the spoon (Font Awesome via Fontello)
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
  // The spoon is small. But spades are not small.
  font-size: 110%;
  margin-right: 0.1em; // instead of 0.2em

.dropdown-menu.dw-p-as-more
  background: white


#dw-p-as-shown a
  color: hsl(210, 51%, 45%)


.dw-a-color-primary
  color: hsl(210, 51%, 45%) !important // the color for most common actions
  //                                     (should be a Stylus/LESS variable)


.DW .dw-t > .dw-as > .dw-a-edit-suggs,
.DW .dw-t > .dw-as > .dw-a-collapse-suggs,
.DW .dw-t > .dw-as > .dw-a-delete-suggs
  margin: 0 0 0 12px
  color: #888

.DW .dw-t > .dw-as > .dw-a.dw-a-pending-review
  // Show these pending-suggestion links, even when not hovering posts,
  // so people are encouraged to consider each other's suggestions.
  visibility: visible

.dw-replying
  opacity: 1 !important

  .dw-a-reply
    color: white !important
    background: hsl(210, 51%, 45%) !important
    border-radius: 5px
    outline: 3px solid white; // whitespace between background and any post outline
    padding: 2px 4px 3px 1px
    position: relative
    top: -2px
    left: 3px

// The article's reply button already has a background and square borders.
// Make it even darker, when replying to the article.
.dw-ar-t > .dw-p-as.dw-replying > .dw-a-reply
  background: hsl(210, 51%, 35%) !important;
  border-radius: 0;

.dw-embedded .dw-depth-0.dw-t
  float: none;

.dw-embedded .dw-ar-t > .dw-p-as
  opacity: 1 !important;
  & > .dw-a-reply
    top: 5px;
    padding: 8px 11px 8px 8px !important;


.dw-p-as
  // Prevent collapsed posts from appearing too close to any post just below,
  // by making the actions <div> at least this tall. (It's empty, currently
  // if the post is collapsed or deleted.)
  min-height: 17px


// Inline action menu — currently not in use
//---------------------------
/*
.dw-pri.dw-pri .dw-as-inline // prio, so overrides :not(svg) [31Ik53]
  position: absolute
  z-index: 20

.dw-as-inline li
  margin: 0 // or margin from `dw-p-bd li' applied
  float: left
  list-style-type: none

.dw-as-inline .ui-button
  margin-right: 0 // or space between inline action menu buttons
*/


// vim: fdm=marker et ts=2 sw=2 tw=100 fo=tcqwn list
