
.modal-dialog.esStupidDlg-Large
  width: calc(100% - 100px);
  max-width: 1550px;

.esStupidDlg-Small
  max-width: 480px;

.esStupidDlg-Tiny
  max-width: 350px;


.esStupidDlg .btn
  margin-left: 7px;
  min-width: 84px;
  &:first-child
    margin-left: 0;

