
.esPage .dw-help,
.dw-help + .dw-help
  margin-top: 1em;

.dw-help + .dw-page h1.dw-p-ttl
  margin-top: 0;
  padding-top: 0;

.dw-help
  max-width: 730px;
  background-color: hsl($uiHue, 100%, 90%);
  padding: 9px 12px 9px;
  border-radius: 2px;
  clearfix()

  .dw-hide
    float: right;

.dw-how-to-show-help-again
  .dw-hamburger-menu
    border: 1px solid #888;
    padding: 0 5px 2px 3px;

.dwHelp-large
  padding: 14px 12px 11px 14px;
  max-width: 580px;
  font-size: 113%;
  line-height: 1.5;
  letter-spacing: 0.1px;
  word-spacing: 1px;

.esHelp-warning
  background-color: hsl(40, 80%, 90%);


// vim: fdm=marker et ts=2 sw=2 tw=0 fo=r list
