
.esCreateUserDlg
  max-width: 430px;

  .modal-body
    padding: 12px 36px 24px 26px;

.esCreateUser
  button
    margin-top: 1em;
    margin-right: 0.7em;

  .form-group
    margin: 12px 0 4px;

  .help-block
    margin-bottom: 0;