
.s_LD_NotFound_Title
  font-size: 27px;
  text-align: center;
  margin: -3px 0 15px;
  padding: 0;
.s_LD_NotFound_Details
  text-align: center;
  font-size: 16px;
  margin-bottom: 25px;
.s_LD_NotFound_HomeL
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
  color: hsl(207,100%,42%);

.esLoginDlg_becomeAdminInstr
  margin: 25px 5px;
  text-align: center;
  p
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 10px;

.esLoginDlg_badPwd
  margin: 1.3em 0 1.2em;
  color: red;
  &.esHidden
    opacity: 0.4;
    transition: opacity 0.7s linear;

.dw-login-modal
  max-width: 520px; // else like 600, too wide

// On small screens like iPhone 5, make the dialog full-screen.
@media (max-width: $veryNarrowLimit)
  .dw-login-modal
    margin: 0;
    .modal-content
      border: none;
      border-radius: 0;

.esLD
  padding-top: 4px;

  .btn-group-vertical
    margin: 0 auto;
    display: block;
    width: 19em;

  $width = 350px;
  .esLD_Switch
    max-width: $width;
    margin-left: auto;
    margin-right: auto;

  form
    max-width: $width;
    margin: 0 auto;

  input
    width: 300px !important;
  .esCreateUser input#e2eUsername
    width: 262px !important;  // because of the [@] in front [7RFWUQ2]
  .input-group-addon
    background: hsl(0, 0%, 98.3%); // [7RFWUQ2]

  .icon-google
    background: hsl(230, 91%, 66%);
    &:before
      margin-right: 5px;
  .icon-facebook
    background: #3b5998;
  .icon-twitter
    background: #00bced;
    &:before
      margin-right: 5px;
      font-size: 107%;
  .icon-github-circled
    background: #6d6d6d;
    &:before
      margin-right: 5px;
      font-size: 112%;

  .icon-google,
  .icon-facebook,
  .icon-twitter,
  .icon-github-circled
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 13px 10px 12px;
    margin-bottom: 4px;
    &:not(:last-child)
      margin-right: 3px;
    &:hover
      opacity: 0.85; // would be better if could make them darker on hover, instead of brighter

.esLD_Switch_L
  font-weight: bold;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  padding: 0 1px 0 2px;
  color: hsl(207, 100%, 45%);

// Add this class to modal dialogs that have opened modal child dialogs.
// This fades the modal dialog by placing an opaque gray layer above.
.dw-modal-fade:before
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  opacity: 0.5;

// vim: fdm=marker et ts=2 sw=2 fo=tcqwn list
