/*!
 * Copyright (C) 2010-2013 Kaj Magnus Lindberg (born 1979)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */



#dw-lgi-tos
  font-size: 80%
  text-align: center
  margin: 0 auto -5px
  color: #666

#dw-lgi-guest,
#dw-lgi-pswd,
#dw-lgi-create-password-user,
#dw-lgi-more
  display: block

#dw-lgi [class*="icon-"]
  margin-right: 5px
  margin-left: -3px

#dw-lgi .icon-facebook
  margin-right: 0px

#dw-lgi-guest,
#dw-lgi-pswd
  margin-bottom: 0.5em

#dw-lgi .btn
  background-color: hsl(0, 0%, 97%)

#dw-lgi .dw-fi-cancel
  float: right
  margin-top: 2em

#dw-lgi-or-login-using
  text-align: center
  max-width: 300px
  margin: 18px auto 16px;

#dw-lgi-other-sites
  text-align: center

.dw-lgi-openid
  padding: 0 30px 0 0
  margin-right: 45px
  height: 105px
  width: 125px
  position: absolute
  left: 0 // or IE 7 places it far to the right

.dw-a-login
  margin-left: 10px

.dw-u-name,
.dw-a-login,
.dw-a-logout
  cursor: pointer

#dw-lgi-pswd .dw-reset-pswd
  display: block
  margin-top: 10px

// ---
// This hides/shows "Login to Post Comment" / "Login to Submit" messages
// depending on what the user is doing.
body .dw-login-to-auth,
body .dw-login-to-submit,
body .dw-login-to-post-comment,
body .dw-login-to-create-topic,
body .dw-login-to-login
  display: none

body.dw-login-to-auth .dw-login-to-auth,
body.dw-login-to-submit .dw-login-to-submit,
body.dw-login-to-post-comment .dw-login-to-post-comment,
body.dw-login-to-create-topic .dw-login-to-create-topic,
body.dw-login-to-login .dw-login-to-login,
body.dw-login-as-admin .dw-login-to-login,
body.dw-login-become-admin .dw-login-to-login
  display: inline
// ---

body.dw-login-to-auth,
body.dw-login-become-admin,
body.dw-login-as-admin
  #dw-lgi-twitter,  // twitter has no email
  #dw-lgi-guest     // guests have no password
    display: none

body.dw-login-become-admin
  #dw-lgi-pswd      // no user has been created so far
    display: none

// Hide password field when creating user in via OAuth or OpenID.
.dw-fs .form-group.password
  display: none


// Hide Google and Yahoo login buttons in OpenID dialog; they're available via direct links
// instead, from the main login dialog.
.google.openid_large_btn,
.google_profile.openid_small_btn,
.yahoo.openid_large_btn
  display: none

// Avoid float drop: remove pointless margin.
#openid_form
  margin-right: 0
  padding-right: 0




// vim: fdm=marker et ts=2 sw=2 tw=100 fo=tcqwn list
