.s_Pw .help-block
  display: block;

.s_Pw_Strength
  margin-bottom: 4px;

.s_Pw_Strength_Lbl
  color: hsl(0, 0%, 15%);

.s_Pw_Strength_Border
  width: 100px;
  height: 14px;
  display: inline-block;
  border: 1px solid hsl(0, 0%, 80%);
  vertical-align: middle;
  margin-left: 6px;
  position: relative;
  top: -1px;

.s_Pw_Strength_Fill
  background: hsl(120, 100%, 67%);
  height: 100%;

.s_Pw_Strength-TooWeak
  .s_Pw_Strength_Fill
    background: hsl(0, 100%, 70%);

.s_Pw_Strength-FairlyWeak
  .s_Pw_Strength_Fill
    background: hsl(40, 100%, 60%);

.s_Pw_Strength-OkWeak
  .s_Pw_Strength_Fill
    background: hsl(65, 100%, 48.5%)

.s_Pw_BadWordTips,
.s_Pw_StrongerTips
  color: hsl(30, 100%, 41%);


